{:highlights [{:id #uuid "69690c06-8ff0-4252-873a-9f5951093c86",
               :page 1,
               :position {:bounding {:x1 322.03125,
                                     :y1 707.4375,
                                     :x2 888.7391967773438,
                                     :y2 735.7265625,
                                     :width 949.0000000000001,
                                     :height 1265.3328019271735},
                          :rects ({:x1 620.16943359375,
                                   :y1 707.4375,
                                   :x2 888.7391967773438,
                                   :y2 720.4375,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}
                                  {:x1 322.03125,
                                   :y1 722.7265625,
                                   :x2 735.4104614257812,
                                   :y2 735.7265625,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}),
                          :page 1},
               :content {:text "dministration of clodronate liposomes during the redifferentiation stage accelerated the maturation of regenerating elastic cartilag"},
               :properties {:color "yellow"}}
              {:id #uuid "69690c19-59b8-4875-bab0-572e4059c6eb",
               :page 1,
               :position {:bounding {:x1 79.4375,
                                     :y1 815.4140625,
                                     :x2 155.9747772216797,
                                     :y2 829.4140625,
                                     :width 949.0000000000001,
                                     :height 1265.3328019271735},
                          :rects ({:x1 79.4375,
                                   :y1 815.4140625,
                                   :x2 155.9747772216797,
                                   :y2 829.4140625,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}),
                          :page 1},
               :content {:text "Introduction"},
               :properties {:color "purple"}}
              {:id #uuid "69690ca5-4886-4f27-a77e-d77e77d7c8da",
               :page 1,
               :position {:bounding {:x1 513.7334594726562,
                                     :y1 982.1484375,
                                     :x2 755.01806640625,
                                     :y2 996.1484375,
                                     :width 949.0000000000001,
                                     :height 1265.3328019271735},
                          :rects ({:x1 513.7334594726562,
                                   :y1 982.1484375,
                                   :x2 755.01806640625,
                                   :y2 996.1484375,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}),
                          :page 1},
               :content {:text "acrophages as regeneration-promoting cel"},
               :properties {:color "yellow"}}
              {:id #uuid "69690d01-930f-4606-9fdd-bf017a8f0903",
               :page 2,
               :position {:bounding {:x1 59.921875,
                                     :y1 235.703125,
                                     :x2 460.1920166015625,
                                     :y2 266.3359375,
                                     :width 949.0000000000001,
                                     :height 1265.3328019271735},
                          :rects ({:x1 197.5044403076172,
                                   :y1 235.703125,
                                   :x2 460.1920166015625,
                                   :y2 249.703125,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}
                                  {:x1 59.921875,
                                   :y1 252.3359375,
                                   :x2 329.24066162109375,
                                   :y2 266.3359375,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}),
                          :page 2},
               :content {:text "acrophages can acquire a pro-inflammatory phenotype under the influence of LPS and INF"},
               :properties {:color "yellow"}}
              {:id #uuid "69690d51-aa75-4615-b6a3-5ea4e7a3265c",
               :page 2,
               :position {:bounding {:x1 79.4375,
                                     :y1 752.6796875,
                                     :x2 131.16929626464844,
                                     :y2 766.6796875,
                                     :width 949.0000000000001,
                                     :height 1265.3328019271735},
                          :rects ({:x1 79.4375,
                                   :y1 752.6796875,
                                   :x2 131.16929626464844,
                                   :y2 766.6796875,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}),
                          :page 2},
               :content {:text "Methods"},
               :properties {:color "purple"}}
              {:id #uuid "69690da7-adf1-436f-a7c5-951e354aa741",
               :page 2,
               :position {:bounding {:x1 488.765625,
                                     :y1 252.3359375,
                                     :x2 888.7985229492188,
                                     :y2 283.0546875,
                                     :width 949.0000000000001,
                                     :height 1265.3328019271735},
                          :rects ({:x1 635.8780517578125,
                                   :y1 252.3359375,
                                   :x2 888.7985229492188,
                                   :y2 266.3359375,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}
                                  {:x1 488.765625,
                                   :y1 269.0546875,
                                   :x2 770.1956787109375,
                                   :y2 283.0546875,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}),
                          :page 2},
               :content {:text "dissected 4, 8 and 16 h post-wound (hpw) and1, 2, 3, 5, 7, 14, 21, 28, and 35 days post-wound"},
               :properties {:color "red"}}
              {:id #uuid "69690de4-1125-4cea-a5e2-c4c8473ea2cc",
               :page 2,
               :position {:bounding {:x1 488.78125,
                                     :y1 319.0390625,
                                     :x2 889.045166015625,
                                     :y2 349.7578125,
                                     :width 949.0000000000001,
                                     :height 1265.3328019271735},
                          :rects ({:x1 598.50537109375,
                                   :y1 319.0390625,
                                   :x2 889.045166015625,
                                   :y2 333.0390625,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}
                                  {:x1 488.78125,
                                   :y1 335.7578125,
                                   :x2 720.9373779296875,
                                   :y2 349.7578125,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}),
                          :page 2},
               :content {:text "istological cross sections of 5 μm were obtained and processed for histology or immunostainin"},
               :properties {:color "red"}}
              {:id #uuid "69690df1-ef62-4679-a871-bbc8981a8d57",
               :page 2,
               :position {:bounding {:x1 488.78125,
                                     :y1 352.3828125,
                                     :x2 889.051513671875,
                                     :y2 416.4609375,
                                     :width 949.0000000000001,
                                     :height 1265.3328019271735},
                          :rects ({:x1 794.9137573242188,
                                   :y1 352.3828125,
                                   :x2 889.051513671875,
                                   :y2 366.3828125,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}
                                  {:x1 488.78125,
                                   :y1 369.109375,
                                   :x2 888.111328125,
                                   :y2 383.109375,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}
                                  {:x1 488.78125,
                                   :y1 385.734375,
                                   :x2 888.9984130859375,
                                   :y2 399.734375,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}
                                  {:x1 488.78125,
                                   :y1 402.4609375,
                                   :x2 807.2968139648438,
                                   :y2 416.4609375,
                                   :width 949.0000000000001,
                                   :height 1265.3328019271735}),
                          :page 2},
               :content {:text "ronate or control liposomes (CP-005-005, Liposoma BV, Amsterdam, The Netherlands) or phosphate buffered saline (PBS) were injected immediately after wounding at the base of the ear, close to the inflicted ho"},
               :properties {:color "red"}}],
 :extra {:page 2}}
