{:highlights [{:id #uuid "698a2145-6810-48bf-8a3c-61f5e0959dca",
               :page 22,
               :position {:bounding {:x1 72.8359375,
                                     :y1 348.734375,
                                     :x2 670.2467041015625,
                                     :y2 413.65625,
                                     :width 735,
                                     :height 954.4080791262152},
                          :rects ({:x1 209.65432739257812,
                                   :y1 348.734375,
                                   :x2 670.2467041015625,
                                   :y2 360.234375,
                                   :width 735,
                                   :height 954.4080791262152}
                                  {:x1 72.8359375,
                                   :y1 362.0859375,
                                   :x2 670.0416259765625,
                                   :y2 373.5859375,
                                   :width 735,
                                   :height 954.4080791262152}
                                  {:x1 72.8359375,
                                   :y1 375.5390625,
                                   :x2 669.9285278320312,
                                   :y2 387.0390625,
                                   :width 735,
                                   :height 954.4080791262152}
                                  {:x1 72.8359375,
                                   :y1 388.796875,
                                   :x2 669.8997192382812,
                                   :y2 400.296875,
                                   :width 735,
                                   :height 954.4080791262152}
                                  {:x1 72.8359375,
                                   :y1 402.15625,
                                   :x2 105.09393310546875,
                                   :y2 413.65625,
                                   :width 735,
                                   :height 954.4080791262152}),
                          :page 22},
               :content {:text "Dorsal skin was ﬂoated on 1 mg/mL dispase for 30 min at 37C in order to separate the dermis from the epidermis. The dermis was discarded, and the epidermis was transferred to a plate containing 0.25% trypsin (without EDTA) for 3-4 min at 37C. To inactivate the enzyme, 10% FBS was added. The epidermal sheet was then gently scraped with a scalpel blade. Liberated epithelial cells were transferred to a 15 mL tube and centrifuged to 300 g for 3 minutes and resuspended in DMEM"},
               :properties {:color "red"}}],
 :extra {:page 22}}
