{:highlights [{:id #uuid "6a5e912a-1f47-461d-98c7-5993168a791b",
               :page 1,
               :position {:bounding {:x1 55.2890625,
                                     :y1 648.4375,
                                     :x2 437.5615539550781,
                                     :y2 710.3515625,
                                     :width 917,
                                     :height 1218.2989436832663},
                          :rects ({:x1 121.37358093261719,
                                   :y1 648.4375,
                                   :x2 437.3478088378906,
                                   :y2 663.9375,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 55.2890625,
                                   :y1 663.78125,
                                   :x2 437.5615539550781,
                                   :y2 679.28125,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 55.2890625,
                                   :y1 679.0078125,
                                   :x2 437.4203796386719,
                                   :y2 694.5078125,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 55.2890625,
                                   :y1 694.3515625,
                                   :x2 375.8742980957031,
                                   :y2 710.3515625,
                                   :width 917,
                                   :height 1218.2989436832663}),
                          :page 1},
               :content {:text "red, epithelial barriers such as skin trigger an evolutionarily conserved wound healing process, as observed in C. elegans1,2 , with distinct yet overlapping temporal phases: hemostasis, inﬂammation, proliferation, and remodel"},
               :properties {:color "yellow"}}
              {:id #uuid "6a5e9137-7648-4a63-b431-c5316d5288e2",
               :page 1,
               :position {:bounding {:x1 55.2890625,
                                     :y1 740.390625,
                                     :x2 437.5046081542969,
                                     :y2 801.9296875,
                                     :width 917,
                                     :height 1218.2989436832663},
                          :rects ({:x1 96.88589477539062,
                                   :y1 740.390625,
                                   :x2 437.4571533203125,
                                   :y2 755.890625,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 55.2890625,
                                   :y1 755.7421875,
                                   :x2 437.5046081542969,
                                   :y2 771.2421875,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 55.2890625,
                                   :y1 771.0859375,
                                   :x2 437.39361572265625,
                                   :y2 787.0859375,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 55.2890625,
                                   :y1 786.4296875,
                                   :x2 290.4922180175781,
                                   :y2 801.9296875,
                                   :width 917,
                                   :height 1218.2989436832663}),
                          :page 1},
               :content {:text "ostasis, initiated immediately after injury, triggers vasoconstriction and activates the clotting system, driven by platelets that start the coagulation cascade and deposit ﬁbrin to prevent blood loss and shield against microbial infecti"},
               :properties {:color "yellow"}}
              {:id #uuid "6a5e91c8-56ab-4798-a690-3d0589fab3a1",
               :page 1,
               :position {:bounding {:x1 465.0078125,
                                     :y1 494.96875,
                                     :x2 847.20849609375,
                                     :y2 556.5078125,
                                     :width 917,
                                     :height 1218.2989436832663},
                          :rects ({:x1 590.882080078125,
                                   :y1 494.96875,
                                   :x2 847.20849609375,
                                   :y2 510.46875,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 465.0078125,
                                   :y1 510.3125,
                                   :x2 847.16748046875,
                                   :y2 525.8125,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 465.0078125,
                                   :y1 525.65625,
                                   :x2 847.1961669921875,
                                   :y2 541.15625,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 465.0078125,
                                   :y1 541.0078125,
                                   :x2 492.9295654296875,
                                   :y2 556.5078125,
                                   :width 917,
                                   :height 1218.2989436832663}),
                          :page 1},
               :content {:text "ast cells release enzymes, histamine, and amines while pro-inﬂammatory M1 macrophages clear infection and debris, releasing pro-inﬂammatory cytokines and growth facto"},
               :properties {:color "yellow"}}
              {:id #uuid "6a5e922d-21fe-421e-b49a-7a86b3d13538",
               :page 1,
               :position {:bounding {:x1 465.0078125,
                                     :y1 556.3515625,
                                     :x2 847.2012939453125,
                                     :y2 587.203125,
                                     :width 917,
                                     :height 1218.2989436832663},
                          :rects ({:x1 746.3851318359375,
                                   :y1 556.3515625,
                                   :x2 847.2012939453125,
                                   :y2 571.8515625,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 465.0078125,
                                   :y1 571.703125,
                                   :x2 711.5810546875,
                                   :y2 587.203125,
                                   :width 917,
                                   :height 1218.2989436832663}),
                          :page 1},
               :content {:text "olves a complex interplay of immune and non-immune cell"},
               :properties {:color "yellow"}}
              {:id #uuid "6a5e9275-6f2d-4b03-80ec-175e3e629720",
               :page 1,
               :position {:bounding {:x1 465.0078125,
                                     :y1 740.390625,
                                     :x2 847.2535400390625,
                                     :y2 771.2421875,
                                     :width 917,
                                     :height 1218.2989436832663},
                          :rects ({:x1 633.8806762695312,
                                   :y1 740.390625,
                                   :x2 847.2535400390625,
                                   :y2 755.890625,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 465.0078125,
                                   :y1 755.7421875,
                                   :x2 757.5582885742188,
                                   :y2 771.2421875,
                                   :width 917,
                                   :height 1218.2989436832663}),
                          :page 1},
               :content {:text "e-epithelialization, a hallmark of the proliferative phase in mammalian wound healin"},
               :properties {:color "yellow"}}
              {:id #uuid "6a5e93de-39dc-40e0-a85d-0bd3a9f50340",
               :page 2,
               :position {:bounding {:x1 69.875,
                                     :y1 978.0234375,
                                     :x2 601.1414184570312,
                                     :y2 1131.6484375,
                                     :width 917,
                                     :height 1218.2989436832663},
                          :rects ({:x1 479.5859375,
                                   :y1 978.0234375,
                                   :x2 601.1414184570312,
                                   :y2 993.5234375,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 344.9461669921875,
                                   :y1 1100.796875,
                                   :x2 451.9363098144531,
                                   :y2 1116.296875,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 69.875,
                                   :y1 1116.1484375,
                                   :x2 452.1348876953125,
                                   :y2 1131.6484375,
                                   :width 917,
                                   :height 1218.2989436832663}),
                          :page 2},
               :content {:text "patially organized architecture of cells and regions is intrinsically important for the wound healing proce"},
               :properties {:color "yellow"}}
              {:id #uuid "6a5e95d8-d774-4b1f-95df-5ccfca7db545",
               :page 3,
               :position {:bounding {:x1 55.234375,
                                     :y1 532.6484375,
                                     :x2 436.9872131347656,
                                     :y2 609.484375,
                                     :width 915.8860604026844,
                                     :height 1216.818996644295},
                          :rects ({:x1 172.72940063476562,
                                   :y1 532.6484375,
                                   :x2 436.9333801269531,
                                   :y2 548.1484375,
                                   :width 915.8860604026844,
                                   :height 1216.818996644295}
                                  {:x1 55.234375,
                                   :y1 548.109375,
                                   :x2 436.9870910644531,
                                   :y2 563.609375,
                                   :width 915.8860604026844,
                                   :height 1216.818996644295}
                                  {:x1 55.234375,
                                   :y1 563.4375,
                                   :x2 436.8894958496094,
                                   :y2 578.9375,
                                   :width 915.8860604026844,
                                   :height 1216.818996644295}
                                  {:x1 55.234375,
                                   :y1 578.65625,
                                   :x2 436.9872131347656,
                                   :y2 594.15625,
                                   :width 915.8860604026844,
                                   :height 1216.818996644295}
                                  {:x1 55.234375,
                                   :y1 593.984375,
                                   :x2 382.7465515136719,
                                   :y2 609.484375,
                                   :width 915.8860604026844,
                                   :height 1216.818996644295}),
                          :page 3},
               :content {:text "iology and wound healing, spatiotemporal oscillators are emerging as critical regulators of skin repair and wound healing. For example, ERK waves function as such oscillators by propagating across epithelial sheets to coordinate the direction and timing of collective cell migratio"},
               :properties {:color "yellow"}}
              {:id #uuid "6a5e95fa-ba89-4f54-8a12-7ae6729ca899",
               :page 3,
               :position {:bounding {:x1 55.234375,
                                     :y1 839.3359375,
                                     :x2 437.02337646484375,
                                     :y2 916.171875,
                                     :width 915.8860604026844,
                                     :height 1216.818996644295},
                          :rects ({:x1 204.41299438476562,
                                   :y1 839.3359375,
                                   :x2 436.883056640625,
                                   :y2 854.8359375,
                                   :width 915.8860604026844,
                                   :height 1216.818996644295}
                                  {:x1 55.234375,
                                   :y1 854.671875,
                                   :x2 436.9389343261719,
                                   :y2 870.671875,
                                   :width 915.8860604026844,
                                   :height 1216.818996644295}
                                  {:x1 55.234375,
                                   :y1 870,
                                   :x2 437.02337646484375,
                                   :y2 885.5,
                                   :width 915.8860604026844,
                                   :height 1216.818996644295}
                                  {:x1 55.234375,
                                   :y1 885.3359375,
                                   :x2 436.815185546875,
                                   :y2 900.8359375,
                                   :width 915.8860604026844,
                                   :height 1216.818996644295}
                                  {:x1 55.234375,
                                   :y1 900.671875,
                                   :x2 367.81768798828125,
                                   :y2 916.171875,
                                   :width 915.8860604026844,
                                   :height 1216.818996644295}),
                          :page 3},
               :content {:text "ample, TGF-β signaling exhibits peak activity during the inﬂammatory phase within the M1 macrophage niche. When activated in conjunction with IL-10, it triggers the transition from M1 to M2 macrophages, which subsequently recruits ﬁbroblasts to initiate the proliferative p"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
