{:highlights [{:id #uuid "6a5e912a-1f47-461d-98c7-5993168a791b",
               :page 1,
               :position {:bounding {:x1 55.2890625,
                                     :y1 648.4375,
                                     :x2 437.5615539550781,
                                     :y2 710.3515625,
                                     :width 917,
                                     :height 1218.2989436832663},
                          :rects ({:x1 121.37358093261719,
                                   :y1 648.4375,
                                   :x2 437.3478088378906,
                                   :y2 663.9375,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 55.2890625,
                                   :y1 663.78125,
                                   :x2 437.5615539550781,
                                   :y2 679.28125,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 55.2890625,
                                   :y1 679.0078125,
                                   :x2 437.4203796386719,
                                   :y2 694.5078125,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 55.2890625,
                                   :y1 694.3515625,
                                   :x2 375.8742980957031,
                                   :y2 710.3515625,
                                   :width 917,
                                   :height 1218.2989436832663}),
                          :page 1},
               :content {:text "red, epithelial barriers such as skin trigger an evolutionarily conserved wound healing process, as observed in C. elegans1,2 , with distinct yet overlapping temporal phases: hemostasis, inﬂammation, proliferation, and remodel"},
               :properties {:color "yellow"}}
              {:id #uuid "6a5e9137-7648-4a63-b431-c5316d5288e2",
               :page 1,
               :position {:bounding {:x1 55.2890625,
                                     :y1 740.390625,
                                     :x2 437.5046081542969,
                                     :y2 801.9296875,
                                     :width 917,
                                     :height 1218.2989436832663},
                          :rects ({:x1 96.88589477539062,
                                   :y1 740.390625,
                                   :x2 437.4571533203125,
                                   :y2 755.890625,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 55.2890625,
                                   :y1 755.7421875,
                                   :x2 437.5046081542969,
                                   :y2 771.2421875,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 55.2890625,
                                   :y1 771.0859375,
                                   :x2 437.39361572265625,
                                   :y2 787.0859375,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 55.2890625,
                                   :y1 786.4296875,
                                   :x2 290.4922180175781,
                                   :y2 801.9296875,
                                   :width 917,
                                   :height 1218.2989436832663}),
                          :page 1},
               :content {:text "ostasis, initiated immediately after injury, triggers vasoconstriction and activates the clotting system, driven by platelets that start the coagulation cascade and deposit ﬁbrin to prevent blood loss and shield against microbial infecti"},
               :properties {:color "yellow"}}
              {:id #uuid "6a5e91c8-56ab-4798-a690-3d0589fab3a1",
               :page 1,
               :position {:bounding {:x1 465.0078125,
                                     :y1 494.96875,
                                     :x2 847.20849609375,
                                     :y2 556.5078125,
                                     :width 917,
                                     :height 1218.2989436832663},
                          :rects ({:x1 590.882080078125,
                                   :y1 494.96875,
                                   :x2 847.20849609375,
                                   :y2 510.46875,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 465.0078125,
                                   :y1 510.3125,
                                   :x2 847.16748046875,
                                   :y2 525.8125,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 465.0078125,
                                   :y1 525.65625,
                                   :x2 847.1961669921875,
                                   :y2 541.15625,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 465.0078125,
                                   :y1 541.0078125,
                                   :x2 492.9295654296875,
                                   :y2 556.5078125,
                                   :width 917,
                                   :height 1218.2989436832663}),
                          :page 1},
               :content {:text "ast cells release enzymes, histamine, and amines while pro-inﬂammatory M1 macrophages clear infection and debris, releasing pro-inﬂammatory cytokines and growth facto"},
               :properties {:color "yellow"}}
              {:id #uuid "6a5e922d-21fe-421e-b49a-7a86b3d13538",
               :page 1,
               :position {:bounding {:x1 465.0078125,
                                     :y1 556.3515625,
                                     :x2 847.2012939453125,
                                     :y2 587.203125,
                                     :width 917,
                                     :height 1218.2989436832663},
                          :rects ({:x1 746.3851318359375,
                                   :y1 556.3515625,
                                   :x2 847.2012939453125,
                                   :y2 571.8515625,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 465.0078125,
                                   :y1 571.703125,
                                   :x2 711.5810546875,
                                   :y2 587.203125,
                                   :width 917,
                                   :height 1218.2989436832663}),
                          :page 1},
               :content {:text "olves a complex interplay of immune and non-immune cell"},
               :properties {:color "yellow"}}
              {:id #uuid "6a5e9275-6f2d-4b03-80ec-175e3e629720",
               :page 1,
               :position {:bounding {:x1 465.0078125,
                                     :y1 740.390625,
                                     :x2 847.2535400390625,
                                     :y2 771.2421875,
                                     :width 917,
                                     :height 1218.2989436832663},
                          :rects ({:x1 633.8806762695312,
                                   :y1 740.390625,
                                   :x2 847.2535400390625,
                                   :y2 755.890625,
                                   :width 917,
                                   :height 1218.2989436832663}
                                  {:x1 465.0078125,
                                   :y1 755.7421875,
                                   :x2 757.5582885742188,
                                   :y2 771.2421875,
                                   :width 917,
                                   :height 1218.2989436832663}),
                          :page 1},
               :content {:text "e-epithelialization, a hallmark of the proliferative phase in mammalian wound healin"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
