{:highlights [{:id #uuid "699351d9-19b4-4e92-8b9a-92946190af0f",
               :page 1,
               :position {:bounding {:x1 144.9921875,
                                     :y1 609.4375,
                                     :x2 719.6966552734375,
                                     :y2 670.7734375,
                                     :width 806.3999999999999,
                                     :height 1209.6},
                          :rects ({:x1 144.9921875,
                                   :y1 609.4375,
                                   :x2 719.6966552734375,
                                   :y2 628.9375,
                                   :width 806.3999999999999,
                                   :height 1209.6}
                                  {:x1 144.9921875,
                                   :y1 630.859375,
                                   :x2 719.58642578125,
                                   :y2 649.359375,
                                   :width 806.3999999999999,
                                   :height 1209.6}
                                  {:x1 144.9921875,
                                   :y1 652.2734375,
                                   :x2 313.194580078125,
                                   :y2 670.7734375,
                                   :width 806.3999999999999,
                                   :height 1209.6}),
                          :page 1},
               :content {:text "An “organizer” is formally defined as a region, or group of cells in an embryo that can both induce (change the fate) and pattern (generate an organized set of structures) adjacent embryonic cells"},
               :properties {:color "green"}}
              {:id #uuid "699352d4-6f18-476a-a566-22c7498c5435",
               :page 1,
               :position {:bounding {:x1 117.109375,
                                     :y1 875.625,
                                     :x2 719.6475219726562,
                                     :y2 948.34375,
                                     :width 806.3999999999999,
                                     :height 1209.6},
                          :rects ({:x1 203.88531494140625,
                                   :y1 875.625,
                                   :x2 719.6475219726562,
                                   :y2 898.125,
                                   :width 806.3999999999999,
                                   :height 1209.6}
                                  {:x1 117.109375,
                                   :y1 900.796875,
                                   :x2 719.6255493164062,
                                   :y2 923.296875,
                                   :width 806.3999999999999,
                                   :height 1209.6}
                                  {:x1 117.109375,
                                   :y1 925.84375,
                                   :x2 511.5115966796875,
                                   :y2 948.34375,
                                   :width 806.3999999999999,
                                   :height 1209.6}),
                          :page 1},
               :content {:text "differently colored species, she showed that grafting a region just adjacent to the head (the hypostome) could induce a complete new body axis derived from the host, rather than the graf"},
               :properties {:color "yellow"}}
              {:id #uuid "69935338-96b5-474c-a142-230bfc58f67d",
               :page 2,
               :position {:bounding {:x1 86.3984375,
                                     :y1 266.1484375,
                                     :x2 688.9358520507812,
                                     :y2 313.6953125,
                                     :width 806.3999999999999,
                                     :height 1209.6},
                          :rects ({:x1 436.6136169433594,
                                   :y1 266.1484375,
                                   :x2 688.9358520507812,
                                   :y2 288.6484375,
                                   :width 806.3999999999999,
                                   :height 1209.6}
                                  {:x1 86.3984375,
                                   :y1 291.1953125,
                                   :x2 495.33990478515625,
                                   :y2 313.6953125,
                                   :width 806.3999999999999,
                                   :height 1209.6}),
                          :page 2},
               :content {:text "he dorsal lip of the blastopore, the site of ingression of cells during gastrulation"},
               :properties {:color "yellow"}}
              {:id #uuid "69935356-bce3-4572-98c8-9ae957ebdb65",
               :page 2,
               :position {:bounding {:x1 86.3984375,
                                     :y1 467.0078125,
                                     :x2 688.9143829345703,
                                     :y2 514.5546875,
                                     :width 806.3999999999999,
                                     :height 1209.6},
                          :rects ({:x1 205.7962188720703,
                                   :y1 467.0078125,
                                   :x2 688.9143829345703,
                                   :y2 489.5078125,
                                   :width 806.3999999999999,
                                   :height 1209.6}
                                  {:x1 86.3984375,
                                   :y1 492.0546875,
                                   :x2 542.0748291015625,
                                   :y2 514.5546875,
                                   :width 806.3999999999999,
                                   :height 1209.6}),
                          :page 2},
               :content {:text "gold exchanged pieces of tissue from gastrula stage embryos between three differently pigmented species of new"},
               :properties {:color "yellow"}}
              {:id #uuid "6993536d-a187-45d7-bcf1-f6ad479f7822",
               :page 2,
               :position {:bounding {:x1 86.3984375,
                                     :y1 667.9921875,
                                     :x2 688.959228515625,
                                     :y2 740.5859375,
                                     :width 806.3999999999999,
                                     :height 1209.6},
                          :rects ({:x1 437.0633544921875,
                                   :y1 667.9921875,
                                   :x2 688.959228515625,
                                   :y2 690.4921875,
                                   :width 806.3999999999999,
                                   :height 1209.6}
                                  {:x1 86.3984375,
                                   :y1 693.0390625,
                                   :x2 688.9386596679688,
                                   :y2 715.5390625,
                                   :width 806.3999999999999,
                                   :height 1209.6}
                                  {:x1 86.3984375,
                                   :y1 718.0859375,
                                   :x2 664.03515625,
                                   :y2 740.5859375,
                                   :width 806.3999999999999,
                                   :height 1209.6}),
                          :page 2},
               :content {:text "owing its transplantation to an indifferent region of another embryo, it there causes the formation of a secondary embryo. Such a piece can therefore be designated as an organiz"},
               :properties {:color "yellow"}}
              {:id #uuid "699353b7-7c63-48ef-909e-aeab5975f188",
               :page 2,
               :position {:bounding {:x1 86.3984375,
                                     :y1 969.28125,
                                     :x2 688.9753265380859,
                                     :y2 1016.9453125,
                                     :width 806.3999999999999,
                                     :height 1209.6},
                          :rects ({:x1 198.82994079589844,
                                   :y1 969.28125,
                                   :x2 688.9753265380859,
                                   :y2 991.78125,
                                   :width 806.3999999999999,
                                   :height 1209.6}
                                  {:x1 86.3984375,
                                   :y1 994.4453125,
                                   :x2 343.178955078125,
                                   :y2 1016.9453125,
                                   :width 806.3999999999999,
                                   :height 1209.6}),
                          :page 2},
               :content {:text "sal lip as it is also the site of ingression of the most dorsal/axial mesendoderm during gastrulatio"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
