{:highlights [{:id #uuid "69029547-d7c1-4b4b-81f0-daf5a43e2b45",
               :page 2,
               :position {:bounding {:x1 92.0625,
                                     :y1 1085.546875,
                                     :x2 208.5171661376953,
                                     :y2 1102.046875,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 92.0625,
                                   :y1 1085.546875,
                                   :x2 208.5171661376953,
                                   :y2 1102.046875,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 2},
               :content {:text "INTRODUCTION"},
               :properties {:color "purple"}}
              {:id #uuid "6902956f-46b1-4e65-8b38-b74881eb0072",
               :page 2,
               :position {:bounding {:x1 81.578125,
                                     :y1 1045.4609375,
                                     :x2 448.83343505859375,
                                     :y2 1127.765625,
                                     :width 926,
                                     :height 1202.4243282596942},
                          :rects ({:x1 267.09002685546875,
                                   :y1 1045.4609375,
                                   :x2 448.67474365234375,
                                   :y2 1060.4609375,
                                   :width 926,
                                   :height 1202.4243282596942}
                                  {:x1 81.578125,
                                   :y1 1062.2890625,
                                   :x2 448.6468505859375,
                                   :y2 1077.2890625,
                                   :width 926,
                                   :height 1202.4243282596942}
                                  {:x1 81.578125,
                                   :y1 1079.1171875,
                                   :x2 448.83343505859375,
                                   :y2 1094.1171875,
                                   :width 926,
                                   :height 1202.4243282596942}
                                  {:x1 81.578125,
                                   :y1 1095.9375,
                                   :x2 448.82293701171875,
                                   :y2 1110.9375,
                                   :width 926,
                                   :height 1202.4243282596942}
                                  {:x1 81.578125,
                                   :y1 1112.765625,
                                   :x2 196.06930541992188,
                                   :y2 1127.765625,
                                   :width 926,
                                   :height 1202.4243282596942}),
                          :page 2},
               :content {:text "ngle cell migrations, such as leukocyte inﬁltration, exhibit an asymmetric morphological polarization, i.e., polarization of the cell front and rear, which involves the formation of membrane protrusions at the cell front driven by actin poly"},
               :properties {:color "yellow"}}
              {:id #uuid "6902959f-37d3-481b-b84f-0fa77ca855ea",
               :page 2,
               :position {:bounding {:x1 527.09375,
                                     :y1 572.6015625,
                                     :x2 941.669921875,
                                     :y2 627.09375,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 674.0894165039062,
                                   :y1 572.6015625,
                                   :x2 941.669921875,
                                   :y2 589.1015625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 527.09375,
                                   :y1 591.6015625,
                                   :x2 941.5634765625,
                                   :y2 608.1015625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 527.09375,
                                   :y1 610.59375,
                                   :x2 700.9485473632812,
                                   :y2 627.09375,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 2},
               :content {:text "ctional cell-to-cell connections, and involves an inherent process of embryonic development, wound healing, and cancer invasi"},
               :properties {:color "yellow"}}
              {:id #uuid "690295a8-14a5-4365-85ca-79fd6755113f",
               :page 2,
               :position {:bounding {:x1 527.09375,
                                     :y1 705.5859375,
                                     :x2 941.6651611328125,
                                     :y2 779.078125,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 544.4600830078125,
                                   :y1 705.5859375,
                                   :x2 941.611572265625,
                                   :y2 722.0859375,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 527.09375,
                                   :y1 724.4453125,
                                   :x2 941.6651611328125,
                                   :y2 740.9453125,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 527.09375,
                                   :y1 743.578125,
                                   :x2 941.6097412109375,
                                   :y2 760.078125,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 527.09375,
                                   :y1 762.578125,
                                   :x2 755.1170654296875,
                                   :y2 779.078125,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 2},
               :content {:text "trinsic cues including growth factors, the extracellular matrix, and the stiffness of the substrate trigger the polarization of cells in space, and, in many cases, generate two functionally distinct cell types: leader and follower cell"},
               :properties {:color "yellow"}}
              {:id #uuid "690295ff-42a8-469d-aeb0-d029452cdcd0",
               :page 2,
               :position {:bounding {:x1 527.09375,
                                     :y1 1142.40625,
                                     :x2 941.7005004882812,
                                     :y2 1215.8984375,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 746.5647583007812,
                                   :y1 1142.40625,
                                   :x2 941.7005004882812,
                                   :y2 1158.90625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 527.09375,
                                   :y1 1161.40625,
                                   :x2 941.5428466796875,
                                   :y2 1177.90625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 527.09375,
                                   :y1 1180.3984375,
                                   :x2 941.5836181640625,
                                   :y2 1196.8984375,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 527.09375,
                                   :y1 1199.3984375,
                                   :x2 571.7841186523438,
                                   :y2 1215.8984375,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 2},
               :content {:text "emains unclear how cells in a group organize physical and chemical clues into synchronized directionality and migration to facilitate coordinated collective migrati"},
               :properties {:color "yellow"}}
              {:id #uuid "6902960c-a0a3-4856-9d98-14b7486ef2d7",
               :page 3,
               :position {:bounding {:x1 103.5546875,
                                     :y1 173.640625,
                                     :x2 518.1510009765625,
                                     :y2 247.1328125,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 355.43133544921875,
                                   :y1 173.640625,
                                   :x2 518.0804443359375,
                                   :y2 190.140625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 103.5546875,
                                   :y1 192.640625,
                                   :x2 518.0933837890625,
                                   :y2 209.140625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 103.5546875,
                                   :y1 211.640625,
                                   :x2 518.1510009765625,
                                   :y2 228.140625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 103.5546875,
                                   :y1 230.6328125,
                                   :x2 334.1697082519531,
                                   :y2 247.1328125,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 3},
               :content {:text "RK is known to phosphorylate cytoskeletal proteins such as myosin light chain (MLC) kinase and focal adhesion kinase, and promotes single cell migration in several cell types in vi"},
               :properties {:color "yellow"}}
              {:id #uuid "69029654-9c07-48cd-ac1e-bd9a9b71cc02",
               :page 3,
               :position {:bounding {:x1 103.5546875,
                                     :y1 591.6015625,
                                     :x2 488.65740966796875,
                                     :y2 646.2265625,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 103.5546875,
                                   :y1 591.6015625,
                                   :x2 479.5700988769531,
                                   :y2 608.1015625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 103.5546875,
                                   :y1 610.59375,
                                   :x2 488.65740966796875,
                                   :y2 627.09375,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 103.5546875,
                                   :y1 629.7265625,
                                   :x2 158.87474060058594,
                                   :y2 646.2265625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 3},
               :content {:text "Epithelial Cells Collectively Migrate in the Opposite Direction to the ERK Activation Waves during Wound Healing"},
               :properties {:color "purple"}}
              {:id #uuid "6902967b-d9d8-4e3f-be9a-3a634be04a3e",
               :page 3,
               :position {:bounding {:x1 103.5546875,
                                     :y1 724.5859375,
                                     :x2 518.028564453125,
                                     :y2 779.078125,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 260.34027099609375,
                                   :y1 724.5859375,
                                   :x2 518.028564453125,
                                   :y2 741.0859375,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 103.5546875,
                                   :y1 743.578125,
                                   :x2 517.726806640625,
                                   :y2 760.078125,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 103.5546875,
                                   :y1 762.578125,
                                   :x2 189.93270874023438,
                                   :y2 779.078125,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 3},
               :content {:text "e exploited transgenic mice expressing the ERK activity FRET biosensor, EKAREV-nuclear localization sequence (N"},
               :properties {:color "red"}}],
 :extra {:page 3}}
