{:highlights [{:id #uuid "692d0814-bd21-4d79-bb18-c63d3f42f2ce",
               :page 1,
               :position {:bounding {:x1 89.27556133270264,
                                     :y1 806.1363525390625,
                                     :x2 627.2249631881714,
                                     :y2 873.0113525390625,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 264.9583463668823,
                                   :y1 806.1363525390625,
                                   :x2 627.2189664840698,
                                   :y2 827.9545288085938,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 828.6647338867188,
                                   :x2 627.2249631881714,
                                   :y2 850.48291015625,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 851.1931762695312,
                                   :x2 312.4724454879761,
                                   :y2 873.0113525390625,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 1},
               :content {:text "Until now, intestinal stem cells have not been functionally identified owing to the lack of unique markers and the absence of stem-cell assays"},
               :properties {:color "yellow"}}
              {:id #uuid "692d0854-981f-4a59-b702-34b74bb33805",
               :page 1,
               :position {:bounding {:x1 89.27556133270264,
                                     :y1 1076.6760559082031,
                                     :x2 627.2391691207886,
                                     :y2 1120.8664245605469,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 213.8939847946167,
                                   :y1 1076.6760559082031,
                                   :x2 627.2391691207886,
                                   :y2 1098.4942932128906,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 1099.0482482910156,
                                   :x2 377.7753782272339,
                                   :y2 1120.8664245605469,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 1},
               :content {:text "ction and continue their migration in coherent bands stretching along the crypt–villus axis"},
               :properties {:color "yellow"}}
              {:id #uuid "692d08fb-1b36-45a1-9181-1a9372f2292a",
               :page 2,
               :position {:bounding {:x1 74.41761302947998,
                                     :y1 215.14202880859375,
                                     :x2 612.0114316940308,
                                     :y2 259.82952880859375,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 233.8314390182495,
                                   :y1 215.14202880859375,
                                   :x2 612.0114316940308,
                                   :y2 236.960205078125,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 74.41761302947998,
                                   :y1 238.0113525390625,
                                   :x2 531.5295209884644,
                                   :y2 259.82952880859375,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 2},
               :content {:text "his expression pattern, enlarged in Fig. 2c, clearly differed from that obtained with a Paneth-cell-specific gen"},
               :properties {:color "yellow"}}
              {:id #uuid "692d0900-061a-4c4f-b629-53734370098c",
               :page 2,
               :position {:bounding {:x1 114.34553050994873,
                                     :y1 260.710205078125,
                                     :x2 349.096568107605,
                                     :y2 282.52838134765625,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 114.34553050994873,
                                   :y1 260.710205078125,
                                   :x2 349.096568107605,
                                   :y2 282.52838134765625,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 2},
               :content {:text "ransit-amplifying-specific gen"},
               :properties {:color "yellow"}}
              {:id #uuid "692d0955-9eee-44ad-9788-2e79ebdd5ee3",
               :page 2,
               :position {:bounding {:x1 641.9743986129761,
                                     :y1 169.2471466064453,
                                     :x2 1179.943148612976,
                                     :y2 281.36363220214844,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 1093.975619316101,
                                   :y1 169.2471466064453,
                                   :x2 1179.3480558395386,
                                   :y2 191.06532287597656,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 641.9743986129761,
                                   :y1 191.7755584716797,
                                   :x2 1179.943148612976,
                                   :y2 213.59373474121094,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 641.9743986129761,
                                   :y1 214.30397033691406,
                                   :x2 1179.6937589645386,
                                   :y2 237.03123474121094,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 641.9743986129761,
                                   :y1 237.00282287597656,
                                   :x2 1179.8844327926636,
                                   :y2 258.8209991455078,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 641.9743986129761,
                                   :y1 259.5454559326172,
                                   :x2 792.3751554489136,
                                   :y2 281.36363220214844,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 2},
               :content {:text "o study its expression in detail, we obtained a knock-in allele, in which lacZ, preceded by an internal ribosome entry site (IRES), is integrated just amino-terminal to the first transmembrane domain essentially creating a null allel"},
               :properties {:color "yellow"}}
              {:id #uuid "692d09d3-94c3-4b7e-999b-f8ad6de3fe46",
               :page 2,
               :position {:bounding {:x1 641.9743986129761,
                                     :y1 373.02555084228516,
                                     :x2 1179.624300956726,
                                     :y2 418.29544830322266,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 957.7527799606323,
                                   :y1 373.02555084228516,
                                   :x2 1179.624300956726,
                                   :y2 394.8437271118164,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 641.9743986129761,
                                   :y1 395.56815338134766,
                                   :x2 1067.2765226364136,
                                   :y2 418.29544830322266,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 2},
               :content {:text "tion of heterozygous Lgr5lacZ mice allowed us to detail the expression of Lgr5"},
               :properties {:color "yellow"}}
              {:id #uuid "692d09e1-8396-4e28-b3d8-80a4a5ef6738",
               :page 2,
               :position {:bounding {:x1 641.9743986129761,
                                     :y1 463.32386016845703,
                                     :x2 1179.939974784851,
                                     :y2 530.3693008422852,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 947.4831876754761,
                                   :y1 463.32386016845703,
                                   :x2 1179.939974784851,
                                   :y2 485.1420364379883,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 641.9743986129761,
                                   :y1 485.8522415161133,
                                   :x2 1179.9081144332886,
                                   :y2 507.67044830322266,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 641.9743986129761,
                                   :y1 508.5511245727539,
                                   :x2 1118.297884941101,
                                   :y2 530.3693008422852,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 2},
               :content {:text "pression in adult mice was restricted to rare, scattered cells in the eye, brain, hair follicle, mammary gland, reproductive organs, stomach and intestinal tract"},
               :properties {:color "yellow"}}
              {:id #uuid "692d09e8-4487-42ca-9ce5-e5e040e3c4a3",
               :page 3,
               :position {:bounding {:x1 89.27556133270264,
                                     :y1 101.49151611328125,
                                     :x2 627.1066770553589,
                                     :y2 146.008544921875,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 219.90825176239014,
                                   :y1 101.49151611328125,
                                   :x2 627.1066770553589,
                                   :y2 123.3096923828125,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 124.19036865234375,
                                   :x2 372.17900371551514,
                                   :y2 146.008544921875,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 3},
               :content {:text "h the lumen revealed the presence of approximately3.5 of such cells per sectioned cryp"},
               :properties {:color "yellow"}}
              {:id #uuid "692d09fa-91a7-4d70-b739-c28975e775c8",
               :page 3,
               :position {:bounding {:x1 89.27556133270264,
                                     :y1 329.80113220214844,
                                     :x2 627.2177152633667,
                                     :y2 374.3181915283203,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 103.4673490524292,
                                   :y1 329.80113220214844,
                                   :x2 627.2177152633667,
                                   :y2 351.6193084716797,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 352.49998474121094,
                                   :x2 121.44519329071045,
                                   :y2 374.3181915283203,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 3},
               :content {:text "BC cells were frequently positive for the proliferation marker Ki6"},
               :properties {:color "yellow"}}
              {:id #uuid "692d0a1f-9113-4435-a85f-e2957f5c75f6",
               :page 3,
               :position {:bounding {:x1 89.27556133270264,
                                     :y1 511.22157287597656,
                                     :x2 627.2048826217651,
                                     :y2 578.2670440673828,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 612.6983366012573,
                                   :y1 511.22157287597656,
                                   :x2 626.8100309371948,
                                   :y2 533.0397491455078,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 533.7499542236328,
                                   :x2 627.2048826217651,
                                   :y2 555.5681304931641,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 556.4488067626953,
                                   :x2 242.40954875946045,
                                   :y2 578.2670440673828,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 3},
               :content {:text "is observation implied that the average cycling time of CBC cells is in the order of one da"},
               :properties {:color "green"}}
              {:id #uuid "692d0a2d-213e-4389-bc25-18f7c50ffb0d",
               :page 3,
               :position {:bounding {:x1 89.27556133270264,
                                     :y1 626.2215728759766,
                                     :x2 627.2307004928589,
                                     :y2 715.9658966064453,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 197.486590385437,
                                   :y1 626.2215728759766,
                                   :x2 627.2215757369995,
                                   :y2 648.0397491455078,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 648.7499847412109,
                                   :x2 627.2307004928589,
                                   :y2 670.5681610107422,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 671.6193084716797,
                                   :x2 626.0387907028198,
                                   :y2 694.3465728759766,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 694.1477203369141,
                                   :x2 127.78222942352295,
                                   :y2 715.9658966064453,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 3},
               :content {:text "ve CBC cells and to study their potential ‘stemness’, we generated another knock-in allele, by integrating an enhanced green fluorescent protein (EGFP)-IRES-creERT2 cassette at the first ATG codo"},
               :properties {:color "red"}}
              {:id #uuid "692d0a5e-4435-4e2a-99d9-be125ebe490b",
               :page 3,
               :position {:bounding {:x1 89.27556133270264,
                                     :y1 716.8465728759766,
                                     :x2 627.1239347457886,
                                     :y2 761.3636016845703,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 294.82361125946045,
                                   :y1 716.8465728759766,
                                   :x2 626.0785245895386,
                                   :y2 738.6647491455078,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 739.5454254150391,
                                   :x2 627.1239347457886,
                                   :y2 761.3636016845703,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 3},
               :content {:text "FP pattern observed in adult tissues faithfully recapitulated the pattern previously seen with the Lgr5-lacZ"},
               :properties {:color "yellow"}}
              {:id #uuid "692d0ab0-5f0c-4a22-a55a-b412a6f7770b",
               :page 3,
               :position {:bounding {:x1 89.27556133270264,
                                     :y1 1057.3153076171875,
                                     :x2 627.0340299606323,
                                     :y2 1102.741455078125,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 168.8040647506714,
                                   :y1 1057.3153076171875,
                                   :x2 627.0340299606323,
                                   :y2 1080.0425415039062,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 1080.01416015625,
                                   :x2 416.05139446258545,
                                   :y2 1102.741455078125,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 3},
               :content {:text "n crossed the EGFP-IRES-creERT2 knock-in allele with the Cre-activatable Rosa26-lacZ reporte"},
               :properties {:color "red"}}],
 :extra {:page 3}}
