{:highlights [{:id #uuid "692d0814-bd21-4d79-bb18-c63d3f42f2ce",
               :page 1,
               :position {:bounding {:x1 89.27556133270264,
                                     :y1 806.1363525390625,
                                     :x2 627.2249631881714,
                                     :y2 873.0113525390625,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 264.9583463668823,
                                   :y1 806.1363525390625,
                                   :x2 627.2189664840698,
                                   :y2 827.9545288085938,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 828.6647338867188,
                                   :x2 627.2249631881714,
                                   :y2 850.48291015625,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 851.1931762695312,
                                   :x2 312.4724454879761,
                                   :y2 873.0113525390625,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 1},
               :content {:text "Until now, intestinal stem cells have not been functionally identified owing to the lack of unique markers and the absence of stem-cell assays"},
               :properties {:color "yellow"}}
              {:id #uuid "692d0854-981f-4a59-b702-34b74bb33805",
               :page 1,
               :position {:bounding {:x1 89.27556133270264,
                                     :y1 1076.6760559082031,
                                     :x2 627.2391691207886,
                                     :y2 1120.8664245605469,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 213.8939847946167,
                                   :y1 1076.6760559082031,
                                   :x2 627.2391691207886,
                                   :y2 1098.4942932128906,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 89.27556133270264,
                                   :y1 1099.0482482910156,
                                   :x2 377.7753782272339,
                                   :y2 1120.8664245605469,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 1},
               :content {:text "ction and continue their migration in coherent bands stretching along the crypt–villus axis"},
               :properties {:color "yellow"}}
              {:id #uuid "692d08fb-1b36-45a1-9181-1a9372f2292a",
               :page 2,
               :position {:bounding {:x1 74.41761302947998,
                                     :y1 215.14202880859375,
                                     :x2 612.0114316940308,
                                     :y2 259.82952880859375,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 233.8314390182495,
                                   :y1 215.14202880859375,
                                   :x2 612.0114316940308,
                                   :y2 236.960205078125,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}
                                  {:x1 74.41761302947998,
                                   :y1 238.0113525390625,
                                   :x2 531.5295209884644,
                                   :y2 259.82952880859375,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 2},
               :content {:text "his expression pattern, enlarged in Fig. 2c, clearly differed from that obtained with a Paneth-cell-specific gen"},
               :properties {:color "yellow"}}
              {:id #uuid "692d0900-061a-4c4f-b629-53734370098c",
               :page 2,
               :position {:bounding {:x1 114.34553050994873,
                                     :y1 260.710205078125,
                                     :x2 349.096568107605,
                                     :y2 282.52838134765625,
                                     :width 1269.8006506666668,
                                     :height 1668.9174485333333},
                          :rects ({:x1 114.34553050994873,
                                   :y1 260.710205078125,
                                   :x2 349.096568107605,
                                   :y2 282.52838134765625,
                                   :width 1269.8006506666668,
                                   :height 1668.9174485333333}),
                          :page 2},
               :content {:text "ransit-amplifying-specific gen"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
