{:highlights [{:id #uuid "69a65db2-7373-4ba8-84fa-4fe2e0fc1b65",
               :page 2,
               :position {:bounding {:x1 106.24052429199219,
                                     :y1 1018.2669677734375,
                                     :x2 584.1931610107422,
                                     :y2 1088.4563598632812,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 247.70420837402344,
                                   :y1 1018.2669677734375,
                                   :x2 584.0909881591797,
                                   :y2 1040.6912231445312,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.24052429199219,
                                   :y1 1042.225341796875,
                                   :x2 584.1931610107422,
                                   :y2 1064.6495361328125,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.24052429199219,
                                   :y1 1066.0321044921875,
                                   :x2 520.7388763427734,
                                   :y2 1088.4563598632812,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 2},
               :content {:text "ing mediates short-range communication between neighboring cells instead of transmitting long-range information across a tissu"},
               :properties {:color "yellow"}}
              {:id #uuid "69a65dcc-d92d-47ec-bcb8-eac69699a99c",
               :page 2,
               :position {:bounding {:x1 113.29544830322266,
                                     :y1 1522.8218994140625,
                                     :x2 623.3953018188477,
                                     :y2 1589.5831909179688,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 423.32372283935547,
                                   :y1 1522.8218994140625,
                                   :x2 623.3754501342773,
                                   :y2 1542.8218994140625,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 1546.2025756835938,
                                   :x2 623.3953018188477,
                                   :y2 1566.2025756835938,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 1569.5831909179688,
                                   :x2 344.5781784057617,
                                   :y2 1589.5831909179688,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 2},
               :content {:text "ke individually migrating cells, however, migrating epithelial cells must coordinate these behaviors with their neighb"},
               :properties {:color "yellow"}}
              {:id #uuid "69a65e12-ee23-4a4e-9261-13aa12ece6a5",
               :page 2,
               :position {:bounding {:x1 671.5669174194336,
                                     :y1 1242.2631530761719,
                                     :x2 1122.9865951538086,
                                     :y2 1262.2631530761719,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 671.5669174194336,
                                   :y1 1242.2631530761719,
                                   :x2 1122.9865951538086,
                                   :y2 1262.2631530761719,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 2},
               :content {:text "icle cells collectively migrate along their basement memb"},
               :properties {:color "yellow"}}
              {:id #uuid "69a65e46-4b92-42bc-a05e-93a1a7b0dd06",
               :page 3,
               :position {:bounding {:x1 662.9261093139648,
                                     :y1 868.3522338867188,
                                     :x2 1173.1291732788086,
                                     :y2 911.5624389648438,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 960.0542831420898,
                                   :y1 868.3522338867188,
                                   :x2 1173.1291732788086,
                                   :y2 888.3522338867188,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 662.9261093139648,
                                   :y1 891.5624389648438,
                                   :x2 907.8547592163086,
                                   :y2 911.5624389648438,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 3},
               :content {:text "at2’s role in protrusion formation is non-cell-autonomou"},
               :properties {:color "yellow"}}
              {:id #uuid "69a65eb3-3d2b-46c7-88c2-f90fcb81888f",
               :page 4,
               :position {:bounding {:x1 113.29544830322266,
                                     :y1 1148.740478515625,
                                     :x2 623.5024032592773,
                                     :y2 1215.6722412109375,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 500.8684310913086,
                                   :y1 1148.740478515625,
                                   :x2 623.5024032592773,
                                   :y2 1168.740478515625,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 1172.2915649414062,
                                   :x2 623.4134140014648,
                                   :y2 1192.2915649414062,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 1195.6723022460938,
                                   :x2 343.9525680541992,
                                   :y2 1215.6722412109375,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 4},
               :content {:text "sing this metric,48% of Lar null epithelia are non-migratory, whereas the rest migrate slower than controls"},
               :properties {:color "yellow"}}
              {:id #uuid "69a65ebb-fd48-429e-b071-1d6ff22ae0a9",
               :page 4,
               :position {:bounding {:x1 127.88325500488281,
                                     :y1 1265.8143310546875,
                                     :x2 516.5003204345703,
                                     :y2 1285.8143310546875,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 127.88325500488281,
                                   :y1 1265.8143310546875,
                                   :x2 516.5003204345703,
                                   :y2 1285.8143310546875,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 4},
               :content {:text "at Lar primarily localizes to each cell’s leading edg"},
               :properties {:color "yellow"}}
              {:id #uuid "69a65f70-ee8a-4b56-993e-ebe3ced38c4e",
               :page 5,
               :position {:bounding {:x1 127.43370056152344,
                                     :y1 1546.2025756835938,
                                     :x2 637.6088485717773,
                                     :y2 1589.583251953125,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 389.78621673583984,
                                   :y1 1546.2025756835938,
                                   :x2 637.6088485717773,
                                   :y2 1566.2025756835938,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 127.43370056152344,
                                   :y1 1569.583251953125,
                                   :x2 622.8213119506836,
                                   :y2 1589.583251953125,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 5},
               :content {:text "ontrast, we found that Fat2’s role in protrusion formation is both strong and non-ce"},
               :properties {:color "yellow"}}
              {:id #uuid "69a65f72-690a-4649-a0ac-6366438a7628",
               :page 5,
               :position {:bounding {:x1 844.5075302124023,
                                     :y1 1031.8465576171875,
                                     :x2 945.3328475952148,
                                     :y2 1051.8465576171875,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 844.5075302124023,
                                   :y1 1031.8465576171875,
                                   :x2 945.3328475952148,
                                   :y2 1051.8465576171875,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 5},
               :content {:text "autonomous"},
               :properties {:color "yellow"}}
              {:id #uuid "69a65f78-8901-4443-9fb3-128b0002a68e",
               :page 5,
               :position {:bounding {:x1 844.5075302124023,
                                     :y1 1055.3882141113281,
                                     :x2 1172.8952865600586,
                                     :y2 1098.60791015625,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 914.1155624389648,
                                   :y1 1055.3882141113281,
                                   :x2 1172.8952865600586,
                                   :y2 1075.3882141113281,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 844.5075302124023,
                                   :y1 1078.60791015625,
                                   :x2 1157.617332458496,
                                   :y2 1098.60791015625,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 5},
               :content {:text "ld-type cells positioned directly behind fat2 null cells lack protrusion"},
               :properties {:color "green"}}
              {:id #uuid "69a66004-9546-4703-b89e-c632466fedb0",
               :page 6,
               :position {:bounding {:x1 648.6552352905273,
                                     :y1 985.0851745605469,
                                     :x2 1158.8591537475586,
                                     :y2 1075.2272338867188,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 779.7580184936523,
                                   :y1 985.0851745605469,
                                   :x2 1157.805076599121,
                                   :y2 1005.0851745605469,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 648.6552352905273,
                                   :y1 1008.4658508300781,
                                   :x2 1158.8591537475586,
                                   :y2 1028.4658813476562,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 648.6552352905273,
                                   :y1 1031.8465576171875,
                                   :x2 1158.765769958496,
                                   :y2 1051.8465576171875,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 648.6552352905273,
                                   :y1 1055.2272338867188,
                                   :x2 844.4240951538086,
                                   :y2 1075.2272338867188,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 6},
               :content {:text "Altogether, these data suggest that Fat2 at the trailing edge of one cell stabilizes Lar’s localization at the leading edge of the cell directly behind, but that Lar plays a less important role in localizing Fat"},
               :properties {:color "green"}}
              {:id #uuid "69a66039-7d8d-485c-bc58-1b02466f9909",
               :page 6,
               :position {:bounding {:x1 648.6552352905273,
                                     :y1 1569.4222412109375,
                                     :x2 970.2715682983398,
                                     :y2 1589.4222412109375,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 648.6552352905273,
                                   :y1 1569.4222412109375,
                                   :x2 970.2715682983398,
                                   :y2 1589.4222412109375,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 6},
               :content {:text "secondary to the defect in tissue motilit"},
               :properties {:color "yellow"}}
              {:id #uuid "69a6603f-c62b-47d0-b50a-bede896575d5",
               :page 7,
               :position {:bounding {:x1 127.43370056152344,
                                     :y1 1405.927978515625,
                                     :x2 637.6869735717773,
                                     :y2 1449.3086547851562,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 170.85753631591797,
                                   :y1 1405.927978515625,
                                   :x2 637.6869735717773,
                                   :y2 1425.927978515625,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 127.43370056152344,
                                   :y1 1429.3086547851562,
                                   :x2 596.4677276611328,
                                   :y2 1449.3086547851562,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 7},
               :content {:text "ssue movement plays an important role in establishing and/ or maintaining Fat2’s and Lar’s planar polarized localizatio"},
               :properties {:color "yellow"}}
              {:id #uuid "69a6609f-c61b-48f7-bb73-0ad907f50e1c",
               :page 8,
               :position {:bounding {:x1 113.29544830322266,
                                     :y1 330.61553955078125,
                                     :x2 623.4287338256836,
                                     :y2 397.367431640625,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 247.60875701904297,
                                   :y1 330.61553955078125,
                                   :x2 623.4287338256836,
                                   :y2 350.61553955078125,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 353.9962158203125,
                                   :x2 622.9182357788086,
                                   :y2 373.9962158203125,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 377.367431640625,
                                   :x2 513.9365005493164,
                                   :y2 397.367431640625,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 8},
               :content {:text "ncated Fat2 protein, Lar localization expands to include lateral cell edges, with Fat2DICD -3xGFP and Lar once again showing strong colocalization in punct"},
               :properties {:color "yellow"}}
              {:id #uuid "69a660b4-9b6a-483c-b9f0-c6dbf4277bd3",
               :page 8,
               :position {:bounding {:x1 113.29544830322266,
                                     :y1 681.1457824707031,
                                     :x2 623.4452056884766,
                                     :y2 724.5264587402344,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 159.1862030029297,
                                   :y1 681.1457824707031,
                                   :x2 623.4452056884766,
                                   :y2 701.1457824707031,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 704.5264587402344,
                                   :x2 180.54889678955078,
                                   :y2 724.5264587402344,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 8},
               :content {:text "anism operating at lateral cell edges to inhibit protrusion formatio"},
               :properties {:color "blue"}}
              {:id #uuid "69a660d4-3a87-440c-9eac-5ed12d484b52",
               :page 8,
               :position {:bounding {:x1 113.29544830322266,
                                     :y1 1078.60791015625,
                                     :x2 623.4889602661133,
                                     :y2 1121.9885864257812,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 163.10529327392578,
                                   :y1 1078.60791015625,
                                   :x2 623.4889602661133,
                                   :y2 1098.60791015625,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 1101.9885864257812,
                                   :x2 475.9029312133789,
                                   :y2 1121.9885864257812,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 8},
               :content {:text "ar is unstable at the plasma membrane unless it can interact with another factor on an adjacent cel"},
               :properties {:color "yellow"}}
              {:id #uuid "69a660e3-2436-4e14-b4c9-606046df2354",
               :page 8,
               :position {:bounding {:x1 113.29544830322266,
                                     :y1 1218.8825073242188,
                                     :x2 623.3977279663086,
                                     :y2 1309.0245361328125,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 123.81087493896484,
                                   :y1 1218.8825073242188,
                                   :x2 623.3977279663086,
                                   :y2 1238.8825073242188,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 1242.26318359375,
                                   :x2 623.2997512817383,
                                   :y2 1262.26318359375,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 1265.6438598632812,
                                   :x2 623.2547225952148,
                                   :y2 1285.6438598632812,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 1289.0245361328125,
                                   :x2 164.1356430053711,
                                   :y2 1309.0245361328125,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 8},
               :content {:text "ata show that Fat2 cannot stabilize Lar’s plasma membrane localization in cis. Instead, Fat2 and Lar must be present on adjacent cells for a trans interaction, whether it be direct or indirect, to occ"},
               :properties {:color "yellow"}}
              {:id #uuid "69a66129-9a21-4e10-a9db-3185d72b6ca2",
               :page 8,
               :position {:bounding {:x1 648.6552352905273,
                                     :y1 821.42041015625,
                                     :x2 1158.8442611694336,
                                     :y2 864.8010864257812,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 660.0920639038086,
                                   :y1 821.42041015625,
                                   :x2 1158.8442611694336,
                                   :y2 841.42041015625,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 648.6552352905273,
                                   :y1 844.8010864257812,
                                   :x2 1063.7697982788086,
                                   :y2 864.8010864257812,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 8},
               :content {:text "at2 and Lar induce leading edge protrusions, and the protrusions help to release the trailing edge of the cell ahe"},
               :properties {:color "yellow"}}
              {:id #uuid "69a66142-a60e-4e4d-a741-eaaaf4c14b60",
               :page 8,
               :position {:bounding {:x1 648.6552352905273,
                                     :y1 1125.3692016601562,
                                     :x2 1158.8322982788086,
                                     :y2 1215.5017700195312,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 674.4806747436523,
                                   :y1 1125.3692016601562,
                                   :x2 1158.7907943725586,
                                   :y2 1145.3692016601562,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 648.6552352905273,
                                   :y1 1148.7404174804688,
                                   :x2 1158.8322982788086,
                                   :y2 1168.7404174804688,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 648.6552352905273,
                                   :y1 1171.9601135253906,
                                   :x2 1158.8069076538086,
                                   :y2 1191.9601135253906,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 648.6552352905273,
                                   :y1 1195.5017700195312,
                                   :x2 725.3387069702148,
                                   :y2 1215.5017700195312,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 8},
               :content {:text "ding edge protrusions likely do contribute to trailing edge retraction in the cell ahead, but that Lar also plays a signaling role in this process that is independent of its role in protrusion formation"},
               :properties {:color "yellow"}}
              {:id #uuid "69a66178-2e4e-4073-af81-91d2eed15545",
               :page 9,
               :position {:bounding {:x1 127.43370056152344,
                                     :y1 1522.8218994140625,
                                     :x2 637.4353866577148,
                                     :y2 1566.2025756835938,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 303.0195846557617,
                                   :y1 1522.8218994140625,
                                   :x2 637.4353866577148,
                                   :y2 1542.8218994140625,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 127.43370056152344,
                                   :y1 1546.2025756835938,
                                   :x2 483.4977569580078,
                                   :y2 1566.2025756835938,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 9},
               :content {:text "follicle cells expressing CLASP-RNAi do not show defects in trailing edge retraction"},
               :properties {:color "yellow"}}],
 :extra {:page 10}}
