{:highlights [{:id #uuid "69a65db2-7373-4ba8-84fa-4fe2e0fc1b65",
               :page 2,
               :position {:bounding {:x1 106.24052429199219,
                                     :y1 1018.2669677734375,
                                     :x2 584.1931610107422,
                                     :y2 1088.4563598632812,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 247.70420837402344,
                                   :y1 1018.2669677734375,
                                   :x2 584.0909881591797,
                                   :y2 1040.6912231445312,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.24052429199219,
                                   :y1 1042.225341796875,
                                   :x2 584.1931610107422,
                                   :y2 1064.6495361328125,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.24052429199219,
                                   :y1 1066.0321044921875,
                                   :x2 520.7388763427734,
                                   :y2 1088.4563598632812,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 2},
               :content {:text "ing mediates short-range communication between neighboring cells instead of transmitting long-range information across a tissu"},
               :properties {:color "yellow"}}
              {:id #uuid "69a65dcc-d92d-47ec-bcb8-eac69699a99c",
               :page 2,
               :position {:bounding {:x1 113.29544830322266,
                                     :y1 1522.8218994140625,
                                     :x2 623.3953018188477,
                                     :y2 1589.5831909179688,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 423.32372283935547,
                                   :y1 1522.8218994140625,
                                   :x2 623.3754501342773,
                                   :y2 1542.8218994140625,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 1546.2025756835938,
                                   :x2 623.3953018188477,
                                   :y2 1566.2025756835938,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 1569.5831909179688,
                                   :x2 344.5781784057617,
                                   :y2 1589.5831909179688,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 2},
               :content {:text "ke individually migrating cells, however, migrating epithelial cells must coordinate these behaviors with their neighb"},
               :properties {:color "yellow"}}
              {:id #uuid "69a65e12-ee23-4a4e-9261-13aa12ece6a5",
               :page 2,
               :position {:bounding {:x1 671.5669174194336,
                                     :y1 1242.2631530761719,
                                     :x2 1122.9865951538086,
                                     :y2 1262.2631530761719,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 671.5669174194336,
                                   :y1 1242.2631530761719,
                                   :x2 1122.9865951538086,
                                   :y2 1262.2631530761719,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 2},
               :content {:text "icle cells collectively migrate along their basement memb"},
               :properties {:color "yellow"}}
              {:id #uuid "69a65e46-4b92-42bc-a05e-93a1a7b0dd06",
               :page 3,
               :position {:bounding {:x1 662.9261093139648,
                                     :y1 868.3522338867188,
                                     :x2 1173.1291732788086,
                                     :y2 911.5624389648438,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 960.0542831420898,
                                   :y1 868.3522338867188,
                                   :x2 1173.1291732788086,
                                   :y2 888.3522338867188,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 662.9261093139648,
                                   :y1 891.5624389648438,
                                   :x2 907.8547592163086,
                                   :y2 911.5624389648438,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 3},
               :content {:text "at2’s role in protrusion formation is non-cell-autonomou"},
               :properties {:color "yellow"}}
              {:id #uuid "69a65eb3-3d2b-46c7-88c2-f90fcb81888f",
               :page 4,
               :position {:bounding {:x1 113.29544830322266,
                                     :y1 1148.740478515625,
                                     :x2 623.5024032592773,
                                     :y2 1215.6722412109375,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 500.8684310913086,
                                   :y1 1148.740478515625,
                                   :x2 623.5024032592773,
                                   :y2 1168.740478515625,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 1172.2915649414062,
                                   :x2 623.4134140014648,
                                   :y2 1192.2915649414062,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.29544830322266,
                                   :y1 1195.6723022460938,
                                   :x2 343.9525680541992,
                                   :y2 1215.6722412109375,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 4},
               :content {:text "sing this metric,48% of Lar null epithelia are non-migratory, whereas the rest migrate slower than controls"},
               :properties {:color "yellow"}}
              {:id #uuid "69a65ebb-fd48-429e-b071-1d6ff22ae0a9",
               :page 4,
               :position {:bounding {:x1 127.88325500488281,
                                     :y1 1265.8143310546875,
                                     :x2 516.5003204345703,
                                     :y2 1285.8143310546875,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 127.88325500488281,
                                   :y1 1265.8143310546875,
                                   :x2 516.5003204345703,
                                   :y2 1285.8143310546875,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 4},
               :content {:text "at Lar primarily localizes to each cell’s leading edg"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
