{:highlights [{:id #uuid "69140fbd-7988-4dfb-bd5f-1c3a11472737",
               :page 1,
               :position {:bounding {:x1 125.51136016845703,
                                     :y1 1008.5795288085938,
                                     :x2 299.2842788696289,
                                     :y2 1034.0340881347656,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 125.51136016845703,
                                   :y1 1008.5795288085938,
                                   :x2 299.2842788696289,
                                   :y2 1034.0340881347656,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 1},
               :content {:text "INTRODUCTION"},
               :properties {:color "purple"}}
              {:id #uuid "69140ffb-818f-4e32-bb5f-07b7df3af5db",
               :page 1,
               :position {:bounding {:x1 125.51136016845703,
                                     :y1 1457.3295288085938,
                                     :x2 669.6621170043945,
                                     :y2 1531.7755126953125,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 498.56744384765625,
                                   :y1 1457.3295288085938,
                                   :x2 669.5369873046875,
                                   :y2 1481.8749389648438,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 125.51136016845703,
                                   :y1 1482.2869262695312,
                                   :x2 669.6621170043945,
                                   :y2 1506.8323364257812,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 125.51136016845703,
                                   :y1 1507.2301025390625,
                                   :x2 503.37406158447266,
                                   :y2 1531.7755126953125,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 1},
               :content {:text "uch an analysis is particularly useful where a protein acts as an activator in one context and as a repressor in anoth"},
               :properties {:color "yellow"}}
              {:id #uuid "6914106a-80ca-4fdd-946a-d508b55fe3a0",
               :page 1,
               :position {:bounding {:x1 125.3835220336914,
                                     :y1 1606.8607788085938,
                                     :x2 669.345703125,
                                     :y2 1656.3494262695312,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 505.8238525390625,
                                   :y1 1606.8607788085938,
                                   :x2 546.71875,
                                   :y2 1631.4061889648438,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 557.2869262695312,
                                   :y1 1606.8607788085938,
                                   :x2 578.0681762695312,
                                   :y2 1631.4061889648438,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 588.76416015625,
                                   :y1 1606.8607788085938,
                                   :x2 612.04541015625,
                                   :y2 1631.4061889648438,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 622.7556762695312,
                                   :y1 1606.8607788085938,
                                   :x2 669.345703125,
                                   :y2 1631.4061889648438,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 125.3835220336914,
                                   :y1 1631.803955078125,
                                   :x2 549.949104309082,
                                   :y2 1656.3494262695312,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 1},
               :content {:text "ﬁrst is to drive expression of a gene from a heat shock promo"},
               :properties {:color "yellow"}}
              {:id #uuid "6914106f-4963-4408-968f-795f8a0b8ea9",
               :page 1,
               :position {:bounding {:x1 235.56944274902344,
                                     :y1 1581.9033813476562,
                                     :x2 349.58770751953125,
                                     :y2 1606.4488525390625,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 235.56944274902344,
                                   :y1 1581.9033813476562,
                                   :x2 349.58770751953125,
                                   :y2 1606.4488525390625,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 1},
               :content {:text "wo methods"},
               :properties {:color "yellow"}}
              {:id #uuid "69141075-b8d3-414c-a469-2b311c895be6",
               :page 1,
               :position {:bounding {:x1 709.9857788085938,
                                     :y1 1232.9545288085938,
                                     :x2 1254.0478515625,
                                     :y2 1307.4005737304688,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 1100.1768798828125,
                                   :y1 1232.9545288085938,
                                   :x2 1252.80322265625,
                                   :y2 1257.5,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 709.9857788085938,
                                   :y1 1257.9119262695312,
                                   :x2 1254.0478515625,
                                   :y2 1282.4573364257812,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 709.9857788085938,
                                   :y1 1282.8551025390625,
                                   :x2 1104.7178955078125,
                                   :y2 1307.4005737304688,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 1},
               :content {:text "ond technique is to drive expression of a gene using the transcriptional regulatory sequences from a deﬁned promot"},
               :properties {:color "yellow"}}
              {:id #uuid "691410de-d343-4b0b-b9e0-1ec34a9a6c5a",
               :page 3,
               :position {:bounding {:x1 123.99147033691406,
                                     :y1 1611.5198974609375,
                                     :x2 667.965576171875,
                                     :y2 1660.8380737304688,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 434.753662109375,
                                   :y1 1611.5198974609375,
                                   :x2 667.965576171875,
                                   :y2 1636.0653076171875,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 123.99147033691406,
                                   :y1 1636.2926025390625,
                                   :x2 578.8068389892578,
                                   :y2 1660.8380737304688,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 3},
               :content {:text "y when the two lines are crossed is the target gene turned on in the progen"},
               :properties {:color "yellow"}}
              {:id #uuid "69141104-bbce-4fca-8efb-4f2dc6ad67da",
               :page 4,
               :position {:bounding {:x1 124.26136016845703,
                                     :y1 261.3210153579712,
                                     :x2 668.407958984375,
                                     :y2 360.5397653579712,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 533.8704833984375,
                                   :y1 261.3210153579712,
                                   :x2 668.407958984375,
                                   :y2 285.8664560317993,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 124.26136016845703,
                                   :y1 286.0937509536743,
                                   :x2 667.7544021606445,
                                   :y2 310.63919162750244,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 124.40340423583984,
                                   :y1 311.03692722320557,
                                   :x2 667.889404296875,
                                   :y2 335.5823678970337,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 124.40340423583984,
                                   :y1 335.99429416656494,
                                   :x2 262.88777923583984,
                                   :y2 360.5397653579712,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 4},
               :content {:text "s necessary to use a transcriptional activator that has no endogenous targets in Drosophila, so as to express ectopically only the gene of interes"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
