{:highlights [{:id #uuid "68f45264-5f99-4718-9d24-af4eed334254",
               :page 1,
               :position {:bounding {:x1 86.9453125,
                                     :y1 672.609375,
                                     :x2 156.39126586914062,
                                     :y2 687.609375,
                                     :width 844.8000000000001,
                                     :height 1161.6000000000001},
                          :rects ({:x1 86.9453125,
                                   :y1 672.609375,
                                   :x2 156.39126586914062,
                                   :y2 687.609375,
                                   :width 844.8000000000001,
                                   :height 1161.6000000000001}),
                          :page 1},
               :content {:text "Introduction"},
               :properties {:color "purple"}}
              {:id #uuid "68f45288-bb69-4aa8-b0ef-8d5ae35c390a",
               :page 1,
               :position {:bounding {:x1 102.6875,
                                     :y1 889.5703125,
                                     :x2 474.073486328125,
                                     :y2 945.3828125,
                                     :width 998.4000000000001,
                                     :height 1372.8},
                          :rects ({:x1 365.25140380859375,
                                   :y1 889.5703125,
                                   :x2 473.6275634765625,
                                   :y2 907.0703125,
                                   :width 998.4000000000001,
                                   :height 1372.8}
                                  {:x1 102.6875,
                                   :y1 908.65625,
                                   :x2 474.073486328125,
                                   :y2 926.15625,
                                   :width 998.4000000000001,
                                   :height 1372.8}
                                  {:x1 102.6875,
                                   :y1 927.8828125,
                                   :x2 379.7743225097656,
                                   :y2 945.3828125,
                                   :width 998.4000000000001,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "rulating bacteria such as Bacillus subtilis are thought to be capable of initiating development only during a small win"},
               :properties {:color "yellow"}}
              {:id #uuid "68f45416-10b0-45a3-b318-a3d76750c482",
               :page 1,
               :position {:bounding {:x1 103.0859375,
                                     :y1 965.7734375,
                                     :x2 473.3946533203125,
                                     :y2 1002.359375,
                                     :width 998.4000000000001,
                                     :height 1372.8},
                          :rects ({:x1 150.2283935546875,
                                   :y1 965.7734375,
                                   :x2 473.3946533203125,
                                   :y2 983.2734375,
                                   :width 998.4000000000001,
                                   :height 1372.8}
                                  {:x1 103.0859375,
                                   :y1 984.859375,
                                   :x2 431.5414733886719,
                                   :y2 1002.359375,
                                   :width 998.4000000000001,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "xists from the end of the prior cell division until just after a new round of DNA synthesis has commence"},
               :properties {:color "yellow"}}
              {:id #uuid "68f45482-48e1-4764-8071-d1d4efe27315",
               :page 1,
               :position {:bounding {:x1 514.3671875,
                                     :y1 261.703125,
                                     :x2 884.4519653320312,
                                     :y2 298.0078125,
                                     :width 998.4000000000001,
                                     :height 1372.8},
                          :rects ({:x1 546.7691040039062,
                                   :y1 261.703125,
                                   :x2 884.4519653320312,
                                   :y2 279.203125,
                                   :width 998.4000000000001,
                                   :height 1372.8}
                                  {:x1 514.3671875,
                                   :y1 280.5078125,
                                   :x2 682.82861328125,
                                   :y2 298.0078125,
                                   :width 998.4000000000001,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "o0A is a negative regulator of the abrB gene, which codes for the AbrB repres"},
               :properties {:color "yellow"}}
              {:id #uuid "68f45623-4147-4561-a148-b83720ab55d5",
               :page 1,
               :position {:bounding {:x1 513.96875,
                                     :y1 850.8515625,
                                     :x2 885.45263671875,
                                     :y2 906.25,
                                     :width 998.4000000000001,
                                     :height 1372.8},
                          :rects ({:x1 711.8306884765625,
                                   :y1 850.8515625,
                                   :x2 885.45263671875,
                                   :y2 868.3515625,
                                   :width 998.4000000000001,
                                   :height 1372.8}
                                  {:x1 513.96875,
                                   :y1 869.6640625,
                                   :x2 885.2027587890625,
                                   :y2 887.1640625,
                                   :width 998.4000000000001,
                                   :height 1372.8}
                                  {:x1 513.96875,
                                   :y1 888.75,
                                   :x2 846.5357055664062,
                                   :y2 906.25,
                                   :width 998.4000000000001,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "ppression pattern was consistent with the hypothesis that these latter genes served to modify Spo0A from an inactive to an active for"},
               :properties {:color "yellow"}}
              {:id #uuid "68f4578a-3f64-4e69-a7fb-ad18cca36d79",
               :page 1,
               :position {:bounding {:x1 513.96875,
                                     :y1 946.140625,
                                     :x2 885.656982421875,
                                     :y2 1001.5390625,
                                     :width 998.4000000000001,
                                     :height 1372.8},
                          :rects ({:x1 707.8338012695312,
                                   :y1 946.140625,
                                   :x2 885.656982421875,
                                   :y2 963.640625,
                                   :width 998.4000000000001,
                                   :height 1372.8}
                                  {:x1 514.3671875,
                                   :y1 965.359375,
                                   :x2 885.128662109375,
                                   :y2 982.859375,
                                   :width 998.4000000000001,
                                   :height 1372.8}
                                  {:x1 513.96875,
                                   :y1 984.0390625,
                                   :x2 655.0972900390625,
                                   :y2 1001.5390625,
                                   :width 998.4000000000001,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "ino-terminal region of the Spo0A protein was homologous to several other regulatory proteins, e.g., Om"},
               :properties {:color "yellow"}}
              {:id #uuid "68f457db-e875-4af1-9913-ca2d540a6652",
               :page 2,
               :position {:bounding {:x1 104.7890625,
                                     :y1 635.3828125,
                                     :x2 475.4765930175781,
                                     :y2 670.96875,
                                     :width 998.4000000000001,
                                     :height 1372.8},
                          :rects ({:x1 311.5923156738281,
                                   :y1 635.3828125,
                                   :x2 475.4765930175781,
                                   :y2 651.8828125,
                                   :width 998.4000000000001,
                                   :height 1372.8}
                                  {:x1 104.7890625,
                                   :y1 654.46875,
                                   :x2 214.12078857421875,
                                   :y2 670.96875,
                                   :width 998.4000000000001,
                                   :height 1372.8}),
                          :page 2},
               :content {:text "ence using purified components that Spo"},
               :properties {:color "red"}}],
 :extra {:page 2}}
