{:highlights [{:id #uuid "698e2486-dc99-46d7-a16c-2ada852f844a",
               :page 1,
               :position {:bounding {:x1 75.07862091064453,
                                     :y1 335.234375,
                                     :x2 278.3237991333008,
                                     :y2 347.734375,
                                     :width 714,
                                     :height 939.5999999999999},
                          :rects ({:x1 75.07862091064453,
                                   :y1 335.234375,
                                   :x2 278.3237991333008,
                                   :y2 347.734375,
                                   :width 714,
                                   :height 939.5999999999999}),
                          :page 1},
               :content {:text "only Squint can function directly at a distanc"},
               :properties {:color "yellow"}}
              {:id #uuid "698e2498-59d6-4787-8d3c-b3834beb31d0",
               :page 1,
               :position {:bounding {:x1 54.7578125,
                                     :y1 423.03125,
                                     :x2 352.4035949707031,
                                     :y2 448.03125,
                                     :width 714,
                                     :height 939.5999999999999},
                          :rects ({:x1 283.0277099609375,
                                   :y1 423.03125,
                                   :x2 352.4035949707031,
                                   :y2 435.53125,
                                   :width 714,
                                   :height 939.5999999999999}
                                  {:x1 54.7578125,
                                   :y1 435.53125,
                                   :x2 260.4006042480469,
                                   :y2 448.03125,
                                   :width 714,
                                   :height 939.5999999999999}),
                          :page 1},
               :content {:text "provide a local source of Sqt or Cyc, sqt or cyc RNA was inject"},
               :properties {:color "red"}}
              {:id #uuid "698e24b2-9b23-481a-85a5-80be1ed30e2d",
               :page 1,
               :position {:bounding {:x1 54.7578125,
                                     :y1 548.6171875,
                                     :x2 352.4343566894531,
                                     :y2 573.6171875,
                                     :width 714,
                                     :height 939.5999999999999},
                          :rects ({:x1 101.11573791503906,
                                   :y1 548.6171875,
                                   :x2 352.4343566894531,
                                   :y2 561.1171875,
                                   :width 714,
                                   :height 939.5999999999999}
                                  {:x1 54.7578125,
                                   :y1 561.1171875,
                                   :x2 171.42491149902344,
                                   :y2 573.6171875,
                                   :width 714,
                                   :height 939.5999999999999}),
                          :page 1},
               :content {:text "ontrast, gsc was detected only in cells expressing sqt and their immediate neighbour"},
               :properties {:color "yellow"}}
              {:id #uuid "698e24df-d817-440f-9a83-032aaf2011c2",
               :page 1,
               :position {:bounding {:x1 54.7578125,
                                     :y1 636.5078125,
                                     :x2 352.53521728515625,
                                     :y2 661.6015625,
                                     :width 714,
                                     :height 939.5999999999999},
                          :rects ({:x1 120.65077209472656,
                                   :y1 636.5078125,
                                   :x2 352.53521728515625,
                                   :y2 649.0078125,
                                   :width 714,
                                   :height 939.5999999999999}
                                  {:x1 54.7578125,
                                   :y1 649.1015625,
                                   :x2 130.00973510742188,
                                   :y2 661.6015625,
                                   :width 714,
                                   :height 939.5999999999999}),
                          :page 1},
               :content {:text "sulted in a similar concentration-dependent induction of ntl and gs"},
               :properties {:color "yellow"}}
              {:id #uuid "698e24e8-ff58-4d4e-9144-da57cc52a6b0",
               :page 1,
               :position {:bounding {:x1 54.7578125,
                                     :y1 686.796875,
                                     :x2 352.4916076660156,
                                     :y2 711.796875,
                                     :width 714,
                                     :height 939.5999999999999},
                          :rects ({:x1 66.38227844238281,
                                   :y1 686.796875,
                                   :x2 352.4916076660156,
                                   :y2 699.296875,
                                   :width 714,
                                   :height 939.5999999999999}
                                  {:x1 54.7578125,
                                   :y1 699.296875,
                                   :x2 275.8708801269531,
                                   :y2 711.796875,
                                   :width 714,
                                   :height 939.5999999999999}),
                          :page 1},
               :content {:text "yond two cell diameters from cyc-expressing cells, although the level of cyc was high enough to induce gsc expres"},
               :properties {:color "yellow"}}
              {:id #uuid "698e2545-9384-483a-a019-74588373f685",
               :page 2,
               :position {:bounding {:x1 47.9765625,
                                     :y1 674.2890625,
                                     :x2 345.3515625,
                                     :y2 699.296875,
                                     :width 714,
                                     :height 939.5999999999999},
                          :rects ({:x1 77.75376892089844,
                                   :y1 674.2890625,
                                   :x2 345.3515625,
                                   :y2 686.7890625,
                                   :width 714,
                                   :height 939.5999999999999}
                                  {:x1 47.9765625,
                                   :y1 686.796875,
                                   :x2 108.97127532958984,
                                   :y2 699.296875,
                                   :width 714,
                                   :height 939.5999999999999}),
                          :page 2},
               :content {:text "lanting labelled wild-type cells at a distance from the sqtexpressing ce"},
               :properties {:color "red"}}],
 :extra {:page 1}}
