{:highlights [{:id #uuid "6a4d21d1-d40b-493a-b39a-5acd982de3b3",
               :page 1,
               :position {:bounding {:x1 89.96875,
                                     :y1 1180.828125,
                                     :x2 667.886962890625,
                                     :y2 1226.21875,
                                     :width 1349.2922666666666,
                                     :height 1792.6296},
                          :rects ({:x1 568.5925903320312,
                                   :y1 1180.828125,
                                   :x2 667.886962890625,
                                   :y2 1201.828125,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 89.96875,
                                   :y1 1205.21875,
                                   :x2 649.331298828125,
                                   :y2 1226.21875,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}),
                          :page 1},
               :content {:text "his lineage is present not only in the skin but also in the strata underneath, called fasc"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4d2211-8ded-4fe6-b2b2-805de66d3272",
               :page 1,
               :position {:bounding {:x1 693.78125,
                                     :y1 985.9375,
                                     :x2 1271.5966796875,
                                     :y2 1031.3125,
                                     :width 1349.2922666666666,
                                     :height 1792.6296},
                          :rects ({:x1 713.078125,
                                   :y1 985.9375,
                                   :x2 1271.5966796875,
                                   :y2 1006.9375,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 693.78125,
                                   :y1 1010.3125,
                                   :x2 1131.8582763671875,
                                   :y2 1031.3125,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}),
                          :page 1},
               :content {:text "At 14 days post-wounding (dpw), 80.04 ± 3.443% (mean ± s.e.m.) of the labelled cells in the wound originated from fascia "},
               :properties {:color "green"}}
              {:id #uuid "6a4d222e-d003-4b64-82d7-92e9e4c1c9b1",
               :page 1,
               :position {:bounding {:x1 693.78125,
                                     :y1 1132.25,
                                     :x2 1261.068359375,
                                     :y2 1153.25,
                                     :width 1349.2922666666666,
                                     :height 1792.6296},
                          :rects ({:x1 693.78125,
                                   :y1 1132.25,
                                   :x2 1261.068359375,
                                   :y2 1153.25,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}),
                          :page 1},
               :content {:text "macrophages within wounds were predominantly of fascia origi"},
               :properties {:color "green"}}
              {:id #uuid "6a4d2263-49ce-4143-832b-a674aed3e7ca",
               :page 1,
               :position {:bounding {:x1 693.78125,
                                     :y1 1278.375,
                                     :x2 1271.9344482421875,
                                     :y2 1348.140625,
                                     :width 1349.2922666666666,
                                     :height 1792.6296},
                          :rects ({:x1 1104.0269775390625,
                                   :y1 1278.375,
                                   :x2 1271.9344482421875,
                                   :y2 1299.375,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 693.78125,
                                   :y1 1302.765625,
                                   :x2 1271.90478515625,
                                   :y2 1323.765625,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 693.78125,
                                   :y1 1327.140625,
                                   :x2 784.9217529296875,
                                   :y2 1348.140625,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}),
                          :page 1},
               :content {:text "Labelled monocytes(macrophages), lymphatics, endothelium and nerves also derived from fascia"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4d236c-4f1c-4537-95d3-d0e61c270aaf",
               :page 2,
               :position {:bounding {:x1 89.96875,
                                     :y1 1351.53125,
                                     :x2 668.4633178710938,
                                     :y2 1421.296875,
                                     :width 1349.2922666666666,
                                     :height 1792.6296},
                          :rects ({:x1 109.265625,
                                   :y1 1351.53125,
                                   :x2 668.270751953125,
                                   :y2 1372.53125,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 89.96875,
                                   :y1 1375.90625,
                                   :x2 668.4633178710938,
                                   :y2 1396.90625,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 89.96875,
                                   :y1 1400.296875,
                                   :x2 123.7027587890625,
                                   :y2 1421.296875,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}),
                          :page 2},
               :content {:text "Two-photon microscopy revealed that fascia EPFs assemble in monolayers of consecutive perpendicular sheets across the dorsal–ventral axis"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4d239f-59a0-4f3d-b847-4a0f33bae408",
               :page 2,
               :position {:bounding {:x1 693.78125,
                                     :y1 1156.453125,
                                     :x2 1272.0057373046875,
                                     :y2 1226.21875,
                                     :width 1349.2922666666666,
                                     :height 1792.6296},
                          :rects ({:x1 1141.726318359375,
                                   :y1 1156.453125,
                                   :x2 1271.740478515625,
                                   :y2 1177.453125,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 693.78125,
                                   :y1 1180.828125,
                                   :x2 1272.0057373046875,
                                   :y2 1201.828125,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 693.78125,
                                   :y1 1205.21875,
                                   :x2 1040.858642578125,
                                   :y2 1226.21875,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}),
                          :page 2},
               :content {:text "here were twice as many fascia EPFs in deep wounds, whereas the number of dermal EPFs remained constant in both conditions"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4d23dd-11db-4729-9f01-18de36879966",
               :page 2,
               :position {:bounding {:x1 693.78125,
                                     :y1 1351.53125,
                                     :x2 1272.11279296875,
                                     :y2 1445.6875,
                                     :width 1349.2922666666666,
                                     :height 1792.6296},
                          :rects ({:x1 725.4481201171875,
                                   :y1 1351.53125,
                                   :x2 1272.11279296875,
                                   :y2 1372.53125,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 693.78125,
                                   :y1 1375.90625,
                                   :x2 1271.580322265625,
                                   :y2 1396.90625,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 693.78125,
                                   :y1 1400.296875,
                                   :x2 1271.91943359375,
                                   :y2 1421.296875,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 693.78125,
                                   :y1 1424.6875,
                                   :x2 1241.5052490234375,
                                   :y2 1445.6875,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}),
                          :page 2},
               :content {:text "ong-term tracing of fascia EPFs in wounds showed that they recede ten weeks after injury (Extended Data Fig. 3c). This desertion from mature scars occurred through an apoptosis-independent mechanism, indicated by a low rate of cell death (<5%) across earlier time po"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4d2427-4a40-4fe8-9fa9-2c1acf3a72f2",
               :page 2,
               :position {:bounding {:x1 693.78125,
                                     :y1 1643.96875,
                                     :x2 1272.115234375,
                                     :y2 1689.34375,
                                     :width 1349.2922666666666,
                                     :height 1792.6296},
                          :rects ({:x1 964.8021240234375,
                                   :y1 1643.96875,
                                   :x2 1272.115234375,
                                   :y2 1664.96875,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 972.625,
                                   :y1 1667.5625,
                                   :x2 981.90625,
                                   :y2 1679.5625,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 1051.140625,
                                   :y1 1667.5625,
                                   :x2 1060.421875,
                                   :y2 1679.5625,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 1209.375,
                                   :y1 1667.5625,
                                   :x2 1218.65625,
                                   :y2 1679.5625,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 693.78125,
                                   :y1 1668.34375,
                                   :x2 1265.631591796875,
                                   :y2 1689.34375,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}),
                          :page 2},
               :content {:text "ular heterogeneity, with the population predominantly comprising LY6G + PDGFRα + (87.0%) and DPP4 + ITGB1"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4d255c-4708-4d87-9f57-199db66bb126",
               :page 3,
               :position {:bounding {:x1 89.96875,
                                     :y1 1473.453125,
                                     :x2 668.29833984375,
                                     :y2 1518.65625,
                                     :width 1349.2922666666666,
                                     :height 1792.6296},
                          :rects ({:x1 100.23199462890625,
                                   :y1 1473.453125,
                                   :x2 668.29833984375,
                                   :y2 1494.453125,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 89.96875,
                                   :y1 1497.65625,
                                   :x2 217.2926025390625,
                                   :y2 1518.65625,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}),
                          :page 3},
               :content {:text "rofuse coiled collagen fibrils in the fascia, indicative of a relaxed and immature matri"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4d25a5-dfe0-444a-adbf-f7e3838ab80e",
               :page 3,
               :position {:bounding {:x1 765.8546142578125,
                                     :y1 352.28125,
                                     :x2 1256.0185546875,
                                     :y2 373.28125,
                                     :width 1349.2922666666666,
                                     :height 1792.6296},
                          :rects ({:x1 765.8546142578125,
                                   :y1 352.28125,
                                   :x2 1256.0185546875,
                                   :y2 373.28125,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}),
                          :page 3},
               :content {:text "pliable matrix was extended upwards to mould the woun"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4d2638-a286-48d2-8477-1f69ae1324d3",
               :page 3,
               :position {:bounding {:x1 694.1875,
                                     :y1 766.65625,
                                     :x2 1270.950439453125,
                                     :y2 812.03125,
                                     :width 1349.2922666666666,
                                     :height 1792.6296},
                          :rects ({:x1 1122.3212890625,
                                   :y1 766.65625,
                                   :x2 1270.950439453125,
                                   :y2 787.65625,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}
                                  {:x1 694.1875,
                                   :y1 791.03125,
                                   :x2 1010.0556640625,
                                   :y2 812.03125,
                                   :width 1349.2922666666666,
                                   :height 1792.6296}),
                          :page 3},
               :content {:text "urprisingly, traced matrix was also present in the eschar"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
