{:highlights [{:id #uuid "6a4dc4b3-db78-4339-86cc-11944431a105",
               :page 1,
               :position {:bounding {:x1 734.9241781234741,
                                     :y1 1225.07568359375,
                                     :x2 1347.2382040023804,
                                     :y2 1324.3370361328125,
                                     :width 1428.6624,
                                     :height 1898.0783999999999},
                          :rects ({:x1 1089.4097127914429,
                                   :y1 1225.07568359375,
                                   :x2 1346.8086385726929,
                                   :y2 1246.8938598632812,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1250.8900756835938,
                                   :x2 1347.2382040023804,
                                   :y2 1272.708251953125,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1276.7044677734375,
                                   :x2 1346.9438924789429,
                                   :y2 1298.5226440429688,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1302.5188598632812,
                                   :x2 1072.4553670883179,
                                   :y2 1324.3370361328125,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}),
                          :page 1},
               :content {:text "We identify a fibroblast progenitor in the subcutaneous fascia that controls the spatiotemporal features of wound healing by undergoing sequential differentiation into specialized fibroblastic cell types"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4dc4ce-2d24-4b6b-8718-70e2f65acdd3",
               :page 1,
               :position {:bounding {:x1 734.9241781234741,
                                     :y1 1586.2593078613281,
                                     :x2 1347.3343954086304,
                                     :y2 1659.706298828125,
                                     :width 1428.6624,
                                     :height 1898.0783999999999},
                          :rects ({:x1 792.3798055648804,
                                   :y1 1586.2593078613281,
                                   :x2 1347.3343954086304,
                                   :y2 1608.0774841308594,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1612.07373046875,
                                   :x2 1347.1030721664429,
                                   :y2 1633.8919067382812,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1637.8881225585938,
                                   :x2 1087.7526082992554,
                                   :y2 1659.706298828125,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}),
                          :page 1},
               :content {:text "we sequenced the mesenchymal-enriched fraction from the inflammatory (1 and 3 dpi), proliferation (5 and 7 dpi) and remodelling phases of wound healing (14 and 27 dpi)"},
               :properties {:color "red"}}
              {:id #uuid "6a4dc6ac-7806-4aea-8ef2-2d71bbb7fa23",
               :page 2,
               :position {:bounding {:x1 95.31249141693115,
                                     :y1 1250.8900146484375,
                                     :x2 707.2106771469116,
                                     :y2 1298.5226440429688,
                                     :width 1428.6624,
                                     :height 1898.0783999999999},
                          :rects ({:x1 251.50916957855225,
                                   :y1 1250.8900146484375,
                                   :x2 707.2106771469116,
                                   :y2 1272.708251953125,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 95.31249141693115,
                                   :y1 1276.7044067382812,
                                   :x2 219.87528896331787,
                                   :y2 1298.5226440429688,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}),
                          :page 2},
               :content {:text "papillary fibroblasts do not contribute to the wound fibroblast poo"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4dc718-b66c-471f-8258-d3470c8081c5",
               :page 2,
               :position {:bounding {:x1 734.9241781234741,
                                     :y1 631.7612915039062,
                                     :x2 1347.3555135726929,
                                     :y2 679.3939208984375,
                                     :width 1428.6624,
                                     :height 1898.0783999999999},
                          :rects ({:x1 1281.6509237289429,
                                   :y1 631.7612915039062,
                                   :x2 1347.3555135726929,
                                   :y2 653.5795288085938,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 657.57568359375,
                                   :x2 797.9088582992554,
                                   :y2 679.3939208984375,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}),
                          :page 2},
               :content {:text "oxygen sensing"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4dc97d-22ea-4f5e-8c9f-17559e07fb4c",
               :page 18,
               :position {:bounding {:x1 310.93939304351807,
                                     :y1 1195.84765625,
                                     :x2 1113.939393043518,
                                     :y2 1478.84765625,
                                     :width 1428.6624,
                                     :height 1898.0783999999999},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1783482748352},
               :properties {:color "yellow"}}
              {:id #uuid "6a4dc99a-215a-4b6a-8bad-902bbefe4284",
               :page 2,
               :position {:bounding {:x1 734.9241781234741,
                                     :y1 812.4525604248047,
                                     :x2 1347.2163534164429,
                                     :y2 860.0851898193359,
                                     :width 1428.6624,
                                     :height 1898.0783999999999},
                          :rects ({:x1 844.6284627914429,
                                   :y1 812.4525604248047,
                                   :x2 1347.2163534164429,
                                   :y2 834.2707977294922,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 838.2669525146484,
                                   :x2 791.9947957992554,
                                   :y2 860.0851898193359,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}),
                          :page 2},
               :content {:text "migration, oxygen sensing, adhesion and collagen productio"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4dc9ac-8588-44dc-8a26-15bc0f633c72",
               :page 2,
               :position {:bounding {:x1 95.31249141693115,
                                     :y1 1379.9525146484375,
                                     :x2 707.6340246200562,
                                     :y2 1479.2044067382812,
                                     :width 1428.6624,
                                     :height 1898.0783999999999},
                          :rects ({:x1 106.20703029632568,
                                   :y1 1379.9525146484375,
                                   :x2 707.2722768783569,
                                   :y2 1401.7706909179688,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 95.31249141693115,
                                   :y1 1405.7669067382812,
                                   :x2 707.6340246200562,
                                   :y2 1427.5850830078125,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 95.31249141693115,
                                   :y1 1431.581298828125,
                                   :x2 707.5075597763062,
                                   :y2 1453.3994750976562,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 95.31249141693115,
                                   :y1 1457.38623046875,
                                   :x2 265.2721166610718,
                                   :y2 1479.2044067382812,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}),
                          :page 2},
               :content {:text "roinflammatory fibroblast cluster derived exclusively from the fascia cluster, suggesting that proinflammatory, proto-myofibroblasts and myofibroblasts follow a sequential lineage trajectory that emerges from the fascia fibroblast"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4dc9ed-efcb-4346-bf8c-8250ff5cc009",
               :page 2,
               :position {:bounding {:x1 734.9241781234741,
                                     :y1 1404.4696044921875,
                                     :x2 1347.3850545883179,
                                     :y2 1479.2044677734375,
                                     :width 1428.6624,
                                     :height 1898.0783999999999},
                          :rects ({:x1 986.0037069320679,
                                   :y1 1404.4696044921875,
                                   :x2 995.9753255844116,
                                   :y2 1417.1968994140625,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 941.3891439437866,
                                   :y1 1405.7669677734375,
                                   :x2 985.9795370101929,
                                   :y2 1427.5851440429688,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 996.5813436508179,
                                   :y1 1405.7669677734375,
                                   :x2 1347.3850545883179,
                                   :y2 1427.5851440429688,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 879.2612752914429,
                                   :y1 1430.2839965820312,
                                   :x2 889.0908651351929,
                                   :y2 1443.0112915039062,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 965.2840414047241,
                                   :y1 1430.2839965820312,
                                   :x2 975.1135702133179,
                                   :y2 1443.0112915039062,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1431.5813598632812,
                                   :x2 1347.1244344711304,
                                   :y2 1453.3995361328125,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1457.38623046875,
                                   :x2 1191.2902059555054,
                                   :y2 1479.2044677734375,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}),
                          :page 2},
               :content {:text "DPN+ proinflammatory and phosphorylated activated STAT3 + (pSTAT3 + ) proto-myofibroblasts peaked during the first transition at 3 dpi and declined at later timepoin"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4dc9f5-05ee-4c38-9e6b-72df16b6cb77",
               :page 2,
               :position {:bounding {:x1 734.9241781234741,
                                     :y1 1610.785888671875,
                                     :x2 1347.2926473617554,
                                     :y2 1659.7063598632812,
                                     :width 1428.6624,
                                     :height 1898.0783999999999},
                          :rects ({:x1 1213.4941854476929,
                                   :y1 1610.785888671875,
                                   :x2 1223.3332967758179,
                                   :y2 1623.51318359375,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 1098.3152303695679,
                                   :y1 1612.0737915039062,
                                   :x2 1347.2926473617554,
                                   :y2 1633.8919677734375,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1637.88818359375,
                                   :x2 1326.6283407211304,
                                   :y2 1659.7063598632812,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}),
                          :page 2},
               :content {:text "t 3 dpi, PDPN + proinflammatory fibroblasts were confined to the wound bed and upper woun"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4dc9fd-68af-4c70-b16b-5493111ebc28",
               :page 2,
               :position {:bounding {:x1 734.9241781234741,
                                     :y1 1714.0339965820312,
                                     :x2 1347.1649618148804,
                                     :y2 1762.9544067382812,
                                     :width 1428.6624,
                                     :height 1898.0783999999999},
                          :rects ({:x1 869.1097860336304,
                                   :y1 1714.0339965820312,
                                   :x2 878.7972860336304,
                                   :y2 1726.76123046875,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1715.3313598632812,
                                   :x2 1347.1649618148804,
                                   :y2 1737.1495361328125,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1741.13623046875,
                                   :x2 1136.4999227523804,
                                   :y2 1762.9544067382812,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}),
                          :page 2},
               :content {:text "at 7 dpi, RUNX2 + myofibroblasts clearly localized in upper wound compartments, with minimal presence in deep wou"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4dca61-c89f-4e11-90e7-00ce0b8d6846",
               :page 4,
               :position {:bounding {:x1 95.31249141693115,
                                     :y1 373.8257141113281,
                                     :x2 708.0207967758179,
                                     :y2 447.2726745605469,
                                     :width 1428.6624,
                                     :height 1898.0783999999999},
                          :rects ({:x1 202.10278224945068,
                                   :y1 373.8257141113281,
                                   :x2 708.0207967758179,
                                   :y2 395.6438903808594,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 249.21400356292725,
                                   :y1 398.3428039550781,
                                   :x2 263.55384731292725,
                                   :y2 411.0700378417969,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 95.31249141693115,
                                   :y1 399.6401062011719,
                                   :x2 249.3936071395874,
                                   :y2 421.4582824707031,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 263.36173915863037,
                                   :y1 399.6401062011719,
                                   :x2 707.8097372055054,
                                   :y2 421.4582824707031,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 95.31249141693115,
                                   :y1 425.4544982910156,
                                   :x2 442.2043676376343,
                                   :y2 447.2726745605469,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}),
                          :page 4},
               :content {:text "though CD201 has been reported as a marker of haematopoietic stem cells30, we observed no tdTomato expression on immune cells in the bone marrow or skin woun"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4dca7d-29b2-4e19-b6cf-5cfa1c2e9529",
               :page 4,
               :position {:bounding {:x1 95.31249141693115,
                                     :y1 760.8238220214844,
                                     :x2 707.7318029403687,
                                     :y2 860.0851440429688,
                                     :width 1428.6624,
                                     :height 1898.0783999999999},
                          :rects ({:x1 452.9145040512085,
                                   :y1 760.8238220214844,
                                   :x2 706.6592245101929,
                                   :y2 782.6419677734375,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 278.93937587738037,
                                   :y1 785.350341796875,
                                   :x2 288.7689046859741,
                                   :y2 798.0775756835938,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 95.31249141693115,
                                   :y1 786.63818359375,
                                   :x2 707.6087484359741,
                                   :y2 808.4563598632812,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 95.31249141693115,
                                   :y1 812.4525756835938,
                                   :x2 707.7318029403687,
                                   :y2 834.270751953125,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 95.31249141693115,
                                   :y1 838.2669677734375,
                                   :x2 485.6577978134155,
                                   :y2 860.0851440429688,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}),
                          :page 4},
               :content {:text "temporal shift in marker gene expression of CD201+ fascia fibroblasts indicates that their transition into proinflammatory and to myofibroblasts occurs in synchrony to the progression of the wound healing phase"},
               :properties {:color "green"}}],
 :extra {:page 4}}
