{:highlights [{:id #uuid "6a4dc4b3-db78-4339-86cc-11944431a105",
               :page 1,
               :position {:bounding {:x1 734.9241781234741,
                                     :y1 1225.07568359375,
                                     :x2 1347.2382040023804,
                                     :y2 1324.3370361328125,
                                     :width 1428.6624,
                                     :height 1898.0783999999999},
                          :rects ({:x1 1089.4097127914429,
                                   :y1 1225.07568359375,
                                   :x2 1346.8086385726929,
                                   :y2 1246.8938598632812,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1250.8900756835938,
                                   :x2 1347.2382040023804,
                                   :y2 1272.708251953125,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1276.7044677734375,
                                   :x2 1346.9438924789429,
                                   :y2 1298.5226440429688,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1302.5188598632812,
                                   :x2 1072.4553670883179,
                                   :y2 1324.3370361328125,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}),
                          :page 1},
               :content {:text "We identify a fibroblast progenitor in the subcutaneous fascia that controls the spatiotemporal features of wound healing by undergoing sequential differentiation into specialized fibroblastic cell types"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4dc4ce-2d24-4b6b-8718-70e2f65acdd3",
               :page 1,
               :position {:bounding {:x1 734.9241781234741,
                                     :y1 1586.2593078613281,
                                     :x2 1347.3343954086304,
                                     :y2 1659.706298828125,
                                     :width 1428.6624,
                                     :height 1898.0783999999999},
                          :rects ({:x1 792.3798055648804,
                                   :y1 1586.2593078613281,
                                   :x2 1347.3343954086304,
                                   :y2 1608.0774841308594,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1612.07373046875,
                                   :x2 1347.1030721664429,
                                   :y2 1633.8919067382812,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}
                                  {:x1 734.9241781234741,
                                   :y1 1637.8881225585938,
                                   :x2 1087.7526082992554,
                                   :y2 1659.706298828125,
                                   :width 1428.6624,
                                   :height 1898.0783999999999}),
                          :page 1},
               :content {:text "we sequenced the mesenchymal-enriched fraction from the inflammatory (1 and 3 dpi), proliferation (5 and 7 dpi) and remodelling phases of wound healing (14 and 27 dpi)"},
               :properties {:color "red"}}],
 :extra {:page 2}}
