{:highlights [{:id #uuid "6a47accc-d3cf-40ae-b18f-12fe437b09d1",
               :page 3,
               :position {:bounding {:x1 633,
                                     :y1 328,
                                     :x2 852,
                                     :y2 542,
                                     :width 892.9999999999999,
                                     :height 1173.6829049475903},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1783082188465},
               :properties {:color "yellow"}}
              {:id #uuid "6a47ad83-f8b5-407a-9876-0c95c20d6624",
               :page 3,
               :position {:bounding {:x1 459.265625,
                                     :y1 685.4375,
                                     :x2 838.031005859375,
                                     :y2 779.4765625,
                                     :width 892.9999999999999,
                                     :height 1173.6829049475903},
                          :rects ({:x1 693.4315795898438,
                                   :y1 685.4375,
                                   :x2 837.7412719726562,
                                   :y2 700.9375,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 701.046875,
                                   :x2 838.0062255859375,
                                   :y2 716.546875,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 716.78125,
                                   :x2 838.031005859375,
                                   :y2 732.28125,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 732.625,
                                   :x2 837.2119750976562,
                                   :y2 748.125,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 748.2421875,
                                   :x2 837.9791870117188,
                                   :y2 763.7421875,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 763.9765625,
                                   :x2 475.592041015625,
                                   :y2 779.4765625,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}),
                          :page 3},
               :content {:text "e conclude that from E16.5 the developing dermis undergoes fate restriction such that cells in the upper dermis that express Lrig1 or Blimp1 give rise to the dermal papilla, APM and papillary fibroblasts, whereas Dlk1-positive cells in the lower dermis give rise to the reticular dermis, hypodermis and adi"},
               :properties {:color "yellow"}}
              {:id #uuid "6a47ad9b-c8d9-47ea-b2d1-8596805d9efb",
               :page 1,
               :position {:bounding {:x1 459.265625,
                                     :y1 472.9375,
                                     :x2 838.0003662109375,
                                     :y2 647.75,
                                     :width 892.9999999999999,
                                     :height 1173.6829049475903},
                          :rects ({:x1 504.14727783203125,
                                   :y1 472.9375,
                                   :x2 836.3046875,
                                   :y2 488.4375,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 489.0234375,
                                   :x2 837.8709716796875,
                                   :y2 504.5234375,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 504.875,
                                   :x2 837.8729248046875,
                                   :y2 520.375,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 591.6953125,
                                   :y1 505.0234375,
                                   :x2 595.6328125,
                                   :y2 513.5234375,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 520.8359375,
                                   :x2 837.975830078125,
                                   :y2 536.3359375,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 536.6875,
                                   :x2 837.977783203125,
                                   :y2 552.1875,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 552.65625,
                                   :x2 837.9871215820312,
                                   :y2 568.15625,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 568.6171875,
                                   :x2 837.9029541015625,
                                   :y2 584.1171875,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 584.46875,
                                   :x2 837.8749389648438,
                                   :y2 599.96875,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 600.4375,
                                   :x2 837.890625,
                                   :y2 615.9375,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 616.2890625,
                                   :x2 838.0003662109375,
                                   :y2 631.7890625,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 632.25,
                                   :x2 818.103759765625,
                                   :y2 647.75,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}),
                          :page 1},
               :content {:text "an-fibroblast marker platelet-derived growth factor receptor-a(Pdgfr-a) is expressed in both the upper and lower dermis at all stages of development (Fig. 1b)8. By contrast, there were temporal and spatial changes in the expression of 18 other fibroblast markers (Fig. 1b, c and Extended Data Figs 1–3). From E16.5, CD26 (also known as Dpp4) and B-lymphocyte-induced maturation protein 1 (Blimp1, also known as Prdm1) were selectively expressed in the upper dermis, whereas Sca1(also known as Ly6a) was selectively expressed in the lower dermis. Delta-like homologue 1 (Dlk1) and leucine-rich repeats and immunoglobulin-like domains protein 1 (Lrig1) were expressed throughout the dermis at E12.5, with Dlk1 expression persisting in the lower der"},
               :properties {:color "yellow"}}
              {:id #uuid "6a47adc6-b7b9-4bb9-8cb0-69d65e129845",
               :page 3,
               :position {:bounding {:x1 63.7578125,
                                     :y1 685.90625,
                                     :x2 442.5965881347656,
                                     :y2 764.09375,
                                     :width 892.9999999999999,
                                     :height 1173.6829049475903},
                          :rects ({:x1 117.47361755371094,
                                   :y1 685.90625,
                                   :x2 442.51768493652344,
                                   :y2 701.40625,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 63.84375,
                                   :y1 701.515625,
                                   :x2 442.5965881347656,
                                   :y2 717.015625,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 63.84375,
                                   :y1 717.25,
                                   :x2 398.1073913574219,
                                   :y2 732.75,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 416.4921875,
                                   :y1 717.25,
                                   :x2 442.36273193359375,
                                   :y2 732.75,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 397.9140625,
                                   :y1 717.3984375,
                                   :x2 416.6205749511719,
                                   :y2 725.8984375,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 63.7578125,
                                   :y1 732.8671875,
                                   :x2 442.4522705078125,
                                   :y2 748.3671875,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 63.7578125,
                                   :y1 748.59375,
                                   :x2 273.25482177734375,
                                   :y2 764.09375,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}),
                          :page 3},
               :content {:text "t performed lineage tracing with Blimp1-Cre. Between E16.5 and E18.5, Blimp1 was expressed in the dermal papilla, dermal sheath and papillary dermis (Fig. 1c and Extended Data Fig. 7d, e)12,13, but from P2 through adulthood dermal Blimp1 expression was confined to the dermal papilla and dermal sheat"},
               :properties {:color "yellow"}}
              {:id #uuid "6a47adcd-f0f0-4314-8d2b-5c20293aa9c3",
               :page 3,
               :position {:bounding {:x1 63.7578125,
                                     :y1 622.5078125,
                                     :x2 442.5054016113281,
                                     :y2 653.7421875,
                                     :width 892.9999999999999,
                                     :height 1173.6829049475903},
                          :rects ({:x1 152.60897827148438,
                                   :y1 622.5078125,
                                   :x2 442.5054016113281,
                                   :y2 638.0078125,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 63.7578125,
                                   :y1 638.2421875,
                                   :x2 384.48016357421875,
                                   :y2 653.7421875,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}),
                          :page 3},
               :content {:text "E16.5 dermal fate restriction occurs, such that cells expressing Dlk1 only give rise to the lower dermal lineage"},
               :properties {:color "yellow"}}
              {:id #uuid "6a47adea-512e-4f50-9c73-73b41c7dd095",
               :page 3,
               :position {:bounding {:x1 459.265625,
                                     :y1 937.375,
                                     :x2 838.00634765625,
                                     :y2 984.21875,
                                     :width 892.9999999999999,
                                     :height 1173.6829049475903},
                          :rects ({:x1 548.9390869140625,
                                   :y1 937.375,
                                   :x2 838.00634765625,
                                   :y2 952.875,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 952.9921875,
                                   :x2 772.1710815429688,
                                   :y2 968.4921875,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 782.53125,
                                   :y1 952.9921875,
                                   :x2 837.8440551757812,
                                   :y2 968.4921875,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 771.9921875,
                                   :y1 953.25,
                                   :x2 782.4453125,
                                   :y2 961.75,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 968.71875,
                                   :x2 617.4967651367188,
                                   :y2 984.21875,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}),
                          :page 3},
               :content {:text "ge proportion of wound fibroblasts, including cells that expressed the myofibroblast marker a-smooth muscle actin19 (Extended Data Fig. 10b), were tdToma"},
               :properties {:color "yellow"}}
              {:id #uuid "6a47ae06-178a-45f0-b18f-e36cdd8d37d2",
               :page 3,
               :position {:bounding {:x1 459.0859375,
                                     :y1 890.1796875,
                                     :x2 837.650634765625,
                                     :y2 921.4140625,
                                     :width 892.9999999999999,
                                     :height 1173.6829049475903},
                          :rects ({:x1 714.6766967773438,
                                   :y1 890.1796875,
                                   :x2 837.650634765625,
                                   :y2 905.6796875,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.0859375,
                                   :y1 905.9140625,
                                   :x2 582.9801635742188,
                                   :y2 921.4140625,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}),
                          :page 3},
               :content {:text "ealing in Dlk1-CreER3 LSL-tdTomato mice"},
               :properties {:color "yellow"}}
              {:id #uuid "6a47ae10-cb2e-461a-bf21-99541b3bd763",
               :page 3,
               :position {:bounding {:x1 459.265625,
                                     :y1 1000.1796875,
                                     :x2 837.930908203125,
                                     :y2 1031.4140625,
                                     :width 892.9999999999999,
                                     :height 1173.6829049475903},
                          :rects ({:x1 679.9376220703125,
                                   :y1 1000.1796875,
                                   :x2 837.930908203125,
                                   :y2 1015.6796875,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 484,
                                   :y1 1013.453125,
                                   :x2 494.984375,
                                   :y2 1023.953125,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 459.265625,
                                   :y1 1015.9140625,
                                   :x2 484.1637878417969,
                                   :y2 1031.4140625,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 495.078125,
                                   :y1 1015.9140625,
                                   :x2 704.67236328125,
                                   :y2 1031.4140625,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}),
                          :page 3},
               :content {:text "even days after wounding no GFP1 fibroblasts were present in the wound b"},
               :properties {:color "yellow"}}
              {:id #uuid "6a47ae6e-d0a4-4ea6-8541-34f1a62f48cb",
               :page 4,
               :position {:bounding {:x1 450.78125,
                                     :y1 775.4765625,
                                     :x2 829.562255859375,
                                     :y2 807.0625,
                                     :width 892.9999999999999,
                                     :height 1173.6829049475903},
                          :rects ({:x1 565.733642578125,
                                   :y1 775.4765625,
                                   :x2 829.562255859375,
                                   :y2 790.9765625,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}
                                  {:x1 450.78125,
                                   :y1 791.5625,
                                   :x2 814.7314453125,
                                   :y2 807.0625,
                                   :width 892.9999999999999,
                                   :height 1173.6829049475903}),
                          :page 4},
               :content {:text "creased number of cells marked by Blimp1-Cre(Fig. 4n) and a pronounced stimulation of hair follicle formati"},
               :properties {:color "yellow"}}
              {:id #uuid "6a47af03-02e6-44f5-bb39-e7c68b17db00",
               :page 16,
               :position {:bounding {:x1 59,
                                     :y1 73,
                                     :x2 809,
                                     :y2 366,
                                     :width 892.9999999999999,
                                     :height 1173.6829049475903},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1783082755609},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
