{:highlights [{:id #uuid "68d5f5e0-0f9d-45e9-8acc-e872d3d2b1a6",
               :page 1,
               :position {:bounding {:x1 114.65908432006836,
                                     :y1 1010.5681762695312,
                                     :x2 875.5176887512207,
                                     :y2 1056.57666015625,
                                     :width 998.4,
                                     :height 1459.2},
                          :rects ({:x1 295.2982978820801,
                                   :y1 1010.5681762695312,
                                   :x2 426.7187385559082,
                                   :y2 1031.4772338867188,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 438.6079292297363,
                                   :y1 1010.5681762695312,
                                   :x2 553.5652961730957,
                                   :y2 1031.4772338867188,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 575.7386360168457,
                                   :y1 1010.5681762695312,
                                   :x2 609.2471199035645,
                                   :y2 1031.4772338867188,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 619.744312286377,
                                   :y1 1010.5681762695312,
                                   :x2 684.5027961730957,
                                   :y2 1031.4772338867188,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 703.181812286377,
                                   :y1 1010.5681762695312,
                                   :x2 798.0681648254395,
                                   :y2 1031.4772338867188,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 815.7527961730957,
                                   :y1 1010.5681762695312,
                                   :x2 875.5176887512207,
                                   :y2 1031.4772338867188,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 114.65908432006836,
                                   :y1 1035.6676025390625,
                                   :x2 159.55965042114258,
                                   :y2 1056.57666015625,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 169.9573860168457,
                                   :y1 1035.6676025390625,
                                   :x2 217.3437385559082,
                                   :y2 1056.57666015625,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 229.2329444885254,
                                   :y1 1035.6676025390625,
                                   :x2 341.5909004211426,
                                   :y2 1056.57666015625,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 373.6363410949707,
                                   :y1 1035.6676025390625,
                                   :x2 452.1590766906738,
                                   :y2 1056.57666015625,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 508.6789741516113,
                                   :y1 1035.6676025390625,
                                   :x2 603.1675910949707,
                                   :y2 1056.57666015625,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 632.0312385559082,
                                   :y1 1035.6676025390625,
                                   :x2 768.1249885559082,
                                   :y2 1056.57666015625,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 782.5283699035645,
                                   :y1 1035.6676025390625,
                                   :x2 837.9620246887207,
                                   :y2 1056.57666015625,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 472.3437385559082,
                                   :y1 1037.4147338867188,
                                   :x2 497.2016792297363,
                                   :y2 1056.5056762695312,
                                   :width 998.4,
                                   :height 1459.2}),
                          :page 1},
               :content {:text "in the presence of L-arabinose (the inducer) the product of gene araC. called an “activator”, stimulates the transcription of the ara BAD operon."},
               :properties {:color "yellow"}}
              {:id #uuid "68d5f86b-c8ce-45f3-a6e1-782a552ce9ea",
               :page 1,
               :position {:bounding {:x1 115.15624237060547,
                                     :y1 1292.1590881347656,
                                     :x2 879.2393188476562,
                                     :y2 1338.7357788085938,
                                     :width 998.4,
                                     :height 1459.2},
                          :rects ({:x1 426.335205078125,
                                   :y1 1292.1590881347656,
                                   :x2 580.1135864257812,
                                   :y2 1313.0681762695312,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 596.1931762695312,
                                   :y1 1292.1590881347656,
                                   :x2 706.5482788085938,
                                   :y2 1313.0681762695312,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 723.13916015625,
                                   :y1 1292.1590881347656,
                                   :x2 803.2670288085938,
                                   :y2 1313.0681762695312,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 818.8494262695312,
                                   :y1 1292.1590881347656,
                                   :x2 879.2393188476562,
                                   :y2 1313.0681762695312,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 115.15624237060547,
                                   :y1 1317.82666015625,
                                   :x2 189.19033813476562,
                                   :y2 1338.7357788085938,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 203.1818084716797,
                                   :y1 1317.82666015625,
                                   :x2 250.46873474121094,
                                   :y2 1338.7357788085938,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 263.06817626953125,
                                   :y1 1317.82666015625,
                                   :x2 311.34942626953125,
                                   :y2 1338.7357788085938,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 324.94317626953125,
                                   :y1 1317.82666015625,
                                   :x2 429.2187194824219,
                                   :y2 1338.7357788085938,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 447.3011169433594,
                                   :y1 1317.82666015625,
                                   :x2 479.2187194824219,
                                   :y2 1338.7357788085938,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 490.3124694824219,
                                   :y1 1317.82666015625,
                                   :x2 583.8068237304688,
                                   :y2 1338.7357788085938,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 605.9801025390625,
                                   :y1 1317.82666015625,
                                   :x2 737.4005126953125,
                                   :y2 1338.7357788085938,
                                   :width 998.4,
                                   :height 1459.2}
                                  {:x1 748.1959838867188,
                                   :y1 1317.82666015625,
                                   :x2 858.5985107421875,
                                   :y2 1338.7357788085938,
                                   :width 998.4,
                                   :height 1459.2}),
                          :page 1},
               :content {:text "araC gene product was therefore concluded to be a repressor which would be converted into an activator in the presence of I,-arabinose"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
