{:highlights [{:id #uuid "68f81c73-81a4-4163-a25e-eadeed40eca8",
               :page 1,
               :position {:bounding {:x1 86.7578125,
                                     :y1 606.78125,
                                     :x2 372.92266845703125,
                                     :y2 637.53125,
                                     :width 734.4,
                                     :height 950.4},
                          :rects ({:x1 111.6549301147461,
                                   :y1 606.78125,
                                   :x2 372.92266845703125,
                                   :y2 624.78125,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 86.7578125,
                                   :y1 621.53125,
                                   :x2 332.5368957519531,
                                   :y2 637.53125,
                                   :width 734.4,
                                   :height 950.4}),
                          :page 1},
               :content {:text "ecreted proteins are initially synthesized as precursors with an extra amino acid sequence at their NH2-termin"},
               :properties {:color "yellow"}}
              {:id #uuid "68f81c7b-d04d-4dee-be08-33150d3a0af2",
               :page 1,
               :position {:bounding {:x1 87.1953125,
                                     :y1 633.40625,
                                     :x2 373.07879638671875,
                                     :y2 676.3671875,
                                     :width 734.4,
                                     :height 950.4},
                          :rects ({:x1 167.90103149414062,
                                   :y1 633.40625,
                                   :x2 372.9377136230469,
                                   :y2 649.90625,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 87.1953125,
                                   :y1 644.96875,
                                   :x2 373.07879638671875,
                                   :y2 663.46875,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 87.1953125,
                                   :y1 658.8671875,
                                   :x2 138.7921142578125,
                                   :y2 676.3671875,
                                   :width 734.4,
                                   :height 950.4}),
                          :page 1},
               :content {:text "quence is composed of predominately hydrophobic amino acids and is referred to as the \"signal sequence.\" A"},
               :properties {:color "yellow"}}
              {:id #uuid "68f81cb4-8b97-45d0-b81e-ceb5fe45cb9f",
               :page 1,
               :position {:bounding {:x1 88.296875,
                                     :y1 720.59375,
                                     :x2 374.7877197265625,
                                     :y2 762.859375,
                                     :width 734.4,
                                     :height 950.4},
                          :rects ({:x1 144.47103881835938,
                                   :y1 720.59375,
                                   :x2 374.29052734375,
                                   :y2 738.09375,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 88.3671875,
                                   :y1 734.296875,
                                   :x2 374.7877197265625,
                                   :y2 751.796875,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 88.296875,
                                   :y1 746.359375,
                                   :x2 132.0139923095703,
                                   :y2 762.859375,
                                   :width 734.4,
                                   :height 950.4}),
                          :page 1},
               :content {:text "ing the transfer process, giving rise to the final protein product, which is localized on the opposite side of the membran"},
               :properties {:color "yellow"}}
              {:id #uuid "68f81cd4-0f79-4ea3-a3e5-99654addb449",
               :page 1,
               :position {:bounding {:x1 398.3359375,
                                     :y1 218.734375,
                                     :x2 685.9423828125,
                                     :y2 261.7890625,
                                     :width 734.4,
                                     :height 950.4},
                          :rects ({:x1 513.6347045898438,
                                   :y1 218.734375,
                                   :x2 685.9423828125,
                                   :y2 235.234375,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 398.3359375,
                                   :y1 231.5546875,
                                   :x2 685.844970703125,
                                   :y2 249.0546875,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 398.484375,
                                   :y1 243.7890625,
                                   :x2 435.9549865722656,
                                   :y2 261.7890625,
                                   :width 734.4,
                                   :height 950.4}),
                          :page 1},
               :content {:text "ecent studies with E. coli indicate that noncytoplasmic proteins are synthesized on membrane-bound polysom"},
               :properties {:color "yellow"}}
              {:id #uuid "68f81d09-9100-4e78-ba9e-8babff62a9d8",
               :page 1,
               :position {:bounding {:x1 399.21875,
                                     :y1 346.5078125,
                                     :x2 686.8330078125,
                                     :y2 403.3828125,
                                     :width 734.4,
                                     :height 950.4},
                          :rects ({:x1 663.0780029296875,
                                   :y1 346.5078125,
                                   :x2 686.730224609375,
                                   :y2 363.0078125,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 399.3671875,
                                   :y1 360.5625,
                                   :x2 686.8330078125,
                                   :y2 377.0625,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 399.21875,
                                   :y1 373.6796875,
                                   :x2 686.4093627929688,
                                   :y2 390.1796875,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 399.3671875,
                                   :y1 386.8828125,
                                   :x2 521.6597290039062,
                                   :y2 403.3828125,
                                   :width 734.4,
                                   :height 950.4}),
                          :page 1},
               :content {:text "trains have been constructed in which various portions of the lamB gene, which codes for X receptor, an outer membrane protein, are fused to the lacZ gen"},
               :properties {:color "red"}}
              {:id #uuid "68f81d3f-3810-4948-8992-b6a0febb2f18",
               :page 1,
               :position {:bounding {:x1 460.140625,
                                     :y1 557.125,
                                     :x2 629.6883544921875,
                                     :y2 573.625,
                                     :width 734.4,
                                     :height 950.4},
                          :rects ({:x1 460.140625,
                                   :y1 557.125,
                                   :x2 629.6883544921875,
                                   :y2 573.625,
                                   :width 734.4,
                                   :height 950.4}),
                          :page 1},
               :content {:text "MATERIALS AND METHODS"},
               :properties {:color "purple"}}
              {:id #uuid "68f81dbb-2b35-416c-89f8-03a5a6f9c662",
               :page 2,
               :position {:bounding {:x1 52.625,
                                     :y1 365.671875,
                                     :x2 326.27691650390625,
                                     :y2 395.9296875,
                                     :width 734.4,
                                     :height 950.4},
                          :rects ({:x1 52.625,
                                   :y1 365.671875,
                                   :x2 326.27691650390625,
                                   :y2 383.671875,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 52.84375,
                                   :y1 378.4296875,
                                   :x2 153.1982421875,
                                   :y2 395.9296875,
                                   :width 734.4,
                                   :height 950.4}),
                          :page 2},
               :content {:text "Selection of mutants altered in localization of lamBlacZ hybrid protein"},
               :properties {:color "purple"}}
              {:id #uuid "68f81df7-8751-4563-97c7-250c72254ecf",
               :page 2,
               :position {:bounding {:x1 51.890625,
                                     :y1 395.59375,
                                     :x2 338.0942687988281,
                                     :y2 439.0546875,
                                     :width 734.4,
                                     :height 950.4},
                          :rects ({:x1 162.31228637695312,
                                   :y1 395.59375,
                                   :x2 338.0096130371094,
                                   :y2 413.59375,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 52.0390625,
                                   :y1 409.3984375,
                                   :x2 338.0942687988281,
                                   :y2 427.3984375,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 51.890625,
                                   :y1 421.5546875,
                                   :x2 112.01457214355469,
                                   :y2 439.0546875,
                                   :width 734.4,
                                   :height 950.4}),
                          :page 2},
               :content {:text "mB-lacZ gene fusion present in strain pop3186 is induced by maltose, as is A receptor synthesis in the wild-type str"},
               :properties {:color "red"}}
              {:id #uuid "68f81e1a-acf1-47b6-844c-4a8078b4fc4d",
               :page 2,
               :position {:bounding {:x1 51.5234375,
                                     :y1 446.3515625,
                                     :x2 337.4218444824219,
                                     :y2 476.390625,
                                     :width 734.4,
                                     :height 950.4},
                          :rects ({:x1 198.79115295410156,
                                   :y1 446.3515625,
                                   :x2 337.4218444824219,
                                   :y2 463.8515625,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 51.5234375,
                                   :y1 458.890625,
                                   :x2 324.3669738769531,
                                   :y2 476.390625,
                                   :width 734.4,
                                   :height 950.4}),
                          :page 2},
               :content {:text "rowth of pop3186 is strongly inhibited by the addition of inducer to the growth mediu"},
               :properties {:color "red"}}],
 :extra {:page 2}}
