{:highlights [{:id #uuid "68d5ced8-239a-4d96-b0a6-976aa8b60c04",
               :page 1,
               :position {:bounding {:x1 130.59659004211426,
                                     :y1 849.54541015625,
                                     :x2 825.5482959747314,
                                     :y2 903.0823974609375,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 327.8674793243408,
                                   :y1 849.54541015625,
                                   :x2 825.5482959747314,
                                   :y2 877.7272338867188,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 130.59659004211426,
                                   :y1 874.9005737304688,
                                   :x2 603.6132373809814,
                                   :y2 903.0823974609375,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 1},
               :content {:text "ndicating that gene araC controls in a positive fashion the expression of the structural genes in this system"},
               :properties {:color "yellow"}}
              {:id #uuid "68d5cef7-b3d6-4dec-989e-1cefdd87e1a0",
               :page 1,
               :position {:bounding {:x1 130.78125190734863,
                                     :y1 898.6363525390625,
                                     :x2 826.443193435669,
                                     :y2 1000.2415161132812,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 666.3210010528564,
                                   :y1 898.6363525390625,
                                   :x2 826.0905323028564,
                                   :y2 925.9090576171875,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 131.06534004211426,
                                   :y1 923.5510864257812,
                                   :x2 826.443193435669,
                                   :y2 950.8238525390625,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 130.78125190734863,
                                   :y1 947.428955078125,
                                   :x2 826.050371170044,
                                   :y2 975.6107788085938,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 131.06534004211426,
                                   :y1 971.1505737304688,
                                   :x2 692.743486404419,
                                   :y2 1000.2415161132812,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 1},
               :content {:text "it has been shown that deletions1-3 and nonsense mutations5 of the C gene lead to the productioM of a pleiotropic-negative phenotype (C-) which is recessive (cis and trans) to both the wild-type (C+) and constitutive (Cc) alleles of that gene"},
               :properties {:color "green"}}
              {:id #uuid "68d5d186-3625-4f17-b852-94767a4c0117",
               :page 2,
               :position {:bounding {:x1 107.5852222442627,
                                     :y1 365.6107635498047,
                                     :x2 800.8800830841064,
                                     :y2 465.8806610107422,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 764.105058670044,
                                   :y1 365.6107635498047,
                                   :x2 800.3543872833252,
                                   :y2 392.88352966308594,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 108.15340614318848,
                                   :y1 390.39768981933594,
                                   :x2 800.8800830841064,
                                   :y2 417.6704559326172,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 107.5852222442627,
                                   :y1 414.13352966308594,
                                   :x2 800.8481616973877,
                                   :y2 441.4062957763672,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 107.5852222442627,
                                   :y1 438.6079559326172,
                                   :x2 434.57112312316895,
                                   :y2 465.8806610107422,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 2},
               :content {:text "constitutive L-arabinose isomerase levels (see legend, Fig. 2) of most of the former and the basal level of the latter were significantly higher than those found for the corresponding F- haploid strains"},
               :properties {:color "yellow"}}
              {:id #uuid "68d5d189-6dde-439b-ab9b-0d10b2b18234",
               :page 2,
               :position {:bounding {:x1 108.15340614318848,
                                     :y1 342.05967712402344,
                                     :x2 800.1593189239502,
                                     :y2 393.35227966308594,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 571.9176197052002,
                                   :y1 342.05967712402344,
                                   :x2 800.1593189239502,
                                   :y2 369.33238220214844,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 108.15340614318848,
                                   :y1 366.0795135498047,
                                   :x2 511.76558113098145,
                                   :y2 393.35227966308594,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 2},
               :content {:text "merodiploids of the type F'A21+C+/A+ICA719 and F'A2I+C+/A+I+A719"},
               :properties {:color "red"}}
              {:id #uuid "68d5d191-afa9-444a-8781-8bd99e52c812",
               :page 2,
               :position {:bounding {:x1 107.40056800842285,
                                     :y1 438.6079559326172,
                                     :x2 800.6646900177002,
                                     :y2 489.31822204589844,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 541.832353591919,
                                   :y1 438.6079559326172,
                                   :x2 800.6646900177002,
                                   :y2 465.8806610107422,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 107.40056800842285,
                                   :y1 462.0454559326172,
                                   :x2 395.57847785949707,
                                   :y2 489.31822204589844,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 2},
               :content {:text "C- allele was substituted for the C+ in the exogenote (F'A2C3)"},
               :properties {:color "red"}}
              {:id #uuid "68d5d197-c018-42eb-bbb6-ae0978adc9c6",
               :page 2,
               :position {:bounding {:x1 106.74715614318848,
                                     :y1 486.20738220214844,
                                     :x2 799.883134841919,
                                     :y2 586.3210296630859,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 654.1477222442627,
                                   :y1 486.20738220214844,
                                   :x2 799.883134841919,
                                   :y2 513.4800872802734,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 107.21590614318848,
                                   :y1 510.53977966308594,
                                   :x2 799.5637378692627,
                                   :y2 537.8124847412109,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 106.83238410949707,
                                   :y1 533.9772796630859,
                                   :x2 798.568681716919,
                                   :y2 562.1591033935547,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 106.74715614318848,
                                   :y1 558.1392059326172,
                                   :x2 198.79812812805176,
                                   :y2 586.3210296630859,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 2},
               :content {:text "Thus, it appears that the product of the C+ allele, in the absence of inducer, does affect an increase in expression of the araA gene, the structural gene for the L-arabinose isomerase, cis to A719"},
               :properties {:color "green"}}
              {:id #uuid "68d5d3a2-361a-4e81-ac60-96c8f9982217",
               :page 2,
               :position {:bounding {:x1 106.54828834533691,
                                     :y1 680.6391983032227,
                                     :x2 799.9025440216064,
                                     :y2 732.2443008422852,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 386.8018054962158,
                                   :y1 680.6391983032227,
                                   :x2 799.9025440216064,
                                   :y2 707.9119033813477,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 106.54828834533691,
                                   :y1 704.0624771118164,
                                   :x2 597.7855396270752,
                                   :y2 732.2443008422852,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 2},
               :content {:text "as suggested that P1 might be a true repressor and that P1 competes with P2 for the same functional site"},
               :properties {:color "yellow"}}
              {:id #uuid "68d5d3d4-2a0f-4623-9ac6-f75db7ba3b53",
               :page 2,
               :position {:bounding {:x1 106.54828834533691,
                                     :y1 850.4403381347656,
                                     :x2 798.511308670044,
                                     :y2 902.3437194824219,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 302.5994129180908,
                                   :y1 850.4403381347656,
                                   :x2 798.511308670044,
                                   :y2 878.6221008300781,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 106.54828834533691,
                                   :y1 874.1618957519531,
                                   :x2 674.527910232544,
                                   :y2 902.3437194824219,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 2},
               :content {:text "C gene product, P1, produced in the absence of inducer, does exist as a true repressor with a specific site of attachment"},
               :properties {:color "green"}}
              {:id #uuid "68d5d3de-1eaf-46f2-b3b7-7b6f8a9ca9d2",
               :page 2,
               :position {:bounding {:x1 239.6022663116455,
                                     :y1 898.1960144042969,
                                     :x2 590.8200855255127,
                                     :y2 926.3778381347656,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 239.6022663116455,
                                   :y1 898.1960144042969,
                                   :x2 590.8200855255127,
                                   :y2 926.3778381347656,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 2},
               :content {:text "presumed to be in equilibrium with P2"},
               :properties {:color "yellow"}}
              {:id #uuid "68d5d411-c015-4b12-930e-c19483898c81",
               :page 2,
               :position {:bounding {:x1 106.74715614318848,
                                     :y1 994.8863220214844,
                                     :x2 799.3892993927002,
                                     :y2 1070.6533508300781,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 318.35225105285645,
                                   :y1 994.8863220214844,
                                   :x2 799.3892993927002,
                                   :y2 1022.1590270996094,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 106.74715614318848,
                                   :y1 1018.4658508300781,
                                   :x2 799.240556716919,
                                   :y2 1046.6476745605469,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 106.74715614318848,
                                   :y1 1043.3806457519531,
                                   :x2 163.37149238586426,
                                   :y2 1070.6533508300781,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 2},
               :content {:text "It is necessary both for P2 to be present and for P1 to be absent at their respective controlling sites for full expression of the L-arabinose operon"},
               :properties {:color "blue"}}
              {:id #uuid "68d5d45c-0393-49ae-9e7d-c6e5d1b64b23",
               :page 2,
               :position {:bounding {:x1 124.75851631164551,
                                     :y1 1167.04541015625,
                                     :x2 301.35713386535645,
                                     :y2 1195.2272033691406,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 124.75851631164551,
                                   :y1 1167.04541015625,
                                   :x2 301.35713386535645,
                                   :y2 1195.2272033691406,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 2},
               :content {:text "Materials and Method"},
               :properties {:color "red"}}
              {:id #uuid "68d5d57b-fb0d-497a-b90d-1b17afae0894",
               :page 4,
               :position {:bounding {:x1 142.89772033691406,
                                     :y1 1001.6051025390625,
                                     :x2 223.03743743896484,
                                     :y2 1033.4232788085938,
                                     :width 1068.4159773333333,
                                     :height 1670.6239546666666},
                          :rects ({:x1 142.89772033691406,
                                   :y1 1001.6051025390625,
                                   :x2 223.03743743896484,
                                   :y2 1033.4232788085938,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}),
                          :page 4},
               :content {:text "Results"},
               :properties {:color "purple"}}
              {:id #uuid "68d5d5a3-a252-48b6-bbc1-1bd29ac0594e",
               :page 3,
               :position {:bounding {:x1 153.5454559326172,
                                     :y1 493.272705078125,
                                     :x2 973.5454559326172,
                                     :y2 1134.272705078125,
                                     :width 1068.4159773333333,
                                     :height 1670.6239546666666},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1758844322139},
               :properties {:color "red"}}
              {:id #uuid "68d5d631-dc7e-4837-9106-7369d016af29",
               :page 4,
               :position {:bounding {:x1 120.56817245483398,
                                     :y1 1055.7527770996094,
                                     :x2 908.9598159790039,
                                     :y2 1169.85791015625,
                                     :width 1068.4159773333333,
                                     :height 1670.6239546666666},
                          :rects ({:x1 291.78975677490234,
                                   :y1 1055.7527770996094,
                                   :x2 908.1042251586914,
                                   :y2 1087.5709838867188,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}
                                  {:x1 603.6221084594727,
                                   :y1 1059.23291015625,
                                   :x2 629.5027847290039,
                                   :y2 1085.0709838867188,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}
                                  {:x1 842.9687271118164,
                                   :y1 1059.4033508300781,
                                   :x2 860.2130508422852,
                                   :y2 1084.5596008300781,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}
                                  {:x1 792.4431533813477,
                                   :y1 1081.1505126953125,
                                   :x2 908.4663467407227,
                                   :y2 1116.6050720214844,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}
                                  {:x1 121.10794830322266,
                                   :y1 1083.1533508300781,
                                   :x2 769.1476821899414,
                                   :y2 1116.7897338867188,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}
                                  {:x1 744.0624771118164,
                                   :y1 1084.4743957519531,
                                   :x2 789.1902847290039,
                                   :y2 1112.6562194824219,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}
                                  {:x1 405.39771270751953,
                                   :y1 1084.8010864257812,
                                   :x2 552.315315246582,
                                   :y2 1112.6846008300781,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}
                                  {:x1 121.10794830322266,
                                   :y1 1109.8152770996094,
                                   :x2 908.9598159790039,
                                   :y2 1142.5425720214844,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}
                                  {:x1 297.42896270751953,
                                   :y1 1112.5425720214844,
                                   :x2 322.41475677490234,
                                   :y2 1139.7442626953125,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}
                                  {:x1 481.2357864379883,
                                   :y1 1113.8777770996094,
                                   :x2 530.752815246582,
                                   :y2 1139.4885864257812,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}
                                  {:x1 120.56817245483398,
                                   :y1 1136.2215270996094,
                                   :x2 901.9330215454102,
                                   :y2 1169.85791015625,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}
                                  {:x1 674.4318008422852,
                                   :y1 1138.2811889648438,
                                   :x2 764.0340347290039,
                                   :y2 1166.8465270996094,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}
                                  {:x1 202.1590805053711,
                                   :y1 1139.6164245605469,
                                   :x2 235.48294830322266,
                                   :y2 1167.2726745605469,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}
                                  {:x1 389.38919830322266,
                                   :y1 1140.6107482910156,
                                   :x2 435.8238296508789,
                                   :y2 1167.130615234375,
                                   :width 1068.4159773333333,
                                   :height 1670.6239546666666}),
                          :page 4},
               :content {:text "expression of the araA gene cis to deletion 719, there is a large constitutive increase (35 X) in L-arabinose isomerase activity in a merodiploid containing A-C+ in the exogenote, over the isomerase activity of the original haploid F- deletion strain or a merodiploid containing A-C- in the exogenote"},
               :properties {:color "green"}}],
 :extra {:page 4}}
