{:highlights [{:id #uuid "68d5ced8-239a-4d96-b0a6-976aa8b60c04",
               :page 1,
               :position {:bounding {:x1 130.59659004211426,
                                     :y1 849.54541015625,
                                     :x2 825.5482959747314,
                                     :y2 903.0823974609375,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 327.8674793243408,
                                   :y1 849.54541015625,
                                   :x2 825.5482959747314,
                                   :y2 877.7272338867188,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 130.59659004211426,
                                   :y1 874.9005737304688,
                                   :x2 603.6132373809814,
                                   :y2 903.0823974609375,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 1},
               :content {:text "ndicating that gene araC controls in a positive fashion the expression of the structural genes in this system"},
               :properties {:color "yellow"}}
              {:id #uuid "68d5cef7-b3d6-4dec-989e-1cefdd87e1a0",
               :page 1,
               :position {:bounding {:x1 130.78125190734863,
                                     :y1 898.6363525390625,
                                     :x2 826.443193435669,
                                     :y2 1000.2415161132812,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 666.3210010528564,
                                   :y1 898.6363525390625,
                                   :x2 826.0905323028564,
                                   :y2 925.9090576171875,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 131.06534004211426,
                                   :y1 923.5510864257812,
                                   :x2 826.443193435669,
                                   :y2 950.8238525390625,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 130.78125190734863,
                                   :y1 947.428955078125,
                                   :x2 826.050371170044,
                                   :y2 975.6107788085938,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 131.06534004211426,
                                   :y1 971.1505737304688,
                                   :x2 692.743486404419,
                                   :y2 1000.2415161132812,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 1},
               :content {:text "it has been shown that deletions1-3 and nonsense mutations5 of the C gene lead to the productioM of a pleiotropic-negative phenotype (C-) which is recessive (cis and trans) to both the wild-type (C+) and constitutive (Cc) alleles of that gene"},
               :properties {:color "green"}}],
 :extra {:page 1}}
