{:highlights [{:id #uuid "68d5ced8-239a-4d96-b0a6-976aa8b60c04",
               :page 1,
               :position {:bounding {:x1 130.59659004211426,
                                     :y1 849.54541015625,
                                     :x2 825.5482959747314,
                                     :y2 903.0823974609375,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 327.8674793243408,
                                   :y1 849.54541015625,
                                   :x2 825.5482959747314,
                                   :y2 877.7272338867188,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 130.59659004211426,
                                   :y1 874.9005737304688,
                                   :x2 603.6132373809814,
                                   :y2 903.0823974609375,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 1},
               :content {:text "ndicating that gene araC controls in a positive fashion the expression of the structural genes in this system"},
               :properties {:color "yellow"}}
              {:id #uuid "68d5cef7-b3d6-4dec-989e-1cefdd87e1a0",
               :page 1,
               :position {:bounding {:x1 130.78125190734863,
                                     :y1 898.6363525390625,
                                     :x2 826.443193435669,
                                     :y2 1000.2415161132812,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 666.3210010528564,
                                   :y1 898.6363525390625,
                                   :x2 826.0905323028564,
                                   :y2 925.9090576171875,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 131.06534004211426,
                                   :y1 923.5510864257812,
                                   :x2 826.443193435669,
                                   :y2 950.8238525390625,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 130.78125190734863,
                                   :y1 947.428955078125,
                                   :x2 826.050371170044,
                                   :y2 975.6107788085938,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 131.06534004211426,
                                   :y1 971.1505737304688,
                                   :x2 692.743486404419,
                                   :y2 1000.2415161132812,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 1},
               :content {:text "it has been shown that deletions1-3 and nonsense mutations5 of the C gene lead to the productioM of a pleiotropic-negative phenotype (C-) which is recessive (cis and trans) to both the wild-type (C+) and constitutive (Cc) alleles of that gene"},
               :properties {:color "green"}}
              {:id #uuid "68d5d186-3625-4f17-b852-94767a4c0117",
               :page 2,
               :position {:bounding {:x1 107.5852222442627,
                                     :y1 365.6107635498047,
                                     :x2 800.8800830841064,
                                     :y2 465.8806610107422,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 764.105058670044,
                                   :y1 365.6107635498047,
                                   :x2 800.3543872833252,
                                   :y2 392.88352966308594,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 108.15340614318848,
                                   :y1 390.39768981933594,
                                   :x2 800.8800830841064,
                                   :y2 417.6704559326172,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 107.5852222442627,
                                   :y1 414.13352966308594,
                                   :x2 800.8481616973877,
                                   :y2 441.4062957763672,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 107.5852222442627,
                                   :y1 438.6079559326172,
                                   :x2 434.57112312316895,
                                   :y2 465.8806610107422,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 2},
               :content {:text "constitutive L-arabinose isomerase levels (see legend, Fig. 2) of most of the former and the basal level of the latter were significantly higher than those found for the corresponding F- haploid strains"},
               :properties {:color "yellow"}}
              {:id #uuid "68d5d189-6dde-439b-ab9b-0d10b2b18234",
               :page 2,
               :position {:bounding {:x1 108.15340614318848,
                                     :y1 342.05967712402344,
                                     :x2 800.1593189239502,
                                     :y2 393.35227966308594,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 571.9176197052002,
                                   :y1 342.05967712402344,
                                   :x2 800.1593189239502,
                                   :y2 369.33238220214844,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 108.15340614318848,
                                   :y1 366.0795135498047,
                                   :x2 511.76558113098145,
                                   :y2 393.35227966308594,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 2},
               :content {:text "merodiploids of the type F'A21+C+/A+ICA719 and F'A2I+C+/A+I+A719"},
               :properties {:color "red"}}
              {:id #uuid "68d5d191-afa9-444a-8781-8bd99e52c812",
               :page 2,
               :position {:bounding {:x1 107.40056800842285,
                                     :y1 438.6079559326172,
                                     :x2 800.6646900177002,
                                     :y2 489.31822204589844,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 541.832353591919,
                                   :y1 438.6079559326172,
                                   :x2 800.6646900177002,
                                   :y2 465.8806610107422,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 107.40056800842285,
                                   :y1 462.0454559326172,
                                   :x2 395.57847785949707,
                                   :y2 489.31822204589844,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 2},
               :content {:text "C- allele was substituted for the C+ in the exogenote (F'A2C3)"},
               :properties {:color "red"}}
              {:id #uuid "68d5d197-c018-42eb-bbb6-ae0978adc9c6",
               :page 2,
               :position {:bounding {:x1 106.74715614318848,
                                     :y1 486.20738220214844,
                                     :x2 799.883134841919,
                                     :y2 586.3210296630859,
                                     :width 942.71998,
                                     :height 1474.07996},
                          :rects ({:x1 654.1477222442627,
                                   :y1 486.20738220214844,
                                   :x2 799.883134841919,
                                   :y2 513.4800872802734,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 107.21590614318848,
                                   :y1 510.53977966308594,
                                   :x2 799.5637378692627,
                                   :y2 537.8124847412109,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 106.83238410949707,
                                   :y1 533.9772796630859,
                                   :x2 798.568681716919,
                                   :y2 562.1591033935547,
                                   :width 942.71998,
                                   :height 1474.07996}
                                  {:x1 106.74715614318848,
                                   :y1 558.1392059326172,
                                   :x2 198.79812812805176,
                                   :y2 586.3210296630859,
                                   :width 942.71998,
                                   :height 1474.07996}),
                          :page 2},
               :content {:text "Thus, it appears that the product of the C+ allele, in the absence of inducer, does affect an increase in expression of the araA gene, the structural gene for the L-arabinose isomerase, cis to A719"},
               :properties {:color "green"}}],
 :extra {:page 2}}
