{:highlights [{:id #uuid "68ddde74-7562-4e26-99d3-a70ada228535",
               :page 1,
               :position {:bounding {:x1 651.7329323589802,
                                     :y1 929.54541015625,
                                     :x2 915.5493996441364,
                                     :y2 1012.8834838867188,
                                     :width 961,
                                     :height 1243.6470588235293},
                          :rects ({:x1 754.5443947613239,
                                   :y1 929.54541015625,
                                   :x2 914.6834328472614,
                                   :y2 946.8181762695312,
                                   :width 961,
                                   :height 1243.6470588235293}
                                  {:x1 651.7329323589802,
                                   :y1 946.09375,
                                   :x2 915.5113137066364,
                                   :y2 963.366455078125,
                                   :width 961,
                                   :height 1243.6470588235293}
                                  {:x1 651.7329323589802,
                                   :y1 962.6420288085938,
                                   :x2 915.5113137066364,
                                   :y2 979.9147338867188,
                                   :width 961,
                                   :height 1243.6470588235293}
                                  {:x1 651.7329323589802,
                                   :y1 979.0625,
                                   :x2 915.5493996441364,
                                   :y2 996.335205078125,
                                   :width 961,
                                   :height 1243.6470588235293}
                                  {:x1 651.7329323589802,
                                   :y1 995.6107788085938,
                                   :x2 833.0423195660114,
                                   :y2 1012.8834838867188,
                                   :width 961,
                                   :height 1243.6470588235293}),
                          :page 1},
               :content {:text "sence of progesterone. At some point in this chain of events, a continuously variable stimulus—the progesterone concentration—is converted into an all-or-none biological respons"},
               :properties {:color "yellow"}}
              {:id #uuid "68ddde97-2d7f-4c42-803f-7376adf50fa9",
               :page 2,
               :position {:bounding {:x1 106.64773559570312,
                                     :y1 247.5,
                                     :x2 487.5386962890625,
                                     :y2 342.5710144042969,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 462.72515869140625,
                                   :y1 247.5,
                                   :x2 487.01983642578125,
                                   :y2 271.1363525390625,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 106.64773559570312,
                                   :y1 271.19317626953125,
                                   :x2 487.49591064453125,
                                   :y2 294.8295593261719,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 106.64773559570312,
                                   :y1 295.0710144042969,
                                   :x2 487.5386962890625,
                                   :y2 318.7073669433594,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 106.64773559570312,
                                   :y1 318.9346618652344,
                                   :x2 316.8873596191406,
                                   :y2 342.5710144042969,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "he ultrasensitivity arises in part from the fact that MAPK requires the phosphorylation of two sites for activatio"},
               :properties {:color "yellow"}}
              {:id #uuid "68dddeae-519c-4d5d-b94c-5cd004d17b69",
               :page 2,
               :position {:bounding {:x1 106.64773559570312,
                                     :y1 652.0880432128906,
                                     :x2 487.48577880859375,
                                     :y2 746.9886169433594,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 133.83523559570312,
                                   :y1 652.0880432128906,
                                   :x2 487.34375,
                                   :y2 675.7243957519531,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 106.64773559570312,
                                   :y1 675.7812194824219,
                                   :x2 487.23956298828125,
                                   :y2 699.4175720214844,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 106.64773559570312,
                                   :y1 699.6590881347656,
                                   :x2 487.48577880859375,
                                   :y2 723.2954406738281,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 106.64773559570312,
                                   :y1 723.3522644042969,
                                   :x2 184.78915405273438,
                                   :y2 746.9886169433594,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "We, therefore, assessed the phosphorylation of p42 MAPK in groups of oocytes treated with different concentrations of progesteron"},
               :properties {:color "red"}}
              {:id #uuid "68dddebe-8f8c-4872-bd3d-1389e195b5dc",
               :page 2,
               :position {:bounding {:x1 514.5596313476562,
                                     :y1 104.6164779663086,
                                     :x2 895.2120361328125,
                                     :y2 223.5653305053711,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 707.7171630859375,
                                   :y1 104.6164779663086,
                                   :x2 895.10693359375,
                                   :y2 128.2528305053711,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 514.5596313476562,
                                   :y1 128.49431610107422,
                                   :x2 606.491455078125,
                                   :y2 152.13066864013672,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 617.0596313476562,
                                   :y1 128.49431610107422,
                                   :x2 707.1875,
                                   :y2 152.13066864013672,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 717.7556762695312,
                                   :y1 128.49431610107422,
                                   :x2 788.75,
                                   :y2 152.13066864013672,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 799.3181762695312,
                                   :y1 128.49431610107422,
                                   :x2 821.2073364257812,
                                   :y2 152.13066864013672,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 831.7755737304688,
                                   :y1 128.49431610107422,
                                   :x2 895.048095703125,
                                   :y2 152.13066864013672,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 514.5596313476562,
                                   :y1 152.37215423583984,
                                   :x2 895.1226806640625,
                                   :y2 176.0085220336914,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 514.5596313476562,
                                   :y1 176.0653305053711,
                                   :x2 895.2120361328125,
                                   :y2 199.70169830322266,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 514.5596313476562,
                                   :y1 199.92896270751953,
                                   :x2 895.20751953125,
                                   :y2 223.5653305053711,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "ocytes had perfectly switchlike responses, samples of oocytes would yield a graded response if the oocytes varied with respect to the concentration of progesterone required to switch them on"},
               :properties {:color "yellow"}}
              {:id #uuid "68ddded0-a5a3-4f79-ad02-3cba029c86d5",
               :page 2,
               :position {:bounding {:x1 514.5596313476562,
                                     :y1 628.2243881225586,
                                     :x2 895.397705078125,
                                     :y2 699.4175643920898,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 637.6658325195312,
                                   :y1 628.2243881225586,
                                   :x2 895.397705078125,
                                   :y2 651.8608016967773,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 514.5596313476562,
                                   :y1 652.0880355834961,
                                   :x2 895.359130859375,
                                   :y2 675.7243881225586,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 514.5596313476562,
                                   :y1 675.7812118530273,
                                   :x2 777.1411743164062,
                                   :y2 699.4175643920898,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "rylation of MAPK in 190 individual progesterone-treated oocytes and19 individual untreated oocyt"},
               :properties {:color "red"}}
              {:id #uuid "68dddf07-73ad-42fa-8121-b0420f701eb7",
               :page 2,
               :position {:bounding {:x1 922.4857177734375,
                                     :y1 390.1988830566406,
                                     :x2 1303.0965576171875,
                                     :y2 485.2840881347656,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 1224.8983154296875,
                                   :y1 390.1988830566406,
                                   :x2 1302.911865234375,
                                   :y2 413.8352355957031,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 922.4857177734375,
                                   :y1 414.0766906738281,
                                   :x2 1303.077880859375,
                                   :y2 437.7130432128906,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 922.4857177734375,
                                   :y1 437.7698669433594,
                                   :x2 1303.0965576171875,
                                   :y2 461.4062194824219,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 922.4857177734375,
                                   :y1 461.6477355957031,
                                   :x2 1175.7620849609375,
                                   :y2 485.2840881347656,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "hus, the MAPK cascade can generate, not simply propagate, a highly switchlike response to a continuously variable stimulu"},
               :properties {:color "green"}}
              {:id #uuid "68dddf3a-8d23-4a9f-a0b1-0f89b05bc5af",
               :page 2,
               :position {:bounding {:x1 922.4857177734375,
                                     :y1 652.0880432128906,
                                     :x2 1303.3095703125,
                                     :y2 723.29541015625,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 922.4857177734375,
                                   :y1 652.0880432128906,
                                   :x2 990.1419677734375,
                                   :y2 675.7243957519531,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 1000.710205078125,
                                   :y1 652.0880432128906,
                                   :x2 1023.977294921875,
                                   :y2 675.7243957519531,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 1034.54541015625,
                                   :y1 652.0880432128906,
                                   :x2 1130.78125,
                                   :y2 675.7243957519531,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 1141.349365234375,
                                   :y1 652.0880432128906,
                                   :x2 1252.0028076171875,
                                   :y2 675.7243957519531,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 1262.5709228515625,
                                   :y1 652.0880432128906,
                                   :x2 1303.248291015625,
                                   :y2 675.7243957519531,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 922.4857177734375,
                                   :y1 675.7812194824219,
                                   :x2 1303.3095703125,
                                   :y2 699.4175720214844,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 922.4857177734375,
                                   :y1 699.6590576171875,
                                   :x2 1097.4818115234375,
                                   :y2 723.29541015625,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "MAPK or something downstream from MAPK promotes the stabilization and accumulation of Mos,"},
               :properties {:color "yellow"}}
              {:id #uuid "68dddf47-413f-4d9a-9cbb-e2fac13470b9",
               :page 3,
               :position {:bounding {:x1 532.741455078125,
                                     :y1 152.3721923828125,
                                     :x2 913.2584228515625,
                                     :y2 199.70172119140625,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 685.1731567382812,
                                   :y1 152.3721923828125,
                                   :x2 913.2584228515625,
                                   :y2 176.008544921875,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 532.741455078125,
                                   :y1 176.06536865234375,
                                   :x2 809.643310546875,
                                   :y2 199.70172119140625,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 3},
               :content {:text "protein synthesis allows a more highly switchlike response"},
               :properties {:color "green"}}
              {:id #uuid "68dddf62-a791-4ed1-9b9d-cf0d6de06984",
               :page 3,
               :position {:bounding {:x1 940.6533203125,
                                     :y1 461.6477355957031,
                                     :x2 1321.4771728515625,
                                     :y2 532.8409118652344,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 1109.218994140625,
                                   :y1 461.6477355957031,
                                   :x2 1320.881103515625,
                                   :y2 485.2840881347656,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 940.6533203125,
                                   :y1 485.5113220214844,
                                   :x2 1321.4771728515625,
                                   :y2 509.1477355957031,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 940.6533203125,
                                   :y1 509.2044982910156,
                                   :x2 1182.2103271484375,
                                   :y2 532.8409118652344,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 3},
               :content {:text "he ultrasensitivity of the MAPK cascade essentially filters small stimuli out of the feedback loop"},
               :properties {:color "green"}}],
 :extra {:page 4}}
