{:highlights [{:id #uuid "690d3c99-f9b7-49f0-a4df-e853fc9f1b96",
               :page 6,
               :position {:bounding {:x1 99.94317245483398,
                                     :y1 287.4715576171875,
                                     :x2 804.4571495056152,
                                     :y2 362.64202880859375,
                                     :width 874.8970666666667,
                                     :height 1301.9669333333334},
                          :rects ({:x1 563.7499961853027,
                                   :y1 287.4715576171875,
                                   :x2 804.4571495056152,
                                   :y2 310.1988525390625,
                                   :width 874.8970666666667,
                                   :height 1301.9669333333334}
                                  {:x1 100.09942245483398,
                                   :y1 313.90625,
                                   :x2 803.3682823181152,
                                   :y2 336.633544921875,
                                   :width 874.8970666666667,
                                   :height 1301.9669333333334}
                                  {:x1 99.94317245483398,
                                   :y1 339.91473388671875,
                                   :x2 387.6426658630371,
                                   :y2 362.64202880859375,
                                   :width 874.8970666666667,
                                   :height 1301.9669333333334}),
                          :page 6},
               :content {:text " The Y chromosome contains few genes and is not required for most aspects of male development, only for proper sperm motility"},
               :properties {:color "yellow"}}
              {:id #uuid "690d3ca0-3af2-4265-ae84-4f9155fb6ea2",
               :page 6,
               :position {:bounding {:x1 100.26987838745117,
                                     :y1 366.3778305053711,
                                     :x2 803.775936126709,
                                     :y2 416.05110931396484,
                                     :width 874.8970666666667,
                                     :height 1301.9669333333334},
                          :rects ({:x1 375.724422454834,
                                   :y1 366.3778305053711,
                                   :x2 803.775936126709,
                                   :y2 389.1051254272461,
                                   :width 874.8970666666667,
                                   :height 1301.9669333333334}
                                  {:x1 100.26987838745117,
                                   :y1 393.32384490966797,
                                   :x2 249.23501205444336,
                                   :y2 416.05110931396484,
                                   :width 874.8970666666667,
                                   :height 1301.9669333333334}),
                          :page 6},
               :content {:text "fly genetics is the total absence of recombination in males"},
               :properties {:color "green"}}
              {:id #uuid "690d3cad-b449-4826-b297-6f608c36b45b",
               :page 6,
               :position {:bounding {:x1 98.49431991577148,
                                     :y1 472.7556686401367,
                                     :x2 803.6383018493652,
                                     :y2 548.4658737182617,
                                     :width 874.8970666666667,
                                     :height 1301.9669333333334},
                          :rects ({:x1 728.0255699157715,
                                   :y1 472.7556686401367,
                                   :x2 803.3776206970215,
                                   :y2 495.4829635620117,
                                   :width 874.8970666666667,
                                   :height 1301.9669333333334}
                                  {:x1 98.49431991577148,
                                   :y1 499.2045211791992,
                                   :x2 803.6383018493652,
                                   :y2 521.9318161010742,
                                   :width 874.8970666666667,
                                   :height 1301.9669333333334}
                                  {:x1 99.38920211791992,
                                   :y1 525.738639831543,
                                   :x2 302.9195213317871,
                                   :y2 548.4658737182617,
                                   :width 874.8970666666667,
                                   :height 1301.9669333333334}),
                          :page 6},
               :content {:text "Its control is achieved by the use of the fly pusher's most distinctive tool: balancer chromosomes"},
               :properties {:color "yellow"}}
              {:id #uuid "690d3cfc-871b-452b-b13b-36630df7b8fe",
               :page 6,
               :position {:bounding {:x1 99.74431991577148,
                                     :y1 685.511344909668,
                                     :x2 803.6301231384277,
                                     :y2 761.207389831543,
                                     :width 874.8970666666667,
                                     :height 1301.9669333333334},
                          :rects ({:x1 601.1647300720215,
                                   :y1 685.511344909668,
                                   :x2 803.6301231384277,
                                   :y2 708.238639831543,
                                   :width 874.8970666666667,
                                   :height 1301.9669333333334}
                                  {:x1 99.74431991577148,
                                   :y1 711.9318161010742,
                                   :x2 802.9039878845215,
                                   :y2 734.659049987793,
                                   :width 874.8970666666667,
                                   :height 1301.9669333333334}
                                  {:x1 99.74431991577148,
                                   :y1 738.480094909668,
                                   :x2 632.8723106384277,
                                   :y2 761.207389831543,
                                   :width 874.8970666666667,
                                   :height 1301.9669333333334}),
                          :page 6},
               :content {:text "Since they effectively block any recombination with their homologs, the transmission of the homolog to progeny can also be tracked unambiguous"},
               :properties {:color "yellow"}}
              {:id #uuid "690d420a-b9b8-4884-bbae-e89a5e319150",
               :page 15,
               :position {:bounding {:x1 69.2897720336914,
                                     :y1 991.3067932128906,
                                     :x2 737.0373764038086,
                                     :y2 1073.3948669433594,
                                     :width 820.736,
                                     :height 1278.464},
                          :rects ({:x1 260.0614242553711,
                                   :y1 991.3067932128906,
                                   :x2 736.0537948608398,
                                   :y2 1017.6704406738281,
                                   :width 820.736,
                                   :height 1278.464}
                                  {:x1 69.41761016845703,
                                   :y1 1019.2471008300781,
                                   :x2 737.0373764038086,
                                   :y2 1045.6107482910156,
                                   :width 820.736,
                                   :height 1278.464}
                                  {:x1 69.2897720336914,
                                   :y1 1047.0312194824219,
                                   :x2 123.09215545654297,
                                   :y2 1073.3948669433594,
                                   :width 820.736,
                                   :height 1278.464}),
                          :page 15},
               :content {:text "alanced lethal\" stocks in which only those adults doubly heterozygous for the balancer and for the lethal-bearing homolog surviv"},
               :properties {:color "yellow"}}],
 :extra {:page 32}}
