{:highlights [{:id #uuid "68dde7af-3484-453c-9665-a70c6b24a169",
               :page 2,
               :position {:bounding {:x1 78.03976440429688,
                                     :y1 114.6875,
                                     :x2 582.1971740722656,
                                     :y2 183.9488525390625,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 162.32260131835938,
                                   :y1 114.6875,
                                   :x2 582.1525573730469,
                                   :y2 136.50567626953125,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 78.03976440429688,
                                   :y1 138.3380126953125,
                                   :x2 582.1971740722656,
                                   :y2 160.15625,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 78.03976440429688,
                                   :y1 162.13067626953125,
                                   :x2 123.82073974609375,
                                   :y2 183.9488525390625,
                                   :width 1188,
                                   :height 1566}),
                          :page 2},
               :content {:text "correlated with their ability to bind Gab1, identifying this as a key node in the EGF receptor signaling network"},
               :properties {:color "green"}}
              {:id #uuid "68dde7bc-965c-45ae-a516-64de9bfb68e8",
               :page 1,
               :position {:bounding {:x1 605.9942932128906,
                                     :y1 1096.25,
                                     :x2 1110.0811462402344,
                                     :y2 1165.0426025390625,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 718.4112854003906,
                                   :y1 1096.25,
                                   :x2 1109.3551940917969,
                                   :y2 1118.0681762695312,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 605.9942932128906,
                                   :y1 1119.7442626953125,
                                   :x2 1110.0811462402344,
                                   :y2 1141.5625,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 605.9942932128906,
                                   :y1 1143.2244262695312,
                                   :x2 1089.7153015136719,
                                   :y2 1165.0426025390625,
                                   :width 1188,
                                   :height 1566}),
                          :page 1},
               :content {:text "e question arises as to whether Tyr-1148 is necessary and sufficient to support the activation of the panoply of signaling pathways that lie downstream of the EGF receptor"},
               :properties {:color "yellow"}}
              {:id #uuid "68ddedb3-493e-444e-a375-c8d3adcd24dc",
               :page 2,
               :position {:bounding {:x1 161.56234741210938,
                                     :y1 719.9431762695312,
                                     :x2 475.5702819824219,
                                     :y2 741.7613525390625,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 161.56234741210938,
                                   :y1 719.9431762695312,
                                   :x2 475.5702819824219,
                                   :y2 741.7613525390625,
                                   :width 1188,
                                   :height 1566}),
                          :page 2},
               :content {:text "eceptors from a tet-inducible promoter"},
               :properties {:color "red"}}
              {:id #uuid "68ddee14-339c-4e7c-b4d1-38275ed98f55",
               :page 2,
               :position {:bounding {:x1 78.03976440429688,
                                     :y1 1241.10791015625,
                                     :x2 582.0845031738281,
                                     :y2 1310.2130737304688,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 433.6404724121094,
                                   :y1 1241.10791015625,
                                   :x2 581.7260437011719,
                                   :y2 1262.9260864257812,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 78.03976440429688,
                                   :y1 1264.7442626953125,
                                   :x2 582.0845031738281,
                                   :y2 1286.5624389648438,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 78.03976440429688,
                                   :y1 1288.3948364257812,
                                   :x2 136.52511596679688,
                                   :y2 1310.2130737304688,
                                   :width 1188,
                                   :height 1566}),
                          :page 2},
               :content {:text "This indicates that the single-Tyr receptors are expressed and present on the cell surface"},
               :properties {:color "yellow"}}
              {:id #uuid "68ddeebe-bd98-4a10-a22f-5c1b91e5d113",
               :page 3,
               :position {:bounding {:x1 605.9942932128906,
                                     :y1 1336.6334228515625,
                                     :x2 1110.1684265136719,
                                     :y2 1429.07666015625,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 687.4454040527344,
                                   :y1 1336.6334228515625,
                                   :x2 1109.6541442871094,
                                   :y2 1358.45166015625,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 605.9942932128906,
                                   :y1 1360.1136474609375,
                                   :x2 1110.1684265136719,
                                   :y2 1381.9317626953125,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 605.9942932128906,
                                   :y1 1383.76416015625,
                                   :x2 1109.9937438964844,
                                   :y2 1405.582275390625,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 605.9942932128906,
                                   :y1 1407.2584228515625,
                                   :x2 976.4006042480469,
                                   :y2 1429.07666015625,
                                   :width 1188,
                                   :height 1566}),
                          :page 3},
               :content {:text "These data indicate that the single tyrosine EGF receptors are expressed on the cell surface, bind EGF, and dimerize in response to ligand binding. In addition, they all retain EGF-stimulated tyrosine kinase activity"},
               :properties {:color "yellow"}}
              {:id #uuid "68ddeef3-90d8-4c6f-a952-382835897ce0",
               :page 4,
               :position {:bounding {:x1 114.42092895507812,
                                     :y1 1289.6448364257812,
                                     :x2 550.4944763183594,
                                     :y2 1311.4630126953125,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 114.42092895507812,
                                   :y1 1289.6448364257812,
                                   :x2 550.4944763183594,
                                   :y2 1311.4630126953125,
                                   :width 1188,
                                   :height 1566}),
                          :page 4},
               :content {:text "ue to the failure of the PY20 antibody to recognize"},
               :properties {:color "yellow"}}
              {:id #uuid "68ddef4f-1749-45ae-bccd-a6ef6a17e70f",
               :page 4,
               :position {:bounding {:x1 605.9942932128906,
                                     :y1 661.8465805053711,
                                     :x2 1110.1005554199219,
                                     :y2 731.2641830444336,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 605.9942932128906,
                                   :y1 661.8465805053711,
                                   :x2 1110.1005554199219,
                                   :y2 683.6647567749023,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 605.9942932128906,
                                   :y1 685.6391830444336,
                                   :x2 1110.0922546386719,
                                   :y2 707.4573593139648,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 605.9942932128906,
                                   :y1 709.4460067749023,
                                   :x2 929.3256530761719,
                                   :y2 731.2641830444336,
                                   :width 1188,
                                   :height 1566}),
                          :page 4},
               :content {:text "Thus, despite the presence of just a single tyrosine residue, these receptors were remarkably catholic in their ability to engage downstream signaling molecules"},
               :properties {:color "green"}}],
 :extra {:page 4}}
