{:highlights [{:id #uuid "68dde7af-3484-453c-9665-a70c6b24a169",
               :page 2,
               :position {:bounding {:x1 78.03976440429688,
                                     :y1 114.6875,
                                     :x2 582.1971740722656,
                                     :y2 183.9488525390625,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 162.32260131835938,
                                   :y1 114.6875,
                                   :x2 582.1525573730469,
                                   :y2 136.50567626953125,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 78.03976440429688,
                                   :y1 138.3380126953125,
                                   :x2 582.1971740722656,
                                   :y2 160.15625,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 78.03976440429688,
                                   :y1 162.13067626953125,
                                   :x2 123.82073974609375,
                                   :y2 183.9488525390625,
                                   :width 1188,
                                   :height 1566}),
                          :page 2},
               :content {:text "correlated with their ability to bind Gab1, identifying this as a key node in the EGF receptor signaling network"},
               :properties {:color "green"}}
              {:id #uuid "68dde7bc-965c-45ae-a516-64de9bfb68e8",
               :page 1,
               :position {:bounding {:x1 605.9942932128906,
                                     :y1 1096.25,
                                     :x2 1110.0811462402344,
                                     :y2 1165.0426025390625,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 718.4112854003906,
                                   :y1 1096.25,
                                   :x2 1109.3551940917969,
                                   :y2 1118.0681762695312,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 605.9942932128906,
                                   :y1 1119.7442626953125,
                                   :x2 1110.0811462402344,
                                   :y2 1141.5625,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 605.9942932128906,
                                   :y1 1143.2244262695312,
                                   :x2 1089.7153015136719,
                                   :y2 1165.0426025390625,
                                   :width 1188,
                                   :height 1566}),
                          :page 1},
               :content {:text "e question arises as to whether Tyr-1148 is necessary and sufficient to support the activation of the panoply of signaling pathways that lie downstream of the EGF receptor"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
