{:highlights [{:id #uuid "6a4e782a-99eb-486d-a391-65244500e962",
               :page 2,
               :position {:bounding {:x1 106.234375,
                                     :y1 1266.40625,
                                     :x2 584.396240234375,
                                     :y2 1307.296875,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 203.19371032714844,
                                   :y1 1266.40625,
                                   :x2 584.396240234375,
                                   :y2 1285.40625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.234375,
                                   :y1 1288.296875,
                                   :x2 495.3175964355469,
                                   :y2 1307.296875,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 2},
               :content {:text "ial wounds (FWs) heal more quickly and with less scarring than wounds on the trunk and extremiti"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4e7887-1bfa-44fc-aa90-4a4d4dd90843",
               :page 2,
               :position {:bounding {:x1 608.3125,
                                     :y1 1156.765625,
                                     :x2 1086.449951171875,
                                     :y2 1241.53125,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 779.9190063476562,
                                   :y1 1156.765625,
                                   :x2 1086.449951171875,
                                   :y2 1175.765625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.3125,
                                   :y1 1178.765625,
                                   :x2 1085.59375,
                                   :y2 1197.765625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.3125,
                                   :y1 1200.65625,
                                   :x2 1085.59375,
                                   :y2 1219.65625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.3125,
                                   :y1 1222.53125,
                                   :x2 635.6337280273438,
                                   :y2 1241.53125,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 2},
               :content {:text "cial, scalp, ventral, and dorsal fibroblasts derive primarily from the cranial neural crest, cephalic mesoderm, lateral plate mesoderm, and somitic mesoderm, respective"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4e78d0-1ca2-4468-8f32-a0ddb30e78dd",
               :page 3,
               :position {:bounding {:x1 119.5,
                                     :y1 1010.515625,
                                     :x2 597.7716674804688,
                                     :y2 1073.390625,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 292.1869812011719,
                                   :y1 1010.515625,
                                   :x2 597.7716674804688,
                                   :y2 1029.515625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 119.5,
                                   :y1 1032.5,
                                   :x2 597.7655029296875,
                                   :y2 1051.5,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 119.5,
                                   :y1 1054.390625,
                                   :x2 151.79080200195312,
                                   :y2 1073.390625,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 3},
               :content {:text "ide evidence that facial fibroblasts harbor a reduced fibrotic potential associated with their neural crest origi"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4e7907-5f14-4fa8-8df7-c2e715328d4b",
               :page 3,
               :position {:bounding {:x1 621.6875,
                                     :y1 1054.390625,
                                     :x2 1099.867919921875,
                                     :y2 1117.265625,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 993.1572265625,
                                   :y1 1054.390625,
                                   :x2 1099.867919921875,
                                   :y2 1073.390625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 621.6875,
                                   :y1 1076.265625,
                                   :x2 1099.80517578125,
                                   :y2 1095.265625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 621.6875,
                                   :y1 1098.265625,
                                   :x2 884.1672973632812,
                                   :y2 1117.265625,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 3},
               :content {:text "acial and scalp wounds fully re-epithelialized by post-operative day (POD) 11, while ventral and DWs re-epitheliali"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4e79ba-9a8b-489b-8ed7-ad6f1ea92886",
               :page 4,
               :position {:bounding {:x1 113.3125,
                                     :y1 564.75,
                                     :x2 623.32568359375,
                                     :y2 678.234375,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 265.9251708984375,
                                   :y1 564.75,
                                   :x2 622.34375,
                                   :y2 584.75,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.3125,
                                   :y1 588.09375,
                                   :x2 623.3255615234375,
                                   :y2 608.09375,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.3125,
                                   :y1 611.421875,
                                   :x2 623.3231201171875,
                                   :y2 631.421875,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.3125,
                                   :y1 634.765625,
                                   :x2 623.32568359375,
                                   :y2 654.765625,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.3125,
                                   :y1 658.234375,
                                   :x2 608.0972290039062,
                                   :y2 678.234375,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 4},
               :content {:text "ollowing donor skin engraftment (POD 10), incisional wounds were made on the RFP skin grafts. After 14 days of healing, IHC staining showed reduced COL1 deposition in the wounds of engrafted facial skin compared with the wounds of dorsal, ventral, or scalp skin engrafted onto the same si"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4e79cf-54f5-4864-a725-a5a979b02457",
               :page 4,
               :position {:bounding {:x1 113.3125,
                                     :y1 892.03125,
                                     :x2 622.390625,
                                     :y2 958.703125,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 152.07037353515625,
                                   :y1 892.03125,
                                   :x2 622.390625,
                                   :y2 912.03125,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.3125,
                                   :y1 915.359375,
                                   :x2 622.203125,
                                   :y2 935.359375,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 113.3125,
                                   :y1 938.703125,
                                   :x2 207.50022888183594,
                                   :y2 958.703125,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 4},
               :content {:text "pared with scalp, ventral, and dorsal fibroblasts, facial fibroblasts showed the lowest COL1 deposition by IHC co-localization with GF"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4e7da7-756d-42f7-8c70-27f20dcf85cc",
               :page 4,
               :position {:bounding {:x1 648.859375,
                                     :y1 845.21875,
                                     :x2 1158.96044921875,
                                     :y2 935.359375,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 741.9971923828125,
                                   :y1 845.21875,
                                   :x2 1158.9429931640625,
                                   :y2 865.21875,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 710.671875,
                                   :y1 865.515625,
                                   :x2 722.1875,
                                   :y2 879.515625,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 648.859375,
                                   :y1 868.6875,
                                   :x2 710.6940307617188,
                                   :y2 888.6875,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 725.671875,
                                   :y1 868.6875,
                                   :x2 1158.935791015625,
                                   :y2 888.6875,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 648.859375,
                                   :y1 892.03125,
                                   :x2 1158.96044921875,
                                   :y2 912.03125,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 648.859375,
                                   :y1 915.359375,
                                   :x2 846.98193359375,
                                   :y2 935.359375,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 4},
               :content {:text "al fibroblasts from GFP mice, sorted them into ROBO2+ or ROBO2  populations by FACS, and injected each population (100,000 cells/wound) into the periphery of DWs at POD 0 on wild-type mic"},
               :properties {:color "red"}}
              {:id #uuid "6a4e7dc2-0e81-4f58-b55f-90b2cbf4fb7b",
               :page 4,
               :position {:bounding {:x1 648.859375,
                                     :y1 1125.8125,
                                     :x2 1158.9105224609375,
                                     :y2 1169.15625,
                                     :width 1286.3701333333333,
                                     :height 1670.3701333333333},
                          :rects ({:x1 825.8599243164062,
                                   :y1 1125.8125,
                                   :x2 1158.9105224609375,
                                   :y2 1145.8125,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}
                                  {:x1 648.859375,
                                   :y1 1149.15625,
                                   :x2 997.2200317382812,
                                   :y2 1169.15625,
                                   :width 1286.3701333333333,
                                   :height 1670.3701333333333}),
                          :page 4},
               :content {:text "ermore, ROBO2+ fibroblast-treated DWs displayed an increased hair follicle numb"},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
