{:highlights [{:id #uuid "6910e42d-abb4-480f-a0cc-6100a5344cdc",
               :page 1,
               :position {:bounding {:x1 422.15625,
                                     :y1 756.546875,
                                     :x2 756.027099609375,
                                     :y2 800.828125,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 566.1358642578125,
                                   :y1 756.546875,
                                   :x2 756.00146484375,
                                   :y2 771.546875,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 422.15625,
                                   :y1 771.2421875,
                                   :x2 756.027099609375,
                                   :y2 786.2421875,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 422.15625,
                                   :y1 785.828125,
                                   :x2 736.8646850585938,
                                   :y2 800.828125,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 1},
               :content {:text "e loss-of-function phenotype, the structure and biochemical properties of the protein product, and the distribution of the gene products within the organi"},
               :properties {:color "yellow"}}
              {:id #uuid "6910e491-48bd-4abf-8625-90ccb8292d66",
               :page 2,
               :position {:bounding {:x1 55.703125,
                                     :y1 314.6171875,
                                     :x2 389.6433410644531,
                                     :y2 359,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 149.4793701171875,
                                   :y1 314.6171875,
                                   :x2 389.5478210449219,
                                   :y2 329.6171875,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 55.703125,
                                   :y1 329.3125,
                                   :x2 389.6433410644531,
                                   :y2 344.3125,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 55.703125,
                                   :y1 344,
                                   :x2 111.83824920654297,
                                   :y2 359,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 2},
               :content {:text "arge number of lines originating from individuals treated with mutagenic agents were inbred for several generation"},
               :properties {:color "yellow"}}
              {:id #uuid "6910e495-641f-4684-9f47-6875540d9e0d",
               :page 2,
               :position {:bounding {:x1 55.703125,
                                     :y1 344,
                                     :x2 389.5983581542969,
                                     :y2 388.28125,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 162.81277465820312,
                                   :y1 344,
                                   :x2 389.5983581542969,
                                   :y2 359,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 55.703125,
                                   :y1 358.5859375,
                                   :x2 389.586181640625,
                                   :y2 373.5859375,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 55.703125,
                                   :y1 373.28125,
                                   :x2 115.1444091796875,
                                   :y2 388.28125,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 2},
               :content {:text "yous progeny obtained were scored for the presence of morphological changes indicative of abnormal developme"},
               :properties {:color "yellow"}}
              {:id #uuid "6910e4b6-88a6-48cd-9e64-3913c4b05c54",
               :page 2,
               :position {:bounding {:x1 55.703125,
                                     :y1 549.2734375,
                                     :x2 389.6672668457031,
                                     :y2 593.546875,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 106.58863830566406,
                                   :y1 549.2734375,
                                   :x2 389.60353088378906,
                                   :y2 564.2734375,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 55.703125,
                                   :y1 563.859375,
                                   :x2 389.6672668457031,
                                   :y2 578.859375,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 55.703125,
                                   :y1 578.546875,
                                   :x2 175.9726104736328,
                                   :y2 593.546875,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 2},
               :content {:text "vantage of mutagenesis is that it selects for the relatively small fraction of genes with unique and at least partially non-redundant functio"},
               :properties {:color "yellow"}}
              {:id #uuid "6910e4d2-3fa2-43f5-976d-fadd42cf44b5",
               :page 2,
               :position {:bounding {:x1 55.703125,
                                     :y1 798.5078125,
                                     :x2 389.5975646972656,
                                     :y2 828.203125,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 150.82501220703125,
                                   :y1 798.5078125,
                                   :x2 389.5975646972656,
                                   :y2 813.5078125,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 55.703125,
                                   :y1 813.203125,
                                   :x2 251.53662109375,
                                   :y2 828.203125,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 2},
               :content {:text "trulation onwards, the early development of vertebrates is remarkably conserv"},
               :properties {:color "yellow"}}
              {:id #uuid "6910e4e8-569c-43ba-939e-39e6426be9c2",
               :page 2,
               :position {:bounding {:x1 55.703125,
                                     :y1 886.453125,
                                     :x2 389.5439147949219,
                                     :y2 930.8359375,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 367.5292663574219,
                                   :y1 886.453125,
                                   :x2 389.34442138671875,
                                   :y2 901.453125,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 55.703125,
                                   :y1 901.1484375,
                                   :x2 389.5439147949219,
                                   :y2 916.1484375,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 55.703125,
                                   :y1 915.8359375,
                                   :x2 347.0367126464844,
                                   :y2 930.8359375,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 2},
               :content {:text "The most important property of the zebraﬁsh is that the embryos are optically clear and are produced in large numbe"},
               :properties {:color "yellow"}}
              {:id #uuid "6910e507-53e6-47b3-9c1b-008a4568b19c",
               :page 2,
               :position {:bounding {:x1 413.546875,
                                     :y1 285.3359375,
                                     :x2 747.4677124023438,
                                     :y2 344.3125,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 545.1420288085938,
                                   :y1 285.3359375,
                                   :x2 747.137939453125,
                                   :y2 300.3359375,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 413.546875,
                                   :y1 300.03125,
                                   :x2 747.388427734375,
                                   :y2 315.03125,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 413.546875,
                                   :y1 314.6171875,
                                   :x2 747.4677124023438,
                                   :y2 329.6171875,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 413.546875,
                                   :y1 329.3125,
                                   :x2 576.468017578125,
                                   :y2 344.3125,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 2},
               :content {:text "ecided to screen diploids, although much more laborious, because the identiﬁcation and recovery of mutants of many phenotypic classes can be performed with more consistency and reliabili"},
               :properties {:color "red"}}
              {:id #uuid "6910e58d-0487-4807-85a2-4044cc179c4d",
               :page 2,
               :position {:bounding {:x1 413.546875,
                                     :y1 882.7265625,
                                     :x2 747.3388671875,
                                     :y2 922.359375,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 702.6724243164062,
                                   :y1 882.7265625,
                                   :x2 746.8330078125,
                                   :y2 895.7265625,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 413.546875,
                                   :y1 896.046875,
                                   :x2 747.3388671875,
                                   :y2 909.046875,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 413.546875,
                                   :y1 909.359375,
                                   :x2 641.5743408203125,
                                   :y2 922.359375,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 2},
               :content {:text "dult maleﬁsh were mutagenized with 3 mM ENU by placing them into an aqueous solution for three 1 hour periods within"},
               :properties {:color "red"}}
              {:id #uuid "6910e596-5301-4546-b026-d27d94ff1c3d",
               :page 2,
               :position {:bounding {:x1 413.546875,
                                     :y1 909.359375,
                                     :x2 747.5006713867188,
                                     :y2 962.3125,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 684.336669921875,
                                   :y1 909.359375,
                                   :x2 747.5006713867188,
                                   :y2 922.359375,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 413.546875,
                                   :y1 922.6796875,
                                   :x2 747.379150390625,
                                   :y2 935.6796875,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 413.546875,
                                   :y1 936,
                                   :x2 747.3868408203125,
                                   :y2 949,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 413.546875,
                                   :y1 949.3125,
                                   :x2 607.478515625,
                                   :y2 962.3125,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 2},
               :content {:text "3 weeks after the ENU treatment, males were crossed to wild-type females at weekly intervals and the progeny originating from mutagenized premeiotic germ cells obtained were rais"},
               :properties {:color "red"}}
              {:id #uuid "6910e5c7-df75-41ca-835a-94438749312b",
               :page 3,
               :position {:bounding {:x1 64.3046875,
                                     :y1 242.921875,
                                     :x2 264.34674072265625,
                                     :y2 282.5625,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 151.05508422851562,
                                   :y1 242.921875,
                                   :x2 264.3206787109375,
                                   :y2 255.921875,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 64.3046875,
                                   :y1 256.2421875,
                                   :x2 264.34674072265625,
                                   :y2 269.2421875,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 64.3046875,
                                   :y1 269.5625,
                                   :x2 258.0501708984375,
                                   :y2 282.5625,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 3},
               :content {:text "out 15 pairs of ﬁsh per family, and about 100 families per week were set up for egg lay in one afternoo"},
               :properties {:color "red"}}
              {:id #uuid "6910e601-9e4b-4704-85b0-908817956798",
               :page 3,
               :position {:bounding {:x1 64.3046875,
                                     :y1 376.2109375,
                                     :x2 264.363037109375,
                                     :y2 429.1640625,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 143.31517028808594,
                                   :y1 376.2109375,
                                   :x2 264.31060791015625,
                                   :y2 389.2109375,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 64.3046875,
                                   :y1 389.53125,
                                   :x2 264.363037109375,
                                   :y2 402.53125,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 64.3046875,
                                   :y1 402.84375,
                                   :x2 264.3367919921875,
                                   :y2 415.84375,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 64.3046875,
                                   :y1 416.1640625,
                                   :x2 186.45765686035156,
                                   :y2 429.1640625,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 3},
               :content {:text "bout 300 families no successful matings were obtained, mainly because the ﬁsh showed an extreme sex ratio (mostly male famili"},
               :properties {:color "red"}}
              {:id #uuid "6910e623-8872-40bc-ac22-deebc777a4ef",
               :page 3,
               :position {:bounding {:x1 64.3046875,
                                     :y1 642.7890625,
                                     :x2 264.3609619140625,
                                     :y2 682.421875,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 133.46575927734375,
                                   :y1 642.7890625,
                                   :x2 264.32635498046875,
                                   :y2 655.7890625,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 64.3046875,
                                   :y1 656.1015625,
                                   :x2 264.3609619140625,
                                   :y2 669.1015625,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 64.3046875,
                                   :y1 669.421875,
                                   :x2 180.42945861816406,
                                   :y2 682.421875,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 3},
               :content {:text "ere scored at three successive time points (the second, third and sixth day after collectio"},
               :properties {:color "red"}}
              {:id #uuid "6910e64c-08f5-46e7-934f-7363a3fc25c6",
               :page 6,
               :position {:bounding {:x1 56.1875,
                                     :y1 628.203125,
                                     :x2 389.3279724121094,
                                     :y2 654.515625,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 168.16127014160156,
                                   :y1 628.203125,
                                   :x2 389.3279724121094,
                                   :y2 641.203125,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 56.1875,
                                   :y1 641.515625,
                                   :x2 377.2980041503906,
                                   :y2 654.515625,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 6},
               :content {:text "say for motility, the larvae were swirled into the center of the dish and observed as they moved from the cent"},
               :properties {:color "red"}}
              {:id #uuid "6910e656-9fd0-48c7-9add-882e6d47a240",
               :page 6,
               :position {:bounding {:x1 56.1875,
                                     :y1 721.4296875,
                                     :x2 389.5689239501953,
                                     :y2 747.8515625,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 127.07429504394531,
                                   :y1 721.4296875,
                                   :x2 389.5689239501953,
                                   :y2 734.4296875,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 56.1875,
                                   :y1 734.8515625,
                                   :x2 286.0138244628906,
                                   :y2 747.8515625,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 6},
               :content {:text "ons were recorded in a score sheet, and each phenotype recognized in a family was described separatel"},
               :properties {:color "red"}}
              {:id #uuid "6910e65f-22b3-4a5e-b0b0-0a1f8a863bf7",
               :page 6,
               :position {:bounding {:x1 413.546875,
                                     :y1 588.140625,
                                     :x2 747.496826171875,
                                     :y2 627.8828125,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 462.1460266113281,
                                   :y1 588.140625,
                                   :x2 747.4171752929688,
                                   :y2 601.140625,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 413.546875,
                                   :y1 601.5625,
                                   :x2 747.496826171875,
                                   :y2 614.5625,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 413.546875,
                                   :y1 614.8828125,
                                   :x2 578.5618896484375,
                                   :y2 627.8828125,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 6},
               :content {:text "ften, more than one mutation was identiﬁed in different crosses within a family, and these were distinguished by consecutive letters added to the family name."},
               :properties {:color "red"}}
              {:id #uuid "6910e66c-2d0c-4f23-ab21-9774813446d8",
               :page 6,
               :position {:bounding {:x1 413.546875,
                                     :y1 668.15625,
                                     :x2 747.4130249023438,
                                     :y2 694.46875,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 563.1885986328125,
                                   :y1 668.15625,
                                   :x2 747.4130249023438,
                                   :y2 681.15625,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 413.546875,
                                   :y1 681.46875,
                                   :x2 664.4783325195312,
                                   :y2 694.46875,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 6},
               :content {:text " In rare cases, the low frequency of singles indicated linkage between the two mutatio"},
               :properties {:color "red"}}],
 :extra {:page 5}}
