{:highlights [{:id #uuid "68fb86b4-3fe4-4b1e-9f66-1927de3628b0",
               :page 1,
               :position {:bounding {:x1 51.4296875,
                                     :y1 554.65625,
                                     :x2 411.87035369873047,
                                     :y2 584.5859375,
                                     :width 852.544,
                                     :height 1164.416},
                          :rects ({:x1 98.23372650146484,
                                   :y1 554.65625,
                                   :x2 411.87035369873047,
                                   :y2 570.15625,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 51.4296875,
                                   :y1 569.0859375,
                                   :x2 205.75933837890625,
                                   :y2 584.5859375,
                                   :width 852.544,
                                   :height 1164.416}),
                          :page 1},
               :content {:text " Here we demonstrate that the 701 and 708 mutations do indeed suppress each other,"},
               :properties {:color "yellow"}}
              {:id #uuid "68fb86bb-8503-4ef6-af01-d4909837b3bb",
               :page 1,
               :position {:bounding {:x1 51.4296875,
                                     :y1 599.46875,
                                     :x2 412.07177734375,
                                     :y2 642.3359375,
                                     :width 852.544,
                                     :height 1164.416},
                          :rects ({:x1 94.421875,
                                   :y1 599.46875,
                                   :x2 412.07177734375,
                                   :y2 613.46875,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 51.7734375,
                                   :y1 613.90625,
                                   :x2 411.8739318847656,
                                   :y2 627.90625,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 51.4296875,
                                   :y1 628.3359375,
                                   :x2 207.0361785888672,
                                   :y2 642.3359375,
                                   :width 852.544,
                                   :height 1164.416}),
                          :page 1},
               :content {:text "701-708 double mutant was constructed in vivo by homologous recombination within the 26 base pairs (bp) that separate the two mutation"},
               :properties {:color "yellow"}}
              {:id #uuid "68fb86e1-09a3-424a-87dc-6885e25bd212",
               :page 1,
               :position {:bounding {:x1 51.4296875,
                                     :y1 686.765625,
                                     :x2 411.5265197753906,
                                     :y2 729.984375,
                                     :width 852.544,
                                     :height 1164.416},
                          :rects ({:x1 141.7060089111328,
                                   :y1 686.765625,
                                   :x2 411.5182647705078,
                                   :y2 700.765625,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 51.4296875,
                                   :y1 701.5546875,
                                   :x2 411.5265197753906,
                                   :y2 715.5546875,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 51.4296875,
                                   :y1 715.984375,
                                   :x2 399.75750732421875,
                                   :y2 729.984375,
                                   :width 852.544,
                                   :height 1164.416}),
                          :page 1},
               :content {:text "is phage was then used to lysogenize a strain containing the 708 mutation such that the integrative recombination event occurred between the sites of the two mutation"},
               :properties {:color "yellow"}}
              {:id #uuid "68fb874b-e83d-4331-a3c7-16662d67f981",
               :page 1,
               :position {:bounding {:x1 440.2265625,
                                     :y1 553.2578125,
                                     :x2 801.0343017578125,
                                     :y2 641.640625,
                                     :width 852.544,
                                     :height 1164.416},
                          :rects ({:x1 724.816162109375,
                                   :y1 553.2578125,
                                   :x2 800.3245239257812,
                                   :y2 568.7578125,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 440.2265625,
                                   :y1 567.6953125,
                                   :x2 800.3231811523438,
                                   :y2 583.1953125,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 440.5703125,
                                   :y1 583.640625,
                                   :x2 800.1450805664062,
                                   :y2 597.640625,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 440.2265625,
                                   :y1 598.0703125,
                                   :x2 801.0343017578125,
                                   :y2 612.0703125,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 440.5703125,
                                   :y1 612.5078125,
                                   :x2 799.2591552734375,
                                   :y2 626.5078125,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 440.5703125,
                                   :y1 627.640625,
                                   :x2 663.431396484375,
                                   :y2 641.640625,
                                   :width 852.544,
                                   :height 1164.416}),
                          :page 1},
               :content {:text "The mutations individually were found to reduce the amount of A receptor to approximately equivalent levels—5% and 8% of wild type. When combined, the two mutations suppressed each other, but only toa limited extent. The double mutation restored only 25% of wild-type levels of A receptor activit"},
               :properties {:color "yellow"}}
              {:id #uuid "68fb8788-cd0e-41d3-8851-66eb9b2e6082",
               :page 2,
               :position {:bounding {:x1 51.4296875,
                                     :y1 139.2265625,
                                     :x2 411.8702697753906,
                                     :y2 182.09375,
                                     :width 852.544,
                                     :height 1164.416},
                          :rects ({:x1 248.18328857421875,
                                   :y1 139.2265625,
                                   :x2 411.8702697753906,
                                   :y2 153.2265625,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 51.7734375,
                                   :y1 153.65625,
                                   :x2 411.51824951171875,
                                   :y2 167.65625,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 51.4296875,
                                   :y1 168.09375,
                                   :x2 189.0364227294922,
                                   :y2 182.09375,
                                   :width 852.544,
                                   :height 1164.416}),
                          :page 2},
               :content {:text "erent, 708 being significantly more leaky than 701. Essentially full suppression is observed in the 701-708 double mut"},
               :properties {:color "yellow"}}
              {:id #uuid "68fb87e5-b15e-4f05-884a-77f240a75ff5",
               :page 2,
               :position {:bounding {:x1 439.890625,
                                     :y1 325.9296875,
                                     :x2 800.3394775390625,
                                     :y2 384.7265625,
                                     :width 852.544,
                                     :height 1164.416},
                          :rects ({:x1 719.008056640625,
                                   :y1 325.9296875,
                                   :x2 800.3248291015625,
                                   :y2 341.4296875,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 439.890625,
                                   :y1 341.5234375,
                                   :x2 800.3394775390625,
                                   :y2 355.5234375,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 439.890625,
                                   :y1 354.796875,
                                   :x2 799.9885864257812,
                                   :y2 370.296875,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 439.890625,
                                   :y1 369.2265625,
                                   :x2 563.9796142578125,
                                   :y2 384.7265625,
                                   :width 852.544,
                                   :height 1164.416}),
                          :page 2},
               :content {:text "The relatively leaky effect of the 708 mutation can therefore be explained by a less stable hairpin structure and a consequently more accessible ribosome-binding site"},
               :properties {:color "yellow"}}
              {:id #uuid "68fb87fb-fe0d-40b0-8aec-d79cdfcb8e88",
               :page 2,
               :position {:bounding {:x1 439.890625,
                                     :y1 587.7109375,
                                     :x2 799.990966796875,
                                     :y2 647.2109375,
                                     :width 852.544,
                                     :height 1164.416},
                          :rects ({:x1 505.9053649902344,
                                   :y1 587.7109375,
                                   :x2 799.9869384765625,
                                   :y2 603.2109375,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 440.2265625,
                                   :y1 602.4921875,
                                   :x2 799.97216796875,
                                   :y2 617.9921875,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 439.890625,
                                   :y1 615.8828125,
                                   :x2 799.990966796875,
                                   :y2 632.8828125,
                                   :width 852.544,
                                   :height 1164.416}
                                  {:x1 440.2265625,
                                   :y1 631.7109375,
                                   :x2 560.2589111328125,
                                   :y2 647.2109375,
                                   :width 852.544,
                                   :height 1164.416}),
                          :page 2},
               :content {:text "e believe that this alteration of a charged amino acid to a neutral residue in the early hydrophilic portion of the signal sequence’® reduces localization of the A receptor protein to the outer membrane"},
               :properties {:color "blue"}}],
 :extra {:page 2}}
