{:highlights [{:id #uuid "6a4e8a55-a3d8-440d-8f2c-fe4d27c49739",
               :page 2,
               :position {:bounding {:x1 106.234375,
                                     :y1 1250.640625,
                                     :x2 584.6432495117188,
                                     :y2 1313.484375,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 381.6050109863281,
                                   :y1 1250.640625,
                                   :x2 584.5054931640625,
                                   :y2 1269.640625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.234375,
                                   :y1 1272.5625,
                                   :x2 584.6432495117188,
                                   :y2 1291.5625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.234375,
                                   :y1 1294.484375,
                                   :x2 364.0636901855469,
                                   :y2 1313.484375,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 2},
               :content {:text "ich results in paradoxically increased circulating neutrophils due to defective retention of neutrophils within the bone marro"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4e8a9b-fe8b-40f3-bc45-5b3f8538ddec",
               :page 4,
               :position {:bounding {:x1 106.234375,
                                     :y1 221.453125,
                                     :x2 584.6240081787109,
                                     :y2 284.3125,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 222.10289001464844,
                                   :y1 221.453125,
                                   :x2 584.6240081787109,
                                   :y2 240.453125,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.234375,
                                   :y1 243.390625,
                                   :x2 584.5759887695312,
                                   :y2 262.390625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.234375,
                                   :y1 265.3125,
                                   :x2 468.7004699707031,
                                   :y2 284.3125,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 4},
               :content {:text "rtilage regeneration was demonstrated by new islands of proliferating chondrocytes and a shortened distance(0.7 mm) between opposing cartilage endplat"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4e8ad7-2d5c-4658-b3d8-3bbfc9b2eb46",
               :page 4,
               :position {:bounding {:x1 106.234375,
                                     :y1 879.03125,
                                     :x2 584.5837249755859,
                                     :y2 941.875,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 185.21665954589844,
                                   :y1 879.03125,
                                   :x2 584.5837249755859,
                                   :y2 898.03125,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.234375,
                                   :y1 900.953125,
                                   :x2 584.5562744140625,
                                   :y2 919.953125,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.234375,
                                   :y1 922.875,
                                   :x2 129.46595764160156,
                                   :y2 941.875,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 4},
               :content {:text "mpared to control littermates, CXCR2 KO mice exhibited a 6-fold increase in the number of regenerated hair follicle"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4e8b5b-a5c0-4f67-9431-bcdc6beb5be5",
               :page 4,
               :position {:bounding {:x1 608.296875,
                                     :y1 616.09375,
                                     :x2 1086.678466796875,
                                     :y2 678.78125,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 859.875,
                                   :y1 616.09375,
                                   :x2 1086.5526123046875,
                                   :y2 635.09375,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.296875,
                                   :y1 637.859375,
                                   :x2 1086.678466796875,
                                   :y2 656.859375,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.296875,
                                   :y1 659.78125,
                                   :x2 880.50830078125,
                                   :y2 678.78125,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 4},
               :content {:text " Cxcr2 transcript was predominantly expressed in neutrophils and was also found in keratinocytes, ﬁbroblasts, and macrophages "},
               :properties {:color "yellow"}}
              {:id #uuid "6a4e8b92-d937-4b8d-93b9-1aae84c946c4",
               :page 6,
               :position {:bounding {:x1 106.234375,
                                     :y1 199.53125,
                                     :x2 584.6048583984375,
                                     :y2 262.390625,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 405.60540771484375,
                                   :y1 199.53125,
                                   :x2 584.4558715820312,
                                   :y2 218.53125,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.234375,
                                   :y1 221.453125,
                                   :x2 584.6048583984375,
                                   :y2 240.453125,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.234375,
                                   :y1 243.390625,
                                   :x2 432.75518798828125,
                                   :y2 262.390625,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 6},
               :content {:text "wed overlap with an inﬂammatory neutrophil gene signature reported previously in inﬂamed joint, lung, and peritoneum neutroph"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4e8bb2-03f3-4fbb-ad26-1dc71425c4d1",
               :page 6,
               :position {:bounding {:x1 106.234375,
                                     :y1 572.09375,
                                     :x2 584.640869140625,
                                     :y2 656.859375,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 466.7818603515625,
                                   :y1 572.09375,
                                   :x2 584.365966796875,
                                   :y2 591.09375,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.234375,
                                   :y1 594.015625,
                                   :x2 584.6405639648438,
                                   :y2 613.015625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.234375,
                                   :y1 616.09375,
                                   :x2 584.640869140625,
                                   :y2 635.09375,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 106.234375,
                                   :y1 637.859375,
                                   :x2 452.4305725097656,
                                   :y2 656.859375,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 6},
               :content {:text " WT mice, neutrophils and NETs localized speciﬁcally to the wound scab and constituted a large portion of it (Figure 3H). CXCR2 KO mice did not develop wound scabs at early time point"},
               :properties {:color "green"}}],
 :extra {:page 6}}
