{:highlights [{:id #uuid "6993942a-66b3-40c9-a333-8aca72dd5010",
               :page 1,
               :position {:bounding {:x1 83.0390625,
                                     :y1 475.1015625,
                                     :x2 415.18536376953125,
                                     :y2 523.8984375,
                                     :width 838.0000000000001,
                                     :height 1088.1550616432223},
                          :rects ({:x1 230.2982635498047,
                                   :y1 475.1015625,
                                   :x2 415.18536376953125,
                                   :y2 490.6015625,
                                   :width 838.0000000000001,
                                   :height 1088.1550616432223}
                                  {:x1 83.0390625,
                                   :y1 491.75,
                                   :x2 415.16241455078125,
                                   :y2 507.25,
                                   :width 838.0000000000001,
                                   :height 1088.1550616432223}
                                  {:x1 83.0390625,
                                   :y1 508.3984375,
                                   :x2 98.212158203125,
                                   :y2 523.8984375,
                                   :width 838.0000000000001,
                                   :height 1088.1550616432223}),
                          :page 1},
               :content {:text "oteins such as Chordin, an antagonist to ventralizing bone morphogenetic protei"},
               :properties {:color "yellow"}}
              {:id #uuid "69939444-5231-4c48-bbe5-de6d69b2ed26",
               :page 1,
               :position {:bounding {:x1 83.0390625,
                                     :y1 624.703125,
                                     :x2 415.0733642578125,
                                     :y2 656.8515625,
                                     :width 838.0000000000001,
                                     :height 1088.1550616432223},
                          :rects ({:x1 207.09231567382812,
                                   :y1 624.703125,
                                   :x2 415.0733642578125,
                                   :y2 640.203125,
                                   :width 838.0000000000001,
                                   :height 1088.1550616432223}
                                  {:x1 83.0390625,
                                   :y1 641.3515625,
                                   :x2 148.0570831298828,
                                   :y2 656.8515625,
                                   :width 838.0000000000001,
                                   :height 1088.1550616432223}),
                          :page 1},
               :content {:text "table and diffuses widely along the DV axi"},
               :properties {:color "yellow"}}
              {:id #uuid "69939464-c926-4d8b-adad-a7fdd0256114",
               :page 1,
               :position {:bounding {:x1 95.625,
                                     :y1 984.609375,
                                     :x2 478.2009735107422,
                                     :y2 1017.6484375,
                                     :width 964.7775999999999,
                                     :height 1252.7776},
                          :rects ({:x1 184.88633728027344,
                                   :y1 984.609375,
                                   :x2 478.2009735107422,
                                   :y2 1000.109375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 95.625,
                                   :y1 1002.1484375,
                                   :x2 144.5898895263672,
                                   :y2 1017.6484375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}),
                          :page 1},
               :content {:text "erm entry triggers the dorsal-ventral (DV) polarity formatio"},
               :properties {:color "yellow"}}
              {:id #uuid "6993946b-0cac-4c6a-9bd1-6b57ffb13204",
               :page 1,
               :position {:bounding {:x1 196.77194213867188,
                                     :y1 1019.6875,
                                     :x2 350.0214538574219,
                                     :y2 1035.1875,
                                     :width 964.7775999999999,
                                     :height 1252.7776},
                          :rects ({:x1 196.77194213867188,
                                   :y1 1019.6875,
                                   :x2 350.0214538574219,
                                   :y2 1035.1875,
                                   :width 964.7775999999999,
                                   :height 1252.7776}),
                          :page 1},
               :content {:text "rsally predominant mann"},
               :properties {:color "yellow"}}
              {:id #uuid "69939524-d28b-4d23-b04a-2cc4e9a61d44",
               :page 1,
               :position {:bounding {:x1 455.6953125,
                                     :y1 500.328125,
                                     :x2 806.357177734375,
                                     :y2 545.859375,
                                     :width 884.3794666666668,
                                     :height 1148.3794666666668},
                          :rects ({:x1 703.89697265625,
                                   :y1 500.328125,
                                   :x2 806.357177734375,
                                   :y2 513.828125,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 455.6953125,
                                   :y1 516.28125,
                                   :x2 806.30810546875,
                                   :y2 529.78125,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 455.6953125,
                                   :y1 532.359375,
                                   :x2 593.5855712890625,
                                   :y2 545.859375,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}),
                          :page 1},
               :content {:text "ganizer factors are depleted, the whole embryo is hyperventralized because of increased activity of BM"},
               :properties {:color "yellow"}}
              {:id #uuid "6993954f-d109-45c1-a496-a335e8cfd2ce",
               :page 1,
               :position {:bounding {:x1 497.453125,
                                     :y1 721.4765625,
                                     :x2 880.173828125,
                                     :y2 772.0625,
                                     :width 964.7775999999999,
                                     :height 1252.7776},
                          :rects ({:x1 616.7332153320312,
                                   :y1 721.4765625,
                                   :x2 880.173828125,
                                   :y2 736.9765625,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 497.453125,
                                   :y1 739.015625,
                                   :x2 880.11572265625,
                                   :y2 754.515625,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 497.453125,
                                   :y1 756.5625,
                                   :x2 572.7105102539062,
                                   :y2 772.0625,
                                   :width 964.7775999999999,
                                   :height 1252.7776}),
                          :page 1},
               :content {:text "mphibian species that are thought to have patterning molecules with similar properties can vary widely in embryo size"},
               :properties {:color "yellow"}}
              {:id #uuid "6993956d-f3ee-4c45-bedd-ecebb811eae8",
               :page 1,
               :position {:bounding {:x1 497.453125,
                                     :y1 861.8125,
                                     :x2 880.12744140625,
                                     :y2 965.0234375,
                                     :width 964.7775999999999,
                                     :height 1252.7776},
                          :rects ({:x1 834.2156982421875,
                                   :y1 861.8125,
                                   :x2 880.116943359375,
                                   :y2 877.3125,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 497.453125,
                                   :y1 879.3515625,
                                   :x2 880.0909423828125,
                                   :y2 894.8515625,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 497.453125,
                                   :y1 896.8984375,
                                   :x2 880.02294921875,
                                   :y2 912.3984375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 497.453125,
                                   :y1 914.4375,
                                   :x2 880.12744140625,
                                   :y2 929.9375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 497.453125,
                                   :y1 931.9765625,
                                   :x2 880.045166015625,
                                   :y2 947.4765625,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 497.453125,
                                   :y1 949.5234375,
                                   :x2 705.1486206054688,
                                   :y2 965.0234375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}),
                          :page 1},
               :content {:text "blastula embryo is physically bisected into dorsal and ventral halves, the dorsal piece, which autonomously forms the organizer, develops into a proportionally patterned smaller embryo along the DV axis—instead of having disproportionately large dorsal tissues, as would be expected from its orig"},
               :properties {:color "yellow"}}
              {:id #uuid "69939609-8109-4b6d-bfde-2d19065e3edc",
               :page 2,
               :position {:bounding {:x1 85.015625,
                                     :y1 756.5625,
                                     :x2 456.36285400390625,
                                     :y2 789.6015625,
                                     :width 964.7775999999999,
                                     :height 1252.7776},
                          :rects ({:x1 85.015625,
                                   :y1 756.5625,
                                   :x2 456.36285400390625,
                                   :y2 772.0625,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 85.015625,
                                   :y1 774.1015625,
                                   :x2 159.38851928710938,
                                   :y2 789.6015625,
                                   :width 964.7775999999999,
                                   :height 1252.7776}),
                          :page 2},
               :content {:text "Graded DV Pattern in a Reconstituted System Depends on Chordin"},
               :properties {:color "purple"}}
              {:id #uuid "69939610-1952-44fb-a52f-037cc88d2030",
               :page 1,
               :position {:bounding {:x1 95.625,
                                     :y1 949.5234375,
                                     :x2 203.123291015625,
                                     :y2 965.0234375,
                                     :width 964.7775999999999,
                                     :height 1252.7776},
                          :rects ({:x1 95.625,
                                   :y1 949.5234375,
                                   :x2 203.123291015625,
                                   :y2 965.0234375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}),
                          :page 1},
               :content {:text "INTRODUCTION"},
               :properties {:color "purple"}}
              {:id #uuid "699396f4-295c-4ce6-8dee-cde4a2e93de5",
               :page 2,
               :position {:bounding {:x1 85.015625,
                                     :y1 809.1875,
                                     :x2 467.59991455078125,
                                     :y2 859.7734375,
                                     :width 964.7775999999999,
                                     :height 1252.7776},
                          :rects ({:x1 283.0892333984375,
                                   :y1 809.1875,
                                   :x2 467.59991455078125,
                                   :y2 824.6875,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 85.015625,
                                   :y1 826.7265625,
                                   :x2 467.5022888183594,
                                   :y2 842.2265625,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 85.015625,
                                   :y1 844.2734375,
                                   :x2 331.82586669921875,
                                   :y2 859.7734375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}),
                          :page 2},
               :content {:text "rst depleted canonical Wnt signaling in the early Xenopus embryo by inhibiting b-catenin with antisense morpholino oligonucleo"},
               :properties {:color "red"}}
              {:id #uuid "699397d5-fe64-40b9-ae5c-b68c70d5efcf",
               :page 2,
               :position {:bounding {:x1 85.015625,
                                     :y1 1037.109375,
                                     :x2 467.5983581542969,
                                     :y2 1122.8984375,
                                     :width 964.7775999999999,
                                     :height 1252.7776},
                          :rects ({:x1 397.0538330078125,
                                   :y1 1037.109375,
                                   :x2 467.5983581542969,
                                   :y2 1052.609375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 85.015625,
                                   :y1 1054.7734375,
                                   :x2 467.07244873046875,
                                   :y2 1070.2734375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 85.015625,
                                   :y1 1072.1875,
                                   :x2 467.54046630859375,
                                   :y2 1087.6875,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 85.015625,
                                   :y1 1089.734375,
                                   :x2 466.770263671875,
                                   :y2 1105.234375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 85.015625,
                                   :y1 1107.3984375,
                                   :x2 325.94146728515625,
                                   :y2 1122.8984375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}),
                          :page 2},
               :content {:text "hich a ‘‘dorsal’’ axis was exogenously created by locally inhibiting BMP signaling with injecting dominant-negative BMP receptor(dnBR) messenger RNA (mRNA) in a single vegetal blastomere of the b-catenin-depleted eight-cell em"},
               :properties {:color "red"}}
              {:id #uuid "699397f9-8f69-4e92-87d1-7db82ae6222c",
               :page 2,
               :position {:bounding {:x1 85.015625,
                                     :y1 1142.359375,
                                     :x2 467.576171875,
                                     :y2 1175.5234375,
                                     :width 964.7775999999999,
                                     :height 1252.7776},
                          :rects ({:x1 270.998779296875,
                                   :y1 1142.359375,
                                   :x2 467.576171875,
                                   :y2 1157.859375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 85.015625,
                                   :y1 1160.0234375,
                                   :x2 448.0992431640625,
                                   :y2 1175.5234375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}),
                          :page 2},
               :content {:text "ssed the axial marker Shh, indicating that these cells were committed to the dorsal midl"},
               :properties {:color "yellow"}}
              {:id #uuid "6993980a-0886-40a8-b212-f4e712e51fef",
               :page 2,
               :position {:bounding {:x1 486.7421875,
                                     :y1 160.2578125,
                                     :x2 869.4339599609375,
                                     :y2 210.84375,
                                     :width 964.7775999999999,
                                     :height 1252.7776},
                          :rects ({:x1 639.7528076171875,
                                   :y1 160.2578125,
                                   :x2 869.3243408203125,
                                   :y2 175.7578125,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 486.7421875,
                                   :y1 177.796875,
                                   :x2 869.4339599609375,
                                   :y2 193.296875,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 486.7421875,
                                   :y1 195.34375,
                                   :x2 522.5217895507812,
                                   :y2 210.84375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}),
                          :page 2},
               :content {:text "esting that localized dnBR expression exerted sufﬁciently long-range effects to generate a whole DV patter"},
               :properties {:color "green"}}
              {:id #uuid "69939843-b8e5-41b8-a018-bfb567b37cba",
               :page 2,
               :position {:bounding {:x1 486.7421875,
                                     :y1 283.0546875,
                                     :x2 869.4009399414062,
                                     :y2 333.6328125,
                                     :width 964.7775999999999,
                                     :height 1252.7776},
                          :rects ({:x1 684.92431640625,
                                   :y1 283.0546875,
                                   :x2 869.3192749023438,
                                   :y2 298.5546875,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 486.7421875,
                                   :y1 300.59375,
                                   :x2 869.4009399414062,
                                   :y2 316.09375,
                                   :width 964.7775999999999,
                                   :height 1252.7776}
                                  {:x1 486.7421875,
                                   :y1 318.1328125,
                                   :x2 534.4703979492188,
                                   :y2 333.6328125,
                                   :width 964.7775999999999,
                                   :height 1252.7776}),
                          :page 2},
               :content {:text "ct by dnBR was largely dependent on BMP antagonists emanating from the dnBR-induced organiz"},
               :properties {:color "green"}}],
 :extra {:page 2}}
