{:highlights [{:id #uuid "68d34c2f-c006-418f-abef-3b0eb6b0cccf",
               :page 2,
               :position {:bounding {:x1 252.63636779785156,
                                     :y1 367.1817626953125,
                                     :x2 1022.6363677978516,
                                     :y2 754.1817626953125,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1758678062865},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
