{:highlights [{:id #uuid "68dc9e44-4212-41c1-8111-f9fa5e1d61f0",
               :page 1,
               :position {:bounding {:x1 121.16476774215698,
                                     :y1 1050.625,
                                     :x2 598.1234850883484,
                                     :y2 1100.6676025390625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 463.8920397758484,
                                   :y1 1050.625,
                                   :x2 598.1234850883484,
                                   :y2 1079.7158813476562,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 121.16476774215698,
                                   :y1 1051.88916015625,
                                   :x2 385.19886350631714,
                                   :y2 1080.9800415039062,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 514.3181567192078,
                                   :y1 1054.1334838867188,
                                   :x2 598.1234850883484,
                                   :y2 1077.1306762695312,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 295.71021604537964,
                                   :y1 1054.303955078125,
                                   :x2 471.136332988739,
                                   :y2 1077.6988525390625,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 121.16476774215698,
                                   :y1 1072.4857788085938,
                                   :x2 173.8766131401062,
                                   :y2 1100.6676025390625,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "None of the unlinked mutations appears to affect a repressor protein"},
               :properties {:color "yellow"}}
              {:id #uuid "68dc9e79-e6a3-493d-b03a-703c39167449",
               :page 1,
               :position {:bounding {:x1 121.16476774215698,
                                     :y1 1091.960205078125,
                                     :x2 598.0786242485046,
                                     :y2 1144.2897338867188,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 369.27555418014526,
                                   :y1 1091.960205078125,
                                   :x2 598.0786242485046,
                                   :y2 1121.0510864257812,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 545.3977160453796,
                                   :y1 1095.79541015625,
                                   :x2 598.0786242485046,
                                   :y2 1119.8010864257812,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 121.16476774215698,
                                   :y1 1114.2897338867188,
                                   :x2 491.35840940475464,
                                   :y2 1144.2897338867188,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 248.5795397758484,
                                   :y1 1117.0170288085938,
                                   :x2 300.6533923149109,
                                   :y2 1140.01416015625,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "mechanism regulating operon expression must sense the level of histidyl-tRNA"},
               :properties {:color "yellow"}}
              {:id #uuid "68dc9ea7-4767-40fd-8cbc-d6069d93b320",
               :page 1,
               :position {:bounding {:x1 138.15233945846558,
                                     :y1 1298.991455078125,
                                     :x2 507.8762927055359,
                                     :y2 1328.0823974609375,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 138.15233945846558,
                                   :y1 1298.991455078125,
                                   :x2 507.8762927055359,
                                   :y2 1328.0823974609375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 393.87781858444214,
                                   :y1 1302.67041015625,
                                   :x2 420.7812304496765,
                                   :y2 1324.8720703125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 315.5397753715515,
                                   :y1 1302.82666015625,
                                   :x2 336.06531858444214,
                                   :y2 1325.2271728515625,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "ntrol region includes a barrier to transcriptio"},
               :properties {:color "yellow"}}
              {:id #uuid "68dc9ece-d291-4cab-922e-699ca2df63e0",
               :page 1,
               :position {:bounding {:x1 642.9545397758484,
                                     :y1 447.75567626953125,
                                     :x2 1120.7777209281921,
                                     :y2 518.5085144042969,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 861.8046984672546,
                                   :y1 447.75567626953125,
                                   :x2 1120.7777209281921,
                                   :y2 475.9375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 642.9545397758484,
                                   :y1 469.1335144042969,
                                   :x2 1120.5738635063171,
                                   :y2 498.22442626953125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 643.1959948539734,
                                   :y1 489.4176025390625,
                                   :x2 923.1149401664734,
                                   :y2 518.5085144042969,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "nscription through the attenuator and into the structural genes of the operon occurs only when translation is occurring simultaneous"},
               :properties {:color "yellow"}}
              {:id #uuid "68dca1a3-1d35-490f-89e8-6709a792e034",
               :page 1,
               :position {:bounding {:x1 645.2840685844421,
                                     :y1 1044.1192932128906,
                                     :x2 1123.1689562797546,
                                     :y2 1134.7158508300781,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 645.3977160453796,
                                   :y1 1044.1192932128906,
                                   :x2 1123.1689562797546,
                                   :y2 1075.0284118652344,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 1053.8493762016296,
                                   :y1 1047.0169982910156,
                                   :x2 1100.9516711235046,
                                   :y2 1069.0198059082031,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 645.2840685844421,
                                   :y1 1065.8238220214844,
                                   :x2 1122.4707140922546,
                                   :y2 1096.7328796386719,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 915.2982897758484,
                                   :y1 1068.3948059082031,
                                   :x2 1086.3067736625671,
                                   :y2 1089.9999694824219,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 645.7670397758484,
                                   :y1 1086.1078796386719,
                                   :x2 1122.7386584281921,
                                   :y2 1115.1987609863281,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 1011.3778185844421,
                                   :y1 1088.5084533691406,
                                   :x2 1036.1931262016296,
                                   :y2 1110.9090270996094,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 910.2698473930359,
                                   :y1 1088.6647033691406,
                                   :x2 937.0170397758484,
                                   :y2 1111.4630432128906,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 958.9914660453796,
                                   :y1 1088.8351745605469,
                                   :x2 997.7698473930359,
                                   :y2 1110.8380432128906,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 645.7670397758484,
                                   :y1 1106.5340270996094,
                                   :x2 771.4367175102234,
                                   :y2 1134.7158508300781,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "The model assumes that formation of the 14-base-pair stem (the attenuator stem) in the histidine mRNA causes RNA polymerase to terminate transcription at the run of U residues following that stem"},
               :properties {:color "yellow"}}
              {:id #uuid "68dca58a-3e8f-42e5-8a9e-21fdb5eb711f",
               :page 2,
               :position {:bounding {:x1 634.2613635063171,
                                     :y1 816.1505508422852,
                                     :x2 894.5478014945984,
                                     :y2 845.2414321899414,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 634.2613635063171,
                                   :y1 816.1505508422852,
                                   :x2 894.5478014945984,
                                   :y2 845.2414321899414,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "New data supporting the mode"},
               :properties {:color "purple"}}
              {:id #uuid "68dca599-c8bd-42f9-bed9-f21af77726b6",
               :page 1,
               :position {:bounding {:x1 645.7670397758484,
                                     :y1 1016.09375,
                                     :x2 993.1920886039734,
                                     :y2 1047.0028381347656,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 645.7670397758484,
                                   :y1 1016.09375,
                                   :x2 860.8522448539734,
                                   :y2 1047.0028381347656,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 829.7301135063171,
                                   :y1 1018.3380432128906,
                                   :x2 993.1920886039734,
                                   :y2 1043.5369262695312,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "Model for regulation of histidine operon"},
               :properties {:color "purple"}}
              {:id #uuid "68dca5cc-fce6-4205-99a9-13b0a20245ac",
               :page 1,
               :position {:bounding {:x1 646.5056872367859,
                                     :y1 1207.7556762695312,
                                     :x2 1124.1466174125671,
                                     :y2 1280.6818237304688,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 1068.4090685844421,
                                   :y1 1207.7556762695312,
                                   :x2 1121.0653185844421,
                                   :y2 1238.6647338867188,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 1077.5993762016296,
                                   :y1 1211.2641906738281,
                                   :x2 1122.9995226860046,
                                   :y2 1236.6619262695312,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 646.5056872367859,
                                   :y1 1230.5681762695312,
                                   :x2 1124.1466174125671,
                                   :y2 1258.75,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 646.5056872367859,
                                   :y1 1250.6818237304688,
                                   :x2 993.9112048149109,
                                   :y2 1280.6818237304688,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text " Fig. 1 presents three possible configurations that might be assumed by the leader portion of the histidine mRNA"},
               :properties {:color "yellow"}}
              {:id #uuid "68dca5d4-7e3e-457b-b05d-b8928cb0a96b",
               :page 1,
               :position {:bounding {:x1 647.4857897758484,
                                     :y1 1310.710205078125,
                                     :x2 1124.2004504203796,
                                     :y2 1362.5709838867188,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 876.1221423149109,
                                   :y1 1310.710205078125,
                                   :x2 1124.2004504203796,
                                   :y2 1343.4375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 736.0774645805359,
                                   :y1 1313.2528076171875,
                                   :x2 882.8408923149109,
                                   :y2 1339.616455078125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 966.5766711235046,
                                   :y1 1315.6533813476562,
                                   :x2 1097.9544787406921,
                                   :y2 1337.2584838867188,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 647.4857897758484,
                                   :y1 1332.5709838867188,
                                   :x2 962.6777453422546,
                                   :y2 1362.5709838867188,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 688.9772448539734,
                                   :y1 1335.2982788085938,
                                   :x2 806.5624499320984,
                                   :y2 1359.70166015625,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "n Fig. lb does not include the attenuator stem and, thus, would permit full operon expression"},
               :properties {:color "green"}}
              {:id #uuid "68dca5dd-3761-4ca5-9ebd-5a0d020c0e18",
               :page 2,
               :position {:bounding {:x1 636.7186999320984,
                                     :y1 533.4517211914062,
                                     :x2 1114.4903674125671,
                                     :y2 582.5426025390625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 659.7301135063171,
                                   :y1 533.4517211914062,
                                   :x2 1114.4903674125671,
                                   :y2 562.5426635742188,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 636.7186999320984,
                                   :y1 554.3607788085938,
                                   :x2 800.0749011039734,
                                   :y2 582.5426025390625,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "noted that termination is associated with formation of both the CD and EF stems"},
               :properties {:color "green"}}
              {:id #uuid "68dca5e3-6d07-4f23-a063-35ac1503ddc1",
               :page 2,
               :position {:bounding {:x1 634.8721423149109,
                                     :y1 657.1590962409973,
                                     :x2 1113.5620226860046,
                                     :y2 748.0681538581848,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 849.4607043266296,
                                   :y1 657.1590962409973,
                                   :x2 1113.5620226860046,
                                   :y2 686.2499775886536,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 883.5936999320984,
                                   :y1 660.3550801277161,
                                   :x2 911.3493762016296,
                                   :y2 684.3607563972473,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 634.8721423149109,
                                   :y1 678.5369038581848,
                                   :x2 929.9573473930359,
                                   :y2 707.6277852058411,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 893.0113024711609,
                                   :y1 680.6391987800598,
                                   :x2 1112.9675402641296,
                                   :y2 704.6448750495911,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 796.0795397758484,
                                   :y1 681.1079487800598,
                                   :x2 824.4459948539734,
                                   :y2 705.1136250495911,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 634.8721423149109,
                                   :y1 699.4460225105286,
                                   :x2 1113.3856310844421,
                                   :y2 727.6278462409973,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 634.8721423149109,
                                   :y1 719.8863301277161,
                                   :x2 673.2770495414734,
                                   :y2 748.0681538581848,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "wed so that their separation from polymerase permits or prohibits the mRNA secondary structures described. It seems reasonable to treat this as a kinetic mode"},
               :properties {:color "blue"}}
              {:id #uuid "68dca5ed-e8e5-45b6-8466-0e11918c27e2",
               :page 2,
               :position {:bounding {:x1 106.47726774215698,
                                     :y1 1000.3266906738281,
                                     :x2 582.7442736625671,
                                     :y2 1035.0284118652344,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 431.57670164108276,
                                   :y1 1000.3266906738281,
                                   :x2 582.7442736625671,
                                   :y2 1013.9630432128906,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 106.47726774215698,
                                   :y1 1021.3919982910156,
                                   :x2 550.0294909477234,
                                   :y2 1035.0284118652344,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text " relatively stable on the time scale involved in making the regulatory decision"},
               :properties {:color "blue"}}
              {:id #uuid "68dca5f6-c8da-409d-902a-ee21d5ea3a8f",
               :page 2,
               :position {:bounding {:x1 104.40340757369995,
                                     :y1 1226.5198669433594,
                                     :x2 580.2344470024109,
                                     :y2 1261.5340270996094,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 269.14771604537964,
                                   :y1 1226.5198669433594,
                                   :x2 580.2344470024109,
                                   :y2 1240.1562194824219,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 104.40340757369995,
                                   :y1 1247.8976745605469,
                                   :x2 402.1415820121765,
                                   :y2 1261.5340270996094,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "presumed that ribosomes are capable of disrupting mRNA secondary structur"},
               :properties {:color "blue"}}
              {:id #uuid "68dca605-038a-4581-b6d7-f0fe56f0da7f",
               :page 2,
               :position {:bounding {:x1 217.86930418014526,
                                     :y1 1424.7159118652344,
                                     :x2 505.8792223930359,
                                     :y2 1453.8068542480469,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 272.3295397758484,
                                   :y1 1424.7159118652344,
                                   :x2 505.8792223930359,
                                   :y2 1453.8068542480469,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 413.8209948539734,
                                   :y1 1428.1249694824219,
                                   :x2 436.26420164108276,
                                   :y2 1449.3180847167969,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 217.86930418014526,
                                   :y1 1430.8948669433594,
                                   :x2 272.5994372367859,
                                   :y2 1448.1675720214844,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "excess of histidyl-tRNA is available,"},
               :properties {:color "yellow"}}
              {:id #uuid "68dca609-d66e-421d-b5c9-1d9b286176f2",
               :page 2,
               :position {:bounding {:x1 728.6363635063171,
                                     :y1 97.68466186523438,
                                     :x2 996.2033801078796,
                                     :y2 125.86647033691406,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 728.6363635063171,
                                   :y1 97.68466186523438,
                                   :x2 996.2033801078796,
                                   :y2 125.86647033691406,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "far as the termination codon UAG"},
               :properties {:color "green"}}
              {:id #uuid "68dca610-64fc-4239-949b-0a088bc993ab",
               :page 2,
               :position {:bounding {:x1 639.4033923149109,
                                     :y1 222.8267059326172,
                                     :x2 1117.6386828422546,
                                     :y2 292.78407287597656,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 667.9424548149109,
                                   :y1 222.8267059326172,
                                   :x2 1117.6386828422546,
                                   :y2 251.91761779785156,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 639.4033923149109,
                                   :y1 243.5795440673828,
                                   :x2 1098.0396838188171,
                                   :y2 272.6704559326172,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 1070.8664660453796,
                                   :y1 244.8721466064453,
                                   :x2 1117.6107287406921,
                                   :y2 268.4658966064453,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 639.4033923149109,
                                   :y1 263.6931610107422,
                                   :x2 827.7075915336609,
                                   :y2 292.78407287597656,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "ortage of histidyl-tRNA, the ribosome has fallen behind the RNA polymerase such that the fifth histidine codon in the leader peptide is occupie"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
