{:highlights [{:id #uuid "68dc9e44-4212-41c1-8111-f9fa5e1d61f0",
               :page 1,
               :position {:bounding {:x1 121.16476774215698,
                                     :y1 1050.625,
                                     :x2 598.1234850883484,
                                     :y2 1100.6676025390625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 463.8920397758484,
                                   :y1 1050.625,
                                   :x2 598.1234850883484,
                                   :y2 1079.7158813476562,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 121.16476774215698,
                                   :y1 1051.88916015625,
                                   :x2 385.19886350631714,
                                   :y2 1080.9800415039062,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 514.3181567192078,
                                   :y1 1054.1334838867188,
                                   :x2 598.1234850883484,
                                   :y2 1077.1306762695312,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 295.71021604537964,
                                   :y1 1054.303955078125,
                                   :x2 471.136332988739,
                                   :y2 1077.6988525390625,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 121.16476774215698,
                                   :y1 1072.4857788085938,
                                   :x2 173.8766131401062,
                                   :y2 1100.6676025390625,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "None of the unlinked mutations appears to affect a repressor protein"},
               :properties {:color "yellow"}}
              {:id #uuid "68dc9e79-e6a3-493d-b03a-703c39167449",
               :page 1,
               :position {:bounding {:x1 121.16476774215698,
                                     :y1 1091.960205078125,
                                     :x2 598.0786242485046,
                                     :y2 1144.2897338867188,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 369.27555418014526,
                                   :y1 1091.960205078125,
                                   :x2 598.0786242485046,
                                   :y2 1121.0510864257812,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 545.3977160453796,
                                   :y1 1095.79541015625,
                                   :x2 598.0786242485046,
                                   :y2 1119.8010864257812,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 121.16476774215698,
                                   :y1 1114.2897338867188,
                                   :x2 491.35840940475464,
                                   :y2 1144.2897338867188,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 248.5795397758484,
                                   :y1 1117.0170288085938,
                                   :x2 300.6533923149109,
                                   :y2 1140.01416015625,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "mechanism regulating operon expression must sense the level of histidyl-tRNA"},
               :properties {:color "yellow"}}
              {:id #uuid "68dc9ea7-4767-40fd-8cbc-d6069d93b320",
               :page 1,
               :position {:bounding {:x1 138.15233945846558,
                                     :y1 1298.991455078125,
                                     :x2 507.8762927055359,
                                     :y2 1328.0823974609375,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 138.15233945846558,
                                   :y1 1298.991455078125,
                                   :x2 507.8762927055359,
                                   :y2 1328.0823974609375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 393.87781858444214,
                                   :y1 1302.67041015625,
                                   :x2 420.7812304496765,
                                   :y2 1324.8720703125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 315.5397753715515,
                                   :y1 1302.82666015625,
                                   :x2 336.06531858444214,
                                   :y2 1325.2271728515625,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "ntrol region includes a barrier to transcriptio"},
               :properties {:color "yellow"}}
              {:id #uuid "68dc9ece-d291-4cab-922e-699ca2df63e0",
               :page 1,
               :position {:bounding {:x1 642.9545397758484,
                                     :y1 447.75567626953125,
                                     :x2 1120.7777209281921,
                                     :y2 518.5085144042969,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 861.8046984672546,
                                   :y1 447.75567626953125,
                                   :x2 1120.7777209281921,
                                   :y2 475.9375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 642.9545397758484,
                                   :y1 469.1335144042969,
                                   :x2 1120.5738635063171,
                                   :y2 498.22442626953125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 643.1959948539734,
                                   :y1 489.4176025390625,
                                   :x2 923.1149401664734,
                                   :y2 518.5085144042969,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "nscription through the attenuator and into the structural genes of the operon occurs only when translation is occurring simultaneous"},
               :properties {:color "yellow"}}
              {:id #uuid "68dca1a3-1d35-490f-89e8-6709a792e034",
               :page 1,
               :position {:bounding {:x1 645.2840685844421,
                                     :y1 1044.1192932128906,
                                     :x2 1123.1689562797546,
                                     :y2 1134.7158508300781,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 645.3977160453796,
                                   :y1 1044.1192932128906,
                                   :x2 1123.1689562797546,
                                   :y2 1075.0284118652344,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 1053.8493762016296,
                                   :y1 1047.0169982910156,
                                   :x2 1100.9516711235046,
                                   :y2 1069.0198059082031,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 645.2840685844421,
                                   :y1 1065.8238220214844,
                                   :x2 1122.4707140922546,
                                   :y2 1096.7328796386719,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 915.2982897758484,
                                   :y1 1068.3948059082031,
                                   :x2 1086.3067736625671,
                                   :y2 1089.9999694824219,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 645.7670397758484,
                                   :y1 1086.1078796386719,
                                   :x2 1122.7386584281921,
                                   :y2 1115.1987609863281,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 1011.3778185844421,
                                   :y1 1088.5084533691406,
                                   :x2 1036.1931262016296,
                                   :y2 1110.9090270996094,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 910.2698473930359,
                                   :y1 1088.6647033691406,
                                   :x2 937.0170397758484,
                                   :y2 1111.4630432128906,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 958.9914660453796,
                                   :y1 1088.8351745605469,
                                   :x2 997.7698473930359,
                                   :y2 1110.8380432128906,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 645.7670397758484,
                                   :y1 1106.5340270996094,
                                   :x2 771.4367175102234,
                                   :y2 1134.7158508300781,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "The model assumes that formation of the 14-base-pair stem (the attenuator stem) in the histidine mRNA causes RNA polymerase to terminate transcription at the run of U residues following that stem"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
