{:highlights [{:id #uuid "68db34c9-5b26-4f27-aaa8-c97006eea79f",
               :page 1,
               :position {:bounding {:x1 196.10794830322266,
                                     :y1 640.2130737304688,
                                     :x2 683.2785110473633,
                                     :y2 684.7301025390625,
                                     :width 1326,
                                     :height 1774.8},
                          :rects ({:x1 564.6788177490234,
                                   :y1 640.2130737304688,
                                   :x2 683.0563507080078,
                                   :y2 661.1221313476562,
                                   :width 1326,
                                   :height 1774.8}
                                  {:x1 196.10794830322266,
                                   :y1 663.8209838867188,
                                   :x2 683.2785110473633,
                                   :y2 684.7301025390625,
                                   :width 1326,
                                   :height 1774.8}),
                          :page 1},
               :content {:text "ortical patch protein composition correlates with changes in patch"},
               :properties {:color "yellow"}}
              {:id #uuid "68db4188-be3e-47cc-a6d6-a76a99b7d366",
               :page 2,
               :position {:bounding {:x1 632,
                                     :y1 636,
                                     :x2 1132,
                                     :y2 756,
                                     :width 1326,
                                     :height 1774.8},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1759199622858},
               :properties {:color "yellow"}}],
 :extra {:page 11}}
