{:highlights [{:id #uuid "68db34c9-5b26-4f27-aaa8-c97006eea79f",
               :page 1,
               :position {:bounding {:x1 196.10794830322266,
                                     :y1 640.2130737304688,
                                     :x2 683.2785110473633,
                                     :y2 684.7301025390625,
                                     :width 1326,
                                     :height 1774.8},
                          :rects ({:x1 564.6788177490234,
                                   :y1 640.2130737304688,
                                   :x2 683.0563507080078,
                                   :y2 661.1221313476562,
                                   :width 1326,
                                   :height 1774.8}
                                  {:x1 196.10794830322266,
                                   :y1 663.8209838867188,
                                   :x2 683.2785110473633,
                                   :y2 684.7301025390625,
                                   :width 1326,
                                   :height 1774.8}),
                          :page 1},
               :content {:text "ortical patch protein composition correlates with changes in patch"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
