{:highlights [{:id #uuid "69968eb7-2cd7-4d24-8261-eeb3ab8c4a43",
               :page 2,
               :position {:bounding {:x1 608.2954292297363,
                                     :y1 734.0151062011719,
                                     :x2 1085.5952339172363,
                                     :y2 774.725341796875,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 775.5157661437988,
                                   :y1 734.0151062011719,
                                   :x2 1085.5952339172363,
                                   :y2 752.802978515625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.2954292297363,
                                   :y1 755.9374694824219,
                                   :x2 910.7691841125488,
                                   :y2 774.725341796875,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 2},
               :content {:text "one of Polarizing Activity [ZPA] Regulatory Sequence (ZRS, also known as MFCS"},
               :properties {:color "yellow"}}
              {:id #uuid "69968ebd-a526-47ea-9240-06fc089b0cf2",
               :page 2,
               :position {:bounding {:x1 608.2954292297363,
                                     :y1 799.7915954589844,
                                     :x2 1086.6666450500488,
                                     :y2 862.4241638183594,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 764.3673896789551,
                                   :y1 799.7915954589844,
                                   :x2 1086.5204048156738,
                                   :y2 818.5794677734375,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.2954292297363,
                                   :y1 821.552978515625,
                                   :x2 1086.6666450500488,
                                   :y2 840.3408508300781,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.2954292297363,
                                   :y1 843.6362915039062,
                                   :x2 930.2274971008301,
                                   :y2 862.4241638183594,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 2},
               :content {:text "limb-speciﬁc enhancer of the Sonic hedgehog (Shh) gene that is located at the extreme distance of nearly one million base pairs from its target promot"},
               :properties {:color "yellow"}}
              {:id #uuid "69968edc-3f4a-4b41-a9d1-4e1d7172af16",
               :page 2,
               :position {:bounding {:x1 608.2954292297363,
                                     :y1 1172.3388977050781,
                                     :x2 1086.5885200500488,
                                     :y2 1234.9715270996094,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 893.7256660461426,
                                   :y1 1172.3388977050781,
                                   :x2 1086.5885200500488,
                                   :y2 1191.1268005371094,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.2954292297363,
                                   :y1 1194.2612609863281,
                                   :x2 1086.5844917297363,
                                   :y2 1213.0491638183594,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.2954292297363,
                                   :y1 1216.1836242675781,
                                   :x2 847.9446601867676,
                                   :y2 1234.9715270996094,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 2},
               :content {:text "ntify a speciﬁc subset of nucleotide changes within the enhancer that contribute to its functional degeneration in snak"},
               :properties {:color "yellow"}}
              {:id #uuid "69968f2e-e2bf-45f2-9e08-cda667b007c8",
               :page 3,
               :position {:bounding {:x1 621.6855659484863,
                                     :y1 1142.8976440429688,
                                     :x2 1099.8851509094238,
                                     :y2 1183.60791015625,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 764.0620307922363,
                                   :y1 1142.8976440429688,
                                   :x2 1099.8851509094238,
                                   :y2 1161.685546875,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 621.6855659484863,
                                   :y1 1164.8200073242188,
                                   :x2 983.2555732727051,
                                   :y2 1183.60791015625,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 3},
               :content {:text "uishes the ZRS from other limb enhancers, which do not show such an increase in substituti"},
               :properties {:color "yellow"}}
              {:id #uuid "69968f4e-5891-4407-867b-9ae001367db1",
               :page 4,
               :position {:bounding {:x1 608.2954292297363,
                                     :y1 288.02081298828125,
                                     :x2 1086.6349067687988,
                                     :y2 394.5075378417969,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 872.5221138000488,
                                   :y1 288.02081298828125,
                                   :x2 1086.3166694641113,
                                   :y2 306.8086853027344,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.2954292297363,
                                   :y1 309.94317626953125,
                                   :x2 1086.5697212219238,
                                   :y2 328.7310485839844,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.2954292297363,
                                   :y1 331.8655090332031,
                                   :x2 1086.6349067687988,
                                   :y2 350.65338134765625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.2954292297363,
                                   :y1 353.7973327636719,
                                   :x2 1086.4713325500488,
                                   :y2 372.585205078125,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.2954292297363,
                                   :y1 375.71966552734375,
                                   :x2 899.5443305969238,
                                   :y2 394.5075378417969,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 4},
               :content {:text "rthologs from nine ﬁnned or limbed vertebrates (coelacanth, lizard, chicken, platypus, sloth, horse, cow, mouse, and human) displayed reproducible patterns of activity in the posterior limb bud that were indistinguishable from the activity of the mouse enhanc"},
               :properties {:color "yellow"}}
              {:id #uuid "69968fbc-6639-4696-b7d3-e36586e16f46",
               :page 4,
               :position {:bounding {:x1 608.2954292297363,
                                     :y1 1142.8976440429688,
                                     :x2 1086.6577339172363,
                                     :y2 1227.4620361328125,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 887.5053291320801,
                                   :y1 1142.8976440429688,
                                   :x2 1086.6577339172363,
                                   :y2 1161.685546875,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.2954292297363,
                                   :y1 1164.8200073242188,
                                   :x2 1086.5927925109863,
                                   :y2 1183.60791015625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.2954292297363,
                                   :y1 1186.7423706054688,
                                   :x2 1086.5639839172363,
                                   :y2 1205.5302124023438,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.2954292297363,
                                   :y1 1208.6741943359375,
                                   :x2 675.1300239562988,
                                   :y2 1227.4620361328125,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 4},
               :content {:text "spite considerable evolutionary distance between mammals and ﬁsh, the enhancers of mouse, human, and coelacanth are largely functionally interchangea"},
               :properties {:color "yellow"}}
              {:id #uuid "6996900e-3a8d-4b9f-b26f-965c0dab281e",
               :page 6,
               :position {:bounding {:x1 769.1761054992676,
                                     :y1 1159.3370361328125,
                                     :x2 1086.5090522766113,
                                     :y2 1199.895751953125,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 891.1203193664551,
                                   :y1 1159.3370361328125,
                                   :x2 1086.5090522766113,
                                   :y2 1178.1249389648438,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 769.1761054992676,
                                   :y1 1181.1078491210938,
                                   :x2 842.0135688781738,
                                   :y2 1199.895751953125,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 6},
               :content {:text "all deletion of 17 bp stood out beca"},
               :properties {:color "yellow"}}
              {:id #uuid "69969050-005c-4d40-ba19-4e3c915f0546",
               :page 7,
               :position {:bounding {:x1 621.6855659484863,
                                     :y1 682.6514625549316,
                                     :x2 1100.0055122375488,
                                     :y2 723.2101783752441,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 743.7586860656738,
                                   :y1 682.6514625549316,
                                   :x2 1100.0055122375488,
                                   :y2 701.4393653869629,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 621.6855659484863,
                                   :y1 704.4222755432129,
                                   :x2 730.6861152648926,
                                   :y2 723.2101783752441,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 7},
               :content {:text "hed the binding preference of the ETS1 transcription facto"},
               :properties {:color "green"}}
              {:id #uuid "69969069-fa62-4fbe-bf89-93c109702376",
               :page 7,
               :position {:bounding {:x1 621.6855659484863,
                                     :y1 967.5093994140625,
                                     :x2 1099.9554634094238,
                                     :y2 1030.1419677734375,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 869.4311714172363,
                                   :y1 967.5093994140625,
                                   :x2 1099.9090766906738,
                                   :y2 986.2972412109375,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 621.6855659484863,
                                   :y1 989.4317626953125,
                                   :x2 1099.9554634094238,
                                   :y2 1008.2196044921875,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 621.6855659484863,
                                   :y1 1011.3540649414062,
                                   :x2 871.1392402648926,
                                   :y2 1030.1419677734375,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 7},
               :content {:text "all examined snakes have lost the E0 and E1 ETS motifs. In addition, the E4 motif was lost in rattlesnake, and cobra lost the E2 m"},
               :properties {:color "yellow"}}
              {:id #uuid "699690dd-345c-440b-a15f-71241e227896",
               :page 8,
               :position {:bounding {:x1 608.2954292297363,
                                     :y1 200.32196044921875,
                                     :x2 1086.6161079406738,
                                     :y2 262.9639892578125,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 654.0249214172363,
                                   :y1 200.32196044921875,
                                   :x2 1086.6161079406738,
                                   :y2 219.10980224609375,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.2954292297363,
                                   :y1 222.2537841796875,
                                   :x2 1086.5819282531738,
                                   :y2 241.0416259765625,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 608.2954292297363,
                                   :y1 244.17608642578125,
                                   :x2 723.7392158508301,
                                   :y2 262.9639892578125,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 8},
               :content {:text "lly functional ZRS into a snake genome alone would be sufﬁcient to induce the formation of fully or even partially developed limbs in snakes"},
               :properties {:color "blue"}}],
 :extra {:page 7}}
