{:highlights [{:id #uuid "69a6484c-09e4-4cea-ac6b-2df699e312e7",
               :page 2,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 1210.4165649414062,
                                     :x2 1048.9031910896301,
                                     :y2 1264.1854858398438,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 158.9186635017395,
                                   :y1 1210.4165649414062,
                                   :x2 1048.9031910896301,
                                   :y2 1235.2650146484375,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1239.3370361328125,
                                   :x2 335.1003346443176,
                                   :y2 1264.1854858398438,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 2},
               :content {:text "anar cell polarity (PCP) aligns the polarity of cell sheets within the plane of the tissue, perpendicularly to the apico-basal axi"},
               :properties {:color "yellow"}}
              {:id #uuid "69a6487e-78ca-4c41-8e56-96d2c60abdcd",
               :page 3,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 171.73292541503906,
                                     :x2 1048.3381276130676,
                                     :y2 225.62498474121094,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 791.8686451911926,
                                   :y1 171.73292541503906,
                                   :x2 1048.3381276130676,
                                   :y2 196.58140563964844,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 200.77650451660156,
                                   :x2 785.3576893806458,
                                   :y2 225.62498474121094,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 3},
               :content {:text "CP pathways usually polarize cell behaviors by polarizing the actomyosin and microtubule cytoskeleto"},
               :properties {:color "yellow"}}
              {:id #uuid "69a64974-b7bc-4fed-8853-413decfffbc2",
               :page 3,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 477.66094970703125,
                                     :x2 1048.8525319099426,
                                     :y2 560.4639892578125,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 924.9525685310364,
                                   :y1 477.66094970703125,
                                   :x2 1048.8525319099426,
                                   :y2 502.5094299316406,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 506.5813903808594,
                                   :x2 1048.7257008552551,
                                   :y2 531.4299011230469,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 535.615478515625,
                                   :x2 670.8532643318176,
                                   :y2 560.4639892578125,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 3},
               :content {:text "An important characteristic of planar polarity proteins (i.e. members of a given PCP pathway) is that they display complementary planar polarized distributions at the cell le"},
               :properties {:color "yellow"}}
              {:id #uuid "69a64981-6b4b-46fa-ad54-a4c57fb1db4f",
               :page 3,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 651.5340576171875,
                                     :x2 1048.8856129646301,
                                     :y2 705.302978515625,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 403.4066090583801,
                                   :y1 651.5340576171875,
                                   :x2 1048.8856129646301,
                                   :y2 676.3825378417969,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 680.4544982910156,
                                   :x2 511.0676808357239,
                                   :y2 705.302978515625,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 3},
               :content {:text "example, in the core PCP, Fmi displays an axial polarity while Fz and Vang display complementary vectorial polaritie"},
               :properties {:color "yellow"}}
              {:id #uuid "69a64996-3678-4786-898b-ce4ddaab1e71",
               :page 3,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 1132.1779479980469,
                                     :x2 1048.9211354255676,
                                     :y2 1214.98095703125,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 566.2558522224426,
                                   :y1 1132.1779479980469,
                                   :x2 1048.8577809333801,
                                   :y2 1157.0264282226562,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1161.2214965820312,
                                   :x2 1048.9211354255676,
                                   :y2 1186.0699768066406,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1190.1324768066406,
                                   :x2 708.1450428962708,
                                   :y2 1214.98095703125,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 3},
               :content {:text "mon principles are at stake at the molecular level: PCP pathways involve transmembrane proteins with adhesion motifs, which interact in trans between neighboring cells and mutually polarize each other via feedback"},
               :properties {:color "yellow"}}
              {:id #uuid "69a6499f-816b-49c2-9019-1462076401cb",
               :page 3,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 1190.1324768066406,
                                     :x2 1048.8851246833801,
                                     :y2 1301.988525390625,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 784.1297535896301,
                                   :y1 1190.1324768066406,
                                   :x2 1048.7632985115051,
                                   :y2 1214.98095703125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1219.1760559082031,
                                   :x2 1048.8851246833801,
                                   :y2 1244.0245361328125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1248.0964965820312,
                                   :x2 1048.6909108161926,
                                   :y2 1272.9449768066406,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1277.1400451660156,
                                   :x2 193.3254475593567,
                                   :y2 1301.988525390625,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 3},
               :content {:text "ehavior is particularly obvious when one PCP protein is asymmetrically expressed between two groups of cells, leading to the recruitment of the complementary PCP protein complex at the interfaces between these two groups of cell"},
               :properties {:color "red"}}
              {:id #uuid "69a649bb-8edf-414f-96f3-e0ed46758927",
               :page 3,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 1467.0169372558594,
                                     :x2 1048.6945729255676,
                                     :y2 1520.9089965820312,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 374.1301808357239,
                                   :y1 1467.0169372558594,
                                   :x2 1048.6945729255676,
                                   :y2 1491.8654174804688,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1496.0605163574219,
                                   :x2 910.5432667732239,
                                   :y2 1520.9089965820312,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 3},
               :content {:text "ce suggests that Fmi exists in two functional forms, depending on its binding to Fz or Vang, explaining how a homophilic binding protein can form asymmetric bridg"},
               :properties {:color "yellow"}}
              {:id #uuid "69a649d4-d1f2-49e6-b2ad-d8dbfb7c71a9",
               :page 4,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 422.6988296508789,
                                     :x2 1048.7266774177551,
                                     :y2 505.50186920166016,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 405.9190602302551,
                                   :y1 422.6988296508789,
                                   :x2 1048.6583180427551,
                                   :y2 447.5473098754883,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 451.61930084228516,
                                   :x2 1048.7266774177551,
                                   :y2 476.46778106689453,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 480.6533889770508,
                                   :x2 446.1235280036926,
                                   :y2 505.50186920166016,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 4},
               :content {:text "r example, vang mutant clones (i.e. groups of cells that express only Fz) recruit Vang and repel Fz from their wild-type neighboring cells while Fz inside the clone accumulates at the interface with wild-type cell"},
               :properties {:color "yellow"}}
              {:id #uuid "69a64a11-4660-46d9-97ff-e10fbb996f3d",
               :page 4,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 992.376838684082,
                                     :x2 1048.8389821052551,
                                     :y2 1104.2233963012695,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 485.17568254470825,
                                   :y1 992.376838684082,
                                   :x2 1048.0239491462708,
                                   :y2 1017.2252883911133,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1021.4204177856445,
                                   :x2 1048.7831959724426,
                                   :y2 1046.2688674926758,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1050.3408279418945,
                                   :x2 166.14582109451294,
                                   :y2 1075.189338684082,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 176.35414934158325,
                                   :y1 1050.3408279418945,
                                   :x2 244.18558549880981,
                                   :y2 1075.189338684082,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 254.49810075759888,
                                   :y1 1050.3408279418945,
                                   :x2 338.36171770095825,
                                   :y2 1075.189338684082,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 348.6363453865051,
                                   :y1 1050.3408279418945,
                                   :x2 373.683678150177,
                                   :y2 1075.189338684082,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 384.0151295661926,
                                   :y1 1050.3408279418945,
                                   :x2 496.1458058357239,
                                   :y2 1075.189338684082,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 506.8370900154114,
                                   :y1 1050.3408279418945,
                                   :x2 529.5075612068176,
                                   :y2 1075.189338684082,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 539.7158741950989,
                                   :y1 1050.3408279418945,
                                   :x2 568.6458058357239,
                                   :y2 1075.189338684082,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 578.9583058357239,
                                   :y1 1050.3408279418945,
                                   :x2 706.3825001716614,
                                   :y2 1075.189338684082,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 716.6382374763489,
                                   :y1 1050.3408279418945,
                                   :x2 742.0454030036926,
                                   :y2 1075.189338684082,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 752.3389821052551,
                                   :y1 1050.3408279418945,
                                   :x2 836.6666188240051,
                                   :y2 1075.189338684082,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 846.9317555427551,
                                   :y1 1050.3408279418945,
                                   :x2 959.1476368904114,
                                   :y2 1075.189338684082,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 969.7158131599426,
                                   :y1 1050.3408279418945,
                                   :x2 992.4810109138489,
                                   :y2 1075.189338684082,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 1002.8313527107239,
                                   :y1 1050.3408279418945,
                                   :x2 1048.8389821052551,
                                   :y2 1075.189338684082,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1079.3749465942383,
                                   :x2 593.5801930427551,
                                   :y2 1104.2233963012695,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 4},
               :content {:text "membrane core PCP proteins first form stable asymmetric complexes independently of the cytoplasmic proteins, which in a second step promote the formation of puncta resistant to endocytosis in cis (stabilization) or promote endocytosis in trans(destabilization), strengthening the initial asymme"},
               :properties {:color "green"}}],
 :extra {:page 5}}
