{:highlights [{:id #uuid "69a6484c-09e4-4cea-ac6b-2df699e312e7",
               :page 2,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 1210.4165649414062,
                                     :x2 1048.9031910896301,
                                     :y2 1264.1854858398438,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 158.9186635017395,
                                   :y1 1210.4165649414062,
                                   :x2 1048.9031910896301,
                                   :y2 1235.2650146484375,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1239.3370361328125,
                                   :x2 335.1003346443176,
                                   :y2 1264.1854858398438,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 2},
               :content {:text "anar cell polarity (PCP) aligns the polarity of cell sheets within the plane of the tissue, perpendicularly to the apico-basal axi"},
               :properties {:color "yellow"}}
              {:id #uuid "69a6487e-78ca-4c41-8e56-96d2c60abdcd",
               :page 3,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 171.73292541503906,
                                     :x2 1048.3381276130676,
                                     :y2 225.62498474121094,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 791.8686451911926,
                                   :y1 171.73292541503906,
                                   :x2 1048.3381276130676,
                                   :y2 196.58140563964844,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 200.77650451660156,
                                   :x2 785.3576893806458,
                                   :y2 225.62498474121094,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 3},
               :content {:text "CP pathways usually polarize cell behaviors by polarizing the actomyosin and microtubule cytoskeleto"},
               :properties {:color "yellow"}}
              {:id #uuid "69a64974-b7bc-4fed-8853-413decfffbc2",
               :page 3,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 477.66094970703125,
                                     :x2 1048.8525319099426,
                                     :y2 560.4639892578125,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 924.9525685310364,
                                   :y1 477.66094970703125,
                                   :x2 1048.8525319099426,
                                   :y2 502.5094299316406,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 506.5813903808594,
                                   :x2 1048.7257008552551,
                                   :y2 531.4299011230469,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 535.615478515625,
                                   :x2 670.8532643318176,
                                   :y2 560.4639892578125,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 3},
               :content {:text "An important characteristic of planar polarity proteins (i.e. members of a given PCP pathway) is that they display complementary planar polarized distributions at the cell le"},
               :properties {:color "yellow"}}
              {:id #uuid "69a64981-6b4b-46fa-ad54-a4c57fb1db4f",
               :page 3,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 651.5340576171875,
                                     :x2 1048.8856129646301,
                                     :y2 705.302978515625,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 403.4066090583801,
                                   :y1 651.5340576171875,
                                   :x2 1048.8856129646301,
                                   :y2 676.3825378417969,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 680.4544982910156,
                                   :x2 511.0676808357239,
                                   :y2 705.302978515625,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 3},
               :content {:text "example, in the core PCP, Fmi displays an axial polarity while Fz and Vang display complementary vectorial polaritie"},
               :properties {:color "yellow"}}
              {:id #uuid "69a64996-3678-4786-898b-ce4ddaab1e71",
               :page 3,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 1132.1779479980469,
                                     :x2 1048.9211354255676,
                                     :y2 1214.98095703125,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 566.2558522224426,
                                   :y1 1132.1779479980469,
                                   :x2 1048.8577809333801,
                                   :y2 1157.0264282226562,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1161.2214965820312,
                                   :x2 1048.9211354255676,
                                   :y2 1186.0699768066406,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1190.1324768066406,
                                   :x2 708.1450428962708,
                                   :y2 1214.98095703125,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 3},
               :content {:text "mon principles are at stake at the molecular level: PCP pathways involve transmembrane proteins with adhesion motifs, which interact in trans between neighboring cells and mutually polarize each other via feedback"},
               :properties {:color "yellow"}}
              {:id #uuid "69a6499f-816b-49c2-9019-1462076401cb",
               :page 3,
               :position {:bounding {:x1 141.71401262283325,
                                     :y1 1190.1324768066406,
                                     :x2 1048.8851246833801,
                                     :y2 1301.988525390625,
                                     :width 1190.64,
                                     :height 1683.84},
                          :rects ({:x1 784.1297535896301,
                                   :y1 1190.1324768066406,
                                   :x2 1048.7632985115051,
                                   :y2 1214.98095703125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1219.1760559082031,
                                   :x2 1048.8851246833801,
                                   :y2 1244.0245361328125,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1248.0964965820312,
                                   :x2 1048.6909108161926,
                                   :y2 1272.9449768066406,
                                   :width 1190.64,
                                   :height 1683.84}
                                  {:x1 141.71401262283325,
                                   :y1 1277.1400451660156,
                                   :x2 193.3254475593567,
                                   :y2 1301.988525390625,
                                   :width 1190.64,
                                   :height 1683.84}),
                          :page 3},
               :content {:text "ehavior is particularly obvious when one PCP protein is asymmetrically expressed between two groups of cells, leading to the recruitment of the complementary PCP protein complex at the interfaces between these two groups of cell"},
               :properties {:color "red"}}],
 :extra {:page 3}}
