{:highlights [{:id #uuid "692fcc06-0e43-47e2-a006-ff246e1d5ee1",
               :page 1,
               :position {:bounding {:x1 603.7309951782227,
                                     :y1 1086.9885559082031,
                                     :x2 1100.321632385254,
                                     :y2 1216.003662109375,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 935.0694961547852,
                                   :y1 1086.9885559082031,
                                   :x2 1100.092872619629,
                                   :y2 1106.3824768066406,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.7309951782227,
                                   :y1 1108.9203491210938,
                                   :x2 1098.8136978149414,
                                   :y2 1128.3142700195312,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.7309951782227,
                                   :y1 1130.8427124023438,
                                   :x2 1100.275489807129,
                                   :y2 1150.2366333007812,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.7309951782227,
                                   :y1 1152.7650756835938,
                                   :x2 1098.8884048461914,
                                   :y2 1172.1589965820312,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.7309951782227,
                                   :y1 1174.6873779296875,
                                   :x2 1100.321632385254,
                                   :y2 1194.0813598632812,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.7309951782227,
                                   :y1 1196.6097412109375,
                                   :x2 1024.8498306274414,
                                   :y2 1216.003662109375,
                                   :width 1188,
                                   :height 1566}),
                          :page 1},
               :content {:text "we compare the RNAi phenotypes of a collection of ‘library’ genes in wild-type animals with those seen in mutant worms carrying a deﬁned lesion in a single‘query’ gene; a genetic interaction between a query gene and a library gene is observed if the phenotype of the combined perturbation is greater than the sum of the two individual perturbatio"},
               :properties {:color "yellow"}}
              {:id #uuid "692fcc20-990e-473a-9ec8-839854ea1b8f",
               :page 2,
               :position {:bounding {:x1 603.6174087524414,
                                     :y1 184.35604858398438,
                                     :x2 1088.0964126586914,
                                     :y2 257.5662536621094,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 1010.5727310180664,
                                   :y1 184.35604858398438,
                                   :x2 1078.419044494629,
                                   :y2 200.71969604492188,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.6174087524414,
                                   :y1 203.30490112304688,
                                   :x2 1082.034034729004,
                                   :y2 219.66854858398438,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.6174087524414,
                                   :y1 222.25375366210938,
                                   :x2 1088.0964126586914,
                                   :y2 238.61740112304688,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.6174087524414,
                                   :y1 241.20260620117188,
                                   :x2 745.2480239868164,
                                   :y2 257.5662536621094,
                                   :width 1188,
                                   :height 1566}),
                          :page 2},
               :content {:text "l plates. In this example, RNAi against sem-5 results in strong sterility in sos-1(cs41) but not in wild-type worms, thus deﬁning a genetic interaction between the genes sos-1 and sem-"},
               :properties {:color "yellow"}}
              {:id #uuid "692fcc4b-6f9a-447d-9d9e-6bd18da93783",
               :page 2,
               :position {:bounding {:x1 83.62688446044922,
                                     :y1 848.3332977294922,
                                     :x2 580.203727722168,
                                     :y2 911.5813446044922,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 386.54215240478516,
                                   :y1 848.3332977294922,
                                   :x2 579.9055557250977,
                                   :y2 867.7272186279297,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 83.62688446044922,
                                   :y1 870.4166107177734,
                                   :x2 580.203727722168,
                                   :y2 889.8105316162109,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 83.62688446044922,
                                   :y1 892.1874237060547,
                                   :x2 128.64237213134766,
                                   :y2 911.5813446044922,
                                   :width 1188,
                                   :height 1566}),
                          :page 2},
               :content {:text "bservation of a synthetic interaction between a query gene and library gene that gives us insigh"},
               :properties {:color "yellow"}}
              {:id #uuid "692fcc62-94a4-41c2-92b0-40c7e23c6e01",
               :page 2,
               :position {:bounding {:x1 83.62688446044922,
                                     :y1 1286.6571655273438,
                                     :x2 580.287712097168,
                                     :y2 1371.818115234375,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 263.15287017822266,
                                   :y1 1286.6571655273438,
                                   :x2 579.7698745727539,
                                   :y2 1306.0510864257812,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 83.62688446044922,
                                   :y1 1308.740478515625,
                                   :x2 579.9977188110352,
                                   :y2 1328.1343994140625,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 83.62688446044922,
                                   :y1 1330.662841796875,
                                   :x2 580.287712097168,
                                   :y2 1350.0567626953125,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 83.62688446044922,
                                   :y1 1352.4241943359375,
                                   :x2 125.8940658569336,
                                   :y2 1371.818115234375,
                                   :width 1188,
                                   :height 1566}),
                          :page 2},
               :content {:text "otypes of all B1,750 library genes (Supplementary Table 1 online) in 14 worm strains, each carrying a loss-offunction mutation in one of 12 genes known to function in this pathw"},
               :properties {:color "yellow"}}
              {:id #uuid "692fcc7d-6330-4cab-a393-3e4deac6b639",
               :page 2,
               :position {:bounding {:x1 603.7309951782227,
                                     :y1 673.0965423583984,
                                     :x2 1100.354835510254,
                                     :y2 736.3446502685547,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 644.7933731079102,
                                   :y1 673.0965423583984,
                                   :x2 1100.354835510254,
                                   :y2 692.4904632568359,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.7309951782227,
                                   :y1 694.8673858642578,
                                   :x2 1100.3075942993164,
                                   :y2 714.2613067626953,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.7309951782227,
                                   :y1 716.9506988525391,
                                   :x2 816.2455215454102,
                                   :y2 736.3446502685547,
                                   :width 1188,
                                   :height 1566}),
                          :page 2},
               :content {:text "enty-ﬁve of the genes that we identiﬁed interacted with two or more components of the canonical EGF signaling pathway; we term these genes ‘core EGF interact"},
               :properties {:color "green"}}
              {:id #uuid "692fccad-73ac-4540-89cc-b8960202b4a6",
               :page 2,
               :position {:bounding {:x1 603.7309951782227,
                                     :y1 1352.4241333007812,
                                     :x2 1100.307228088379,
                                     :y2 1415.6722412109375,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 665.2926406860352,
                                   :y1 1352.4241333007812,
                                   :x2 1100.1091079711914,
                                   :y2 1371.8180541992188,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.7309951782227,
                                   :y1 1374.5074462890625,
                                   :x2 1100.307228088379,
                                   :y2 1393.9014282226562,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.7309951782227,
                                   :y1 1396.2783203125,
                                   :x2 733.4368057250977,
                                   :y2 1415.6722412109375,
                                   :width 1188,
                                   :height 1566}),
                          :page 2},
               :content {:text "und that inactivation of nine (56%) of these genes by RNAi signiﬁcantly suppressed the induction of ectopic vulvae by a gain-offunction mutatio"},
               :properties {:color "yellow"}}
              {:id #uuid "692fcd1c-2502-4b95-8109-be6cd40ef7ee",
               :page 3,
               :position {:bounding {:x1 603.7309951782227,
                                     :y1 1418.2006225585938,
                                     :x2 1100.137306213379,
                                     :y2 1459.6779174804688,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 676.0318984985352,
                                   :y1 1418.2006225585938,
                                   :x2 1100.137306213379,
                                   :y2 1437.5946044921875,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.7309951782227,
                                   :y1 1440.2839965820312,
                                   :x2 637.7996597290039,
                                   :y2 1459.6779174804688,
                                   :width 1188,
                                   :height 1566}),
                          :page 3},
               :content {:text "mall number of genes interact with many different query gene"},
               :properties {:color "green"}}
              {:id #uuid "692fcd38-a299-4950-bcce-0eca274609cd",
               :page 4,
               :position {:bounding {:x1 603.7309951782227,
                                     :y1 782.5662384033203,
                                     :x2 1100.328224182129,
                                     :y2 845.8048858642578,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 785.5748672485352,
                                   :y1 782.5662384033203,
                                   :x2 1100.217628479004,
                                   :y2 801.9601593017578,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.7309951782227,
                                   :y1 804.6400909423828,
                                   :x2 1100.328224182129,
                                   :y2 824.0340118408203,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.7309951782227,
                                   :y1 826.4109039306641,
                                   :x2 695.4569473266602,
                                   :y2 845.8048858642578,
                                   :width 1188,
                                   :height 1566}),
                          :page 4},
               :content {:text "ot a general property of all genes that function in chromatin modiﬁcation but rather seems limited to a deﬁned subset of gen"},
               :properties {:color "yellow"}}
              {:id #uuid "692fcd43-162d-4689-9c24-dc7a35126b76",
               :page 5,
               :position {:bounding {:x1 83.62688446044922,
                                     :y1 585.4071269035339,
                                     :x2 579.9306411743164,
                                     :y2 648.6457743644714,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 176.6983413696289,
                                   :y1 585.4071269035339,
                                   :x2 579.9306411743164,
                                   :y2 605.4071269035339,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 83.62688446044922,
                                   :y1 607.3294901847839,
                                   :x2 579.7810440063477,
                                   :y2 626.7234721183777,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 83.62688446044922,
                                   :y1 629.2518534660339,
                                   :x2 535.2264938354492,
                                   :y2 648.6457743644714,
                                   :width 1188,
                                   :height 1566}),
                          :page 5},
               :content {:text " proposed role of the chaperone hsp90 as a ‘genetic buffer’ or ‘capacitor’ of phenotypic variation18,19. Notably, hsp90 can also buffer phenotypic variation via its effects on chromatin structu"},
               :properties {:color "yellow"}}
              {:id #uuid "692fcd5b-9d03-4ffa-a335-204c0a52027b",
               :page 5,
               :position {:bounding {:x1 83.62688446044922,
                                     :y1 957.9544830322266,
                                     :x2 405.4419174194336,
                                     :y2 1043.1249542236328,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 140.0956039428711,
                                   :y1 957.9544830322266,
                                   :x2 405.4419174194336,
                                   :y2 977.3484039306641,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 83.62688446044922,
                                   :y1 979.8768463134766,
                                   :x2 405.3053512573242,
                                   :y2 999.2707672119141,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 83.62688446044922,
                                   :y1 1001.7992095947266,
                                   :x2 405.1100540161133,
                                   :y2 1021.1931304931641,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 83.62688446044922,
                                   :y1 1023.7309722900391,
                                   :x2 261.7884292602539,
                                   :y2 1043.1249542236328,
                                   :width 1188,
                                   :height 1566}),
                          :page 5},
               :content {:text "nd that reducing the expression of four of the six hub genes by RNAi results in a marked increase in the frequency of the notched head phenoty"},
               :properties {:color "yellow"}}
              {:id #uuid "692fcdde-ddfe-49b2-8f4f-fafa258a311d",
               :page 6,
               :position {:bounding {:x1 603.7309951782227,
                                     :y1 256.5435485839844,
                                     :x2 1100.2887954711914,
                                     :y2 297.8598327636719,
                                     :width 1188,
                                     :height 1566},
                          :rects ({:x1 647.2358169555664,
                                   :y1 256.5435485839844,
                                   :x2 1100.2887954711914,
                                   :y2 275.9374694824219,
                                   :width 1188,
                                   :height 1566}
                                  {:x1 603.7309951782227,
                                   :y1 278.46588134765625,
                                   :x2 886.2327651977539,
                                   :y2 297.8598327636719,
                                   :width 1188,
                                   :height 1566}),
                          :page 6},
               :content {:text "out 1 million different pairwise combinations of mutations that can result in lethality in a typical anim"},
               :properties {:color "blue"}}],
 :extra {:page 2}}
