{:highlights [{:id #uuid "68f57f25-2a70-4684-b345-6dce04043582",
               :page 1,
               :position {:bounding {:x1 127.75,
                                     :y1 714.4765625,
                                     :x2 198.50421142578125,
                                     :y2 726.4765625,
                                     :width 858.176,
                                     :height 1148.576},
                          :rects ({:x1 127.75,
                                   :y1 714.4765625,
                                   :x2 198.50421142578125,
                                   :y2 726.4765625,
                                   :width 858.176,
                                   :height 1148.576}),
                          :page 1},
               :content {:text "Introduction"},
               :properties {:color "purple"}}
              {:id #uuid "68f58000-3a35-4339-9e0c-b6b0c5d3f96d",
               :page 1,
               :position {:bounding {:x1 127.0625,
                                     :y1 898.6640625,
                                     :x2 441.39404296875,
                                     :y2 926.5234375,
                                     :width 858.176,
                                     :height 1148.576},
                          :rects ({:x1 191.36285400390625,
                                   :y1 898.6640625,
                                   :x2 441.39404296875,
                                   :y2 910.6640625,
                                   :width 858.176,
                                   :height 1148.576}
                                  {:x1 127.0625,
                                   :y1 912.5234375,
                                   :x2 393.95574951171875,
                                   :y2 926.5234375,
                                   :width 858.176,
                                   :height 1148.576}),
                          :page 1},
               :content {:text "ch are used for intraspecies communication, while others promote interspecies communicati"},
               :properties {:color "yellow"}}
              {:id #uuid "68f580c3-cc3f-4f8e-9d09-f5318e836385",
               :page 1,
               :position {:bounding {:x1 477.5625,
                                     :y1 396.96875,
                                     :x2 791.8834228515625,
                                     :y2 456.703125,
                                     :width 858.176,
                                     :height 1148.576},
                          :rects ({:x1 669.8919067382812,
                                   :y1 396.96875,
                                   :x2 791.569091796875,
                                   :y2 410.96875,
                                   :width 858.176,
                                   :height 1148.576}
                                  {:x1 477.5625,
                                   :y1 412.1328125,
                                   :x2 791.546875,
                                   :y2 426.1328125,
                                   :width 858.176,
                                   :height 1148.576}
                                  {:x1 477.8984375,
                                   :y1 427.6484375,
                                   :x2 791.8834228515625,
                                   :y2 441.6484375,
                                   :width 858.176,
                                   :height 1148.576}
                                  {:x1 477.5625,
                                   :y1 442.703125,
                                   :x2 550.7601318359375,
                                   :y2 456.703125,
                                   :width 858.176,
                                   :height 1148.576}),
                          :page 1},
               :content {:text "nsory information from both systems converges at the phosphorelay protein LuxU, and LuxU transmits the signal to the response regulator Lu"},
               :properties {:color "yellow"}}
              {:id #uuid "68f58168-64de-4c01-82aa-92342f276e0e",
               :page 1,
               :position {:bounding {:x1 477.21875,
                                     :y1 760.7421875,
                                     :x2 791.912841796875,
                                     :y2 804.6171875,
                                     :width 858.176,
                                     :height 1148.576},
                          :rects ({:x1 747.888671875,
                                   :y1 760.7421875,
                                   :x2 791.2034912109375,
                                   :y2 774.7421875,
                                   :width 858.176,
                                   :height 1148.576}
                                  {:x1 477.21875,
                                   :y1 777.1015625,
                                   :x2 791.912841796875,
                                   :y2 789.1015625,
                                   :width 858.176,
                                   :height 1148.576}
                                  {:x1 477.21875,
                                   :y1 790.6171875,
                                   :x2 779.789306640625,
                                   :y2 804.6171875,
                                   :width 858.176,
                                   :height 1148.576}),
                          :page 1},
               :content {:text "low cell density, i.e., in the absence of autoinducers, the sensors act as kinases and transfer phosphate via LuxU to Lux"},
               :properties {:color "yellow"}}
              {:id #uuid "68f58174-7051-4ce1-b74d-232ddd9b406c",
               :page 1,
               :position {:bounding {:x1 477.21875,
                                     :y1 850.828125,
                                     :x2 791.5472412109375,
                                     :y2 879.9921875,
                                     :width 858.176,
                                     :height 1148.576},
                          :rects ({:x1 561.6621704101562,
                                   :y1 850.828125,
                                   :x2 791.5472412109375,
                                   :y2 864.828125,
                                   :width 858.176,
                                   :height 1148.576}
                                  {:x1 477.21875,
                                   :y1 865.9921875,
                                   :x2 723.7573852539062,
                                   :y2 879.9921875,
                                   :width 858.176,
                                   :height 1148.576}),
                          :page 1},
               :content {:text "ugh the circuit is reversed, resulting in dephosphorylation and inactivation of Lu"},
               :properties {:color "yellow"}}
              {:id #uuid "68f5824c-dce8-4534-9dc3-f8bb3e1ceb93",
               :page 2,
               :position {:bounding {:x1 58.265625,
                                     :y1 672.6875,
                                     :x2 277.124755859375,
                                     :y2 698.96875,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 58.265625,
                                   :y1 672.6875,
                                   :x2 250.5916290283203,
                                   :y2 685.1875,
                                   :width 780.16,
                                   :height 1044.1599999999999}
                                  {:x1 58.8828125,
                                   :y1 686.46875,
                                   :x2 277.124755859375,
                                   :y2 698.96875,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 2},
               :content {:text "A Genetic Screen for the V. harveyi Quorum-Sensing Repressor Reveals Hfq"},
               :properties {:color "purple"}}
              {:id #uuid "68f58264-c742-4d13-8522-30fe0f417ef3",
               :page 2,
               :position {:bounding {:x1 377.203125,
                                     :y1 687.515625,
                                     :x2 638.9632568359375,
                                     :y2 698.515625,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 377.203125,
                                   :y1 687.515625,
                                   :x2 638.9632568359375,
                                   :y2 698.515625,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 2},
               :content {:text "Hfq Is Required for Quorum-Sensing Repression"},
               :properties {:color "purple"}}
              {:id #uuid "68f5826e-8e4d-4584-8469-fa0c12415f7b",
               :page 3,
               :position {:bounding {:x1 116.140625,
                                     :y1 895.6875,
                                     :x2 380.14544677734375,
                                     :y2 922.28125,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 116.140625,
                                   :y1 895.6875,
                                   :x2 380.14544677734375,
                                   :y2 908.1875,
                                   :width 780.16,
                                   :height 1044.1599999999999}
                                  {:x1 116.140625,
                                   :y1 909.78125,
                                   :x2 252.1426544189453,
                                   :y2 922.28125,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 3},
               :content {:text "Hfq Is Required for Regulation of Virulence Gene Expression in V. cholerae"},
               :properties {:color "purple"}}
              {:id #uuid "68f58278-305c-41ed-8b70-95b0676532c8",
               :page 3,
               :position {:bounding {:x1 434.140625,
                                     :y1 951.6484375,
                                     :x2 605.0201416015625,
                                     :y2 977.9296875,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 434.453125,
                                   :y1 951.6484375,
                                   :x2 605.0201416015625,
                                   :y2 964.1484375,
                                   :width 780.16,
                                   :height 1044.1599999999999}
                                  {:x1 434.140625,
                                   :y1 965.4296875,
                                   :x2 536.546142578125,
                                   :y2 977.9296875,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 3},
               :content {:text "Predictions for Hfq Involvement in Quorum Sensing"},
               :properties {:color "purple"}}
              {:id #uuid "68f58294-4ff7-4c1e-8fbd-ccbfd156b76e",
               :page 10,
               :position {:bounding {:x1 59.1953125,
                                     :y1 449.796875,
                                     :x2 116.795166015625,
                                     :y2 460.796875,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 59.1953125,
                                   :y1 449.796875,
                                   :x2 116.795166015625,
                                   :y2 460.796875,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 10},
               :content {:text "Discussion"},
               :properties {:color "purple"}}
              {:id #uuid "68f582ab-e233-4724-b571-6fdce0cc5346",
               :page 12,
               :position {:bounding {:x1 58.8828125,
                                     :y1 948.3046875,
                                     :x2 170.56280517578125,
                                     :y2 957.8046875,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 58.8828125,
                                   :y1 948.3046875,
                                   :x2 170.56280517578125,
                                   :y2 957.8046875,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 12},
               :content {:text "Experimental Procedures"},
               :properties {:color "purple"}}],
 :extra {:page 12}}
