{:highlights [{:id #uuid "68f57f25-2a70-4684-b345-6dce04043582",
               :page 1,
               :position {:bounding {:x1 127.75,
                                     :y1 714.4765625,
                                     :x2 198.50421142578125,
                                     :y2 726.4765625,
                                     :width 858.176,
                                     :height 1148.576},
                          :rects ({:x1 127.75,
                                   :y1 714.4765625,
                                   :x2 198.50421142578125,
                                   :y2 726.4765625,
                                   :width 858.176,
                                   :height 1148.576}),
                          :page 1},
               :content {:text "Introduction"},
               :properties {:color "purple"}}
              {:id #uuid "68f58000-3a35-4339-9e0c-b6b0c5d3f96d",
               :page 1,
               :position {:bounding {:x1 127.0625,
                                     :y1 898.6640625,
                                     :x2 441.39404296875,
                                     :y2 926.5234375,
                                     :width 858.176,
                                     :height 1148.576},
                          :rects ({:x1 191.36285400390625,
                                   :y1 898.6640625,
                                   :x2 441.39404296875,
                                   :y2 910.6640625,
                                   :width 858.176,
                                   :height 1148.576}
                                  {:x1 127.0625,
                                   :y1 912.5234375,
                                   :x2 393.95574951171875,
                                   :y2 926.5234375,
                                   :width 858.176,
                                   :height 1148.576}),
                          :page 1},
               :content {:text "ch are used for intraspecies communication, while others promote interspecies communicati"},
               :properties {:color "yellow"}}
              {:id #uuid "68f580c3-cc3f-4f8e-9d09-f5318e836385",
               :page 1,
               :position {:bounding {:x1 477.5625,
                                     :y1 396.96875,
                                     :x2 791.8834228515625,
                                     :y2 456.703125,
                                     :width 858.176,
                                     :height 1148.576},
                          :rects ({:x1 669.8919067382812,
                                   :y1 396.96875,
                                   :x2 791.569091796875,
                                   :y2 410.96875,
                                   :width 858.176,
                                   :height 1148.576}
                                  {:x1 477.5625,
                                   :y1 412.1328125,
                                   :x2 791.546875,
                                   :y2 426.1328125,
                                   :width 858.176,
                                   :height 1148.576}
                                  {:x1 477.8984375,
                                   :y1 427.6484375,
                                   :x2 791.8834228515625,
                                   :y2 441.6484375,
                                   :width 858.176,
                                   :height 1148.576}
                                  {:x1 477.5625,
                                   :y1 442.703125,
                                   :x2 550.7601318359375,
                                   :y2 456.703125,
                                   :width 858.176,
                                   :height 1148.576}),
                          :page 1},
               :content {:text "nsory information from both systems converges at the phosphorelay protein LuxU, and LuxU transmits the signal to the response regulator Lu"},
               :properties {:color "yellow"}}
              {:id #uuid "68f58168-64de-4c01-82aa-92342f276e0e",
               :page 1,
               :position {:bounding {:x1 477.21875,
                                     :y1 760.7421875,
                                     :x2 791.912841796875,
                                     :y2 804.6171875,
                                     :width 858.176,
                                     :height 1148.576},
                          :rects ({:x1 747.888671875,
                                   :y1 760.7421875,
                                   :x2 791.2034912109375,
                                   :y2 774.7421875,
                                   :width 858.176,
                                   :height 1148.576}
                                  {:x1 477.21875,
                                   :y1 777.1015625,
                                   :x2 791.912841796875,
                                   :y2 789.1015625,
                                   :width 858.176,
                                   :height 1148.576}
                                  {:x1 477.21875,
                                   :y1 790.6171875,
                                   :x2 779.789306640625,
                                   :y2 804.6171875,
                                   :width 858.176,
                                   :height 1148.576}),
                          :page 1},
               :content {:text "low cell density, i.e., in the absence of autoinducers, the sensors act as kinases and transfer phosphate via LuxU to Lux"},
               :properties {:color "yellow"}}
              {:id #uuid "68f58174-7051-4ce1-b74d-232ddd9b406c",
               :page 1,
               :position {:bounding {:x1 477.21875,
                                     :y1 850.828125,
                                     :x2 791.5472412109375,
                                     :y2 879.9921875,
                                     :width 858.176,
                                     :height 1148.576},
                          :rects ({:x1 561.6621704101562,
                                   :y1 850.828125,
                                   :x2 791.5472412109375,
                                   :y2 864.828125,
                                   :width 858.176,
                                   :height 1148.576}
                                  {:x1 477.21875,
                                   :y1 865.9921875,
                                   :x2 723.7573852539062,
                                   :y2 879.9921875,
                                   :width 858.176,
                                   :height 1148.576}),
                          :page 1},
               :content {:text "ugh the circuit is reversed, resulting in dephosphorylation and inactivation of Lu"},
               :properties {:color "yellow"}}
              {:id #uuid "68f5824c-dce8-4534-9dc3-f8bb3e1ceb93",
               :page 2,
               :position {:bounding {:x1 58.265625,
                                     :y1 672.6875,
                                     :x2 277.124755859375,
                                     :y2 698.96875,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 58.265625,
                                   :y1 672.6875,
                                   :x2 250.5916290283203,
                                   :y2 685.1875,
                                   :width 780.16,
                                   :height 1044.1599999999999}
                                  {:x1 58.8828125,
                                   :y1 686.46875,
                                   :x2 277.124755859375,
                                   :y2 698.96875,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 2},
               :content {:text "A Genetic Screen for the V. harveyi Quorum-Sensing Repressor Reveals Hfq"},
               :properties {:color "purple"}}
              {:id #uuid "68f58264-c742-4d13-8522-30fe0f417ef3",
               :page 2,
               :position {:bounding {:x1 377.203125,
                                     :y1 687.515625,
                                     :x2 638.9632568359375,
                                     :y2 698.515625,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 377.203125,
                                   :y1 687.515625,
                                   :x2 638.9632568359375,
                                   :y2 698.515625,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 2},
               :content {:text "Hfq Is Required for Quorum-Sensing Repression"},
               :properties {:color "purple"}}
              {:id #uuid "68f5826e-8e4d-4584-8469-fa0c12415f7b",
               :page 3,
               :position {:bounding {:x1 116.140625,
                                     :y1 895.6875,
                                     :x2 380.14544677734375,
                                     :y2 922.28125,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 116.140625,
                                   :y1 895.6875,
                                   :x2 380.14544677734375,
                                   :y2 908.1875,
                                   :width 780.16,
                                   :height 1044.1599999999999}
                                  {:x1 116.140625,
                                   :y1 909.78125,
                                   :x2 252.1426544189453,
                                   :y2 922.28125,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 3},
               :content {:text "Hfq Is Required for Regulation of Virulence Gene Expression in V. cholerae"},
               :properties {:color "purple"}}
              {:id #uuid "68f58278-305c-41ed-8b70-95b0676532c8",
               :page 3,
               :position {:bounding {:x1 434.140625,
                                     :y1 951.6484375,
                                     :x2 605.0201416015625,
                                     :y2 977.9296875,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 434.453125,
                                   :y1 951.6484375,
                                   :x2 605.0201416015625,
                                   :y2 964.1484375,
                                   :width 780.16,
                                   :height 1044.1599999999999}
                                  {:x1 434.140625,
                                   :y1 965.4296875,
                                   :x2 536.546142578125,
                                   :y2 977.9296875,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 3},
               :content {:text "Predictions for Hfq Involvement in Quorum Sensing"},
               :properties {:color "purple"}}
              {:id #uuid "68f58294-4ff7-4c1e-8fbd-ccbfd156b76e",
               :page 10,
               :position {:bounding {:x1 59.1953125,
                                     :y1 449.796875,
                                     :x2 116.795166015625,
                                     :y2 460.796875,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 59.1953125,
                                   :y1 449.796875,
                                   :x2 116.795166015625,
                                   :y2 460.796875,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 10},
               :content {:text "Discussion"},
               :properties {:color "purple"}}
              {:id #uuid "68f582ab-e233-4724-b571-6fdce0cc5346",
               :page 12,
               :position {:bounding {:x1 58.8828125,
                                     :y1 948.3046875,
                                     :x2 170.56280517578125,
                                     :y2 957.8046875,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 58.8828125,
                                   :y1 948.3046875,
                                   :x2 170.56280517578125,
                                   :y2 957.8046875,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 12},
               :content {:text "Experimental Procedures"},
               :properties {:color "purple"}}
              {:id #uuid "68f5ac70-e606-424a-a643-102910dbb4f6",
               :page 2,
               :position {:bounding {:x1 99.04829406738281,
                                     :y1 1238.1959533691406,
                                     :x2 585.3871612548828,
                                     :y2 1306.4913940429688,
                                     :width 1326.272,
                                     :height 1775.072},
                          :rects ({:x1 493.61669921875,
                                   :y1 1238.1959533691406,
                                   :x2 585.38623046875,
                                   :y2 1259.1050415039062,
                                   :width 1326.272,
                                   :height 1775.072}
                                  {:x1 99.04829406738281,
                                   :y1 1262.1590270996094,
                                   :x2 585.3871612548828,
                                   :y2 1283.068115234375,
                                   :width 1326.272,
                                   :height 1775.072}
                                  {:x1 100.63919830322266,
                                   :y1 1285.5823364257812,
                                   :x2 544.8576049804688,
                                   :y2 1306.4913940429688,
                                   :width 1326.272,
                                   :height 1775.072}),
                          :page 2},
               :content {:text "D47E mutation alters the site of phosphorylation, and “locks” the LuxO D47E protein into a state mimicking Lux"},
               :properties {:color "yellow"}}
              {:id #uuid "68f5accb-3f48-4982-855d-c31e20a879ef",
               :page 2,
               :position {:bounding {:x1 99.57386016845703,
                                     :y1 1380.7244262695312,
                                     :x2 585.3914794921875,
                                     :y2 1472.272705078125,
                                     :width 1326.272,
                                     :height 1775.072},
                          :rects ({:x1 517.1229858398438,
                                   :y1 1380.7244262695312,
                                   :x2 585.3914794921875,
                                   :y2 1401.6334838867188,
                                   :width 1326.272,
                                   :height 1775.072}
                                  {:x1 99.57386016845703,
                                   :y1 1404.147705078125,
                                   :x2 585.3180541992188,
                                   :y2 1425.0568237304688,
                                   :width 1326.272,
                                   :height 1775.072}
                                  {:x1 99.57386016845703,
                                   :y1 1428.1107788085938,
                                   :x2 585.2705688476562,
                                   :y2 1449.0198364257812,
                                   :width 1326.272,
                                   :height 1775.072}
                                  {:x1 99.57386016845703,
                                   :y1 1451.3635864257812,
                                   :x2 346.78553009033203,
                                   :y2 1472.272705078125,
                                   :width 1326.272,
                                   :height 1775.072}),
                          :page 2},
               :content {:text "We mutagenized a V. harveyi luxO D47E strain with the transposon Mini-MulacZ and screened for colonies that had acquired a bright phenotype"},
               :properties {:color "red"}}
              {:id #uuid "68f5ad55-a1a5-413e-b4fd-d0dd0731ee27",
               :page 2,
               :position {:bounding {:x1 640.710205078125,
                                     :y1 906.4488525390625,
                                     :x2 1127.0751953125,
                                     :y2 950.6107788085938,
                                     :width 1326.272,
                                     :height 1775.072},
                          :rects ({:x1 724.4423217773438,
                                   :y1 906.4488525390625,
                                   :x2 1127.0751953125,
                                   :y2 927.3579406738281,
                                   :width 1326.272,
                                   :height 1775.072}
                                  {:x1 640.710205078125,
                                   :y1 929.7016906738281,
                                   :x2 850.0455322265625,
                                   :y2 950.6107788085938,
                                   :width 1326.272,
                                   :height 1775.072}),
                          :page 2},
               :content {:text "erlapping regions of DNA, suggesting that a single locus was respo"},
               :properties {:color "yellow"}}
              {:id #uuid "68f5ad5b-3d69-4d69-acd0-5286ae9e57ca",
               :page 2,
               :position {:bounding {:x1 640.710205078125,
                                     :y1 977.0880737304688,
                                     :x2 1126.513671875,
                                     :y2 1021.960205078125,
                                     :width 1326.272,
                                     :height 1775.072},
                          :rects ({:x1 908.7280883789062,
                                   :y1 977.0880737304688,
                                   :x2 1126.513671875,
                                   :y2 997.9971618652344,
                                   :width 1326.272,
                                   :height 1775.072}
                                  {:x1 640.710205078125,
                                   :y1 1001.0511169433594,
                                   :x2 1072.5296630859375,
                                   :y2 1021.960205078125,
                                   :width 1326.272,
                                   :height 1775.072}),
                          :page 2},
               :content {:text "gion identified was cloned and sequenced and found to contain the gene hfgq"},
               :properties {:color "green"}}
              {:id #uuid "68f5ad72-4bf2-4df7-8b81-4310f4d0307d",
               :page 2,
               :position {:bounding {:x1 640.1846313476562,
                                     :y1 1214.2328796386719,
                                     :x2 1126.515869140625,
                                     :y2 1283.068115234375,
                                     :width 1326.272,
                                     :height 1775.072},
                          :rects ({:x1 816.2814331054688,
                                   :y1 1214.2328796386719,
                                   :x2 1125.905029296875,
                                   :y2 1235.1419677734375,
                                   :width 1326.272,
                                   :height 1775.072}
                                  {:x1 640.710205078125,
                                   :y1 1239.9715270996094,
                                   :x2 1126.515869140625,
                                   :y2 1258.1533508300781,
                                   :width 1326.272,
                                   :height 1775.072}
                                  {:x1 640.1846313476562,
                                   :y1 1262.1590270996094,
                                   :x2 781.674072265625,
                                   :y2 1283.068115234375,
                                   :width 1326.272,
                                   :height 1775.072}),
                          :page 2},
               :content {:text "hfq null mutations were introduced onto the chromosomes of the V. harveyi wild-type and luxO D47E strain"},
               :properties {:color "red"}}
              {:id #uuid "68f5addc-081e-48b0-a3d6-d1eaceb0a0d5",
               :page 2,
               :position {:bounding {:x1 1114,
                                     :y1 1334.181640625,
                                     :x2 1136,
                                     :y2 1691.181640625,
                                     :width 1326.272,
                                     :height 1775.072},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1760931291524},
               :properties {:color "yellow"}}
              {:id #uuid "68f5ade0-6f95-4671-af7e-597333d1f10a",
               :page 2,
               :position {:bounding {:x1 640.710205078125,
                                     :y1 1641.2925415039062,
                                     :x2 1127.076416015625,
                                     :y2 1686.1646728515625,
                                     :width 1326.272,
                                     :height 1775.072},
                          :rects ({:x1 684.444091796875,
                                   :y1 1641.2925415039062,
                                   :x2 1127.076416015625,
                                   :y2 1662.2015991210938,
                                   :width 1326.272,
                                   :height 1775.072}
                                  {:x1 640.710205078125,
                                   :y1 1665.255615234375,
                                   :x2 864.9308471679688,
                                   :y2 1686.1646728515625,
                                   :width 1326.272,
                                   :height 1775.072}),
                          :page 2},
               :content {:text "fq mutant (circles) has a phenotype indistinguishable from the /uxO mutan"},
               :properties {:color "green"}}
              {:id #uuid "68f5ade9-06fb-4f22-b313-c0d6462e0cd3",
               :page 3,
               :position {:bounding {:x1 196.37783813476562,
                                     :y1 1201.8039245605469,
                                     :x2 682.1812133789062,
                                     :y2 1269.9289245605469,
                                     :width 1326.272,
                                     :height 1775.072},
                          :rects ({:x1 344.3984069824219,
                                   :y1 1201.8039245605469,
                                   :x2 682.0567626953125,
                                   :y2 1222.7130432128906,
                                   :width 1326.272,
                                   :height 1775.072}
                                  {:x1 196.37783813476562,
                                   :y1 1225.7669982910156,
                                   :x2 682.1812133789062,
                                   :y2 1246.6760559082031,
                                   :width 1326.272,
                                   :height 1775.072}
                                  {:x1 197.42897033691406,
                                   :y1 1249.0198059082031,
                                   :x2 628.9735870361328,
                                   :y2 1269.9289245605469,
                                   :width 1326.272,
                                   :height 1775.072}),
                          :page 3},
               :content {:text "uxO D47E, hfq double mutant (closed triangles) is also constitutively bright, showing that repression of Jux by Hfq occurs downstream of Lu"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
