{:highlights [{:id #uuid "68ccc0e1-68b4-4861-a712-85bc2a2a409f",
               :page 1,
               :position {:bounding {:x1 85.09942722320557,
                                     :y1 1098.7499389648438,
                                     :x2 533.5933618545532,
                                     :y2 1210.6817626953125,
                                     :width 1101.26708552,
                                     :height 1511.9999999999998},
                          :rects ({:x1 125.77750492095947,
                                   :y1 1098.7499389648438,
                                   :x2 532.2150049209595,
                                   :y2 1121.4772338867188,
                                   :width 1101.26708552,
                                   :height 1511.9999999999998}
                                  {:x1 85.98011112213135,
                                   :y1 1121.2783813476562,
                                   :x2 247.27271366119385,
                                   :y2 1144.005615234375,
                                   :width 1101.26708552,
                                   :height 1511.9999999999998}
                                  {:x1 258.94886112213135,
                                   :y1 1121.2783813476562,
                                   :x2 533.3951807022095,
                                   :y2 1144.005615234375,
                                   :width 1101.26708552,
                                   :height 1511.9999999999998}
                                  {:x1 85.65340518951416,
                                   :y1 1143.210205078125,
                                   :x2 394.2471399307251,
                                   :y2 1165.9374389648438,
                                   :width 1101.26708552,
                                   :height 1511.9999999999998}
                                  {:x1 421.889199256897,
                                   :y1 1143.210205078125,
                                   :x2 533.5933618545532,
                                   :y2 1165.9374389648438,
                                   :width 1101.26708552,
                                   :height 1511.9999999999998}
                                  {:x1 85.65340518951416,
                                   :y1 1165.5823364257812,
                                   :x2 532.8372430801392,
                                   :y2 1188.3096313476562,
                                   :width 1101.26708552,
                                   :height 1511.9999999999998}
                                  {:x1 85.09942722320557,
                                   :y1 1187.9545288085938,
                                   :x2 287.1306848526001,
                                   :y2 1210.6817626953125,
                                   :width 1101.26708552,
                                   :height 1511.9999999999998}
                                  {:x1 327.8693017959595,
                                   :y1 1187.9545288085938,
                                   :x2 430.3809289932251,
                                   :y2 1210.6817626953125,
                                   :width 1101.26708552,
                                   :height 1511.9999999999998}),
                          :page 1},
               :content {:text ". If double-stranded ends are a required substrate for RecBC, thena RecBC dependence of chromosomal recombination wouldsuggest that doublestranded ends are intermediates in the recombination events thatrearrangethe chromosom"},
               :properties {:color "yellow"}}
              {:id #uuid "68ccc2ce-b8ca-44cf-a2be-855254d6e42e",
               :page 2,
               :position {:bounding {:x1 578.6221647262573,
                                     :y1 950.8380126953125,
                                     :x2 1023.6875333786011,
                                     :y2 1007.0738525390625,
                                     :width 1103.4227306666667,
                                     :height 1509.7584879999997},
                          :rects ({:x1 980.8116178512573,
                                   :y1 950.8380126953125,
                                   :x2 1021.0482511520386,
                                   :y2 969.928955078125,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}
                                  {:x1 751.0226774215698,
                                   :y1 969.70166015625,
                                   :x2 1023.6875333786011,
                                   :y2 988.7926025390625,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}
                                  {:x1 578.6221647262573,
                                   :y1 969.85791015625,
                                   :x2 736.8891935348511,
                                   :y2 988.9488525390625,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}
                                  {:x1 578.6221647262573,
                                   :y1 987.98291015625,
                                   :x2 696.0534391403198,
                                   :y2 1007.0738525390625,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}),
                          :page 2},
               :content {:text "43 hr of incubation at37\" was arbitrarily chosen for assaying colony number."},
               :properties {:color "red"}}
              {:id #uuid "68ccc2e4-d86d-49eb-bf38-c9503c779ec9",
               :page 2,
               :position {:bounding {:x1 578.6221647262573,
                                     :y1 820.3692626953125,
                                     :x2 1024.407748222351,
                                     :y2 877.35791015625,
                                     :width 1103.4227306666667,
                                     :height 1509.7584879999997},
                          :rects ({:x1 688.3664274215698,
                                   :y1 820.3692626953125,
                                   :x2 1024.407748222351,
                                   :y2 839.460205078125,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}
                                  {:x1 578.6221647262573,
                                   :y1 838.7926025390625,
                                   :x2 924.9573698043823,
                                   :y2 857.8834838867188,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}
                                  {:x1 935.9942960739136,
                                   :y1 838.7926025390625,
                                   :x2 1018.0199308395386,
                                   :y2 857.8834838867188,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}
                                  {:x1 578.6221647262573,
                                   :y1 857.67041015625,
                                   :x2 644.2471647262573,
                                   :y2 876.7613525390625,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}
                                  {:x1 661.4630460739136,
                                   :y1 858.2670288085938,
                                   :x2 972.6205778121948,
                                   :y2 877.35791015625,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}),
                          :page 2},
               :content {:text "minimal, medium containing histidinol (Hol) and (2) minimal medillm containinghistidine in order to scorethe loss of the hisD chromosomal segmen"},
               :properties {:color "red"}}
              {:id #uuid "68ccc302-cda9-44fc-a9b3-2b4c2a397920",
               :page 2,
               :position {:bounding {:x1 579.5028409957886,
                                     :y1 1228.9772338867188,
                                     :x2 1022.1227140426636,
                                     :y2 1266.491455078125,
                                     :width 1103.4227306666667,
                                     :height 1509.7584879999997},
                          :rects ({:x1 593.3785123825073,
                                   :y1 1228.9772338867188,
                                   :x2 1022.1227140426636,
                                   :y2 1248.0681457519531,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}
                                  {:x1 579.5028409957886,
                                   :y1 1247.4005432128906,
                                   :x2 766.3061246871948,
                                   :y2 1266.491455078125,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}),
                          :page 2},
               :content {:text "chromosomal fragment at ara flanked by TnlO elements in the same orientation."},
               :properties {:color "red"}}
              {:id #uuid "68ccc33a-d34d-402a-bb61-f476bb7a78ad",
               :page 2,
               :position {:bounding {:x1 578.0681486129761,
                                     :y1 1247.4005432128906,
                                     :x2 1023.9737882614136,
                                     :y2 1303.1817626953125,
                                     :width 1103.4227306666667,
                                     :height 1509.7584879999997},
                          :rects ({:x1 811.2483243942261,
                                   :y1 1247.4005432128906,
                                   :x2 1023.9737882614136,
                                   :y2 1266.491455078125,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}
                                  {:x1 578.6221647262573,
                                   :y1 1265.8238220214844,
                                   :x2 853.9204435348511,
                                   :y2 1284.9147338867188,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}
                                  {:x1 863.9772672653198,
                                   :y1 1265.8238220214844,
                                   :x2 1022.2084074020386,
                                   :y2 1284.9147338867188,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}
                                  {:x1 578.0681486129761,
                                   :y1 1284.0908813476562,
                                   :x2 1021.9929533004761,
                                   :y2 1303.1817626953125,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}),
                          :page 2},
               :content {:text "trachromosomal exchange event between direct repeats (TnlO elements) at ara can result in the excision of his material as a circular fragment"},
               :properties {:color "green"}}
              {:id #uuid "68ccc3bd-2b89-4000-9aaa-f020efb0ac63",
               :page 2,
               :position {:bounding {:x1 578.9630460739136,
                                     :y1 1376.5056762695312,
                                     :x2 1023.0370206832886,
                                     :y2 1413.8635864257812,
                                     :width 1103.4227306666667,
                                     :height 1509.7584879999997},
                          :rects ({:x1 578.9630460739136,
                                   :y1 1376.5056762695312,
                                   :x2 1023.0370206832886,
                                   :y2 1395.5965576171875,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}
                                  {:x1 578.9630460739136,
                                   :y1 1394.772705078125,
                                   :x2 1021.9081144332886,
                                   :y2 1413.8635864257812,
                                   :width 1103.4227306666667,
                                   :height 1509.7584879999997}),
                          :page 2},
               :content {:text "The His+ recombinant resulting from circle integration has a wild-type his operon and a duplication of hisDC material"},
               :properties {:color "yellow"}}
              {:id #uuid "68ccc4c8-37ef-4cb1-8ff8-e75e1fe0ac59",
               :page 3,
               :position {:bounding {:x1 89.94317722320557,
                                     :y1 703.4658966064453,
                                     :x2 535.277382850647,
                                     :y2 740.6533966064453,
                                     :width 1100.7342826666666,
                                     :height 1507.9660026666666},
                          :rects ({:x1 284.92896366119385,
                                   :y1 703.4658966064453,
                                   :x2 535.277382850647,
                                   :y2 721.6477203369141,
                                   :width 1100.7342826666666,
                                   :height 1507.9660026666666}
                                  {:x1 89.94317722320557,
                                   :y1 722.4715728759766,
                                   :x2 270.8084192276001,
                                   :y2 740.6533966064453,
                                   :width 1100.7342826666666,
                                   :height 1507.9660026666666}),
                          :page 3},
               :content {:text "his sequences are in inverse order vis&vis the normal his operon"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
