{:highlights [{:id #uuid "68f834c4-7f19-40d0-89cc-3c2943357f53",
               :page 1,
               :position {:bounding {:x1 95.5625,
                                     :y1 480.8359375,
                                     :x2 413.31610107421875,
                                     :y2 538.875,
                                     :width 850.56,
                                     :height 1103.36},
                          :rects ({:x1 306.8422546386719,
                                   :y1 480.8359375,
                                   :x2 413.31610107421875,
                                   :y2 498.8359375,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 96.0703125,
                                   :y1 494.40625,
                                   :x2 413.2701721191406,
                                   :y2 513.90625,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 95.734375,
                                   :y1 507.53125,
                                   :x2 412.34527587890625,
                                   :y2 526.03125,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 95.5625,
                                   :y1 520.875,
                                   :x2 142.43234252929688,
                                   :y2 538.875,
                                   :width 850.56,
                                   :height 1103.36}),
                          :page 1},
               :content {:text "ne limitation in the use of such hybrid proteins is that the 3-galactosidase moiety appears unable to pass through the bacterial cytoplasmic membrane"},
               :properties {:color "blue"}}
              {:id #uuid "68f834cb-2472-4cf7-b6f7-bfaf62381356",
               :page 1,
               :position {:bounding {:x1 94.4609375,
                                     :y1 561.1328125,
                                     :x2 412.60748291015625,
                                     :y2 593.1484375,
                                     :width 850.56,
                                     :height 1103.36},
                          :rects ({:x1 225.59811401367188,
                                   :y1 561.1328125,
                                   :x2 412.60748291015625,
                                   :y2 579.6328125,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 94.4609375,
                                   :y1 574.1484375,
                                   :x2 307.9241943359375,
                                   :y2 593.1484375,
                                   :width 850.56,
                                   :height 1103.36}),
                          :page 1},
               :content {:text "use the gene for the Escherichia coli periplasmic protein alkaline phosphata"},
               :properties {:color "yellow"}}
              {:id #uuid "68f834e6-9e8a-421b-a06a-bf6e1f14cb83",
               :page 1,
               :position {:bounding {:x1 93.5234375,
                                     :y1 601.3984375,
                                     :x2 411.6080017089844,
                                     :y2 646.2578125,
                                     :width 850.56,
                                     :height 1103.36},
                          :rects ({:x1 234.88223266601562,
                                   :y1 601.3984375,
                                   :x2 411.6080017089844,
                                   :y2 619.8984375,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 93.9453125,
                                   :y1 614.5234375,
                                   :x2 410.9921875,
                                   :y2 633.0234375,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 93.5234375,
                                   :y1 627.7578125,
                                   :x2 311.1912841796875,
                                   :y2 646.2578125,
                                   :width 850.56,
                                   :height 1103.36}),
                          :page 1},
               :content {:text "wn signal sequence but retaining enough of the mature protein that highly active alkaline phosphatase can be generated in fusion"},
               :properties {:color "yellow"}}
              {:id #uuid "68f8352c-8b1e-4c18-8ea9-815b6ed84615",
               :page 1,
               :position {:bounding {:x1 157.1796875,
                                     :y1 833.46875,
                                     :x2 341.7681579589844,
                                     :y2 852.46875,
                                     :width 850.56,
                                     :height 1103.36},
                          :rects ({:x1 157.1796875,
                                   :y1 833.46875,
                                   :x2 341.7681579589844,
                                   :y2 852.46875,
                                   :width 850.56,
                                   :height 1103.36}),
                          :page 1},
               :content {:text "MATERIALS AND METHODS"},
               :properties {:color "purple"}}
              {:id #uuid "68f83581-71a3-4b03-9f66-f0406a2aab04",
               :page 1,
               :position {:bounding {:x1 439.625,
                                     :y1 866.6640625,
                                     :x2 759.935546875,
                                     :y2 899.5078125,
                                     :width 850.56,
                                     :height 1103.36},
                          :rects ({:x1 525.0625,
                                   :y1 866.6640625,
                                   :x2 759.935546875,
                                   :y2 885.6640625,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 439.625,
                                   :y1 881.0078125,
                                   :x2 633.94677734375,
                                   :y2 899.5078125,
                                   :width 850.56,
                                   :height 1103.36}),
                          :page 1},
               :content {:text "enriches for cells carrying insertions of the transposon into the multicopy plasm"},
               :properties {:color "red"}}
              {:id #uuid "68f83586-d642-4cab-a3e9-4a1511f5bf7e",
               :page 1,
               :position {:bounding {:x1 440.984375,
                                     :y1 731.6640625,
                                     :x2 761.8433837890625,
                                     :y2 816.7265625,
                                     :width 850.56,
                                     :height 1103.36},
                          :rects ({:x1 528.921142578125,
                                   :y1 731.6640625,
                                   :x2 761.8433837890625,
                                   :y2 750.6640625,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 441.4921875,
                                   :y1 744.5625,
                                   :x2 761.495361328125,
                                   :y2 763.5625,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 440.984375,
                                   :y1 758.3515625,
                                   :x2 761.4993286132812,
                                   :y2 777.3515625,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 440.984375,
                                   :y1 771.4765625,
                                   :x2 761.0183715820312,
                                   :y2 790.4765625,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 676.5390625,
                                   :y1 784.3828125,
                                   :x2 761.5205688476562,
                                   :y2 802.8828125,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 440.984375,
                                   :y1 784.4921875,
                                   :x2 665.74365234375,
                                   :y2 803.4921875,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 667.3515625,
                                   :y1 786.7578125,
                                   :x2 677.234375,
                                   :y2 796.7578125,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 440.984375,
                                   :y1 797.7265625,
                                   :x2 628.8064575195312,
                                   :y2 816.7265625,
                                   :width 850.56,
                                   :height 1103.36}),
                          :page 1},
               :content {:text "ect transpositions of TnphoA(op) (op indicating opal codon; see below) or TnphoA into plasmids pBR322 or pBR325, an Flac factor carrying the transposon to be inserted [F42ts114 lac zzf-l::TnphoA(op) or F42 lacI3 zzf-2::TnphoA] was introduced into aphoA- strain (CC125 or CC118) carrying pBR322 or pBR32"},
               :properties {:color "red"}}
              {:id #uuid "68f83772-c1ed-41d2-b151-5f154cecb1c5",
               :page 2,
               :position {:bounding {:x1 445.15625,
                                     :y1 193.171875,
                                     :x2 764.580810546875,
                                     :y2 225.1328125,
                                     :width 850.56,
                                     :height 1103.36},
                          :rects ({:x1 733.21875,
                                   :y1 193.171875,
                                   :x2 764.580810546875,
                                   :y2 211.171875,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 445.15625,
                                   :y1 206.6328125,
                                   :x2 725.1110229492188,
                                   :y2 225.1328125,
                                   :width 850.56,
                                   :height 1103.36}),
                          :page 2},
               :content {:text "These plasmids were chosen because they encode 83-lactam"},
               :properties {:color "yellow"}}
              {:id #uuid "68f83802-cccf-43ac-a055-f73112ff77ab",
               :page 3,
               :position {:bounding {:x1 103.5625,
                                     :y1 942.2265625,
                                     :x2 420.0426330566406,
                                     :y2 987.4765625,
                                     :width 850.56,
                                     :height 1103.36},
                          :rects ({:x1 226.53125,
                                   :y1 942.2265625,
                                   :x2 419.24951171875,
                                   :y2 961.2265625,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 103.90625,
                                   :y1 955.3515625,
                                   :x2 420.0426330566406,
                                   :y2 973.8515625,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 103.5625,
                                   :y1 968.4765625,
                                   :x2 179.31484985351562,
                                   :y2 987.4765625,
                                   :width 850.56,
                                   :height 1103.36}),
                          :page 3},
               :content {:text "We had anticipated this possibility, and therefore the strain (CC125) we used to screen for hybrid protein activit"},
               :properties {:color "red"}}
              {:id #uuid "68f83907-5961-480b-b23d-46bbb13707cb",
               :page 4,
               :position {:bounding {:x1 101.859375,
                                     :y1 201.5546875,
                                     :x2 420.16259765625,
                                     :y2 247.1953125,
                                     :width 850.56,
                                     :height 1103.36},
                          :rects ({:x1 303.33404541015625,
                                   :y1 201.5546875,
                                   :x2 343.1171875,
                                   :y2 219.5546875,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 392.6484375,
                                   :y1 201.671875,
                                   :x2 419.9197998046875,
                                   :y2 219.671875,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 338.1015625,
                                   :y1 205.4765625,
                                   :x2 395.2421875,
                                   :y2 218.4765625,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 101.859375,
                                   :y1 215.125,
                                   :x2 420.16259765625,
                                   :y2 233.125,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 101.9453125,
                                   :y1 228.6953125,
                                   :x2 143.50335693359375,
                                   :y2 247.1953125,
                                   :width 850.56,
                                   :height 1103.36}),
                          :page 4},
               :content {:text "f this sequence, 48 bp derive from ISSOL (21) and 2 bp derive from the Pst I linker of pCH39"},
               :properties {:color "yellow"}}
              {:id #uuid "68f8390b-05a7-4843-8799-b3b38b1f1975",
               :page 4,
               :position {:bounding {:x1 101.859375,
                                     :y1 201.5546875,
                                     :x2 420.16259765625,
                                     :y2 247.1953125,
                                     :width 850.56,
                                     :height 1103.36},
                          :rects ({:x1 303.33404541015625,
                                   :y1 201.5546875,
                                   :x2 343.1171875,
                                   :y2 219.5546875,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 392.6484375,
                                   :y1 201.671875,
                                   :x2 419.9197998046875,
                                   :y2 219.671875,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 338.1015625,
                                   :y1 205.4765625,
                                   :x2 395.2421875,
                                   :y2 218.4765625,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 101.859375,
                                   :y1 215.125,
                                   :x2 420.16259765625,
                                   :y2 233.125,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 101.9453125,
                                   :y1 228.6953125,
                                   :x2 143.50335693359375,
                                   :y2 247.1953125,
                                   :width 850.56,
                                   :height 1103.36}),
                          :page 4},
               :content {:text "f this sequence, 48 bp derive from ISSOL (21) and 2 bp derive from the Pst I linker of pCH39"},
               :properties {:color "yellow"}}
              {:id #uuid "68f8390f-b8a0-478e-bd0b-72d740c6d345",
               :page 4,
               :position {:bounding {:x1 101.859375,
                                     :y1 201.5546875,
                                     :x2 420.16259765625,
                                     :y2 247.1953125,
                                     :width 850.56,
                                     :height 1103.36},
                          :rects ({:x1 334.609375,
                                   :y1 201.5546875,
                                   :x2 343.1171875,
                                   :y2 219.5546875,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 392.6484375,
                                   :y1 201.671875,
                                   :x2 419.9197998046875,
                                   :y2 219.671875,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 338.1015625,
                                   :y1 205.4765625,
                                   :x2 395.2421875,
                                   :y2 218.4765625,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 101.859375,
                                   :y1 215.125,
                                   :x2 420.16259765625,
                                   :y2 233.125,
                                   :width 850.56,
                                   :height 1103.36}
                                  {:x1 101.9453125,
                                   :y1 228.6953125,
                                   :x2 149.1602783203125,
                                   :y2 247.1953125,
                                   :width 850.56,
                                   :height 1103.36}),
                          :page 4},
               :content {:text " sequence, 48 bp derive from ISSOL (21) and 2 bp derive from the Pst I linker of pCH39 "},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
