{:highlights [{:id #uuid "6a4d5746-df0d-44a1-baee-b30242fb181b",
               :page 1,
               :position {:bounding {:x1 275.328125,
                                     :y1 261.8828125,
                                     :x2 486.2890625,
                                     :y2 354.8125,
                                     :width 761.0000000000001,
                                     :height 968.5911120389515},
                          :rects ({:x1 358.006591796875,
                                   :y1 261.8828125,
                                   :x2 485.679443359375,
                                   :y2 274.3828125,
                                   :width 761.0000000000001,
                                   :height 968.5911120389515}
                                  {:x1 275.328125,
                                   :y1 275.2578125,
                                   :x2 485.725830078125,
                                   :y2 287.7578125,
                                   :width 761.0000000000001,
                                   :height 968.5911120389515}
                                  {:x1 275.328125,
                                   :y1 288.7265625,
                                   :x2 485.673583984375,
                                   :y2 301.2265625,
                                   :width 761.0000000000001,
                                   :height 968.5911120389515}
                                  {:x1 275.328125,
                                   :y1 302.1953125,
                                   :x2 485.6705017089844,
                                   :y2 314.6953125,
                                   :width 761.0000000000001,
                                   :height 968.5911120389515}
                                  {:x1 275.328125,
                                   :y1 315.5703125,
                                   :x2 485.73321533203125,
                                   :y2 328.0703125,
                                   :width 761.0000000000001,
                                   :height 968.5911120389515}
                                  {:x1 275.328125,
                                   :y1 328.9375,
                                   :x2 486.2890625,
                                   :y2 341.4375,
                                   :width 761.0000000000001,
                                   :height 968.5911120389515}
                                  {:x1 275.328125,
                                   :y1 342.3125,
                                   :x2 482.86480712890625,
                                   :y2 354.8125,
                                   :width 761.0000000000001,
                                   :height 968.5911120389515}),
                          :page 1},
               :content {:text "ked whether scarring fibroblasts are derived purely from expansion of existing En1 lineage–positive fibroblasts present in unwounded skin, or whether En1 scar fibroblasts could arise de novo by activation of En1 expression in postnatal, En1 lineage– negative fibroblasts within the wound niche"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4d57b4-fb24-4df3-997f-add83c856a06",
               :page 1,
               :position {:bounding {:x1 503.546875,
                                     :y1 315.5703125,
                                     :x2 713.8619384765625,
                                     :y2 341.4375,
                                     :width 761.0000000000001,
                                     :height 968.5911120389515},
                          :rects ({:x1 524.09375,
                                   :y1 315.5703125,
                                   :x2 713.8619384765625,
                                   :y2 328.0703125,
                                   :width 761.0000000000001,
                                   :height 968.5911120389515}
                                  {:x1 503.546875,
                                   :y1 328.9375,
                                   :x2 570.0299072265625,
                                   :y2 341.4375,
                                   :width 761.0000000000001,
                                   :height 968.5911120389515}),
                          :page 1},
               :content {:text "En1 regulates a wide array of genes related to skin fibrosi"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4d57be-cd8a-4a5e-98d6-e159007e2824",
               :page 1,
               :position {:bounding {:x1 503.546875,
                                     :y1 355.78125,
                                     :x2 714.0136108398438,
                                     :y2 395.125,
                                     :width 761.0000000000001,
                                     :height 968.5911120389515},
                          :rects ({:x1 675.30419921875,
                                   :y1 355.78125,
                                   :x2 713.8883056640625,
                                   :y2 368.28125,
                                   :width 761.0000000000001,
                                   :height 968.5911120389515}
                                  {:x1 503.546875,
                                   :y1 369.15625,
                                   :x2 714.0136108398438,
                                   :y2 381.65625,
                                   :width 761.0000000000001,
                                   :height 968.5911120389515}
                                  {:x1 503.546875,
                                   :y1 382.625,
                                   :x2 706.5625610351562,
                                   :y2 395.125,
                                   :width 761.0000000000001,
                                   :height 968.5911120389515}),
                          :page 1},
               :content {:text "yielding skin regeneration in 30 days with recovery of functional hair follicles and sebaceous gland"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
