{:highlights [{:id #uuid "68d9ea62-00f4-4638-aa2f-b08a8ccc05a7",
               :page 1,
               :position {:bounding {:x1 100.17045021057129,
                                     :y1 822.4715881347656,
                                     :x2 503.88782691955566,
                                     :y2 897.7698669433594,
                                     :width 1048.6666666666667,
                                     :height 1372.8},
                          :rects ({:x1 230.17891120910645,
                                   :y1 822.4715881347656,
                                   :x2 502.49092292785645,
                                   :y2 840.6533508300781,
                                   :width 1048.6666666666667,
                                   :height 1372.8}
                                  {:x1 100.17045021057129,
                                   :y1 841.5482482910156,
                                   :x2 502.4101047515869,
                                   :y2 859.7300720214844,
                                   :width 1048.6666666666667,
                                   :height 1372.8}
                                  {:x1 100.48295021057129,
                                   :y1 860.4971008300781,
                                   :x2 503.88782691955566,
                                   :y2 878.6789245605469,
                                   :width 1048.6666666666667,
                                   :height 1372.8}
                                  {:x1 100.48295021057129,
                                   :y1 879.5880432128906,
                                   :x2 292.7540683746338,
                                   :y2 897.7698669433594,
                                   :width 1048.6666666666667,
                                   :height 1372.8}),
                          :page 1},
               :content {:text " addition, alternative (r-factors direct transcription of sets of genes whose products are needed for specific functions, such as sporulation, nitrogen fixation, or flagella synthesis"},
               :properties {:color "yellow"}}
              {:id #uuid "68d9ea74-ab7a-4295-9b22-a835e6ea253f",
               :page 1,
               :position {:bounding {:x1 102.37215614318848,
                                     :y1 1127.9686584472656,
                                     :x2 503.42280769348145,
                                     :y2 1165.4971008300781,
                                     :width 1048.6666666666667,
                                     :height 1372.8},
                          :rects ({:x1 193.5489673614502,
                                   :y1 1127.9686584472656,
                                   :x2 503.42280769348145,
                                   :y2 1146.1505432128906,
                                   :width 1048.6666666666667,
                                   :height 1372.8}
                                  {:x1 102.37215614318848,
                                   :y1 1147.3153381347656,
                                   :x2 491.8290424346924,
                                   :y2 1165.4971008300781,
                                   :width 1048.6666666666667,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "anscribes the heat shock genes with products that consist primarily of chaperones and protease"},
               :properties {:color "yellow"}}
              {:id #uuid "68d9ea9b-4df9-49e4-addd-a7f91b7428ba",
               :page 1,
               :position {:bounding {:x1 546.519868850708,
                                     :y1 992.5851745605469,
                                     :x2 949.103609085083,
                                     :y2 1048.7925720214844,
                                     :width 1048.6666666666667,
                                     :height 1372.8},
                          :rects ({:x1 652.5915241241455,
                                   :y1 992.5851745605469,
                                   :x2 949.103609085083,
                                   :y2 1010.7669982910156,
                                   :width 1048.6666666666667,
                                   :height 1372.8}
                                  {:x1 546.519868850708,
                                   :y1 1011.5340270996094,
                                   :x2 948.8469562530518,
                                   :y2 1029.7158508300781,
                                   :width 1048.6666666666667,
                                   :height 1372.8}
                                  {:x1 547.144868850708,
                                   :y1 1030.6107482910156,
                                   :x2 934.939790725708,
                                   :y2 1048.7925720214844,
                                   :width 1048.6666666666667,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "us, (rE was initially thought to be a supplementary heat shock g-factor that functioned to maintain high concentrations of (r32 during severe condition"},
               :properties {:color "yellow"}}
              {:id #uuid "68d9eaf2-3f2c-4db6-95d9-5a80900352dc",
               :page 1,
               :position {:bounding {:x1 547.144868850708,
                                     :y1 1049.5596008300781,
                                     :x2 947.9382038116455,
                                     :y2 1086.5624389648438,
                                     :width 1048.6666666666667,
                                     :height 1372.8},
                          :rects ({:x1 595.8565998077393,
                                   :y1 1049.5596008300781,
                                   :x2 947.9382038116455,
                                   :y2 1067.7414245605469,
                                   :width 1048.6666666666667,
                                   :height 1372.8}
                                  {:x1 547.144868850708,
                                   :y1 1068.3806457519531,
                                   :x2 646.2912311553955,
                                   :y2 1086.5624389648438,
                                   :width 1048.6666666666667,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "only other E. coli gene known to be transcribed by EcrF is deg"},
               :properties {:color "yellow"}}
              {:id #uuid "68d9eb2f-f0fd-4472-ab9d-7f5542b94e18",
               :page 2,
               :position {:bounding {:x1 98.9062442779541,
                                     :y1 961.335205078125,
                                     :x2 468.4858646392822,
                                     :y2 979.5170288085938,
                                     :width 1048.6666666666667,
                                     :height 1372.8},
                          :rects ({:x1 98.9062442779541,
                                   :y1 961.335205078125,
                                   :x2 468.4858646392822,
                                   :y2 979.5170288085938,
                                   :width 1048.6666666666667,
                                   :height 1372.8}),
                          :page 2},
               :content {:text "Identification of positive regulators of Er a activity"},
               :properties {:color "purple"}}
              {:id #uuid "68d9eb66-52f7-4ebf-9c98-8804f0567d98",
               :page 2,
               :position {:bounding {:x1 79.90909004211426,
                                     :y1 1031.9090576171875,
                                     :x2 93.90909004211426,
                                     :y2 1145.9090576171875,
                                     :width 1048.6666666666667,
                                     :height 1372.8},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1759112037880},
               :properties {:color "red"}}
              {:id #uuid "68d9eba0-2266-4bb8-a8e5-80fa5738a213",
               :page 2,
               :position {:bounding {:x1 98.2812442779541,
                                     :y1 1124.7158813476562,
                                     :x2 501.10510444641113,
                                     :y2 1180.9374389648438,
                                     :width 1048.6666666666667,
                                     :height 1372.8},
                          :rects ({:x1 373.42605781555176,
                                   :y1 1124.7158813476562,
                                   :x2 500.3420124053955,
                                   :y2 1142.897705078125,
                                   :width 1048.6666666666667,
                                   :height 1372.8}
                                  {:x1 98.5937442779541,
                                   :y1 1143.6647338867188,
                                   :x2 501.10510444641113,
                                   :y2 1161.8465576171875,
                                   :width 1048.6666666666667,
                                   :height 1372.8}
                                  {:x1 98.2812442779541,
                                   :y1 1162.7556762695312,
                                   :x2 156.33479499816895,
                                   :y2 1180.9374389648438,
                                   :width 1048.6666666666667,
                                   :height 1372.8}),
                          :page 2},
               :content {:text "onitor Ecr~ activity, gene fusions containing only 3 7 bases of the rpoHP3 promote"},
               :properties {:color "red"}}
              {:id #uuid "68d9ebab-e78b-4e3a-a889-ef07b2f84e16",
               :page 2,
               :position {:bounding {:x1 546.207368850708,
                                     :y1 147.69886016845703,
                                     :x2 948.273775100708,
                                     :y2 184.82953643798828,
                                     :width 1048.6666666666667,
                                     :height 1372.8},
                          :rects ({:x1 791.2402057647705,
                                   :y1 147.69886016845703,
                                   :x2 948.273775100708,
                                   :y2 165.88066864013672,
                                   :width 1048.6666666666667,
                                   :height 1372.8}
                                  {:x1 546.207368850708,
                                   :y1 166.6477279663086,
                                   :x2 892.7969074249268,
                                   :y2 184.82953643798828,
                                   :width 1048.6666666666667,
                                   :height 1372.8}),
                          :page 2},
               :content {:text "xpression of chloramphenicol acetyltransferase is driven from rpoHP"},
               :properties {:color "red"}}],
 :extra {:page 2}}
