{:highlights [{:id #uuid "68e4846d-c776-482f-b785-9d44fe614775",
               :page 1,
               :position {:bounding {:x1 705.3835144042969,
                                     :y1 618.9630737304688,
                                     :x2 1220.4712219238281,
                                     :y2 722.8551025390625,
                                     :width 1282.9333333333334,
                                     :height 1704.5333333333333},
                          :rects ({:x1 725.5262756347656,
                                   :y1 618.9630737304688,
                                   :x2 1220.4712219238281,
                                   :y2 641.6903076171875,
                                   :width 1282.9333333333334,
                                   :height 1704.5333333333333}
                                  {:x1 705.3835144042969,
                                   :y1 646.0795288085938,
                                   :x2 1220.4269104003906,
                                   :y2 668.8068237304688,
                                   :width 1282.9333333333334,
                                   :height 1704.5333333333333}
                                  {:x1 705.3835144042969,
                                   :y1 673.0113525390625,
                                   :x2 1220.3940734863281,
                                   :y2 695.7385864257812,
                                   :width 1282.9333333333334,
                                   :height 1704.5333333333333}
                                  {:x1 705.3835144042969,
                                   :y1 700.1278076171875,
                                   :x2 1202.3725891113281,
                                   :y2 722.8551025390625,
                                   :width 1282.9333333333334,
                                   :height 1704.5333333333333}),
                          :page 1},
               :content {:text "ithin the host cell cytoplasm, the bacteria continue to grow and divide and move rapidly through the cell by nucleating actin filaments at one pole of the bacterium, leaving behind actin-rich `comet tails' in the cytoplas"},
               :properties {:color "yellow"}}
              {:id #uuid "68e48486-10c9-4a9e-967f-7ed9a882e384",
               :page 1,
               :position {:bounding {:x1 705.3835144042969,
                                     :y1 835.8380737304688,
                                     :x2 1220.4487609863281,
                                     :y2 912.6135864257812,
                                     :width 1282.9333333333334,
                                     :height 1704.5333333333333},
                          :rects ({:x1 843.6846618652344,
                                   :y1 835.8380737304688,
                                   :x2 1220.4487609863281,
                                   :y2 858.5653076171875,
                                   :width 1282.9333333333334,
                                   :height 1704.5333333333333}
                                  {:x1 705.3835144042969,
                                   :y1 862.9545288085938,
                                   :x2 1220.3584289550781,
                                   :y2 885.6818237304688,
                                   :width 1282.9333333333334,
                                   :height 1704.5333333333333}
                                  {:x1 705.3835144042969,
                                   :y1 889.8863525390625,
                                   :x2 976.5163879394531,
                                   :y2 912.6135864257812,
                                   :width 1282.9333333333334,
                                   :height 1704.5333333333333}),
                          :page 1},
               :content {:text "acterial actin-based motility is necessary for intercellular spread in tissue culture monolayers and for virulence in infected anima"},
               :properties {:color "yellow"}}
              {:id #uuid "68e484e0-da47-4ae0-9662-e2e07d3f1a6d",
               :page 1,
               :position {:bounding {:x1 705.3835144042969,
                                     :y1 1160.9801025390625,
                                     :x2 1220.4723205566406,
                                     :y2 1237.9260864257812,
                                     :width 1282.9333333333334,
                                     :height 1704.5333333333333},
                          :rects ({:x1 731.0188293457031,
                                   :y1 1160.9801025390625,
                                   :x2 1220.4723205566406,
                                   :y2 1183.7073364257812,
                                   :width 1282.9333333333334,
                                   :height 1704.5333333333333}
                                  {:x1 705.3835144042969,
                                   :y1 1188.0965576171875,
                                   :x2 1220.3495178222656,
                                   :y2 1210.8238525390625,
                                   :width 1282.9333333333334,
                                   :height 1704.5333333333333}
                                  {:x1 705.3835144042969,
                                   :y1 1215.1988525390625,
                                   :x2 881.9627990722656,
                                   :y2 1237.9260864257812,
                                   :width 1282.9333333333334,
                                   :height 1704.5333333333333}),
                          :page 1},
               :content {:text "ss has a defect in intracellular multiplication because of a mutation in a metabolic gene or in a gene involved in completing septatio"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
