{:highlights [{:id #uuid "691b50ee-9ecc-4ac8-9e75-39963b27ed72",
               :page 1,
               :position {:bounding {:x1 363.5859375,
                                     :y1 460.71875,
                                     :x2 634.593017578125,
                                     :y2 473.21875,
                                     :width 703,
                                     :height 923.9631163387403},
                          :rects ({:x1 363.5859375,
                                   :y1 460.71875,
                                   :x2 634.593017578125,
                                   :y2 473.21875,
                                   :width 703,
                                   :height 923.9631163387403}),
                          :page 1},
               :content {:text "phenotypes were stronger and lethality lower with pnr-GAL"},
               :properties {:color "yellow"}}
              {:id #uuid "691b517f-d8fc-40a2-9a53-ab3878c5dd17",
               :page 1,
               :position {:bounding {:x1 363.5859375,
                                     :y1 536.390625,
                                     :x2 661.3619384765625,
                                     :y2 574.0234375,
                                     :width 703,
                                     :height 923.9631163387403},
                          :rects ({:x1 543.5233764648438,
                                   :y1 536.390625,
                                   :x2 661.305419921875,
                                   :y2 548.890625,
                                   :width 703,
                                   :height 923.9631163387403}
                                  {:x1 363.5859375,
                                   :y1 548.9609375,
                                   :x2 661.3619384765625,
                                   :y2 561.4609375,
                                   :width 703,
                                   :height 923.9631163387403}
                                  {:x1 363.5859375,
                                   :y1 561.5234375,
                                   :x2 570.4605712890625,
                                   :y2 574.0234375,
                                   :width 703,
                                   :height 923.9631163387403}),
                          :page 1},
               :content {:text "ecause pnr-GAL4 is only expressed in a central region of the notum (Fig. 1b), lateral areas were unaffected and served as internal contro"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
