{:highlights [{:id #uuid "6a4e92cc-8015-440a-993f-cd22261088c3",
               :page 5,
               :position {:bounding {:x1 119.5,
                                     :y1 1142.109375,
                                     :x2 597.86083984375,
                                     :y2 1182.875,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 191.59902954101562,
                                   :y1 1142.109375,
                                   :x2 597.86083984375,
                                   :y2 1161.109375,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 119.5,
                                   :y1 1163.875,
                                   :x2 585.7388305664062,
                                   :y2 1182.875,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 5},
               :content {:text "When we lengthened the time between the parabiosis procedure and ear injury, ear hole closure improved signiﬁcant"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4e9300-b91c-46e0-9d86-19813f6e1b88",
               :page 5,
               :position {:bounding {:x1 621.6875,
                                     :y1 506.46875,
                                     :x2 1056.6304931640625,
                                     :y2 525.46875,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 621.6875,
                                   :y1 506.46875,
                                   :x2 1056.6304931640625,
                                   :y2 525.46875,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 5},
               :content {:text "aging represses SDF1 secretion from injured keratinocyte"},
               :properties {:color "green"}}
              {:id #uuid "6a4e941d-5e28-4401-8552-5ea424c839f4",
               :page 7,
               :position {:bounding {:x1 621.6875,
                                     :y1 550.328125,
                                     :x2 1100.1285400390625,
                                     :y2 591.25,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 1004.0426025390625,
                                   :y1 550.328125,
                                   :x2 1100.1285400390625,
                                   :y2 569.328125,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 621.6875,
                                   :y1 572.25,
                                   :x2 1020.091796875,
                                   :y2 591.25,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 7},
               :content {:text "ndeed, overexpression of SDF1 speeds up skin re-epithelializatio"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4e9427-9942-4916-a065-e787a4e159e2",
               :page 7,
               :position {:bounding {:x1 621.6875,
                                     :y1 594.171875,
                                     :x2 1100.09130859375,
                                     :y2 656.859375,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 748.9651489257812,
                                   :y1 594.171875,
                                   :x2 1100.09130859375,
                                   :y2 613.171875,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 621.6875,
                                   :y1 616.09375,
                                   :x2 1100.067138671875,
                                   :y2 635.09375,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 621.6875,
                                   :y1 637.859375,
                                   :x2 883.9139404296875,
                                   :y2 656.859375,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 7},
               :content {:text "speculate that, from an evolution perspective, a young injured animal favors fast and imperfect wound repair over slow and perfect tissue regeneratio"},
               :properties {:color "blue"}}],
 :extra {:page 6}}
