{:highlights [{:id #uuid "6a4e92cc-8015-440a-993f-cd22261088c3",
               :page 5,
               :position {:bounding {:x1 119.5,
                                     :y1 1142.109375,
                                     :x2 597.86083984375,
                                     :y2 1182.875,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 191.59902954101562,
                                   :y1 1142.109375,
                                   :x2 597.86083984375,
                                   :y2 1161.109375,
                                   :width 1205.972,
                                   :height 1565.972}
                                  {:x1 119.5,
                                   :y1 1163.875,
                                   :x2 585.7388305664062,
                                   :y2 1182.875,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 5},
               :content {:text "When we lengthened the time between the parabiosis procedure and ear injury, ear hole closure improved signiﬁcant"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4e9300-b91c-46e0-9d86-19813f6e1b88",
               :page 5,
               :position {:bounding {:x1 621.6875,
                                     :y1 506.46875,
                                     :x2 1056.6304931640625,
                                     :y2 525.46875,
                                     :width 1205.972,
                                     :height 1565.972},
                          :rects ({:x1 621.6875,
                                   :y1 506.46875,
                                   :x2 1056.6304931640625,
                                   :y2 525.46875,
                                   :width 1205.972,
                                   :height 1565.972}),
                          :page 5},
               :content {:text "aging represses SDF1 secretion from injured keratinocyte"},
               :properties {:color "green"}}],
 :extra {:page 4}}
