{:highlights [{:id #uuid "6983ac8c-3b8a-41bc-8d02-1303f167852d",
               :page 2,
               :position {:bounding {:x1 346.734375,
                                     :y1 401.96875,
                                     :x2 995.3034057617188,
                                     :y2 511.0390625,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects ({:x1 731.2831420898438,
                                   :y1 401.96875,
                                   :x2 994.330322265625,
                                   :y2 420.96875,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 346.734375,
                                   :y1 424.4921875,
                                   :x2 995.3034057617188,
                                   :y2 443.4921875,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 346.734375,
                                   :y1 447.0078125,
                                   :x2 985.1272583007812,
                                   :y2 466.0078125,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 346.734375,
                                   :y1 469.5234375,
                                   :x2 985.3898315429688,
                                   :y2 488.5234375,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 346.734375,
                                   :y1 492.0390625,
                                   :x2 712.3404541015625,
                                   :y2 511.0390625,
                                   :width 1060.8,
                                   :height 1372.8}),
                          :page 2},
               :content {:text "n-diffusion systems was the discovery that if the concentration of the interacting agents is stable and homogeneous under conditions in which diffusion is not permitted but is expected to become unstable when diffusion is permitted, then the system of interacting agents would have the potential to spontaneously reorganize to form a wide range of possible stable pattern"},
               :properties {:color "yellow"}}
              {:id #uuid "6983ae06-ddb6-4a3c-bed1-5e9d2731bb09",
               :page 4,
               :position {:bounding {:x1 293.4609375,
                                     :y1 301.8125,
                                     :x2 822.9431762695312,
                                     :y2 356.546875,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 697.7559814453125,
                                   :y1 301.8125,
                                   :x2 822.9431762695312,
                                   :y2 318.3125,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 293.4609375,
                                   :y1 320.984375,
                                   :x2 821.9241333007812,
                                   :y2 337.484375,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 293.4609375,
                                   :y1 340.046875,
                                   :x2 361.2397766113281,
                                   :y2 356.546875,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 4},
               :content {:text "ells can influence the fate and behavior of their neighbors by a variety of alternate molecular, cellular, or physical mechanism"},
               :properties {:color "yellow"}}
              {:id #uuid "6983ae17-04d7-4f50-95a0-48434a0bccdf",
               :page 4,
               :position {:bounding {:x1 293.4609375,
                                     :y1 530.7265625,
                                     :x2 842.1264038085938,
                                     :y2 585.4609375,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 462.076416015625,
                                   :y1 530.7265625,
                                   :x2 836.763427734375,
                                   :y2 547.2265625,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 293.4609375,
                                   :y1 549.78125,
                                   :x2 842.1264038085938,
                                   :y2 566.28125,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 293.4609375,
                                   :y1 568.9609375,
                                   :x2 524.0927734375,
                                   :y2 585.4609375,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 4},
               :content {:text "h of these types of pigment cells mutually inhibits the local accumulation of the other cell type. At the same time, long-range interactions allow xanothophores to promote the survival of melanophore"},
               :properties {:color "yellow"}}
              {:id #uuid "6983ae37-663e-4b0b-833e-43ea15dff645",
               :page 4,
               :position {:bounding {:x1 293.4609375,
                                     :y1 740.46875,
                                     :x2 839.7285766601562,
                                     :y2 795.1953125,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 329.30474853515625,
                                   :y1 740.46875,
                                   :x2 839.7285766601562,
                                   :y2 756.96875,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 293.4609375,
                                   :y1 759.640625,
                                   :x2 834.5086669921875,
                                   :y2 776.140625,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 293.4609375,
                                   :y1 778.6953125,
                                   :x2 349.87548828125,
                                   :y2 795.1953125,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 4},
               :content {:text "ased models effectively predict emergent patterns in this context, they do not accurately represent the influence of pigment cells or their precursors on neighboring cells as a function of distanc"},
               :properties {:color "yellow"}}
              {:id #uuid "6983af9d-ce59-4906-a87d-67288e858805",
               :page 5,
               :position {:bounding {:x1 373.203125,
                                     :y1 650.5859375,
                                     :x2 1072.9078369140625,
                                     :y2 720.0703125,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 405.90899658203125,
                                   :y1 650.5859375,
                                   :x2 1053.310302734375,
                                   :y2 671.5859375,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 674.828125,
                                   :x2 1072.9078369140625,
                                   :y2 695.828125,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 699.0703125,
                                   :x2 763.4727172851562,
                                   :y2 720.0703125,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 5},
               :content {:text "he development of the periodic pattern of hair follicles in the skin of a mouse embryo is marked by two correlated patterning events, one in the overlying epidermis and another in the underlying dermis, which contains mesenchymal ce"},
               :properties {:color "yellow"}}
              {:id #uuid "6983afa4-9300-4b69-b9d1-57374bedf432",
               :page 5,
               :position {:bounding {:x1 373.203125,
                                     :y1 723.453125,
                                     :x2 1057.6700439453125,
                                     :y2 768.546875,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 532.4312744140625,
                                   :y1 723.453125,
                                   :x2 1057.6700439453125,
                                   :y2 744.453125,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 747.546875,
                                   :x2 537.2088012695312,
                                   :y2 768.546875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 5},
               :content {:text "ppearance of the periodically distributed expression of dkk4 encoding a secreted Wnt antagon"},
               :properties {:color "yellow"}}
              {:id #uuid "6983afaa-34ad-4a8d-a880-26d4d2fd6572",
               :page 5,
               :position {:bounding {:x1 559.6029052734375,
                                     :y1 771.7890625,
                                     :x2 819.3182373046875,
                                     :y2 792.7890625,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 559.6029052734375,
                                   :y1 771.7890625,
                                   :x2 819.3182373046875,
                                   :y2 792.7890625,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 5},
               :content {:text "th dkk4 expression to form placode"},
               :properties {:color "yellow"}}
              {:id #uuid "6983afb4-8632-45a4-851f-7e5217ec26b6",
               :page 5,
               :position {:bounding {:x1 373.203125,
                                     :y1 796.0234375,
                                     :x2 1031.4180908203125,
                                     :y2 841.4140625,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 535.144775390625,
                                   :y1 796.0234375,
                                   :x2 1031.4180908203125,
                                   :y2 817.0234375,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 820.4140625,
                                   :x2 649.1602172851562,
                                   :y2 841.4140625,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 5},
               :content {:text "xpression of dkk1 in adjacent underlying mesenchymal cells, which aggregate to form dermal condensat"},
               :properties {:color "yellow"}}
              {:id #uuid "6983afd9-4b0a-44da-81ba-374fab91bc52",
               :page 5,
               :position {:bounding {:x1 373.203125,
                                     :y1 1062.953125,
                                     :x2 1069.97119140625,
                                     :y2 1181.0546875,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 773.0552978515625,
                                   :y1 1062.953125,
                                   :x2 1069.97119140625,
                                   :y2 1083.953125,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 1087.1875,
                                   :x2 1050.4815673828125,
                                   :y2 1108.1875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 1111.4296875,
                                   :x2 1043.6531982421875,
                                   :y2 1132.4296875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 1135.8203125,
                                   :x2 1069.7086181640625,
                                   :y2 1156.8203125,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 1160.0546875,
                                   :x2 799.7638549804688,
                                   :y2 1181.0546875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 5},
               :content {:text "irst, there was no evidence that Wnt was locally promoting its own expression. Second, there was evidence that cells were interacting via several additional signaling pathways, including Fibroblast Growth Factor (FGF), Bone Morphogenetic Protein (BMP), Transforming Growth Factor Beta (TGFβ), and Ectodysplasin A receptor (EDAR), that mediate interactions between ce"},
               :properties {:color "yellow"}}
              {:id #uuid "6983aff2-c149-4cdd-a379-c581c83dee8b",
               :page 6,
               :position {:bounding {:x1 373.203125,
                                     :y1 1130.9375,
                                     :x2 1065.809326171875,
                                     :y2 1224.65625,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 843.658203125,
                                   :y1 1130.9375,
                                   :x2 1033.692138671875,
                                   :y2 1151.9375,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 1155.1796875,
                                   :x2 1065.435546875,
                                   :y2 1176.1796875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 1179.421875,
                                   :x2 1065.809326171875,
                                   :y2 1200.421875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 1203.65625,
                                   :x2 825.641845703125,
                                   :y2 1224.65625,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 6},
               :content {:text "is analysis confirmed that components of the Wnt, FGF, and BMP signaling pathways could contribute to establishing a prepattern, while components of the EDAR and TGFβ pathway had longer lifetimes and were likely to help maintain prepattern established in an earlier ste"},
               :properties {:color "yellow"}}
              {:id #uuid "6983b02a-7b1b-49ec-97b7-0774b0a92628",
               :page 7,
               :position {:bounding {:x1 373.203125,
                                     :y1 432.2890625,
                                     :x2 1075.003173828125,
                                     :y2 477.53125,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 634.1817626953125,
                                   :y1 432.2890625,
                                   :x2 1075.003173828125,
                                   :y2 453.2890625,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 456.53125,
                                   :x2 793.2933349609375,
                                   :y2 477.53125,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 7},
               :content {:text "resulting prepattern of Wnt activity in epidermal cells determines local aggregation of underlying mesenchymal cell"},
               :properties {:color "yellow"}}
              {:id #uuid "6983b041-a5a8-4708-a04d-7d376cc4cb61",
               :page 7,
               :position {:bounding {:x1 373.203125,
                                     :y1 505.0078125,
                                     :x2 1070.4776611328125,
                                     :y2 574.484375,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 603.0128784179688,
                                   :y1 505.0078125,
                                   :x2 1070.4776611328125,
                                   :y2 526.0078125,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 529.2421875,
                                   :x2 1062.03515625,
                                   :y2 550.2421875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 553.484375,
                                   :x2 442.65631103515625,
                                   :y2 574.484375,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 7},
               :content {:text "idermal cells also become a local source of FGF20, which determines directed migration of underlying mesenchymal cells to form condensates at the source of FGF20"},
               :properties {:color "green"}}
              {:id #uuid "6983b0a7-f405-4099-92bb-e47e6dcd127a",
               :page 7,
               :position {:bounding {:x1 373.203125,
                                     :y1 941.609375,
                                     :x2 1053.256103515625,
                                     :y2 1011.234375,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 776.999755859375,
                                   :y1 941.609375,
                                   :x2 1053.256103515625,
                                   :y2 962.609375,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 965.9921875,
                                   :x2 1050.805908203125,
                                   :y2 986.9921875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 990.234375,
                                   :x2 755.1736450195312,
                                   :y2 1011.234375,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 7},
               :content {:text "n contrast, when all the mesenchymal cells were artificially exposed to relatively high FGF coupled with low BMP signaling, all the mesenchymal cells participated in directed migratio"},
               :properties {:color "yellow"}}
              {:id #uuid "6983b0e2-5126-4fb1-8da5-42f56c4af2fe",
               :page 8,
               :position {:bounding {:x1 373.203125,
                                     :y1 238.078125,
                                     :x2 1030.8974609375,
                                     :y2 283.46875,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 468.36285400390625,
                                   :y1 238.078125,
                                   :x2 1030.8974609375,
                                   :y2 259.078125,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 373.203125,
                                   :y1 262.46875,
                                   :x2 789.52197265625,
                                   :y2 283.46875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 8},
               :content {:text "w the traction forces associated with cell migration may themselves have the potential to generate periodic patterns of cell aggregation"},
               :properties {:color "yellow"}}
              {:id #uuid "6983b323-3897-470c-b30f-161bcebf8400",
               :page 8,
               :position {:bounding {:x1 346.734375,
                                     :y1 334.28125,
                                     :x2 997.420166015625,
                                     :y2 420.96875,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects ({:x1 769.5323486328125,
                                   :y1 334.28125,
                                   :x2 981.3800659179688,
                                   :y2 353.28125,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 346.734375,
                                   :y1 356.796875,
                                   :x2 986.6234741210938,
                                   :y2 375.796875,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 346.734375,
                                   :y1 379.453125,
                                   :x2 997.420166015625,
                                   :y2 398.453125,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 346.734375,
                                   :y1 401.96875,
                                   :x2 482.6956787109375,
                                   :y2 420.96875,
                                   :width 1060.8,
                                   :height 1372.8}),
                          :page 8},
               :content {:text " a cell becomes the center of a local contractile force, compression of the surrounding matrix increases the local density and alignment of adhesive sites, which can bias migration of surrounding cells toward the center of the contractile force"},
               :properties {:color "yellow"}}
              {:id #uuid "6983b332-5c7e-4137-9c04-61b839fd4397",
               :page 8,
               :position {:bounding {:x1 346.734375,
                                     :y1 492.0390625,
                                     :x2 984.6581420898438,
                                     :y2 533.5546875,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects ({:x1 520.6612548828125,
                                   :y1 492.0390625,
                                   :x2 984.6581420898438,
                                   :y2 511.0390625,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 346.734375,
                                   :y1 514.5546875,
                                   :x2 730.9002685546875,
                                   :y2 533.5546875,
                                   :width 1060.8,
                                   :height 1372.8}),
                          :page 8},
               :content {:text "Ultimately, at some distance from the growing cell condensate, stiffness of the matrix equilibrates with the contractile force"},
               :properties {:color "yellow"}}
              {:id #uuid "6983b3a0-f879-4023-be54-91416dcaadf3",
               :page 9,
               :position {:bounding {:x1 346.734375,
                                     :y1 176.5234375,
                                     :x2 971.8145751953125,
                                     :y2 218.0390625,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects ({:x1 589.7408447265625,
                                   :y1 176.5234375,
                                   :x2 971.8145751953125,
                                   :y2 195.5234375,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 346.734375,
                                   :y1 199.0390625,
                                   :x2 876.3006591796875,
                                   :y2 218.0390625,
                                   :width 1060.8,
                                   :height 1372.8}),
                          :page 9},
               :content {:text "heir observations suggest that mesenchymal cells in the dermis have a propensity to aggregate, and as they do, they draw in more cell"},
               :properties {:color "yellow"}}
              {:id #uuid "6983b3bb-6484-4e28-ba61-366a585f16e2",
               :page 9,
               :position {:bounding {:x1 346.734375,
                                     :y1 401.96875,
                                     :x2 997.8605346679688,
                                     :y2 443.4921875,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects ({:x1 366.23193359375,
                                   :y1 401.96875,
                                   :x2 997.8605346679688,
                                   :y2 420.96875,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 346.734375,
                                   :y1 424.4921875,
                                   :x2 587.1806640625,
                                   :y2 443.4921875,
                                   :width 1060.8,
                                   :height 1372.8}),
                          :page 9},
               :content {:text "markably, this compression releases β-catenin, which translocates to the nucleus to promote Wnt activity in the epidermal cells."},
               :properties {:color "green"}}],
 :extra {:page 10}}
