{:highlights [{:id #uuid "69118cfd-69fb-476c-a98c-3a2395f394f1",
               :page 2,
               :position {:bounding {:x1 112.0625,
                                     :y1 381.9375,
                                     :x2 677.4946899414062,
                                     :y2 431.078125,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 227.99301147460938,
                                   :y1 381.9375,
                                   :x2 677.4946899414062,
                                   :y2 405.9375,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 112.0625,
                                   :y1 407.078125,
                                   :x2 243.2204132080078,
                                   :y2 431.078125,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "escribe an approach for positional cloning by wholegenome sequ"},
               :properties {:color "yellow"}}
              {:id #uuid "69118d1d-1044-4847-bb7a-3ba4ac7738d2",
               :page 2,
               :position {:bounding {:x1 295.0732727050781,
                                     :y1 758.171875,
                                     :x2 458.4970703125,
                                     :y2 782.171875,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 295.0732727050781,
                                   :y1 758.171875,
                                   :x2 458.4970703125,
                                   :y2 782.171875,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "omozygosity mapp"},
               :properties {:color "red"}}
              {:id #uuid "69118d2a-bd60-4f08-9446-64cd2a99bad5",
               :page 2,
               :position {:bounding {:x1 145.96649169921875,
                                     :y1 833.390625,
                                     :x2 636.1226196289062,
                                     :y2 857.390625,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 145.96649169921875,
                                   :y1 833.390625,
                                   :x2 636.1226196289062,
                                   :y2 857.390625,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "ring previously known single nucleotide polymorph"},
               :properties {:color "yellow"}}
              {:id #uuid "69118db4-fd1d-4ada-baef-c66e30e147ad",
               :page 2,
               :position {:bounding {:x1 709.578125,
                                     :y1 1037.40625,
                                     :x2 1275.0054931640625,
                                     :y2 1081.015625,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 939.7176513671875,
                                   :y1 1037.40625,
                                   :x2 1275.0054931640625,
                                   :y2 1058.40625,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 709.578125,
                                   :y1 1060.015625,
                                   :x2 1128.79443359375,
                                   :y2 1081.015625,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "raction of total homozygous over total SNPs per chromosome determined the candidate chromoso"},
               :properties {:color "red"}}],
 :extra {:page 3}}
