{:highlights [{:id #uuid "69118cfd-69fb-476c-a98c-3a2395f394f1",
               :page 2,
               :position {:bounding {:x1 112.0625,
                                     :y1 381.9375,
                                     :x2 677.4946899414062,
                                     :y2 431.078125,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 227.99301147460938,
                                   :y1 381.9375,
                                   :x2 677.4946899414062,
                                   :y2 405.9375,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 112.0625,
                                   :y1 407.078125,
                                   :x2 243.2204132080078,
                                   :y2 431.078125,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "escribe an approach for positional cloning by wholegenome sequ"},
               :properties {:color "yellow"}}
              {:id #uuid "69118d1d-1044-4847-bb7a-3ba4ac7738d2",
               :page 2,
               :position {:bounding {:x1 295.0732727050781,
                                     :y1 758.171875,
                                     :x2 458.4970703125,
                                     :y2 782.171875,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 295.0732727050781,
                                   :y1 758.171875,
                                   :x2 458.4970703125,
                                   :y2 782.171875,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "omozygosity mapp"},
               :properties {:color "red"}}
              {:id #uuid "69118d2a-bd60-4f08-9446-64cd2a99bad5",
               :page 2,
               :position {:bounding {:x1 145.96649169921875,
                                     :y1 833.390625,
                                     :x2 636.1226196289062,
                                     :y2 857.390625,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 145.96649169921875,
                                   :y1 833.390625,
                                   :x2 636.1226196289062,
                                   :y2 857.390625,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "ring previously known single nucleotide polymorph"},
               :properties {:color "yellow"}}
              {:id #uuid "69118db4-fd1d-4ada-baef-c66e30e147ad",
               :page 2,
               :position {:bounding {:x1 709.578125,
                                     :y1 1037.40625,
                                     :x2 1275.0054931640625,
                                     :y2 1081.015625,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 939.7176513671875,
                                   :y1 1037.40625,
                                   :x2 1275.0054931640625,
                                   :y2 1058.40625,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 709.578125,
                                   :y1 1060.015625,
                                   :x2 1128.79443359375,
                                   :y2 1081.015625,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "raction of total homozygous over total SNPs per chromosome determined the candidate chromoso"},
               :properties {:color "red"}}
              {:id #uuid "69118e3a-59c4-494e-8a28-684a4a3d41ff",
               :page 3,
               :position {:bounding {:x1 131.859375,
                                     :y1 1327.921875,
                                     :x2 797.1246948242188,
                                     :y2 1385.28125,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 473.610107421875,
                                   :y1 1327.921875,
                                   :x2 797.1246948242188,
                                   :y2 1355.921875,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 131.859375,
                                   :y1 1357.28125,
                                   :x2 477.3079528808594,
                                   :y2 1385.28125,
                                   :width 1632,
                                   :height 2112}),
                          :page 3},
               :content {:text "ess foolproof depending on the extent of consanguinity in the fis"},
               :properties {:color "yellow"}}
              {:id #uuid "69118e52-6468-4e09-a7dc-bfc8f84ea7a3",
               :page 3,
               :position {:bounding {:x1 131.859375,
                                     :y1 1650.625,
                                     :x2 797.171875,
                                     :y2 1796.0625,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 352.81341552734375,
                                   :y1 1650.625,
                                   :x2 797.171875,
                                   :y2 1678.625,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 131.859375,
                                   :y1 1679.984375,
                                   :x2 797.1262817382812,
                                   :y2 1707.984375,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 131.859375,
                                   :y1 1709.34375,
                                   :x2 797.088134765625,
                                   :y2 1737.34375,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 131.859375,
                                   :y1 1738.703125,
                                   :x2 797.1231689453125,
                                   :y2 1766.703125,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 131.859375,
                                   :y1 1768.0625,
                                   :x2 462.82745361328125,
                                   :y2 1796.0625,
                                   :width 1632,
                                   :height 2112}),
                          :page 3},
               :content {:text " adults and identified mutant carriers (m/+) by in-crossing and checking for phenotypically mutant progeny(m/m). We in-crossed F1 heterozygotes to generate F2 clutches, which we sorted by phenotype into wild-type and mutant pools to collect at least 200 mutant embry"},
               :properties {:color "red"}}
              {:id #uuid "69118e69-bd8d-494c-86ee-29215e80907c",
               :page 3,
               :position {:bounding {:x1 834.921875,
                                     :y1 975.84375,
                                     :x2 1500.22802734375,
                                     :y2 1033.203125,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 972.7240600585938,
                                   :y1 975.84375,
                                   :x2 1500.22802734375,
                                   :y2 1003.84375,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.921875,
                                   :y1 1005.203125,
                                   :x2 1127.50048828125,
                                   :y2 1033.203125,
                                   :width 1632,
                                   :height 2112}),
                          :page 3},
               :content {:text "ing through a larger candidate region can be done efficiently using bioinforma"},
               :properties {:color "yellow"}}
              {:id #uuid "69118e74-45a9-4339-99b0-faf73493f88c",
               :page 3,
               :position {:bounding {:x1 834.921875,
                                     :y1 1093.28125,
                                     :x2 1500.2308349609375,
                                     :y2 1179.984375,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 1309.33544921875,
                                   :y1 1093.28125,
                                   :x2 1498.87548828125,
                                   :y2 1121.28125,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.921875,
                                   :y1 1122.625,
                                   :x2 1500.2308349609375,
                                   :y2 1150.625,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.921875,
                                   :y1 1151.984375,
                                   :x2 1345.6964111328125,
                                   :y2 1179.984375,
                                   :width 1632,
                                   :height 2112}),
                          :page 3},
               :content {:text "stead, we collected mutants from approximately eight pairs of carriers that had been maintained through outcrosses to prevent low fecun"},
               :properties {:color "red"}}
              {:id #uuid "691190e6-f96d-424b-9ff6-62e9bddb68b2",
               :page 4,
               :position {:bounding {:x1 834.765625,
                                     :y1 535.921875,
                                     :x2 1498.722412109375,
                                     :y2 593.28125,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 1283.83251953125,
                                   :y1 535.921875,
                                   :x2 1498.722412109375,
                                   :y2 563.921875,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.765625,
                                   :y1 565.28125,
                                   :x2 1352.989013671875,
                                   :y2 593.28125,
                                   :width 1632,
                                   :height 2112}),
                          :page 4},
               :content {:text "alculated and plotted the allele frequency of the two contributing haplot"},
               :properties {:color "yellow"}}
              {:id #uuid "691190f3-5798-45d0-ad0b-fff5e981f956",
               :page 4,
               :position {:bounding {:x1 834.765625,
                                     :y1 653.34375,
                                     :x2 1500.058837890625,
                                     :y2 740.0625,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 1341.1173095703125,
                                   :y1 653.34375,
                                   :x2 1500.029541015625,
                                   :y2 681.34375,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.765625,
                                   :y1 682.703125,
                                   :x2 1500.058837890625,
                                   :y2 710.703125,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.765625,
                                   :y1 712.0625,
                                   :x2 1414.6334228515625,
                                   :y2 740.0625,
                                   :width 1632,
                                   :height 2112}),
                          :page 4},
               :content {:text "neral, we found that the chromosome with the greatest proportion of mutagenic strain SNPs (AB) reliably identifies the correct chromoso"},
               :properties {:color "yellow"}}
              {:id #uuid "6911912a-29f8-401e-a938-61de938598f8",
               :page 4,
               :position {:bounding {:x1 834.765625,
                                     :y1 1298.765625,
                                     :x2 1500.101806640625,
                                     :y2 1414.625,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 1270.291015625,
                                   :y1 1298.765625,
                                   :x2 1500.101806640625,
                                   :y2 1326.765625,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.765625,
                                   :y1 1328.125,
                                   :x2 1500.0357666015625,
                                   :y2 1356.125,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.765625,
                                   :y1 1357.28125,
                                   :x2 1500.078857421875,
                                   :y2 1385.28125,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.765625,
                                   :y1 1386.625,
                                   :x2 1444.0970458984375,
                                   :y2 1414.625,
                                   :width 1632,
                                   :height 2112}),
                          :page 4},
               :content {:text "single candidate lesion in lmx1b (ENSDARG00000068365) that introduced a premature termination codon at 34,129,111 on chromosome 8, only 871 kb from the midpoint of the compromise fit’s critical regio"},
               :properties {:color "green"}}
              {:id #uuid "69119136-b620-4aac-afa0-20c3468c1879",
               :page 4,
               :position {:bounding {:x1 834.765625,
                                     :y1 1562.765625,
                                     :x2 1499.62353515625,
                                     :y2 1649.484375,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 1070.6920166015625,
                                   :y1 1562.765625,
                                   :x2 1499.623046875,
                                   :y2 1590.765625,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.765625,
                                   :y1 1592.125,
                                   :x2 1499.62353515625,
                                   :y2 1620.125,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.765625,
                                   :y1 1621.484375,
                                   :x2 1442.19873046875,
                                   :y2 1649.484375,
                                   :width 1632,
                                   :height 2112}),
                          :page 4},
               :content {:text "terozygous SNP density analyses and the presence of a sizable intrastrain SNP variation suggested that mapping could be performed without defined haplotype linkag"},
               :properties {:color "yellow"}}
              {:id #uuid "6911916b-ca5f-47c9-a4d6-b323f7edc190",
               :page 5,
               :position {:bounding {:x1 131.859375,
                                     :y1 1621.28125,
                                     :x2 797.1043701171875,
                                     :y2 1707.984375,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 631.6336059570312,
                                   :y1 1621.28125,
                                   :x2 796.719482421875,
                                   :y2 1649.28125,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 131.859375,
                                   :y1 1650.625,
                                   :x2 797.1043701171875,
                                   :y2 1678.625,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 131.859375,
                                   :y1 1679.984375,
                                   :x2 407.3111877441406,
                                   :y2 1707.984375,
                                   :width 1632,
                                   :height 2112}),
                          :page 5},
               :content {:text "ntify the putative chromosome, we calculated the fraction of homozygous SNPs out of total SNPs per chromoso"},
               :properties {:color "yellow"}}
              {:id #uuid "69119178-a9c9-438a-8e6a-626b79290951",
               :page 5,
               :position {:bounding {:x1 131.859375,
                                     :y1 1826.5625,
                                     :x2 797.1385498046875,
                                     :y2 1913.28125,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 547.3258056640625,
                                   :y1 1826.5625,
                                   :x2 797.1353149414062,
                                   :y2 1854.5625,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 131.859375,
                                   :y1 1855.921875,
                                   :x2 797.1385498046875,
                                   :y2 1883.921875,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 131.859375,
                                   :y1 1885.28125,
                                   :x2 341.8292236328125,
                                   :y2 1913.28125,
                                   :width 1632,
                                   :height 2112}),
                          :page 5},
               :content {:text "d chose the chromosome with the largest value, chromosome 13, as the candidate for harboring the mutatio"},
               :properties {:color "red"}}
              {:id #uuid "69119183-e82a-42fa-bec5-48f2fd16a559",
               :page 5,
               :position {:bounding {:x1 834.921875,
                                     :y1 1797.203125,
                                     :x2 1500.2861328125,
                                     :y2 1883.921875,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 969.77294921875,
                                   :y1 1797.203125,
                                   :x2 1500.2861328125,
                                   :y2 1825.203125,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.921875,
                                   :y1 1826.5625,
                                   :x2 1500.2042236328125,
                                   :y2 1854.5625,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.921875,
                                   :y1 1855.921875,
                                   :x2 1149.3193359375,
                                   :y2 1883.921875,
                                   :width 1632,
                                   :height 2112}),
                          :page 5},
               :content {:text "ose the bin with the peak homozygous to heterozygous ratio at position 46,419,377 on the candidate chromosome 13 as the SNP density mapping predic"},
               :properties {:color "yellow"}}
              {:id #uuid "69119193-47e3-4a73-88e8-09f06a98390f",
               :page 6,
               :position {:bounding {:x1 131.859375,
                                     :y1 1650.625,
                                     :x2 797.2626342773438,
                                     :y2 1766.703125,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 412.1891174316406,
                                   :y1 1650.625,
                                   :x2 797.1471557617188,
                                   :y2 1678.625,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 131.859375,
                                   :y1 1679.984375,
                                   :x2 797.2626342773438,
                                   :y2 1707.984375,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 131.859375,
                                   :y1 1709.34375,
                                   :x2 797.179443359375,
                                   :y2 1737.34375,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 131.859375,
                                   :y1 1738.703125,
                                   :x2 252.31692504882812,
                                   :y2 1766.703125,
                                   :width 1632,
                                   :height 2112}),
                          :page 6},
               :content {:text "nformatics pipeline again identified a single candidate in the critical interval at 43,745,899, effecting the essential invariant intronic portion of an acceptor splice site of cadherin 23"},
               :properties {:color "green"}}
              {:id #uuid "69119256-5dd7-40c0-a473-5ca9224e2304",
               :page 7,
               :position {:bounding {:x1 131.859375,
                                     :y1 1591.921875,
                                     :x2 796.7002563476562,
                                     :y2 1649.28125,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 287.32391357421875,
                                   :y1 1591.921875,
                                   :x2 796.7002563476562,
                                   :y2 1619.921875,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 131.859375,
                                   :y1 1621.28125,
                                   :x2 642.7747802734375,
                                   :y2 1649.28125,
                                   :width 1632,
                                   :height 2112}),
                          :page 7},
               :content {:text "duce the number of candidates, we filtered out all other wild-type SNPs in our zebrafish SNP databas"},
               :properties {:color "red"}}
              {:id #uuid "6911925c-9d91-4911-aaae-0231efb2e095",
               :page 7,
               :position {:bounding {:x1 834.921875,
                                     :y1 623.984375,
                                     :x2 1500.2227783203125,
                                     :y2 710.703125,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 1126.8272705078125,
                                   :y1 623.984375,
                                   :x2 1500.169677734375,
                                   :y2 651.984375,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.921875,
                                   :y1 653.34375,
                                   :x2 1500.2227783203125,
                                   :y2 681.34375,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 834.921875,
                                   :y1 682.703125,
                                   :x2 925.4994506835938,
                                   :y2 710.703125,
                                   :width 1632,
                                   :height 2112}),
                          :page 7},
               :content {:text "as shown below, further evidence supported this single candidate as being the correct prediction in all four case"},
               :properties {:color "green"}}
              {:id #uuid "6911926a-43f7-4c24-b72f-2285b228a4f7",
               :page 7,
               :position {:bounding {:x1 180.84512329101562,
                                     :y1 799.921875,
                                     :x2 469.5330505371094,
                                     :y2 827.921875,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 180.84512329101562,
                                   :y1 799.921875,
                                   :x2 469.5330505371094,
                                   :y2 827.921875,
                                   :width 1632,
                                   :height 2112}),
                          :page 7},
               :content {:text " zebrafish SNP univers"},
               :properties {:color "green"}}],
 :extra {:page 10}}
