{:highlights [{:id #uuid "68d06ef1-3d3b-4a50-b320-996b87353b6b",
               :page 1,
               :position {:bounding {:x1 137.5,
                                     :y1 940,
                                     :x2 679.5,
                                     :y2 958,
                                     :width 889.2,
                                     :height 1216.8},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1758490352526},
               :properties {:color "yellow"}}
              {:id #uuid "68d06f03-c415-4d8f-a6d5-ce5eb5217558",
               :page 1,
               :position {:bounding {:x1 225.5,
                                     :y1 998,
                                     :x2 680.5,
                                     :y2 1043,
                                     :width 889.2,
                                     :height 1216.8},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1758490370111},
               :properties {:color "yellow"}}
              {:id #uuid "68d06f70-d66c-4f02-9b5c-bf37e7e2db81",
               :page 2,
               :position {:bounding {:x1 423.5,
                                     :y1 450,
                                     :x2 765.5,
                                     :y2 469,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1758490479798},
               :properties {:color "red"}}
              {:id #uuid "68d06f89-3d53-4645-ad5c-242882d65f87",
               :page 2,
               :position {:bounding {:x1 136.5,
                                     :y1 463,
                                     :x2 770.5,
                                     :y2 503,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1758490504785},
               :properties {:color "red"}}
              {:id #uuid "68d07060-dc23-4499-af84-43c3640fb5b7",
               :page 3,
               :position {:bounding {:x1 177.5,
                                     :y1 289,
                                     :x2 796.5,
                                     :y2 322,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1758490719099},
               :properties {:color "red"}}
              {:id #uuid "68d07195-dc81-4b63-911c-d1ea57a1fee8",
               :page 5,
               :position {:bounding {:x1 137,
                                     :y1 344,
                                     :x2 789,
                                     :y2 380,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1758491028242},
               :properties {:color "blue"}}],
 :extra {:page 5}}
