{:highlights [{:id #uuid "68d06ef1-3d3b-4a50-b320-996b87353b6b",
               :page 1,
               :position {:bounding {:x1 137.5,
                                     :y1 940,
                                     :x2 679.5,
                                     :y2 958,
                                     :width 889.2,
                                     :height 1216.8},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1758490352526},
               :properties {:color "yellow"}}
              {:id #uuid "68d06f03-c415-4d8f-a6d5-ce5eb5217558",
               :page 1,
               :position {:bounding {:x1 225.5,
                                     :y1 998,
                                     :x2 680.5,
                                     :y2 1043,
                                     :width 889.2,
                                     :height 1216.8},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1758490370111},
               :properties {:color "yellow"}}
              {:id #uuid "68d06f70-d66c-4f02-9b5c-bf37e7e2db81",
               :page 2,
               :position {:bounding {:x1 423.5,
                                     :y1 450,
                                     :x2 765.5,
                                     :y2 469,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1758490479798},
               :properties {:color "red"}}
              {:id #uuid "68d06f89-3d53-4645-ad5c-242882d65f87",
               :page 2,
               :position {:bounding {:x1 136.5,
                                     :y1 463,
                                     :x2 770.5,
                                     :y2 503,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1758490504785},
               :properties {:color "red"}}
              {:id #uuid "68d07060-dc23-4499-af84-43c3640fb5b7",
               :page 3,
               :position {:bounding {:x1 177.5,
                                     :y1 289,
                                     :x2 796.5,
                                     :y2 322,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1758490719099},
               :properties {:color "red"}}
              {:id #uuid "68d07195-dc81-4b63-911c-d1ea57a1fee8",
               :page 5,
               :position {:bounding {:x1 137,
                                     :y1 344,
                                     :x2 789,
                                     :y2 380,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1758491028242},
               :properties {:color "blue"}}
              {:id #uuid "68d07231-95a0-4d9b-83dd-af88014cfb42",
               :page 5,
               :position {:bounding {:x1 353,
                                     :y1 836,
                                     :x2 576,
                                     :y2 864,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1758491183796},
               :properties {:color "yellow"}}
              {:id #uuid "68d072b3-c288-41f7-b9dd-66dec09d3788",
               :page 6,
               :position {:bounding {:x1 133,
                                     :y1 161,
                                     :x2 790,
                                     :y2 808,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1758491313886},
               :properties {:color "green"}}
              {:id #uuid "68d0736f-4d04-4d80-a5f4-71b07554d1b6",
               :page 7,
               :position {:bounding {:x1 318,
                                     :y1 127,
                                     :x2 612,
                                     :y2 160,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1758491502040},
               :properties {:color "purple"}}
              {:id #uuid "68d0746a-c5d3-4073-9eec-c7bb27a505c2",
               :page 7,
               :position {:bounding {:x1 144,
                                     :y1 941,
                                     :x2 788,
                                     :y2 979,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1758491753493},
               :properties {:color "green"}}
              {:id #uuid "68d075d1-42d3-4cc4-88a4-ad6cb30ce1ab",
               :page 8,
               :position {:bounding {:x1 132,
                                     :y1 352,
                                     :x2 775,
                                     :y2 517,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1758492112344},
               :properties {:color "green"}}
              {:id #uuid "68d076ae-a30b-402c-8cef-f804f9045abc",
               :page 9,
               :position {:bounding {:x1 138,
                                     :y1 350,
                                     :x2 781,
                                     :y2 422,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1758492343957},
               :properties {:color "green"}}
              {:id #uuid "68d076f5-830d-4d82-962b-6945ea979634",
               :page 9,
               :position {:bounding {:x1 394,
                                     :y1 173,
                                     :x2 518,
                                     :y2 207,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1758492404222},
               :properties {:color "purple"}}
              {:id #uuid "68d077e3-85f8-47bf-b551-34c189bc4ad6",
               :page 12,
               :position {:bounding {:x1 117,
                                     :y1 481,
                                     :x2 754,
                                     :y2 544,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1758492641819},
               :properties {:color "green"}}
              {:id #uuid "68d07837-7464-45fb-a2b2-58ede5efff55",
               :page 13,
               :position {:bounding {:x1 158,
                                     :y1 158,
                                     :x2 802,
                                     :y2 237,
                                     :width 920.4,
                                     :height 1185.6000000000001},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1758492725993},
               :properties {:color "green"}}],
 :extra {:page 13}}
