{:highlights [{:id #uuid "69019ec9-7274-4e82-bc3c-3a3b31fd9f50",
               :page 2,
               :position {:bounding {:x1 111.53125,
                                     :y1 1139.609375,
                                     :x2 558.0045318603516,
                                     :y2 1198.453125,
                                     :width 1125.5738666666666,
                                     :height 1461.5738666666664},
                          :rects ({:x1 222.59144592285156,
                                   :y1 1139.609375,
                                   :x2 558.0045318603516,
                                   :y2 1157.609375,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 111.53125,
                                   :y1 1160.03125,
                                   :x2 557.0703125,
                                   :y2 1178.03125,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 111.53125,
                                   :y1 1180.453125,
                                   :x2 536.43798828125,
                                   :y2 1198.453125,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}),
                          :page 2},
               :content {:text "ome minimization offers a compelling synthetic biology approach to study the emergence of fundamental physiological processes from interactions between essential gen"},
               :properties {:color "yellow"}}
              {:id #uuid "69019ee8-48e2-4b4e-980d-f2ef7a8090b8",
               :page 2,
               :position {:bounding {:x1 580.234375,
                                     :y1 955.4609375,
                                     :x2 1026.554443359375,
                                     :y2 993.8828125,
                                     :width 1125.5738666666666,
                                     :height 1461.5738666666664},
                          :rects ({:x1 603.9614868164062,
                                   :y1 955.4609375,
                                   :x2 1026.554443359375,
                                   :y2 973.4609375,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 580.234375,
                                   :y1 975.8828125,
                                   :x2 740.2992553710938,
                                   :y2 993.8828125,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}),
                          :page 2},
               :content {:text "ucing genome complexity to deliver a nearly minimal living bacterium, JCVI-syn3"},
               :properties {:color "yellow"}}
              {:id #uuid "69019f04-93c7-4a01-bb58-d9557002ede7",
               :page 2,
               :position {:bounding {:x1 580.234375,
                                     :y1 1139.609375,
                                     :x2 1026.65576171875,
                                     :y2 1218.984375,
                                     :width 1125.5738666666666,
                                     :height 1461.5738666666664},
                          :rects ({:x1 911.76171875,
                                   :y1 1139.609375,
                                   :x2 1026.6231689453125,
                                   :y2 1157.609375,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 580.234375,
                                   :y1 1160.03125,
                                   :x2 1025.640625,
                                   :y2 1178.03125,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 580.234375,
                                   :y1 1180.453125,
                                   :x2 1026.65576171875,
                                   :y2 1198.453125,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 580.234375,
                                   :y1 1200.984375,
                                   :x2 821.6870727539062,
                                   :y2 1218.984375,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}),
                          :page 2},
               :content {:text "e resulting strain JCVI-syn3.0 boasts the smallest genome of any free-living organism; yet, 149 of these essential genes are classified as genes of unknown or generic function"},
               :properties {:color "yellow"}}
              {:id #uuid "69019f3d-e137-4208-80a7-a7d78eea7d2a",
               :page 3,
               :position {:bounding {:x1 99.15625,
                                     :y1 1107.21875,
                                     :x2 545.5075073242188,
                                     :y2 1166.1796875,
                                     :width 1125.5738666666666,
                                     :height 1461.5738666666664},
                          :rects ({:x1 191.5863037109375,
                                   :y1 1107.21875,
                                   :x2 544.65625,
                                   :y2 1125.21875,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 99.15625,
                                   :y1 1127.640625,
                                   :x2 545.5075073242188,
                                   :y2 1145.640625,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 99.15625,
                                   :y1 1148.1796875,
                                   :x2 460.60205078125,
                                   :y2 1166.1796875,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}),
                          :page 3},
               :content {:text "olly unexpected feature of JCVI-syn3.0 is the striking morphological variation of individual cells, with filamentous, vesicular, and other irregular forms described prev"},
               :properties {:color "yellow"}}
              {:id #uuid "69019fdb-98a8-4ad7-b51a-c95e1c290a5a",
               :page 4,
               :position {:bounding {:x1 111.53125,
                                     :y1 1066.265625,
                                     :x2 557.6659545898438,
                                     :y2 1104.796875,
                                     :width 1125.5738666666666,
                                     :height 1461.5738666666664},
                          :rects ({:x1 260.2860107421875,
                                   :y1 1066.265625,
                                   :x2 557.6659545898438,
                                   :y2 1084.265625,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 111.53125,
                                   :y1 1086.796875,
                                   :x2 454.7519836425781,
                                   :y2 1104.796875,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}),
                          :page 4},
               :content {:text "rofluidic chemostat isolated mechanisms of propagation and cell division intrinsic to a cel"},
               :properties {:color "red"}}
              {:id #uuid "6901a013-ea16-40d1-b4bb-2de1a89661d3",
               :page 4,
               :position {:bounding {:x1 580.2109375,
                                     :y1 1250.3984375,
                                     :x2 1026.595947265625,
                                     :y2 1350.2109375,
                                     :width 1125.5738666666666,
                                     :height 1461.5738666666664},
                          :rects ({:x1 928.3240356445312,
                                   :y1 1250.3984375,
                                   :x2 1026.439453125,
                                   :y2 1268.3984375,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 580.2109375,
                                   :y1 1270.8125,
                                   :x2 1026.595947265625,
                                   :y2 1288.8125,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 580.2109375,
                                   :y1 1291.3515625,
                                   :x2 1026.5595703125,
                                   :y2 1309.3515625,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 580.2109375,
                                   :y1 1311.7890625,
                                   :x2 1025.6171875,
                                   :y2 1329.7890625,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 580.2109375,
                                   :y1 1332.2109375,
                                   :x2 840.109130859375,
                                   :y2 1350.2109375,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}),
                          :page 4},
               :content {:text "Re-examining these strains here at the cellular scale, we noted one strain, termed RGD6 (reduced genome design segment 6), contained the fully minimized genomic segment 6 and demonstrated striking pleomorphism similar to JCVI-syn"},
               :properties {:color "yellow"}}
              {:id #uuid "6901a04e-ede8-4d16-be8c-e7ef16871095",
               :page 5,
               :position {:bounding {:x1 717.8046875,
                                     :y1 820.7421875,
                                     :x2 1014.049560546875,
                                     :y2 879.6953125,
                                     :width 1125.5738666666666,
                                     :height 1461.5738666666664},
                          :rects ({:x1 858.4375,
                                   :y1 820.7421875,
                                   :x2 1014.0119018554688,
                                   :y2 838.7421875,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 717.8046875,
                                   :y1 841.1640625,
                                   :x2 1014.049560546875,
                                   :y2 859.1640625,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 717.8046875,
                                   :y1 861.6953125,
                                   :x2 826.9551391601562,
                                   :y2 879.6953125,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}),
                          :page 5},
               :content {:text "visualized cytoplasm with constitutively expressed fluorescent mCherry protei"},
               :properties {:color "red"}}
              {:id #uuid "6901a068-ddf4-48de-8d7e-e4d17b095a2a",
               :page 5,
               :position {:bounding {:x1 567.7421875,
                                     :y1 1148.0625,
                                     :x2 1014.1339721679688,
                                     :y2 1206.921875,
                                     :width 1125.5738666666666,
                                     :height 1461.5738666666664},
                          :rects ({:x1 791.87646484375,
                                   :y1 1148.0625,
                                   :x2 1014.1339721679688,
                                   :y2 1166.0625,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 567.7421875,
                                   :y1 1168.484375,
                                   :x2 1013.2265625,
                                   :y2 1186.484375,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 567.7421875,
                                   :y1 1188.921875,
                                   :x2 815.0403442382812,
                                   :y2 1206.921875,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}),
                          :page 5},
               :content {:text "cles lacked cellular machinery needed for mCherry expression but remained bounded by membranes impermeable to macromole"},
               :properties {:color "yellow"}}
              {:id #uuid "6901a0cf-9dc7-4886-8d4f-45347c28b645",
               :page 6,
               :position {:bounding {:x1 111.53125,
                                     :y1 943.5,
                                     :x2 558.0994262695312,
                                     :y2 1002.46875,
                                     :width 1125.5738666666666,
                                     :height 1461.5738666666664},
                          :rects ({:x1 271.940185546875,
                                   :y1 943.5,
                                   :x2 558.0994262695312,
                                   :y2 961.5,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 111.53125,
                                   :y1 964.03125,
                                   :x2 557.944091796875,
                                   :y2 982.03125,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 111.53125,
                                   :y1 984.46875,
                                   :x2 527.83544921875,
                                   :y2 1002.46875,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}),
                          :page 6},
               :content {:text "tsZ-containing cluster (genes 520–522), which lay within the dcw locus, a conserved cluster of genes known to participate in programmed cell division in most bac"},
               :properties {:color "yellow"}}
              {:id #uuid "6901a104-5ff7-4c1b-a26b-790229f53706",
               :page 6,
               :position {:bounding {:x1 580.2109375,
                                     :y1 923.078125,
                                     :x2 1026.6041259765625,
                                     :y2 982.03125,
                                     :width 1125.5738666666666,
                                     :height 1461.5738666666664},
                          :rects ({:x1 709.5193481445312,
                                   :y1 923.078125,
                                   :x2 1026.5450439453125,
                                   :y2 941.078125,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 580.2109375,
                                   :y1 943.5,
                                   :x2 1026.6041259765625,
                                   :y2 961.5,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 580.2109375,
                                   :y1 964.03125,
                                   :x2 696.4727172851562,
                                   :y2 982.03125,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}),
                          :page 6},
               :content {:text "nes or gene clusters were reintroduced at ectopic loci and included adjoining sequence to retain native regulatory region"},
               :properties {:color "yellow"}}
              {:id #uuid "6901a11f-0310-4831-a3a4-d2b5ef38a25b",
               :page 6,
               :position {:bounding {:x1 580.2109375,
                                     :y1 1250.3984375,
                                     :x2 1026.41455078125,
                                     :y2 1288.8359375,
                                     :width 1125.5738666666666,
                                     :height 1461.5738666666664},
                          :rects ({:x1 748.7758178710938,
                                   :y1 1250.3984375,
                                   :x2 1026.41455078125,
                                   :y2 1268.3984375,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 580.2109375,
                                   :y1 1270.8359375,
                                   :x2 887.6654663085938,
                                   :y2 1288.8359375,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}),
                          :page 6},
               :content {:text "etained a nearly normal morphology upon deletion of the ftsZ-containing clust"},
               :properties {:color "yellow"}}
              {:id #uuid "6901a1d8-ba18-40a5-aec1-5d5f6876cc57",
               :page 8,
               :position {:bounding {:x1 111.53125,
                                     :y1 657.1328125,
                                     :x2 558.020751953125,
                                     :y2 716.1015625,
                                     :width 1125.5738666666666,
                                     :height 1461.5738666666664},
                          :rects ({:x1 472.564453125,
                                   :y1 657.1328125,
                                   :x2 558.020751953125,
                                   :y2 675.1328125,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 111.53125,
                                   :y1 677.5703125,
                                   :x2 557.8914794921875,
                                   :y2 695.5703125,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}
                                  {:x1 111.53125,
                                   :y1 698.1015625,
                                   :x2 321.6131591796875,
                                   :y2 716.1015625,
                                   :width 1125.5738666666666,
                                   :height 1461.5738666666664}),
                          :page 8},
               :content {:text "None of the seven genes could be removed without reverting to the pleomorphic phenotype of JCVI-syn3."},
               :properties {:color "green"}}],
 :extra {:page 9}}
