{:highlights [{:id #uuid "6a172c3e-eedb-449e-8fdd-b76cbbf08eaa",
               :page 13,
               :position {:bounding {:x1 555.3125,
                                     :y1 1194.3671875,
                                     :x2 890.559326171875,
                                     :y2 1219.8515625,
                                     :width 1031.8117333333332,
                                     :height 1370.8344},
                          :rects ({:x1 555.3125,
                                   :y1 1194.3671875,
                                   :x2 890.559326171875,
                                   :y2 1205.8671875,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}
                                  {:x1 555.3125,
                                   :y1 1208.3515625,
                                   :x2 766.373291015625,
                                   :y2 1219.8515625,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}),
                          :page 13},
               :content {:text "Szpaderska, A. M., Egozi, E. I., Gamelli, R. L. & DiPietro, L. A. The effect of thrombocytopenia on dermal wound healing"},
               :properties {:color "red"}}],
 :extra {:page 2}}
