{:highlights [{:id #uuid "6a172c3e-eedb-449e-8fdd-b76cbbf08eaa",
               :page 13,
               :position {:bounding {:x1 555.3125,
                                     :y1 1194.3671875,
                                     :x2 890.559326171875,
                                     :y2 1219.8515625,
                                     :width 1031.8117333333332,
                                     :height 1370.8344},
                          :rects ({:x1 555.3125,
                                   :y1 1194.3671875,
                                   :x2 890.559326171875,
                                   :y2 1205.8671875,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}
                                  {:x1 555.3125,
                                   :y1 1208.3515625,
                                   :x2 766.373291015625,
                                   :y2 1219.8515625,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}),
                          :page 13},
               :content {:text "Szpaderska, A. M., Egozi, E. I., Gamelli, R. L. & DiPietro, L. A. The effect of thrombocytopenia on dermal wound healing"},
               :properties {:color "red"}}
              {:id #uuid "6a173318-fbf6-4344-9341-2911111c7ab6",
               :page 14,
               :position {:bounding {:x1 94.5,
                                     :y1 879,
                                     :x2 434.5,
                                     :y2 891,
                                     :width 1031.8117333333332,
                                     :height 1370.8344},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1779905304227},
               :properties {:color "red"}}
              {:id #uuid "6a173320-551b-4d2e-ae38-74ffdaa45fe8",
               :page 14,
               :position {:bounding {:x1 93.2890625,
                                     :y1 874.3828125,
                                     :x2 464.8121337890625,
                                     :y2 899.7265625,
                                     :width 1031.8117333333332,
                                     :height 1370.8344},
                          :rects ({:x1 93.2890625,
                                   :y1 874.3828125,
                                   :x2 456.2618103027344,
                                   :y2 885.8828125,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}
                                  {:x1 93.2890625,
                                   :y1 888.2265625,
                                   :x2 464.8121337890625,
                                   :y2 899.7265625,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}),
                          :page 14},
               :content {:text "Shaw, T. & Martin, P. Epigenetic reprogramming during wound healing: loss of polycomb-mediated silencing may enable upregulation of repair genes. EMBO "},
               :properties {:color "red"}}
              {:id #uuid "6a17334b-d0fc-4a01-8d46-bb02fc00c632",
               :page 3,
               :position {:bounding {:x1 530.75,
                                     :y1 1163.6640625,
                                     :x2 841.802490234375,
                                     :y2 1199.3046875,
                                     :width 1031.8117333333332,
                                     :height 1370.8344},
                          :rects ({:x1 530.75,
                                   :y1 1163.6640625,
                                   :x2 841.802490234375,
                                   :y2 1180.6640625,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}
                                  {:x1 530.75,
                                   :y1 1182.3046875,
                                   :x2 670.1178588867188,
                                   :y2 1199.3046875,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}),
                          :page 3},
               :content {:text "Transcriptional and cellular changes during re-epithelialization"},
               :properties {:color "purple"}}
              {:id #uuid "6a17335a-2246-44cc-ac84-7cc7c8bb9ef0",
               :page 2,
               :position {:bounding {:x1 530.75,
                                     :y1 623.2109375,
                                     :x2 673.7642822265625,
                                     :y2 640.2109375,
                                     :width 1031.8117333333332,
                                     :height 1370.8344},
                          :rects ({:x1 530.75,
                                   :y1 623.2109375,
                                   :x2 673.7642822265625,
                                   :y2 640.2109375,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}),
                          :page 2},
               :content {:text nil},
               :properties {:color "purple"}}
              {:id #uuid "6a173363-0791-4193-b62b-a5d3710a5b66",
               :page 2,
               :position {:bounding {:x1 68.828125,
                                     :y1 1067.1875,
                                     :x2 285.90557861328125,
                                     :y2 1088.1875,
                                     :width 1031.8117333333332,
                                     :height 1370.8344},
                          :rects ({:x1 68.828125,
                                   :y1 1067.1875,
                                   :x2 285.90557861328125,
                                   :y2 1088.1875,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}),
                          :page 2},
               :content {:text nil},
               :properties {:color "purple"}}
              {:id #uuid "6a17340f-8dc1-48c2-9cc2-12fbdda280ca",
               :page 14,
               :position {:bounding {:x1 93.2890625,
                                     :y1 1054.53125,
                                     :x2 477.2249755859375,
                                     :y2 1080.015625,
                                     :width 1031.8117333333332,
                                     :height 1370.8344},
                          :rects ({:x1 93.2890625,
                                   :y1 1054.53125,
                                   :x2 477.2249755859375,
                                   :y2 1066.03125,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}
                                  {:x1 93.2890625,
                                   :y1 1068.515625,
                                   :x2 358.3121643066406,
                                   :y2 1080.015625,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}),
                          :page 14},
               :content {:text "Haensel, D. et al. Defining epidermal basal cell states during skin homeostasis and wound healing using single-cell transcriptomics. Cell Re"},
               :properties {:color "red"}}
              {:id #uuid "6a173460-4ce7-4311-a2ee-7b7ae231c6f4",
               :page 4,
               :position {:bounding {:x1 68.828125,
                                     :y1 456.2265625,
                                     :x2 511.2353057861328,
                                     :y2 509.015625,
                                     :width 1031.8117333333332,
                                     :height 1370.8344},
                          :rects ({:x1 219.9484405517578,
                                   :y1 456.2265625,
                                   :x2 511.2353057861328,
                                   :y2 471.7265625,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}
                                  {:x1 68.828125,
                                   :y1 474.8671875,
                                   :x2 510.8311767578125,
                                   :y2 490.3671875,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}
                                  {:x1 68.828125,
                                   :y1 493.515625,
                                   :x2 395.0749206542969,
                                   :y2 509.015625,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}),
                          :page 4},
               :content {:text "ell migration, expression of hemidesmosomalα6β4 integrins is switched off and several other integrins, which are not normally present in unwounded skin, are upreg"},
               :properties {:color "yellow"}}
              {:id #uuid "6a17346a-6dd9-45ce-8234-1e621b0c475f",
               :page 4,
               :position {:bounding {:x1 68.828125,
                                     :y1 549.453125,
                                     :x2 510.9992980957031,
                                     :y2 583.6015625,
                                     :width 1031.8117333333332,
                                     :height 1370.8344},
                          :rects ({:x1 169.6832275390625,
                                   :y1 549.453125,
                                   :x2 510.9992980957031,
                                   :y2 564.953125,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}
                                  {:x1 68.828125,
                                   :y1 568.1015625,
                                   :x2 194.97540283203125,
                                   :y2 583.6015625,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}),
                          :page 4},
               :content {:text "lization of wounds in mice having epidermal-specific knockout of β1-inte"},
               :properties {:color "yellow"}}
              {:id #uuid "6a173473-2b12-4bc8-b5bd-382ec122da93",
               :page 4,
               :position {:bounding {:x1 68.828125,
                                     :y1 586.7421875,
                                     :x2 511.1363830566406,
                                     :y2 620.890625,
                                     :width 1031.8117333333332,
                                     :height 1370.8344},
                          :rects ({:x1 369.31787109375,
                                   :y1 586.7421875,
                                   :x2 511.1363830566406,
                                   :y2 602.2421875,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}
                                  {:x1 68.828125,
                                   :y1 605.390625,
                                   :x2 330.57928466796875,
                                   :y2 620.890625,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}),
                          :page 4},
               :content {:text "ll epidermal cell layers in the advancing wound edge express the"},
               :properties {:color "yellow"}}
              {:id #uuid "6a17349d-6686-46cd-ab8d-6e3ce8f6b610",
               :page 4,
               :position {:bounding {:x1 68.828125,
                                     :y1 735.7734375,
                                     :x2 511.2646789550781,
                                     :y2 825.8515625,
                                     :width 1031.8117333333332,
                                     :height 1370.8344},
                          :rects ({:x1 405.7466735839844,
                                   :y1 735.7734375,
                                   :x2 511.0347595214844,
                                   :y2 751.2734375,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}
                                  {:x1 68.828125,
                                   :y1 754.4140625,
                                   :x2 511.01397705078125,
                                   :y2 769.9140625,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}
                                  {:x1 68.828125,
                                   :y1 773.0625,
                                   :x2 511.0694885253906,
                                   :y2 788.5625,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}
                                  {:x1 68.828125,
                                   :y1 791.7109375,
                                   :x2 511.2646789550781,
                                   :y2 807.2109375,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}
                                  {:x1 68.828125,
                                   :y1 810.3515625,
                                   :x2 208.39979553222656,
                                   :y2 825.8515625,
                                   :width 1031.8117333333332,
                                   :height 1370.8344}),
                          :page 4},
               :content {:text "ells increase production of several proteases, particularly matrix metalloproteinase 1(MMP1), which may facilitate integrin–matrix adhesion dynamics by locally cleaving various extracellular matrix (ECM) components and ECM-associated prote"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
