{:highlights [{:id #uuid "68d211c6-1445-48a6-a8f2-be22939a5682",
               :page 1,
               :position {:bounding {:x1 71.98863410949707,
                                     :y1 256.1221618652344,
                                     :x2 757.3815784454346,
                                     :y2 317.9971618652344,
                                     :width 1188,
                                     :height 1512},
                          :rects ({:x1 343.2029514312744,
                                   :y1 256.1221618652344,
                                   :x2 741.9818515777588,
                                   :y2 276.1221618652344,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 71.98863410949707,
                                   :y1 277.13067626953125,
                                   :x2 757.3815784454346,
                                   :y2 297.13067626953125,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 71.98863410949707,
                                   :y1 297.9971618652344,
                                   :x2 180.34409523010254,
                                   :y2 317.9971618652344,
                                   :width 1188,
                                   :height 1512}),
                          :page 1},
               :content {:text " We found that the peripheral membrane protein SpoVM(VM) recognizes a geometric cue when localizing to a particular membrane during sporulation in Bacillus subtilis"},
               :properties {:color "yellow"}}
              {:id #uuid "68d2122d-dc02-4f90-9e1e-07c51f19c0bf",
               :page 1,
               :position {:bounding {:x1 71.98863410949707,
                                     :y1 640.7670288085938,
                                     :x2 404.3077869415283,
                                     :y2 702.65625,
                                     :width 1188,
                                     :height 1512},
                          :rects ({:x1 95.8664722442627,
                                   :y1 640.7670288085938,
                                   :x2 404.1637134552002,
                                   :y2 660.7670288085938,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 71.98863410949707,
                                   :y1 661.6334838867188,
                                   :x2 404.3077869415283,
                                   :y2 681.6334838867188,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 71.98863410949707,
                                   :y1 682.65625,
                                   :x2 169.6872959136963,
                                   :y2 702.65625,
                                   :width 1188,
                                   :height 1512}),
                          :page 1},
               :content {:text "During sporulation, the cell divides asymmetrically to create mother-cell and forespore compartments"},
               :properties {:color "yellow"}}
              {:id #uuid "68d21236-5301-426d-86f4-9b4516c09490",
               :page 1,
               :position {:bounding {:x1 527.9695835113525,
                                     :y1 494.2613525390625,
                                     :x2 743.9302158355713,
                                     :y2 514.2613525390625,
                                     :width 1188,
                                     :height 1512},
                          :rects ({:x1 527.9695835113525,
                                   :y1 494.2613525390625,
                                   :x2 743.9302158355713,
                                   :y2 514.2613525390625,
                                   :width 1188,
                                   :height 1512}),
                          :page 1},
               :content {:text " Coat assembly depends on VM"},
               :properties {:color "yellow"}}
              {:id #uuid "68d21240-d03b-470d-907b-83b2effd2845",
               :page 1,
               :position {:bounding {:x1 428.0255527496338,
                                     :y1 536.1363525390625,
                                     :x2 760.3461093902588,
                                     :y2 618.8920288085938,
                                     :width 1188,
                                     :height 1512},
                          :rects ({:x1 536.63938331604,
                                   :y1 536.1363525390625,
                                   :x2 760.0638217926025,
                                   :y2 556.1363525390625,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 428.0255527496338,
                                   :y1 557.1590881347656,
                                   :x2 760.3461093902588,
                                   :y2 577.1590881347656,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 428.0255527496338,
                                   :y1 578.0255432128906,
                                   :x2 760.2480869293213,
                                   :y2 598.0255432128906,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 428.0255527496338,
                                   :y1 598.8920288085938,
                                   :x2 647.6370029449463,
                                   :y2 618.8920288085938,
                                   :width 1188,
                                   :height 1512}),
                          :page 1},
               :content {:text "an amphipathic a helix (4) that inserts into the membrane with its long axis parallel to the membrane and its hydrophobic face buried in the lipid bilayer"},
               :properties {:color "yellow"}}
              {:id #uuid "68d21248-844b-4d0f-9be3-bd21e1bdfe91",
               :page 1,
               :position {:bounding {:x1 428.0255527496338,
                                     :y1 619.7584838867188,
                                     :x2 760.3536167144775,
                                     :y2 702.65625,
                                     :width 1188,
                                     :height 1512},
                          :rects ({:x1 502.7942295074463,
                                   :y1 619.7584838867188,
                                   :x2 760.0494785308838,
                                   :y2 639.7584838867188,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 428.0255527496338,
                                   :y1 640.7670288085938,
                                   :x2 760.3536167144775,
                                   :y2 660.7670288085938,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 428.0255527496338,
                                   :y1 661.6334838867188,
                                   :x2 760.292947769165,
                                   :y2 681.6334838867188,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 428.0255527496338,
                                   :y1 682.65625,
                                   :x2 760.2897129058838,
                                   :y2 702.65625,
                                   :width 1188,
                                   :height 1512}),
                          :page 1},
               :content {:text "VM localizes to the membrane that tracks around the forespore, eventually decorating the entire surface of the forespore, as visualized by its fusion to green fluorescent protein"},
               :properties {:color "yellow"}}
              {:id #uuid "68d2124f-83ba-416e-8e4b-b9043eb03286",
               :page 1,
               :position {:bounding {:x1 428.0255527496338,
                                     :y1 703.522705078125,
                                     :x2 760.2730503082275,
                                     :y2 744.53125,
                                     :width 1188,
                                     :height 1512},
                          :rects ({:x1 601.118143081665,
                                   :y1 703.522705078125,
                                   :x2 760.2730503082275,
                                   :y2 723.522705078125,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 428.0255527496338,
                                   :y1 724.53125,
                                   :x2 626.673318862915,
                                   :y2 744.53125,
                                   :width 1188,
                                   :height 1512}),
                          :page 1},
               :content {:text "Proline 9 (P9) (Fig. 1B) is critical for this localizatio"},
               :properties {:color "yellow"}}
              {:id #uuid "68d21261-fb46-4529-8d69-499d410b93cd",
               :page 1,
               :position {:bounding {:x1 784.0767002105713,
                                     :y1 117.62783813476562,
                                     :x2 1115.9922885894775,
                                     :y2 179.50283813476562,
                                     :width 1188,
                                     :height 1512},
                          :rects ({:x1 891.6705722808838,
                                   :y1 117.62783813476562,
                                   :x2 1115.9922885894775,
                                   :y2 137.62783813476562,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 784.0767002105713,
                                   :y1 138.4943084716797,
                                   :x2 1115.70237159729,
                                   :y2 158.4943084716797,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 784.0767002105713,
                                   :y1 159.50283813476562,
                                   :x2 1107.1597690582275,
                                   :y2 179.50283813476562,
                                   :width 1188,
                                   :height 1512}),
                          :page 1},
               :content {:text "We engineered cells to produce VM-GFP in response to an inducer and triggered synthesis of the fusion protein after engulfmen"},
               :properties {:color "red"}}
              {:id #uuid "68d2127f-4141-40fd-878c-aa0185f42982",
               :page 1,
               :position {:bounding {:x1 784.0767002105713,
                                     :y1 347.741455078125,
                                     :x2 1115.55832862854,
                                     :y2 388.6079406738281,
                                     :width 1188,
                                     :height 1512},
                          :rects ({:x1 813.4427280426025,
                                   :y1 347.741455078125,
                                   :x2 1115.55832862854,
                                   :y2 367.741455078125,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 784.0767002105713,
                                   :y1 368.6079406738281,
                                   :x2 949.9773349761963,
                                   :y2 388.6079406738281,
                                   :width 1188,
                                   :height 1512}),
                          :page 1},
               :content {:text " VMP9A-GFP synthesized after engulfment localized promiscuousl"},
               :properties {:color "yellow"}}
              {:id #uuid "68d213d2-44a8-4eb3-8fa4-cfd77046dbfd",
               :page 1,
               :position {:bounding {:x1 71.98863410949707,
                                     :y1 360.8948669433594,
                                     :x2 716.9257297515869,
                                     :y2 401.7613525390625,
                                     :width 1188,
                                     :height 1512},
                          :rects ({:x1 148.0385227203369,
                                   :y1 360.8948669433594,
                                   :x2 716.9257297515869,
                                   :y2 380.8948669433594,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 71.98863410949707,
                                   :y1 381.7613525390625,
                                   :x2 664.3566150665283,
                                   :y2 401.7613525390625,
                                   :width 1188,
                                   :height 1512}),
                          :page 1},
               :content {:text "VM localized by discriminating between the positive curvature of the membrane surrounding the inner cell and the negative curvature of the cytoplasmic membrane"},
               :properties {:color "green"}}
              {:id #uuid "68d2145c-6833-462e-aa2c-83890a45dfdf",
               :page 1,
               :position {:bounding {:x1 269,
                                     :y1 863,
                                     :x2 599,
                                     :y2 1180,
                                     :width 1188,
                                     :height 1512},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1758598234767},
               :properties {:color "purple"}}
              {:id #uuid "68d21483-9d64-48d0-ba61-84c9adac87ee",
               :page 2,
               :position {:bounding {:x1 60,
                                     :y1 69,
                                     :x2 460,
                                     :y2 335,
                                     :width 1188,
                                     :height 1512},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1758598274712},
               :properties {:color "purple"}}
              {:id #uuid "68d2151c-c8e2-4a75-872c-62b2df4c19d2",
               :page 2,
               :position {:bounding {:x1 784.0767002105713,
                                     :y1 201.3920440673828,
                                     :x2 1115.2723178863525,
                                     :y2 242.1022491455078,
                                     :width 1188,
                                     :height 1512},
                          :rects ({:x1 825.140604019165,
                                   :y1 201.3920440673828,
                                   :x2 1115.2723178863525,
                                   :y2 221.3920440673828,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 784.0767002105713,
                                   :y1 222.10227966308594,
                                   :x2 956.1504306793213,
                                   :y2 242.1022491455078,
                                   :width 1188,
                                   :height 1512}),
                          :page 2},
               :content {:text "VM-GFP localized almost exclusively to the surface of the vesicles"},
               :properties {:color "green"}}
              {:id #uuid "68d21523-a99d-499d-a456-42a2652c2cd2",
               :page 2,
               :position {:bounding {:x1 784.0767002105713,
                                     :y1 96.6051025390625,
                                     :x2 1116.2918491363525,
                                     :y2 179.50282287597656,
                                     :width 1188,
                                     :height 1512},
                          :rects ({:x1 1051.5013217926025,
                                   :y1 96.6051025390625,
                                   :x2 1115.29319190979,
                                   :y2 116.6051025390625,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 784.0767002105713,
                                   :y1 117.62783813476562,
                                   :x2 1116.2918491363525,
                                   :y2 137.62782287597656,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 784.0767002105713,
                                   :y1 138.4943084716797,
                                   :x2 1116.076639175415,
                                   :y2 158.4943084716797,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 784.0767002105713,
                                   :y1 159.50282287597656,
                                   :x2 931.5482578277588,
                                   :y2 179.50282287597656,
                                   :width 1188,
                                   :height 1512}),
                          :page 2},
               :content {:text "heterologous host that also exhibits convex membranes, an Escherichia coli mutant lacking the cytoskeletal protein MreB"},
               :properties {:color "red"}}
              {:id #uuid "68d2157f-d957-4e9a-9d73-7363d22e930c",
               :page 2,
               :position {:bounding {:x1 784.0767002105713,
                                     :y1 682.4999504089355,
                                     :x2 1116.290018081665,
                                     :y2 765.2414665222168,
                                     :width 1188,
                                     :height 1512},
                          :rects ({:x1 882.9529209136963,
                                   :y1 682.4999504089355,
                                   :x2 1115.90110206604,
                                   :y2 702.4999504089355,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 784.0767002105713,
                                   :y1 703.3664665222168,
                                   :x2 1116.290018081665,
                                   :y2 723.3664665222168,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 784.0767002105713,
                                   :y1 724.3891716003418,
                                   :x2 1116.2898960113525,
                                   :y2 744.3891716003418,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 784.0767002105713,
                                   :y1 745.2414665222168,
                                   :x2 1053.4800815582275,
                                   :y2 765.2414665222168,
                                   :width 1188,
                                   :height 1512}),
                          :page 2},
               :content {:text "We prepared by means of electroformation a heterogeneously sized population of unilamellar phospholipid vesicles, ranging in diameter from approximately 1 to 30 m"},
               :properties {:color "red"}}
              {:id #uuid "68d2158a-674b-4e22-8346-9f59daf94cd4",
               :page 2,
               :position {:bounding {:x1 784.0767002105713,
                                     :y1 849.8721389770508,
                                     :x2 1116.2969760894775,
                                     :y2 911.761360168457,
                                     :width 1188,
                                     :height 1512},
                          :rects ({:x1 1002.3746128082275,
                                   :y1 849.8721389770508,
                                   :x2 1115.2642612457275,
                                   :y2 869.8721389770508,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 784.0767002105713,
                                   :y1 870.7385940551758,
                                   :x2 1116.2969760894775,
                                   :y2 890.7385940551758,
                                   :width 1188,
                                   :height 1512}
                                  {:x1 784.0767002105713,
                                   :y1 891.761360168457,
                                   :x2 939.844705581665,
                                   :y2 911.761360168457,
                                   :width 1188,
                                   :height 1512}),
                          :page 2},
               :content {:text "VM-GFP preferentially adsorbed to the smallest observable vesicles in the populatio"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
