{:highlights [{:id #uuid "6a4bde95-d009-463d-bbe8-584676c5f3ec",
               :page 1,
               :position {:bounding {:x1 995.854248046875,
                                     :y1 299.3125,
                                     :x2 1411.833251953125,
                                     :y2 508.875,
                                     :width 1504.8,
                                     :height 1915.1999999999998},
                          :rects ({:x1 1353.316650390625,
                                   :y1 299.3125,
                                   :x2 1411.6771240234375,
                                   :y2 323.3125,
                                   :width 1504.8,
                                   :height 1915.1999999999998}
                                  {:x1 995.854248046875,
                                   :y1 325.9375,
                                   :x2 1411.79052734375,
                                   :y2 349.9375,
                                   :width 1504.8,
                                   :height 1915.1999999999998}
                                  {:x1 995.854248046875,
                                   :y1 352.3645935058594,
                                   :x2 1411.5023193359375,
                                   :y2 376.3645935058594,
                                   :width 1504.8,
                                   :height 1915.1999999999998}
                                  {:x1 995.854248046875,
                                   :y1 378.9791717529297,
                                   :x2 1411.6494140625,
                                   :y2 402.9791717529297,
                                   :width 1504.8,
                                   :height 1915.1999999999998}
                                  {:x1 995.854248046875,
                                   :y1 405.40625,
                                   :x2 1411.59375,
                                   :y2 429.40625,
                                   :width 1504.8,
                                   :height 1915.1999999999998}
                                  {:x1 1182.322998046875,
                                   :y1 431.8333435058594,
                                   :x2 1411.745849609375,
                                   :y2 455.8333435058594,
                                   :width 1504.8,
                                   :height 1915.1999999999998}
                                  {:x1 1182.322998046875,
                                   :y1 458.44793701171875,
                                   :x2 1411.833251953125,
                                   :y2 482.44793701171875,
                                   :width 1504.8,
                                   :height 1915.1999999999998}
                                  {:x1 1182.322998046875,
                                   :y1 484.875,
                                   :x2 1368.58251953125,
                                   :y2 508.875,
                                   :width 1504.8,
                                   :height 1915.1999999999998}),
                          :page 1},
               :content {:text "single somitic-derived fibroblast lineage that is defined by embryonic expression of En1 is responsible for the bulk of connective tissue deposition during embryonic development, cutaneous wound healing, radiation fibrosis, and cancer stroma formation"},
               :properties {:color "yellow"}}
              {:id #uuid "6a4bdebc-dbbc-421c-8eee-1548e6758d41",
               :page 1,
               :position {:bounding {:x1 1118.4671630859375,
                                     :y1 1041.375,
                                     :x2 1173.6015625,
                                     :y2 1065.375,
                                     :width 1504.8,
                                     :height 1915.1999999999998},
                          :rects ({:x1 1118.4671630859375,
                                   :y1 1041.375,
                                   :x2 1173.6015625,
                                   :y2 1065.375,
                                   :width 1504.8,
                                   :height 1915.1999999999998}),
                          :page 1},
               :content {:text "DPP4"},
               :properties {:color "green"}}],
 :extra {:page 13}}
