{:highlights [{:id #uuid "6a5198c0-e8ea-4413-a810-f5b15c1676e9",
               :page 2,
               :position {:bounding {:x1 66.1640625,
                                     :y1 635.59375,
                                     :x2 491.34767150878906,
                                     :y2 669.015625,
                                     :width 992.1266666666666,
                                     :height 1318.11},
                          :rects ({:x1 70.26496887207031,
                                   :y1 635.59375,
                                   :x2 491.34767150878906,
                                   :y2 651.09375,
                                   :width 992.1266666666666,
                                   :height 1318.11}
                                  {:x1 66.1640625,
                                   :y1 653.515625,
                                   :x2 220.76132202148438,
                                   :y2 669.015625,
                                   :width 992.1266666666666,
                                   :height 1318.11}),
                          :page 2},
               :content {:text "nflammasome-mediated cleavage of pro-IL-1β and pro-IL-18 into their biologically active form"},
               :properties {:color "yellow"}}
              {:id #uuid "6a519d62-4034-453e-bce6-280acdb879d4",
               :page 10,
               :position {:bounding {:x1 433.0390625,
                                     :y1 919.8203125,
                                     :x2 794.1390380859375,
                                     :y2 993.5859375,
                                     :width 842,
                                     :height 1118.6561729349075},
                          :rects ({:x1 513.26416015625,
                                   :y1 919.8203125,
                                   :x2 793.8844604492188,
                                   :y2 932.8203125,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 433.0390625,
                                   :y1 934.9296875,
                                   :x2 793.6895141601562,
                                   :y2 947.9296875,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 433.0390625,
                                   :y1 950.1484375,
                                   :x2 793.943603515625,
                                   :y2 963.1484375,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 433.0390625,
                                   :y1 965.3671875,
                                   :x2 794.1390380859375,
                                   :y2 978.3671875,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 433.0390625,
                                   :y1 980.5859375,
                                   :x2 684.9569702148438,
                                   :y2 993.5859375,
                                   :width 842,
                                   :height 1118.6561729349075}),
                          :page 10},
               :content {:text " mice, IL-34 was indispensable for the development of Langerhans cells arising from fetal liver precursors in the embryo, but was not essential for adult Langerhans cells and microglia, although IL-34 did contribute to the maintenance of these cells. Other cell types appear to be largely unaffected by IL-34 deficien"},
               :properties {:color "yellow"}}
              {:id #uuid "6a519d87-469e-4fde-b7bc-b572925e609a",
               :page 10,
               :position {:bounding {:x1 433.0390625,
                                     :y1 1026.234375,
                                     :x2 793.6656494140625,
                                     :y2 1054.453125,
                                     :width 842,
                                     :height 1118.6561729349075},
                          :rects ({:x1 601.3338012695312,
                                   :y1 1026.234375,
                                   :x2 722.0571899414062,
                                   :y2 1039.234375,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 732.5390625,
                                   :y1 1026.234375,
                                   :x2 793.6656494140625,
                                   :y2 1039.234375,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 721.9296875,
                                   :y1 1032.890625,
                                   :x2 732.538818359375,
                                   :y2 1040.390625,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 433.0390625,
                                   :y1 1041.453125,
                                   :x2 591.2603759765625,
                                   :y2 1054.453125,
                                   :width 842,
                                   :height 1118.6561729349075}),
                          :page 10},
               :content {:text "nducing regulatory T (Treg) cells, IL-34 also mediates immune toleranc"},
               :properties {:color "yellow"}}
              {:id #uuid "6a519d94-8669-4a23-94ce-4c95c9803523",
               :page 11,
               :position {:bounding {:x1 56.15625,
                                     :y1 159.234375,
                                     :x2 417.06170654296875,
                                     :y2 202.671875,
                                     :width 842,
                                     :height 1118.6561729349075},
                          :rects ({:x1 276.03912353515625,
                                   :y1 159.234375,
                                   :x2 417.06170654296875,
                                   :y2 172.234375,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 56.15625,
                                   :y1 174.453125,
                                   :x2 417.0133361816406,
                                   :y2 187.453125,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 56.15625,
                                   :y1 189.671875,
                                   :x2 285.2954406738281,
                                   :y2 202.671875,
                                   :width 842,
                                   :height 1118.6561729349075}),
                          :page 11},
               :content {:text "rough CSF1R; however, both cytokines bind to discrete regions of this receptor, potentially explaining differences in their gene-induction prof"},
               :properties {:color "yellow"}}
              {:id #uuid "6a519da9-d89c-44d0-bf74-011ecf2d484d",
               :page 11,
               :position {:bounding {:x1 56.15625,
                                     :y1 250.546875,
                                     :x2 417.0190124511719,
                                     :y2 293.984375,
                                     :width 842,
                                     :height 1118.6561729349075},
                          :rects ({:x1 56.15625,
                                   :y1 250.546875,
                                   :x2 417.0190124511719,
                                   :y2 263.546875,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 56.15625,
                                   :y1 265.765625,
                                   :x2 416.9996337890625,
                                   :y2 278.765625,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 56.15625,
                                   :y1 280.984375,
                                   :x2 345.14349365234375,
                                   :y2 293.984375,
                                   :width 842,
                                   :height 1118.6561729349075}),
                          :page 11},
               :content {:text "M-CSF has three isoforms: a membrane-spanning cell surface glycoprotein, which mediates local effects, and secreted glycoprotein and proteoglycan isoforms, which mediate systemic effe"},
               :properties {:color "yellow"}}
              {:id #uuid "6a519db9-6069-4eb1-ba4f-812f32e5d2d4",
               :page 11,
               :position {:bounding {:x1 56.15625,
                                     :y1 280.984375,
                                     :x2 417.0384521484375,
                                     :y2 369.9609375,
                                     :width 842,
                                     :height 1118.6561729349075},
                          :rects ({:x1 385.3441467285156,
                                   :y1 280.984375,
                                   :x2 416.9658203125,
                                   :y2 293.984375,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 56.15625,
                                   :y1 296.203125,
                                   :x2 417.0201416015625,
                                   :y2 309.203125,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 56.15625,
                                   :y1 311.3125,
                                   :x2 417.0384521484375,
                                   :y2 324.3125,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 56.15625,
                                   :y1 326.53125,
                                   :x2 417.02154541015625,
                                   :y2 339.53125,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 56.15625,
                                   :y1 341.7421875,
                                   :x2 416.995361328125,
                                   :y2 354.7421875,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 56.15625,
                                   :y1 356.9609375,
                                   :x2 268.5223083496094,
                                   :y2 369.9609375,
                                   :width 842,
                                   :height 1118.6561729349075}),
                          :page 11},
               :content {:text "espite having similar functions, exclusive expression of one isoform cannot completely compensate for loss of the others: mice only producing cell-surface-bound M-CSF display osteopetrosis, reduced tissue macrophage abundance and decreases in peripheral leukocyte counts and blood and bone marrow B cell numb"},
               :properties {:color "yellow"}}
              {:id #uuid "6a519dc6-3acf-4407-b29b-805db71ab3d7",
               :page 11,
               :position {:bounding {:x1 56.15625,
                                     :y1 402.6171875,
                                     :x2 417.055908203125,
                                     :y2 446.0546875,
                                     :width 842,
                                     :height 1118.6561729349075},
                          :rects ({:x1 113.7463150024414,
                                   :y1 402.6171875,
                                   :x2 417.03726959228516,
                                   :y2 415.6171875,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 56.15625,
                                   :y1 417.8359375,
                                   :x2 417.055908203125,
                                   :y2 430.8359375,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 56.15625,
                                   :y1 433.0546875,
                                   :x2 376.2174987792969,
                                   :y2 446.0546875,
                                   :width 842,
                                   :height 1118.6561729349075}),
                          :page 11},
               :content {:text "tes the differentiation of anti-inflammatory macrophages(which express IL-10 at high abundance, but IL-12 at low abundance, and show reduced capacity to co-stimulate and activate T ce"},
               :properties {:color "yellow"}}
              {:id #uuid "6a519e08-e533-464d-a7be-e9a67f66f842",
               :page 11,
               :position {:bounding {:x1 56.15625,
                                     :y1 767.640625,
                                     :x2 417.0682067871094,
                                     :y2 826.2890625,
                                     :width 842,
                                     :height 1118.6561729349075},
                          :rects ({:x1 56.15625,
                                   :y1 767.640625,
                                   :x2 417.009521484375,
                                   :y2 780.640625,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 135.140625,
                                   :y1 782.234375,
                                   :x2 417.0447082519531,
                                   :y2 789.734375,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 56.15625,
                                   :y1 782.859375,
                                   :x2 417.0447082519531,
                                   :y2 795.859375,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 56.15625,
                                   :y1 798.0703125,
                                   :x2 417.0682067871094,
                                   :y2 811.0703125,
                                   :width 842,
                                   :height 1118.6561729349075}
                                  {:x1 56.15625,
                                   :y1 813.2890625,
                                   :x2 246.37008666992188,
                                   :y2 826.2890625,
                                   :width 842,
                                   :height 1118.6561729349075}),
                          :page 11},
               :content {:text "IL-34 and M-CSF homodimerization is central to their ability to signal through CSF1R22, enabling each cytokine to bind two copies of CSF1R and assemble into a 2:2 cytokine–receptor architecture, thus inducing signalling through receptor dimeriz"},
               :properties {:color "yellow"}}],
 :extra {:page 12}}
