{:highlights [{:id #uuid "68fee56e-a56f-4784-8ea6-6f3f543452b8",
               :page 1,
               :position {:bounding {:x1 104.2421875,
                                     :y1 478.8671875,
                                     :x2 361.4254455566406,
                                     :y2 527.2109375,
                                     :width 702.144,
                                     :height 939.7439999999999},
                          :rects ({:x1 227.5483856201172,
                                   :y1 478.8671875,
                                   :x2 361.3337097167969,
                                   :y2 488.3671875,
                                   :width 702.144,
                                   :height 939.7439999999999}
                                  {:x1 104.2421875,
                                   :y1 490.6171875,
                                   :x2 361.12408447265625,
                                   :y2 502.1171875,
                                   :width 702.144,
                                   :height 939.7439999999999}
                                  {:x1 104.5234375,
                                   :y1 503.3046875,
                                   :x2 361.4254455566406,
                                   :y2 514.8046875,
                                   :width 702.144,
                                   :height 939.7439999999999}
                                  {:x1 104.2421875,
                                   :y1 515.7109375,
                                   :x2 118.80121612548828,
                                   :y2 527.2109375,
                                   :width 702.144,
                                   :height 939.7439999999999}),
                          :page 1},
               :content {:text "uppressor phenotypes are correlated with the physical properties of the small molecules, but the mutations are not in their target gen"},
               :properties {:color "yellow"}}
              {:id #uuid "68fee588-aa52-4df6-92dd-0630960ec1dc",
               :page 1,
               :position {:bounding {:x1 104.5234375,
                                     :y1 666.3984375,
                                     :x2 162.41717529296875,
                                     :y2 677.8984375,
                                     :width 702.144,
                                     :height 939.7439999999999},
                          :rects ({:x1 104.5234375,
                                   :y1 666.3984375,
                                   :x2 162.41717529296875,
                                   :y2 677.8984375,
                                   :width 702.144,
                                   :height 939.7439999999999}),
                          :page 1},
               :content {:text "Introduction"},
               :properties {:color "purple"}}
              {:id #uuid "68fee5d3-e68b-417e-81c1-00da5757edc3",
               :page 1,
               :position {:bounding {:x1 390.1640625,
                                     :y1 164.8125,
                                     :x2 647.91455078125,
                                     :y2 201.40625,
                                     :width 702.144,
                                     :height 939.7439999999999},
                          :rects ({:x1 578.1607055664062,
                                   :y1 164.8125,
                                   :x2 647.91455078125,
                                   :y2 176.3125,
                                   :width 702.144,
                                   :height 939.7439999999999}
                                  {:x1 390.4453125,
                                   :y1 177.21875,
                                   :x2 647.6294555664062,
                                   :y2 188.71875,
                                   :width 702.144,
                                   :height 939.7439999999999}
                                  {:x1 390.1640625,
                                   :y1 189.90625,
                                   :x2 508.6026916503906,
                                   :y2 201.40625,
                                   :width 702.144,
                                   :height 939.7439999999999}),
                          :page 1},
               :content {:text "ficult to assess whether or not these gene products function directly in the OM assembly process"},
               :properties {:color "yellow"}}
              {:id #uuid "68fee65c-935b-4871-a5ed-afa9e8d33b40",
               :page 1,
               :position {:bounding {:x1 461.9200439453125,
                                     :y1 754.8515625,
                                     :x2 635.2196655273438,
                                     :y2 767.3515625,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 461.9200439453125,
                                   :y1 754.8515625,
                                   :x2 635.2196655273438,
                                   :y2 767.3515625,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 1},
               :content {:text "oss-of-function mutations in yfgl"},
               :properties {:color "yellow"}}
              {:id #uuid "68fee664-9404-4cfa-8919-94035249be4c",
               :page 1,
               :position {:bounding {:x1 433.5234375,
                                     :y1 796.8203125,
                                     :x2 720.1915893554688,
                                     :y2 823.1015625,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 524.849853515625,
                                   :y1 796.8203125,
                                   :x2 720.1915893554688,
                                   :y2 809.3203125,
                                   :width 780.16,
                                   :height 1044.1599999999999}
                                  {:x1 433.5234375,
                                   :y1 810.6015625,
                                   :x2 495.87396240234375,
                                   :y2 823.1015625,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 1},
               :content {:text "ering the permeability of the OM of imp4213 cell"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
