{:highlights [{:id #uuid "68fee56e-a56f-4784-8ea6-6f3f543452b8",
               :page 1,
               :position {:bounding {:x1 104.2421875,
                                     :y1 478.8671875,
                                     :x2 361.4254455566406,
                                     :y2 527.2109375,
                                     :width 702.144,
                                     :height 939.7439999999999},
                          :rects ({:x1 227.5483856201172,
                                   :y1 478.8671875,
                                   :x2 361.3337097167969,
                                   :y2 488.3671875,
                                   :width 702.144,
                                   :height 939.7439999999999}
                                  {:x1 104.2421875,
                                   :y1 490.6171875,
                                   :x2 361.12408447265625,
                                   :y2 502.1171875,
                                   :width 702.144,
                                   :height 939.7439999999999}
                                  {:x1 104.5234375,
                                   :y1 503.3046875,
                                   :x2 361.4254455566406,
                                   :y2 514.8046875,
                                   :width 702.144,
                                   :height 939.7439999999999}
                                  {:x1 104.2421875,
                                   :y1 515.7109375,
                                   :x2 118.80121612548828,
                                   :y2 527.2109375,
                                   :width 702.144,
                                   :height 939.7439999999999}),
                          :page 1},
               :content {:text "uppressor phenotypes are correlated with the physical properties of the small molecules, but the mutations are not in their target gen"},
               :properties {:color "yellow"}}
              {:id #uuid "68fee588-aa52-4df6-92dd-0630960ec1dc",
               :page 1,
               :position {:bounding {:x1 104.5234375,
                                     :y1 666.3984375,
                                     :x2 162.41717529296875,
                                     :y2 677.8984375,
                                     :width 702.144,
                                     :height 939.7439999999999},
                          :rects ({:x1 104.5234375,
                                   :y1 666.3984375,
                                   :x2 162.41717529296875,
                                   :y2 677.8984375,
                                   :width 702.144,
                                   :height 939.7439999999999}),
                          :page 1},
               :content {:text "Introduction"},
               :properties {:color "purple"}}
              {:id #uuid "68fee5d3-e68b-417e-81c1-00da5757edc3",
               :page 1,
               :position {:bounding {:x1 390.1640625,
                                     :y1 164.8125,
                                     :x2 647.91455078125,
                                     :y2 201.40625,
                                     :width 702.144,
                                     :height 939.7439999999999},
                          :rects ({:x1 578.1607055664062,
                                   :y1 164.8125,
                                   :x2 647.91455078125,
                                   :y2 176.3125,
                                   :width 702.144,
                                   :height 939.7439999999999}
                                  {:x1 390.4453125,
                                   :y1 177.21875,
                                   :x2 647.6294555664062,
                                   :y2 188.71875,
                                   :width 702.144,
                                   :height 939.7439999999999}
                                  {:x1 390.1640625,
                                   :y1 189.90625,
                                   :x2 508.6026916503906,
                                   :y2 201.40625,
                                   :width 702.144,
                                   :height 939.7439999999999}),
                          :page 1},
               :content {:text "ficult to assess whether or not these gene products function directly in the OM assembly process"},
               :properties {:color "yellow"}}
              {:id #uuid "68fee65c-935b-4871-a5ed-afa9e8d33b40",
               :page 1,
               :position {:bounding {:x1 461.9200439453125,
                                     :y1 754.8515625,
                                     :x2 635.2196655273438,
                                     :y2 767.3515625,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 461.9200439453125,
                                   :y1 754.8515625,
                                   :x2 635.2196655273438,
                                   :y2 767.3515625,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 1},
               :content {:text "oss-of-function mutations in yfgl"},
               :properties {:color "yellow"}}
              {:id #uuid "68fee664-9404-4cfa-8919-94035249be4c",
               :page 1,
               :position {:bounding {:x1 433.5234375,
                                     :y1 796.8203125,
                                     :x2 720.1915893554688,
                                     :y2 823.1015625,
                                     :width 780.16,
                                     :height 1044.1599999999999},
                          :rects ({:x1 524.849853515625,
                                   :y1 796.8203125,
                                   :x2 720.1915893554688,
                                   :y2 809.3203125,
                                   :width 780.16,
                                   :height 1044.1599999999999}
                                  {:x1 433.5234375,
                                   :y1 810.6015625,
                                   :x2 495.87396240234375,
                                   :y2 823.1015625,
                                   :width 780.16,
                                   :height 1044.1599999999999}),
                          :page 1},
               :content {:text "ering the permeability of the OM of imp4213 cell"},
               :properties {:color "yellow"}}
              {:id #uuid "68ff7e0a-33c3-4931-8890-617dc1cb88c3",
               :page 4,
               :position {:bounding {:x1 47.5625,
                                     :y1 374.046875,
                                     :x2 278.0688781738281,
                                     :y2 406.46875,
                                     :width 629.9999999999999,
                                     :height 843.1870385561934},
                          :rects ({:x1 164.8550567626953,
                                   :y1 374.046875,
                                   :x2 277.81005859375,
                                   :y2 384.046875,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}
                                  {:x1 47.5625,
                                   :y1 385.09375,
                                   :x2 278.0688781738281,
                                   :y2 395.09375,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}
                                  {:x1 47.5625,
                                   :y1 396.46875,
                                   :x2 210.32583618164062,
                                   :y2 406.46875,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}),
                          :page 4},
               :content {:text "l of the base substitution mutations obtained were recessive null alleles of yfgL or missense alterations of imp4273 itself"},
               :properties {:color "yellow"}}
              {:id #uuid "68ff7e16-65c9-47fa-8f77-4e132f02be95",
               :page 4,
               :position {:bounding {:x1 47.5625,
                                     :y1 407.6015625,
                                     :x2 278.3260803222656,
                                     :y2 428.8203125,
                                     :width 629.9999999999999,
                                     :height 843.1870385561934},
                          :rects ({:x1 183.2965545654297,
                                   :y1 407.6015625,
                                   :x2 278.3260803222656,
                                   :y2 417.6015625,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}
                                  {:x1 47.5625,
                                   :y1 419.8203125,
                                   :x2 217.13558959960938,
                                   :y2 428.8203125,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}),
                          :page 4},
               :content {:text "resistant to CBPV but not to vancomycin or to other antibiotic"},
               :properties {:color "green"}}
              {:id #uuid "68ff7e99-4f03-4220-9739-3e18913962d3",
               :page 4,
               :position {:bounding {:x1 104.74385070800781,
                                     :y1 599.296875,
                                     :x2 273.3804931640625,
                                     :y2 609.296875,
                                     :width 629.9999999999999,
                                     :height 843.1870385561934},
                          :rects ({:x1 104.74385070800781,
                                   :y1 599.296875,
                                   :x2 273.3804931640625,
                                   :y2 609.296875,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}),
                          :page 4},
               :content {:text "nce MacConkey agar contains bile salts"},
               :properties {:color "red"}}
              {:id #uuid "68ff7ed4-a997-4b79-b80b-88561b61299a",
               :page 4,
               :position {:bounding {:x1 47.3125,
                                     :y1 768.8203125,
                                     :x2 278.30224609375,
                                     :y2 800.7421875,
                                     :width 629.9999999999999,
                                     :height 843.1870385561934},
                          :rects ({:x1 88.18810272216797,
                                   :y1 768.8203125,
                                   :x2 278.30224609375,
                                   :y2 777.8203125,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}
                                  {:x1 47.3125,
                                   :y1 779.359375,
                                   :x2 278.0765075683594,
                                   :y2 789.359375,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}
                                  {:x1 47.5625,
                                   :y1 790.7421875,
                                   :x2 98.79084014892578,
                                   :y2 800.7421875,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}),
                          :page 4},
               :content {:text "ndependent selections, we determined that30%-60% of the bile salt-resistant mutants were also CBPV resista"},
               :properties {:color "yellow"}}
              {:id #uuid "68ff7edc-dc0a-43fd-82bc-196e598d4da8",
               :page 4,
               :position {:bounding {:x1 308.4777526855469,
                                     :y1 306.3515625,
                                     :x2 455.4444274902344,
                                     :y2 316.3515625,
                                     :width 629.9999999999999,
                                     :height 843.1870385561934},
                          :rects ({:x1 308.4777526855469,
                                   :y1 306.3515625,
                                   :x2 455.4444274902344,
                                   :y2 316.3515625,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}),
                          :page 4},
               :content {:text "nd will not be discussed any furth"},
               :properties {:color "red"}}
              {:id #uuid "68ff7ee7-553f-4d6c-a05d-7c737f60512e",
               :page 4,
               :position {:bounding {:x1 304.4140625,
                                     :y1 351.2890625,
                                     :x2 535.7015991210938,
                                     :y2 395.09375,
                                     :width 629.9999999999999,
                                     :height 843.1870385561934},
                          :rects ({:x1 327.7480163574219,
                                   :y1 351.2890625,
                                   :x2 535.3939819335938,
                                   :y2 361.2890625,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}
                                  {:x1 304.6640625,
                                   :y1 363.5078125,
                                   :x2 535.7015991210938,
                                   :y2 372.5078125,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}
                                  {:x1 304.4140625,
                                   :y1 374.046875,
                                   :x2 535.1732788085938,
                                   :y2 384.046875,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}
                                  {:x1 304.4140625,
                                   :y1 385.09375,
                                   :x2 360.0358581542969,
                                   :y2 395.09375,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}),
                          :page 4},
               :content {:text "utations that mapped to the yfgML locus were recessive loss-of-function alleles, since expression of wild-type yfgL in trans restored sensitivity to both bile salts and CBP"},
               :properties {:color "yellow"}}
              {:id #uuid "68ff7f0e-0c43-4a83-9b9d-829039751ecc",
               :page 4,
               :position {:bounding {:x1 304.15625,
                                     :y1 509.09375,
                                     :x2 535.6959228515625,
                                     :y2 575.4921875,
                                     :width 629.9999999999999,
                                     :height 843.1870385561934},
                          :rects ({:x1 326.75616455078125,
                                   :y1 509.09375,
                                   :x2 535.1484985351562,
                                   :y2 519.09375,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}
                                  {:x1 304.15625,
                                   :y1 520.2265625,
                                   :x2 535.4382934570312,
                                   :y2 530.2265625,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}
                                  {:x1 304.4140625,
                                   :y1 532.4453125,
                                   :x2 535.6942749023438,
                                   :y2 541.4453125,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}
                                  {:x1 304.6640625,
                                   :y1 542.984375,
                                   :x2 535.1648559570312,
                                   :y2 552.984375,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}
                                  {:x1 304.15625,
                                   :y1 554.109375,
                                   :x2 535.6959228515625,
                                   :y2 564.109375,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}
                                  {:x1 304.4140625,
                                   :y1 565.4921875,
                                   :x2 337.2358093261719,
                                   :y2 575.4921875,
                                   :width 629.9999999999999,
                                   :height 843.1870385561934}),
                          :page 4},
               :content {:text "hough selections for CBPV or moenomycin resistance only yielded one type of mutation in the yfgL locus (IS7E element insertions, see above), selections for bile salt resistance yielded multiple types of yfgL mutations. For example, yfgL8 is an in-frame 12 base pair deletion"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
