{:highlights [{:id #uuid "68e91336-9271-4219-95f3-dad598307d36",
               :page 2,
               :position {:bounding {:x1 52.2109375,
                                     :y1 279.2109375,
                                     :x2 379.25274658203125,
                                     :y2 324.6796875,
                                     :width 777.3153114186852,
                                     :height 1079.2115051903115},
                          :rects ({:x1 147.859375,
                                   :y1 279.2109375,
                                   :x2 379.25274658203125,
                                   :y2 293.7109375,
                                   :width 777.3153114186852,
                                   :height 1079.2115051903115}
                                  {:x1 52.90625,
                                   :y1 294.75,
                                   :x2 379.0666809082031,
                                   :y2 309.25,
                                   :width 777.3153114186852,
                                   :height 1079.2115051903115}
                                  {:x1 52.2109375,
                                   :y1 310.1796875,
                                   :x2 253.43310546875,
                                   :y2 324.6796875,
                                   :width 777.3153114186852,
                                   :height 1079.2115051903115}),
                          :page 2},
               :content {:text "homology among these components implies that the mechanism by which the sensor and effector communicate is conserv"},
               :properties {:color "yellow"}}
              {:id #uuid "68e91347-5ec2-49be-9881-7f765a5d0940",
               :page 2,
               :position {:bounding {:x1 52.5234375,
                                     :y1 448.2890625,
                                     :x2 379.6941223144531,
                                     :y2 508.9765625,
                                     :width 777.3153114186852,
                                     :height 1079.2115051903115},
                          :rects ({:x1 307.1739501953125,
                                   :y1 448.2890625,
                                   :x2 378.931640625,
                                   :y2 462.7890625,
                                   :width 777.3153114186852,
                                   :height 1079.2115051903115}
                                  {:x1 52.90625,
                                   :y1 463.5078125,
                                   :x2 379.06805419921875,
                                   :y2 478.0078125,
                                   :width 777.3153114186852,
                                   :height 1079.2115051903115}
                                  {:x1 52.5234375,
                                   :y1 477.359375,
                                   :x2 379.6941223144531,
                                   :y2 493.859375,
                                   :width 777.3153114186852,
                                   :height 1079.2115051903115}
                                  {:x1 52.5234375,
                                   :y1 494.4765625,
                                   :x2 112.493896484375,
                                   :y2 508.9765625,
                                   :width 777.3153114186852,
                                   :height 1079.2115051903115}),
                          :page 2},
               :content {:text "ensor component autophosphorylates in the presence of ATP, then transfers this phosphate group to the effector component"},
               :properties {:color "yellow"}}
              {:id #uuid "68e91389-8076-4633-9f11-a323ce7e2d6c",
               :page 2,
               :position {:bounding {:x1 53.21875,
                                     :y1 877.84375,
                                     :x2 380.04874420166016,
                                     :y2 923.3125,
                                     :width 777.3153114186852,
                                     :height 1079.2115051903115},
                          :rects ({:x1 102.54804229736328,
                                   :y1 877.84375,
                                   :x2 380.04874420166016,
                                   :y2 892.34375,
                                   :width 777.3153114186852,
                                   :height 1079.2115051903115}
                                  {:x1 53.53125,
                                   :y1 893.3828125,
                                   :x2 379.69195556640625,
                                   :y2 907.8828125,
                                   :width 777.3153114186852,
                                   :height 1079.2115051903115}
                                  {:x1 53.21875,
                                   :y1 908.8125,
                                   :x2 230.07054138183594,
                                   :y2 923.3125,
                                   :width 777.3153114186852,
                                   :height 1079.2115051903115}),
                          :page 2},
               :content {:text "fers from many of them in that it possesses a phosphatase function in addition to its autokinase and phosphotransfer activi"},
               :properties {:color "yellow"}}
              {:id #uuid "68e914f8-4228-4789-80c5-02ad4c644ed5",
               :page 5,
               :position {:bounding {:x1 58.6171875,
                                     :y1 785.0078125,
                                     :x2 464.011474609375,
                                     :y2 842.8984375,
                                     :width 968.6959342560555,
                                     :height 1347.0769896193774},
                          :rects ({:x1 107.60223388671875,
                                   :y1 785.0078125,
                                   :x2 464.011474609375,
                                   :y2 804.5078125,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}
                                  {:x1 59.0078125,
                                   :y1 804.140625,
                                   :x2 463.7657470703125,
                                   :y2 823.640625,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}
                                  {:x1 58.6171875,
                                   :y1 823.3984375,
                                   :x2 166.07254028320312,
                                   :y2 842.8984375,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}),
                          :page 5},
               :content {:text " chromosome by using a mutagenized strain as the donor in a P1 transduction into an unmutagenized recip"},
               :properties {:color "red"}}
              {:id #uuid "68e91501-6fd0-4635-802e-e59cec56aef5",
               :page 5,
               :position {:bounding {:x1 58.6171875,
                                     :y1 900.1796875,
                                     :x2 464.7437744140625,
                                     :y2 977.328125,
                                     :width 968.6959342560555,
                                     :height 1347.0769896193774},
                          :rects ({:x1 180.6371307373047,
                                   :y1 900.1796875,
                                   :x2 464.38671875,
                                   :y2 919.6796875,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}
                                  {:x1 59.0078125,
                                   :y1 919.4375,
                                   :x2 464.34820556640625,
                                   :y2 938.9375,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}
                                  {:x1 59.0078125,
                                   :y1 938.5703125,
                                   :x2 464.7437744140625,
                                   :y2 958.0703125,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}
                                  {:x1 58.6171875,
                                   :y1 957.828125,
                                   :x2 413.6625061035156,
                                   :y2 977.328125,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}),
                          :page 5},
               :content {:text "y selecting for a marker tightly linked to the ompB locus, we could ensure that the mutagenized DNA received by each transductant came from the region including ompR and en"},
               :properties {:color "red"}}
              {:id #uuid "68e9150e-6c8e-4005-a561-8fe39ba59004",
               :page 5,
               :position {:bounding {:x1 59.6875,
                                     :y1 1054.9453125,
                                     :x2 465.9873352050781,
                                     :y2 1112.03125,
                                     :width 968.6959342560555,
                                     :height 1347.0769896193774},
                          :rects ({:x1 76.86421203613281,
                                   :y1 1054.9453125,
                                   :x2 465.31898498535156,
                                   :y2 1072.9453125,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}
                                  {:x1 59.9765625,
                                   :y1 1073,
                                   :x2 465.9873352050781,
                                   :y2 1092.5,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}
                                  {:x1 59.6875,
                                   :y1 1092.53125,
                                   :x2 114.34746551513672,
                                   :y2 1112.03125,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}),
                          :page 5},
               :content {:text "functional wild-type copy of ompR was provided in trans from a A transducing phage integrated at attd. S"},
               :properties {:color "red"}}
              {:id #uuid "68e91530-9263-4358-82ed-14cba1ef2636",
               :page 5,
               :position {:bounding {:x1 496.4140625,
                                     :y1 212.8046875,
                                     :x2 901.475341796875,
                                     :y2 309.21875,
                                     :width 968.6959342560555,
                                     :height 1347.0769896193774},
                          :rects ({:x1 747.3016357421875,
                                   :y1 212.8046875,
                                   :x2 901.0810546875,
                                   :y2 232.3046875,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}
                                  {:x1 496.4140625,
                                   :y1 234.625,
                                   :x2 900.8338623046875,
                                   :y2 251.125,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}
                                  {:x1 496.8046875,
                                   :y1 251.328125,
                                   :x2 901.135009765625,
                                   :y2 270.828125,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}
                                  {:x1 496.8046875,
                                   :y1 270.453125,
                                   :x2 901.475341796875,
                                   :y2 289.953125,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}
                                  {:x1 496.8046875,
                                   :y1 289.71875,
                                   :x2 810.4725341796875,
                                   :y2 309.21875,
                                   :width 968.6959342560555,
                                   :height 1347.0769896193774}),
                          :page 5},
               :content {:text "oth strains provide ompR* in trans, and differ only in the lacZ fusion they contain: FR200 carries a transcriptional fusion of lacZ to the ompC promoter, while FR300 carries a transcriptional fusion of lacZ to ompF"},
               :properties {:color "yellow"}}
              {:id #uuid "68e9155b-3163-4610-bd02-68372944113a",
               :page 5,
               :position {:bounding {:x1 904.5,
                                     :y1 731.5,
                                     :x2 925.5,
                                     :y2 861.5,
                                     :width 968.6959342560555,
                                     :height 1347.0769896193774},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1760105818615},
               :properties {:color "red"}}],
 :extra {:page 9}}
