{:highlights [{:id #uuid "6914a0cc-869e-43b5-bad2-613e46030ee3",
               :page 1,
               :position {:bounding {:x1 64.3046875,
                                     :y1 754.6484375,
                                     :x2 398.1360168457031,
                                     :y2 798.921875,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 215.74671936035156,
                                   :y1 754.6484375,
                                   :x2 398.1229248046875,
                                   :y2 769.6484375,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 64.3046875,
                                   :y1 769.234375,
                                   :x2 398.1360168457031,
                                   :y2 784.234375,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 64.3046875,
                                   :y1 783.921875,
                                   :x2 321.6812744140625,
                                   :y2 798.921875,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 1},
               :content {:text "lows analysis of genes important for a particular process with no requirement for prior knowledge about their identity or molecular nat"},
               :properties {:color "yellow"}}
              {:id #uuid "6914a0e4-2aea-48c7-9cdc-5834c1791f0d",
               :page 1,
               :position {:bounding {:x1 64.3046875,
                                     :y1 915.9453125,
                                     :x2 398.1515197753906,
                                     :y2 960.21875,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 360.0750427246094,
                                   :y1 915.9453125,
                                   :x2 398.1144714355469,
                                   :y2 930.9453125,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 64.3046875,
                                   :y1 930.53125,
                                   :x2 398.1515197753906,
                                   :y2 945.53125,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 64.3046875,
                                   :y1 945.21875,
                                   :x2 287.2204895019531,
                                   :y2 960.21875,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 1},
               :content {:text "ain-offunction mutants have been isolated fortuitously as mutants that are recognized by dominant phenotyp"},
               :properties {:color "yellow"}}
              {:id #uuid "6914a13c-d217-4cad-bb14-6a07337cdd9a",
               :page 1,
               :position {:bounding {:x1 422.15625,
                                     :y1 798.6171875,
                                     :x2 756.018798828125,
                                     :y2 842.8984375,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 508.4845275878906,
                                   :y1 798.6171875,
                                   :x2 756.018798828125,
                                   :y2 813.6171875,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 422.15625,
                                   :y1 813.3125,
                                   :x2 755.9783935546875,
                                   :y2 828.3125,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 422.15625,
                                   :y1 827.8984375,
                                   :x2 559.338623046875,
                                   :y2 842.8984375,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 1},
               :content {:text "stimated that over 2/3 of all Drosophila, C. elegans and yeast genes show no obvious loss-of-function phenotypes when mutate"},
               :properties {:color "yellow"}}
              {:id #uuid "6914a330-0ab1-42be-86d4-bbc4aefbecd7",
               :page 3,
               :position {:bounding {:x1 607.453125,
                                     :y1 265.6796875,
                                     :x2 645.6655883789062,
                                     :y2 277.6796875,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 607.453125,
                                   :y1 265.6796875,
                                   :x2 645.6655883789062,
                                   :y2 277.6796875,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 3},
               :content {:text "big brain"},
               :properties {:color "yellow"}}
              {:id #uuid "6914a38d-eaf9-470d-8f42-932c51db7c50",
               :page 3,
               :position {:bounding {:x1 64.3046875,
                                     :y1 666.3828125,
                                     :x2 397.60064697265625,
                                     :y2 696.078125,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 295.5150146484375,
                                   :y1 666.3828125,
                                   :x2 397.60064697265625,
                                   :y2 681.3828125,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 64.3046875,
                                   :y1 681.078125,
                                   :x2 380.3785705566406,
                                   :y2 696.078125,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 3},
               :content {:text "7% of all EP lines(163/2300) produced a detectable phenotypic abnorma"},
               :properties {:color "yellow"}}
              {:id #uuid "6914a3a0-5820-4677-b0dc-b11d751eb927",
               :page 3,
               :position {:bounding {:x1 64.3046875,
                                     :y1 710.4609375,
                                     :x2 275.98980712890625,
                                     :y2 725.4609375,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 64.3046875,
                                   :y1 710.4609375,
                                   :x2 275.98980712890625,
                                   :y2 725.4609375,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 3},
               :content {:text "2% for dppGAL4 and 4% for sevGAL4"},
               :properties {:color "yellow"}}
              {:id #uuid "6914a4f1-a31f-4ad5-9b74-ac43624231a6",
               :page 6,
               :position {:bounding {:x1 55.703125,
                                     :y1 505.296875,
                                     :x2 389.548828125,
                                     :y2 549.578125,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 269.4805908203125,
                                   :y1 505.296875,
                                   :x2 389.548828125,
                                   :y2 520.296875,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 55.703125,
                                   :y1 519.8828125,
                                   :x2 389.517333984375,
                                   :y2 534.8828125,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 55.703125,
                                   :y1 534.578125,
                                   :x2 149.15380859375,
                                   :y2 549.578125,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 6},
               :content {:text "en directly implicated in actin polymerization associated with actin-driven movement of Listeria in cell"},
               :properties {:color "yellow"}}
              {:id #uuid "6914a4fe-3b4f-475e-a34b-6f4877acc77f",
               :page 6,
               :position {:bounding {:x1 55.703125,
                                     :y1 578.546875,
                                     :x2 389.2748718261719,
                                     :y2 608.2421875,
                                     :width 812,
                                     :height 1057.3333333333333},
                          :rects ({:x1 246.78883361816406,
                                   :y1 578.546875,
                                   :x2 389.2748718261719,
                                   :y2 593.546875,
                                   :width 812,
                                   :height 1057.3333333333333}
                                  {:x1 55.703125,
                                   :y1 593.2421875,
                                   :x2 84.67998504638672,
                                   :y2 608.2421875,
                                   :width 812,
                                   :height 1057.3333333333333}),
                          :page 6},
               :content {:text "ehrle-Haller and Weston,1997"},
               :properties {:color "purple"}}],
 :extra {:page 6}}
