{:highlights [{:id #uuid "68fe6d86-ea10-4be9-883b-22eff30354ae",
               :page 1,
               :position {:bounding {:x1 53.5234375,
                                     :y1 468.671875,
                                     :x2 341.4990539550781,
                                     :y2 524.8046875,
                                     :width 707.6148959999999,
                                     :height 969.4067879999999},
                          :rects ({:x1 186.77700805664062,
                                   :y1 468.671875,
                                   :x2 340.4869384765625,
                                   :y2 482.171875,
                                   :width 707.6148959999999,
                                   :height 969.4067879999999}
                                  {:x1 53.5234375,
                                   :y1 483.109375,
                                   :x2 341.36810302734375,
                                   :y2 496.609375,
                                   :width 707.6148959999999,
                                   :height 969.4067879999999}
                                  {:x1 53.875,
                                   :y1 497.2578125,
                                   :x2 341.4990539550781,
                                   :y2 510.7578125,
                                   :width 707.6148959999999,
                                   :height 969.4067879999999}
                                  {:x1 53.5234375,
                                   :y1 511.3046875,
                                   :x2 305.6394348144531,
                                   :y2 524.8046875,
                                   :width 707.6148959999999,
                                   :height 969.4067879999999}),
                          :page 1},
               :content {:text "The structure of this membrane consists of lipopolysaccharide (LPS) (outer leaflet), phospholipids (predominantly in the inner leaflet), and integral as well as peripheral protein"},
               :properties {:color "yellow"}}
              {:id #uuid "68fe6d90-333f-4b26-a822-4f9ff0416767",
               :page 1,
               :position {:bounding {:x1 53.5234375,
                                     :y1 610.921875,
                                     :x2 340.65991973876953,
                                     :y2 638.46875,
                                     :width 707.6148959999999,
                                     :height 969.4067879999999},
                          :rects ({:x1 66.13175201416016,
                                   :y1 610.921875,
                                   :x2 340.65991973876953,
                                   :y2 624.421875,
                                   :width 707.6148959999999,
                                   :height 969.4067879999999}
                                  {:x1 53.5234375,
                                   :y1 624.96875,
                                   :x2 172.8748779296875,
                                   :y2 638.46875,
                                   :width 707.6148959999999,
                                   :height 969.4067879999999}),
                          :page 1},
               :content {:text "utations at a number of genetic loci alter the outer membrane's permeab"},
               :properties {:color "yellow"}}
              {:id #uuid "68fe6e43-d8c1-4673-b0a9-69a94d6fbd77",
               :page 1,
               :position {:bounding {:x1 369.078125,
                                     :y1 497.2578125,
                                     :x2 656.33154296875,
                                     :y2 539.1484375,
                                     :width 707.6148959999999,
                                     :height 969.4067879999999},
                          :rects ({:x1 531.83984375,
                                   :y1 497.2578125,
                                   :x2 654.0999755859375,
                                   :y2 510.7578125,
                                   :width 707.6148959999999,
                                   :height 969.4067879999999}
                                  {:x1 369.4296875,
                                   :y1 511.3046875,
                                   :x2 656.33154296875,
                                   :y2 524.8046875,
                                   :width 707.6148959999999,
                                   :height 969.4067879999999}
                                  {:x1 369.078125,
                                   :y1 525.6484375,
                                   :x2 646.9673461914062,
                                   :y2 539.1484375,
                                   :width 707.6148959999999,
                                   :height 969.4067879999999}),
                          :page 1},
               :content {:text "ddition to conferring a Dex+ phenotype, confers a dramatic increase in sensitivity to a variety of antibiotics, detergents anddye"},
               :properties {:color "yellow"}}
              {:id #uuid "68fe6e5a-5a84-4343-932d-7c7accc6bc65",
               :page 1,
               :position {:bounding {:x1 429.328125,
                                     :y1 585.3359375,
                                     :x2 571.8363037109375,
                                     :y2 597.8359375,
                                     :width 707.6148959999999,
                                     :height 969.4067879999999},
                          :rects ({:x1 429.328125,
                                   :y1 585.3359375,
                                   :x2 571.8363037109375,
                                   :y2 597.8359375,
                                   :width 707.6148959999999,
                                   :height 969.4067879999999}),
                          :page 1},
               :content {:text "MATERIALSANDMETHOD"},
               :properties {:color "purple"}}],
 :extra {:page 1}}
