{:highlights [{:id #uuid "6902348d-d92e-4680-960e-0ff042fd5363",
               :page 2,
               :position {:bounding {:x1 86.8046875,
                                     :y1 618.09375,
                                     :x2 433.9371337890625,
                                     :y2 668.7734375,
                                     :width 876,
                                     :height 1137.4986085912442},
                          :rects ({:x1 334.153564453125,
                                   :y1 618.09375,
                                   :x2 433.9371337890625,
                                   :y2 634.09375,
                                   :width 876,
                                   :height 1137.4986085912442}
                                  {:x1 86.8046875,
                                   :y1 635.375,
                                   :x2 433.1178283691406,
                                   :y2 651.375,
                                   :width 876,
                                   :height 1137.4986085912442}
                                  {:x1 86.8046875,
                                   :y1 652.7734375,
                                   :x2 172.949462890625,
                                   :y2 668.7734375,
                                   :width 876,
                                   :height 1137.4986085912442}),
                          :page 2},
               :content {:text "ith two densely folded B compartments separated by a central A compartmen"},
               :properties {:color "yellow"}}
              {:id #uuid "690234c1-7a1f-4545-a00b-60b52534ab9a",
               :page 2,
               :position {:bounding {:x1 451.5703125,
                                     :y1 463.6875,
                                     :x2 798.8536376953125,
                                     :y2 524.9453125,
                                     :width 876,
                                     :height 1137.4986085912442},
                          :rects ({:x1 656.879150390625,
                                   :y1 463.6875,
                                   :x2 798.1824951171875,
                                   :y2 477.1875,
                                   :width 876,
                                   :height 1137.4986085912442}
                                  {:x1 451.5703125,
                                   :y1 479.609375,
                                   :x2 798.8035888671875,
                                   :y2 493.109375,
                                   :width 876,
                                   :height 1137.4986085912442}
                                  {:x1 451.5703125,
                                   :y1 495.5234375,
                                   :x2 798.8536376953125,
                                   :y2 509.0234375,
                                   :width 876,
                                   :height 1137.4986085912442}
                                  {:x1 451.5703125,
                                   :y1 511.4453125,
                                   :x2 474.4712219238281,
                                   :y2 524.9453125,
                                   :width 876,
                                   :height 1137.4986085912442}),
                          :page 2},
               :content {:text "-type compartments are gene dense and enriched in open, active chromatin (euchromatin). B compartments reﬂect compact chromatin (heterochromati"},
               :properties {:color "yellow"}}
              {:id #uuid "690235f2-12a0-4b96-a199-14f3307d9160",
               :page 2,
               :position {:bounding {:x1 451.5703125,
                                     :y1 988.8671875,
                                     :x2 798.873291015625,
                                     :y2 1034.09375,
                                     :width 876,
                                     :height 1137.4986085912442},
                          :rects ({:x1 603.1980590820312,
                                   :y1 988.8671875,
                                   :x2 798.8409423828125,
                                   :y2 1002.3671875,
                                   :width 876,
                                   :height 1137.4986085912442}
                                  {:x1 451.5703125,
                                   :y1 1004.7890625,
                                   :x2 798.873291015625,
                                   :y2 1018.2890625,
                                   :width 876,
                                   :height 1137.4986085912442}
                                  {:x1 451.5703125,
                                   :y1 1020.59375,
                                   :x2 475.33056640625,
                                   :y2 1034.09375,
                                   :width 876,
                                   :height 1137.4986085912442}),
                          :page 2},
               :content {:text "ecent Hi-C studies have shown that TAD and compartment structures are particularly dynamic in embryo"},
               :properties {:color "yellow"}}
              {:id #uuid "69023682-5b7c-4383-b7ae-9895a7f49931",
               :page 3,
               :position {:bounding {:x1 77.171875,
                                     :y1 400.015625,
                                     :x2 423.75462341308594,
                                     :y2 429.4375,
                                     :width 876,
                                     :height 1137.4986085912442},
                          :rects ({:x1 160.39024353027344,
                                   :y1 400.015625,
                                   :x2 423.75462341308594,
                                   :y2 413.515625,
                                   :width 876,
                                   :height 1137.4986085912442}
                                  {:x1 77.171875,
                                   :y1 415.9375,
                                   :x2 262.977294921875,
                                   :y2 429.4375,
                                   :width 876,
                                   :height 1137.4986085912442}),
                          :page 3},
               :content {:text "apt high-throughput multiplexed DNA FISH to trace entire individual chromos"},
               :properties {:color "red"}}
              {:id #uuid "690236b8-a473-49be-95e6-01ad097a0ee7",
               :page 3,
               :position {:bounding {:x1 77.171875,
                                     :y1 925.1953125,
                                     :x2 424.4342346191406,
                                     :y2 970.53125,
                                     :width 876,
                                     :height 1137.4986085912442},
                          :rects ({:x1 211.99790954589844,
                                   :y1 925.1953125,
                                   :x2 424.4342346191406,
                                   :y2 938.6953125,
                                   :width 876,
                                   :height 1137.4986085912442}
                                  {:x1 77.171875,
                                   :y1 941.1171875,
                                   :x2 424.2431640625,
                                   :y2 954.6171875,
                                   :width 876,
                                   :height 1137.4986085912442}
                                  {:x1 77.171875,
                                   :y1 957.03125,
                                   :x2 410.8346252441406,
                                   :y2 970.53125,
                                   :width 876,
                                   :height 1137.4986085912442}),
                          :page 3},
               :content {:text "nized 100-kb-sized regions spanning22 TADs on the largest autosome, chromosome V (chrV), which were previously deﬁned by Hi-C of mixed/late-stage embry"},
               :properties {:color "yellow"}}
              {:id #uuid "690236bf-c1aa-4422-9e6f-a331963d4dff",
               :page 3,
               :position {:bounding {:x1 77.171875,
                                     :y1 972.953125,
                                     :x2 424.47906494140625,
                                     :y2 1002.3671875,
                                     :width 876,
                                     :height 1137.4986085912442},
                          :rects ({:x1 300.51416015625,
                                   :y1 972.953125,
                                   :x2 424.47906494140625,
                                   :y2 986.453125,
                                   :width 876,
                                   :height 1137.4986085912442}
                                  {:x1 77.171875,
                                   :y1 988.8671875,
                                   :x2 368.82574462890625,
                                   :y2 1002.3671875,
                                   :width 876,
                                   :height 1137.4986085912442}),
                          :page 3},
               :content {:text "bed en masse, primary FISH probes revealed the whole chromosome terr"},
               :properties {:color "yellow"}}
              {:id #uuid "690236d3-c0f9-4ec5-b576-6e8158114c55",
               :page 3,
               :position {:bounding {:x1 585.14111328125,
                                     :y1 384.1015625,
                                     :x2 731.3919067382812,
                                     :y2 397.6015625,
                                     :width 876,
                                     :height 1137.4986085912442},
                          :rects ({:x1 585.14111328125,
                                   :y1 384.1015625,
                                   :x2 731.3919067382812,
                                   :y2 397.6015625,
                                   :width 876,
                                   :height 1137.4986085912442}),
                          :page 3},
               :content {:text "en each TAD pair in a matr"},
               :properties {:color "yellow"}}
              {:id #uuid "69023704-cd14-4819-9455-55677ebe98ea",
               :page 3,
               :position {:bounding {:x1 441.8515625,
                                     :y1 893.359375,
                                     :x2 789.1512451171875,
                                     :y2 938.6953125,
                                     :width 876,
                                     :height 1137.4986085912442},
                          :rects ({:x1 537.3358764648438,
                                   :y1 893.359375,
                                   :x2 789.1512451171875,
                                   :y2 906.859375,
                                   :width 876,
                                   :height 1137.4986085912442}
                                  {:x1 441.8515625,
                                   :y1 909.28125,
                                   :x2 789.1480712890625,
                                   :y2 922.78125,
                                   :width 876,
                                   :height 1137.4986085912442}
                                  {:x1 441.8515625,
                                   :y1 925.1953125,
                                   :x2 610.004150390625,
                                   :y2 938.6953125,
                                   :width 876,
                                   :height 1137.4986085912442}),
                          :page 3},
               :content {:text "ring gastrulation (25+ cells), the PC1 proﬁle changed markedly, and classiﬁed the arms as similar, distinct from most of the center regio"},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
