{:highlights [{:id #uuid "68d9be4a-6897-45de-9edb-29ec017b5ed9",
               :page 1,
               :position {:bounding {:x1 435.7272727489472,
                                     :y1 880.0909423828124,
                                     :x2 851.7215659618378,
                                     :y2 1049.991455078125,
                                     :width 874.0159826666667,
                                     :height 1298.3359618666668},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1759100493498},
               :properties {:color "yellow"}}
              {:id #uuid "68d9bedf-d279-4238-b944-86c61745d469",
               :page 2,
               :position {:bounding {:x1 45.727272748947144,
                                     :y1 459,
                                     :x2 458.72727274894714,
                                     :y2 513,
                                     :width 947.2319653333333,
                                     :height 1323.7119878666667},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1759100638755},
               :properties {:color "green"}}
              {:id #uuid "68d9bf8c-beea-4dfc-a58a-e514e1b2cbe8",
               :page 2,
               :position {:bounding {:x1 599.7272727489471,
                                     :y1 438,
                                     :x2 794.7272727489471,
                                     :y2 460,
                                     :width 947.2319653333333,
                                     :height 1323.7119878666667},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1759100810633},
               :properties {:color "purple"}}
              {:id #uuid "68d9bf98-2599-4042-a312-89733e99a8e0",
               :page 1,
               :position {:bounding {:x1 158.72727274894714,
                                     :y1 745.2727203369141,
                                     :x2 279.72727274894714,
                                     :y2 763.2727203369141,
                                     :width 874.0159826666667,
                                     :height 1298.3359618666668},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1759100823627},
               :properties {:color "purple"}}
              {:id #uuid "68d9c126-e5e8-41da-87a9-04ceb62fd563",
               :page 3,
               :position {:bounding {:x1 41.727272748947144,
                                     :y1 410.272705078125,
                                     :x2 454.72727274894714,
                                     :y2 615.272705078125,
                                     :width 947.2319653333333,
                                     :height 1323.7119878666667},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1759101221804},
               :properties {:color "red"}}
              {:id #uuid "68d9c413-13c7-445f-aac4-fc050f009aaa",
               :page 4,
               :position {:bounding {:x1 84.72727274894714,
                                     :y1 755.272705078125,
                                     :x2 415.72727274894714,
                                     :y2 800.272705078125,
                                     :width 947.2319653333333,
                                     :height 1323.7119878666667},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1759101970370},
               :properties {:color "purple"}}
              {:id #uuid "68d9d4d6-3f07-478f-973e-2a5e264286b0",
               :page 4,
               :position {:bounding {:x1 35.727272748947144,
                                     :y1 805.2724609375,
                                     :x2 450.72727274894714,
                                     :y2 1149.2724609375,
                                     :width 947.2319653333333,
                                     :height 1323.7119878666667},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1759106261319},
               :properties {:color "red"}}
              {:id #uuid "68d9dfc4-b8a7-4136-961d-ea1bc5e473e0",
               :page 2,
               :position {:bounding {:x1 27,
                                     :y1 694.3636474609375,
                                     :x2 44,
                                     :y2 868.3636474609375,
                                     :width 910.7999666666665,
                                     :height 1272.7999883333332},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1759109058302},
               :properties {:color "red"}}
              {:id #uuid "68d9e0c2-66d2-4815-84ca-7a2dd781213a",
               :page 7,
               :position {:bounding {:x1 474,
                                     :y1 709.36328125,
                                     :x2 874,
                                     :y2 784.36328125,
                                     :width 922.00002,
                                     :height 1280.7999666666665},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1759109314084},
               :properties {:color "green"}}],
 :extra {:page 7}}
