{:highlights [{:id #uuid "692f36d3-4a34-4be9-a433-b5c1691c8ec3",
               :page 1,
               :position {:bounding {:x1 453.140625,
                                     :y1 202.5859375,
                                     :x2 763.1859130859375,
                                     :y2 249.515625,
                                     :width 877.0666666666667,
                                     :height 1214.4},
                          :rects ({:x1 513.8410034179688,
                                   :y1 202.5859375,
                                   :x2 583.2734375,
                                   :y2 217.5859375,
                                   :width 877.0666666666667,
                                   :height 1214.4}
                                  {:x1 599.515625,
                                   :y1 202.5859375,
                                   :x2 758.9669799804688,
                                   :y2 217.5859375,
                                   :width 877.0666666666667,
                                   :height 1214.4}
                                  {:x1 453.140625,
                                   :y1 218,
                                   :x2 709.7421875,
                                   :y2 233,
                                   :width 877.0666666666667,
                                   :height 1214.4}
                                  {:x1 725.9765625,
                                   :y1 218,
                                   :x2 763.1859130859375,
                                   :y2 233,
                                   :width 877.0666666666667,
                                   :height 1214.4}
                                  {:x1 453.140625,
                                   :y1 234.515625,
                                   :x2 523.8203125,
                                   :y2 249.515625,
                                   :width 877.0666666666667,
                                   :height 1214.4}),
                          :page 1},
               :content {:text "hosphorylation of the PTK itself, but a number of other cellular proteins are also phosphorylated on tyrosine residues "},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
