{:highlights [{:id #uuid "68ccba01-e61f-449f-90d9-5c75fb577ac3",
               :page 1,
               :position {:bounding {:x1 131.12215423583984,
                                     :y1 1345.2698364257812,
                                     :x2 588.5846557617188,
                                     :y2 1389.8436889648438,
                                     :width 1228.8,
                                     :height 1766.3999999999999},
                          :rects ({:x1 291.87498474121094,
                                   :y1 1345.2698364257812,
                                   :x2 553.3948974609375,
                                   :y2 1366.178955078125,
                                   :width 1228.8,
                                   :height 1766.3999999999999}
                                  {:x1 568.3948974609375,
                                   :y1 1345.2698364257812,
                                   :x2 588.5846557617188,
                                   :y2 1366.178955078125,
                                   :width 1228.8,
                                   :height 1766.3999999999999}
                                  {:x1 131.12215423583984,
                                   :y1 1368.9346313476562,
                                   :x2 582.371337890625,
                                   :y2 1389.8436889648438,
                                   :width 1228.8,
                                   :height 1766.3999999999999}),
                          :page 1},
               :content {:text "major pathway for conjugational recombirration in wild-type E. coli is defined as the RecBCD"},
               :properties {:color "yellow"}}
              {:id #uuid "68ccbb0e-40eb-4ea9-8948-67a0fb705042",
               :page 1,
               :position {:bounding {:x1 636.491455078125,
                                     :y1 945.9801025390625,
                                     :x2 1093.64453125,
                                     :y2 1061.1931762695312,
                                     :width 1228.8,
                                     :height 1766.3999999999999},
                          :rects ({:x1 654.928955078125,
                                   :y1 945.9801025390625,
                                   :x2 753.7215576171875,
                                   :y2 966.88916015625,
                                   :width 1228.8,
                                   :height 1766.3999999999999}
                                  {:x1 765.5255126953125,
                                   :y1 945.9801025390625,
                                   :x2 867.272705078125,
                                   :y2 966.88916015625,
                                   :width 1228.8,
                                   :height 1766.3999999999999}
                                  {:x1 882.7840576171875,
                                   :y1 945.9801025390625,
                                   :x2 991.5340576171875,
                                   :y2 966.88916015625,
                                   :width 1228.8,
                                   :height 1766.3999999999999}
                                  {:x1 1005.6817626953125,
                                   :y1 945.9801025390625,
                                   :x2 1091.8154296875,
                                   :y2 966.88916015625,
                                   :width 1228.8,
                                   :height 1766.3999999999999}
                                  {:x1 637.4715576171875,
                                   :y1 969.6448364257812,
                                   :x2 1089.8070068359375,
                                   :y2 990.553955078125,
                                   :width 1228.8,
                                   :height 1766.3999999999999}
                                  {:x1 637.4715576171875,
                                   :y1 993.13916015625,
                                   :x2 1093.64453125,
                                   :y2 1014.0482788085938,
                                   :width 1228.8,
                                   :height 1766.3999999999999}
                                  {:x1 636.491455078125,
                                   :y1 1016.6192626953125,
                                   :x2 1082.6795654296875,
                                   :y2 1037.5283813476562,
                                   :width 1228.8,
                                   :height 1766.3999999999999}
                                  {:x1 637.4715576171875,
                                   :y1 1040.2840576171875,
                                   :x2 746.2215576171875,
                                   :y2 1061.1931762695312,
                                   :width 1228.8,
                                   :height 1766.3999999999999}
                                  {:x1 756.3209838867188,
                                   :y1 1040.2840576171875,
                                   :x2 946.12890625,
                                   :y2 1061.1931762695312,
                                   :width 1228.8,
                                   :height 1766.3999999999999}),
                          :page 1},
               :content {:text "In summary, conjugational recombinatian follows the RecBCD patfiway in wild-type E. coli, the RecE pathway in recBC sbcA mutants, and the RecF pathlway in recf3C sbcBC mutants.‘RecA protein is required for conjugational recombination by all of these pathways;"},
               :properties {:color "yellow"}}
              {:id #uuid "68ccbb6d-60ea-47a5-a7da-902f3e447d88",
               :page 1,
               :position {:bounding {:x1 636.9744091033936,
                                     :y1 1134.4176025390625,
                                     :x2 1091.6455516815186,
                                     :y2 1202.4715881347656,
                                     :width 1228.8,
                                     :height 1766.3999999999999},
                          :rects ({:x1 898.7783031463623,
                                   :y1 1134.4176025390625,
                                   :x2 1089.5268993377686,
                                   :y2 1155.3266906738281,
                                   :width 1228.8,
                                   :height 1766.3999999999999}
                                  {:x1 636.9744091033936,
                                   :y1 1157.897705078125,
                                   :x2 1091.6455516815186,
                                   :y2 1178.8067932128906,
                                   :width 1228.8,
                                   :height 1766.3999999999999}
                                  {:x1 637.4715404510498,
                                   :y1 1181.5624694824219,
                                   :x2 866.9033641815186,
                                   :y2 1202.4715881347656,
                                   :width 1228.8,
                                   :height 1766.3999999999999}),
                          :page 1},
               :content {:text "here is overlap between the pathways, as exemplified by the requirernent for RecA protein in all three pathways. "},
               :properties {:color "yellow"}}
              {:id #uuid "68ccbc10-22ad-4541-bab3-d0befdaa13b9",
               :page 2,
               :position {:bounding {:x1 119.81533622741699,
                                     :y1 1061.3778076171875,
                                     :x2 575.9595165252686,
                                     :y2 1106.3067626953125,
                                     :width 1229.3120002133332,
                                     :height 1766.6560002133333},
                          :rects ({:x1 242.59942436218262,
                                   :y1 1061.3778076171875,
                                   :x2 420.90907096862793,
                                   :y2 1082.2869262695312,
                                   :width 1229.3120002133332,
                                   :height 1766.6560002133333}
                                  {:x1 433.09657096862793,
                                   :y1 1061.3778076171875,
                                   :x2 575.9595165252686,
                                   :y2 1082.2869262695312,
                                   :width 1229.3120002133332,
                                   :height 1766.6560002133333}
                                  {:x1 119.81533622741699,
                                   :y1 1085.397705078125,
                                   :x2 490.50697135925293,
                                   :y2 1106.3067626953125,
                                   :width 1229.3120002133332,
                                   :height 1766.6560002133333}),
                          :page 2},
               :content {:text "plasmid recombination proceeding by the RecE pathway does not require RecA protein"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
