{:highlights [{:id #uuid "68d4a7cc-ece6-4cb4-ba10-403aa5ed9045",
               :page 1,
               :position {:bounding {:x1 532.4431324005127,
                                     :y1 848.6505432128906,
                                     :x2 1159.8900928497314,
                                     :y2 914.3465576171875,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 948.6045093536377,
                                   :y1 848.6505432128906,
                                   :x2 1159.545976638794,
                                   :y2 869.5596313476562,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 532.4431324005127,
                                   :y1 871.1221313476562,
                                   :x2 1159.8900928497314,
                                   :y2 892.0312194824219,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 532.4431324005127,
                                   :y1 893.4374694824219,
                                   :x2 775.1588916778564,
                                   :y2 914.3465576171875,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "These results indicate that yeast creates distinct plasma membrane compartments, as has been described in neurons and epithelial cells"},
               :properties {:color "yellow"}}
              {:id #uuid "68d4b134-31d8-47ac-b0d2-663cc36f0663",
               :page 1,
               :position {:bounding {:x1 481.24998664855957,
                                     :y1 1113.4090270996094,
                                     :x2 830.1342334747314,
                                     :y2 1157.6988220214844,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 574.5028247833252,
                                   :y1 1113.4090270996094,
                                   :x2 830.1342334747314,
                                   :y2 1135.2272033691406,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 481.24998664855957,
                                   :y1 1135.8806457519531,
                                   :x2 705.962236404419,
                                   :y2 1157.6988220214844,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "ASH1 mRNA to the bud tip by an actomyosin-driven mechanis"},
               :properties {:color "yellow"}}
              {:id #uuid "68d4b16e-19af-434d-861b-3f60183ebd1e",
               :page 1,
               :position {:bounding {:x1 861.0368824005127,
                                     :y1 934.0908508300781,
                                     :x2 1210.9967823028564,
                                     :y2 1000.8664245605469,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 940.6540699005127,
                                   :y1 934.0908508300781,
                                   :x2 1210.9967823028564,
                                   :y2 955.9090576171875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 861.0368824005127,
                                   :y1 956.57666015625,
                                   :x2 1210.968095779419,
                                   :y2 978.3948364257812,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 861.0368824005127,
                                   :y1 979.0482482910156,
                                   :x2 1113.249101638794,
                                   :y2 1000.8664245605469,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "we identified transcripts that associate with She2p, She3p, and Myo4p using a whole-genome analysis"},
               :properties {:color "red"}}
              {:id #uuid "68d4b175-e91c-4a88-be0d-d661496b6f6d",
               :page 1,
               :position {:bounding {:x1 861.0368824005127,
                                     :y1 1001.3636169433594,
                                     :x2 1211.027177810669,
                                     :y2 1067.9687194824219,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 1140.513261795044,
                                   :y1 1001.3636169433594,
                                   :x2 1211.009111404419,
                                   :y2 1023.1817932128906,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 861.0368824005127,
                                   :y1 1023.835205078125,
                                   :x2 1211.027177810669,
                                   :y2 1045.6533813476562,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 861.0368824005127,
                                   :y1 1046.1505432128906,
                                   :x2 956.631181716919,
                                   :y2 1067.9687194824219,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "mmunoprecipitated from cell extracts using a Mycepitope tag"},
               :properties {:color "red"}}
              {:id #uuid "68d4b18c-1287-482b-8d45-083c1871660f",
               :page 1,
               :position {:bounding {:x1 861.0368824005127,
                                     :y1 1225.4545288085938,
                                     :x2 1211.089921951294,
                                     :y2 1359.3181762695312,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 1035.065507888794,
                                   :y1 1225.4545288085938,
                                   :x2 1210.6327686309814,
                                   :y2 1247.272705078125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 861.0368824005127,
                                   :y1 1247.9260864257812,
                                   :x2 1210.959794998169,
                                   :y2 1269.7443237304688,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 861.0368824005127,
                                   :y1 1270.241455078125,
                                   :x2 1211.0248584747314,
                                   :y2 1292.0596313476562,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 861.0368824005127,
                                   :y1 1292.7130737304688,
                                   :x2 1209.8588428497314,
                                   :y2 1314.53125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 861.0368824005127,
                                   :y1 1315.0283813476562,
                                   :x2 1211.089921951294,
                                   :y2 1336.8465576171875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 861.0368824005127,
                                   :y1 1337.5,
                                   :x2 948.537431716919,
                                   :y2 1359.3181762695312,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "The relative amounts of yeast mRNAs in the She protein versus control immunoprecipitations were determined by hybridization to a DNA microarray containing all S. cerevisiae open reading frames"},
               :properties {:color "red"}}
              {:id #uuid "68d4b19f-9a92-464a-a3df-a377c39c2945",
               :page 2,
               :position {:bounding {:x1 101.3352222442627,
                                     :y1 149.94317626953125,
                                     :x2 451.3677234649658,
                                     :y2 216.53408813476562,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 354.95738410949707,
                                   :y1 149.94317626953125,
                                   :x2 451.3677234649658,
                                   :y2 171.7613525390625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 101.3352222442627,
                                   :y1 172.41476440429688,
                                   :x2 451.22834968566895,
                                   :y2 194.23294067382812,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 101.3352222442627,
                                   :y1 194.71588134765625,
                                   :x2 141.0273609161377,
                                   :y2 216.53408813476562,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "IST2 mRNA was localized to the bud tip throughout the cell cycle"},
               :properties {:color "yellow"}}
              {:id #uuid "68d4b1dd-e6c2-4c21-b20d-2303aca1d383",
               :page 2,
               :position {:bounding {:x1 101.3352222442627,
                                     :y1 306.7755432128906,
                                     :x2 451.3071460723877,
                                     :y2 351.0653076171875,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 208.28323554992676,
                                   :y1 306.7755432128906,
                                   :x2 451.3071460723877,
                                   :y2 328.59375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 101.3352222442627,
                                   :y1 329.24713134765625,
                                   :x2 439.1498279571533,
                                   :y2 351.0653076171875,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "xamined whether localization is disrupted in cells deleted of the SHE gene"},
               :properties {:color "red"}}
              {:id #uuid "68d4b1e6-9f9b-4ee1-911b-42f418ce271d",
               :page 2,
               :position {:bounding {:x1 101.3352222442627,
                                     :y1 374.0340576171875,
                                     :x2 451.4160633087158,
                                     :y2 440.63916015625,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 101.3352222442627,
                                   :y1 374.0340576171875,
                                   :x2 451.4160633087158,
                                   :y2 395.85223388671875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 101.3352222442627,
                                   :y1 396.50567626953125,
                                   :x2 215.98010444641113,
                                   :y2 418.3238525390625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 229.4602222442627,
                                   :y1 396.50567626953125,
                                   :x2 268.3380603790283,
                                   :y2 418.3238525390625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 281.6903247833252,
                                   :y1 396.50567626953125,
                                   :x2 339.26133918762207,
                                   :y2 418.3238525390625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 352.61363410949707,
                                   :y1 396.50567626953125,
                                   :x2 410.2982654571533,
                                   :y2 418.3238525390625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 423.6505603790283,
                                   :y1 396.50567626953125,
                                   :x2 451.3807544708252,
                                   :y2 418.3238525390625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 101.3352222442627,
                                   :y1 418.82098388671875,
                                   :x2 159.86665534973145,
                                   :y2 440.63916015625,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "IST2 mRNA, like ASH1 mRNA (8), immunoprecipitated with She2p, She3p, and Myo4p"},
               :properties {:color "yellow"}}
              {:id #uuid "68d4b1ee-7844-4ebc-a9cd-88206dc1a3f2",
               :page 2,
               :position {:bounding {:x1 101.3352222442627,
                                     :y1 441.2926025390625,
                                     :x2 451.44883918762207,
                                     :y2 530.1988525390625,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 227.20286750793457,
                                   :y1 441.2926025390625,
                                   :x2 451.44883918762207,
                                   :y2 463.11077880859375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 101.3352222442627,
                                   :y1 463.59375,
                                   :x2 450.3129138946533,
                                   :y2 485.41192626953125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 101.3352222442627,
                                   :y1 486.07952880859375,
                                   :x2 451.2845935821533,
                                   :y2 507.897705078125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 101.3352222442627,
                                   :y1 508.38067626953125,
                                   :x2 151.5370044708252,
                                   :y2 530.1988525390625,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "Moreover, in she2D, she3D, she4D, and myo4D cells, IST2 mRNA was distributed throughout the mother and daughter cel"},
               :properties {:color "green"}}
              {:id #uuid "68d4b239-f00e-4dd3-ad43-d473ed9800ed",
               :page 2,
               :position {:bounding {:x1 481.24998664855957,
                                     :y1 149.94317626953125,
                                     :x2 831.1875171661377,
                                     :y2 194.23294067382812,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 486.5379810333252,
                                   :y1 149.94317626953125,
                                   :x2 831.1875171661377,
                                   :y2 171.7613525390625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 481.24998664855957,
                                   :y1 172.41476440429688,
                                   :x2 676.273515701294,
                                   :y2 194.23294067382812,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "ransport of mRNAs to the distal tip functions throughout the cell cycle"},
               :properties {:color "yellow"}}
              {:id #uuid "68d4b25c-bb1c-4bf1-9ef9-c3ec978c4464",
               :page 2,
               :position {:bounding {:x1 481.24998664855957,
                                     :y1 284.46022033691406,
                                     :x2 831.238115310669,
                                     :y2 351.06532287597656,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 507.0027027130127,
                                   :y1 284.46022033691406,
                                   :x2 831.2214527130127,
                                   :y2 306.2783966064453,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 481.24998664855957,
                                   :y1 306.7755584716797,
                                   :x2 831.238115310669,
                                   :y2 328.59373474121094,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 481.24998664855957,
                                   :y1 329.2471466064453,
                                   :x2 610.0398120880127,
                                   :y2 351.06532287597656,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "consistent with sequence predictions indicating the presence of several transmembrane domains in Ist2p"},
               :properties {:color "yellow"}}
              {:id #uuid "68d4b2ec-b947-42fe-b0be-fdc7b316b784",
               :page 2,
               :position {:bounding {:x1 848,
                                     :y1 709.54541015625,
                                     :x2 1225,
                                     :y2 1181.54541015625,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1758769899701},
               :properties {:color "purple"}}
              {:id #uuid "68d4b309-749d-48dc-8a0f-160ab21e993a",
               :page 2,
               :position {:bounding {:x1 861.0368824005127,
                                     :y1 329.2471466064453,
                                     :x2 1211.001543045044,
                                     :y2 463.1107940673828,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 949.6467456817627,
                                   :y1 329.2471466064453,
                                   :x2 1210.578691482544,
                                   :y2 351.0653381347656,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 861.0368824005127,
                                   :y1 351.71875,
                                   :x2 1210.960283279419,
                                   :y2 373.53692626953125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 861.0368824005127,
                                   :y1 374.0340881347656,
                                   :x2 1210.969804763794,
                                   :y2 395.8522644042969,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 861.0368824005127,
                                   :y1 396.50567626953125,
                                   :x2 1210.9794483184814,
                                   :y2 418.32386779785156,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 861.0368824005127,
                                   :y1 418.8209991455078,
                                   :x2 1211.001543045044,
                                   :y2 440.6392059326172,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 861.0368824005127,
                                   :y1 441.29261779785156,
                                   :x2 1205.979570388794,
                                   :y2 463.1107940673828,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "wo possible mechanisms could account for the lack of Ist2p signal beyond the neck: Ist2p is anchored in the plasma membrane of the bud, or Ist2p is mobile in the membrane but is prevented from diffusing into the mother cell by a barrier at the neck"},
               :properties {:color "blue"}}
              {:id #uuid "68d4b334-5aae-4d29-b96b-3eb53bb1e618",
               :page 3,
               :position {:bounding {:x1 101.3352222442627,
                                     :y1 194.7158966064453,
                                     :x2 451.30137825012207,
                                     :y2 239.01988220214844,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 220.48250007629395,
                                   :y1 194.7158966064453,
                                   :x2 451.2972583770752,
                                   :y2 216.53407287597656,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 101.3352222442627,
                                   :y1 217.2017059326172,
                                   :x2 451.30137825012207,
                                   :y2 239.01988220214844,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 3},
               :content {:text "GFP-Ist2p can diffuse within the plasma membrane of the daughter cell"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
