{:highlights [{:id #uuid "68d4a7cc-ece6-4cb4-ba10-403aa5ed9045",
               :page 1,
               :position {:bounding {:x1 532.4431324005127,
                                     :y1 848.6505432128906,
                                     :x2 1159.8900928497314,
                                     :y2 914.3465576171875,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 948.6045093536377,
                                   :y1 848.6505432128906,
                                   :x2 1159.545976638794,
                                   :y2 869.5596313476562,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 532.4431324005127,
                                   :y1 871.1221313476562,
                                   :x2 1159.8900928497314,
                                   :y2 892.0312194824219,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 532.4431324005127,
                                   :y1 893.4374694824219,
                                   :x2 775.1588916778564,
                                   :y2 914.3465576171875,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "These results indicate that yeast creates distinct plasma membrane compartments, as has been described in neurons and epithelial cells"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
