{:highlights [{:id #uuid "69248006-528d-4bd3-96c6-d977bd74ffa9",
               :page 2,
               :position {:bounding {:x1 70.0078125,
                                     :y1 548.3125,
                                     :x2 413.7987060546875,
                                     :y2 580.6015625,
                                     :width 935.9999999999999,
                                     :height 1252.8},
                          :rects ({:x1 121.70706176757812,
                                   :y1 548.3125,
                                   :x2 413.7987060546875,
                                   :y2 563.8125,
                                   :width 935.9999999999999,
                                   :height 1252.8}
                                  {:x1 70.0078125,
                                   :y1 565.1015625,
                                   :x2 320.24029541015625,
                                   :y2 580.6015625,
                                   :width 935.9999999999999,
                                   :height 1252.8}),
                          :page 2},
               :content {:text "yFLP-induced mitotic recombination was so efficient that very little heterozygous tissu"},
               :properties {:color "yellow"}}
              {:id #uuid "69248012-85b4-48e0-91d6-61c983852b1a",
               :page 2,
               :position {:bounding {:x1 70.0078125,
                                     :y1 632.015625,
                                     :x2 413.87530517578125,
                                     :y2 681.09375,
                                     :width 935.9999999999999,
                                     :height 1252.8},
                          :rects ({:x1 176.70980834960938,
                                   :y1 632.015625,
                                   :x2 413.87530517578125,
                                   :y2 647.515625,
                                   :width 935.9999999999999,
                                   :height 1252.8}
                                  {:x1 70.0078125,
                                   :y1 648.8046875,
                                   :x2 413.7945861816406,
                                   :y2 664.3046875,
                                   :width 935.9999999999999,
                                   :height 1252.8}
                                  {:x1 70.0078125,
                                   :y1 665.59375,
                                   :x2 152.6542510986328,
                                   :y2 681.09375,
                                   :width 935.9999999999999,
                                   :height 1252.8}),
                          :page 2},
               :content {:text "e kept flies (z1% of those screened) where the representation of mutant over wild-type tissue was increase"},
               :properties {:color "yellow"}}
              {:id #uuid "6924801a-1887-4b08-8cdf-e339b2a58efb",
               :page 2,
               :position {:bounding {:x1 70.0078125,
                                     :y1 699.046875,
                                     :x2 413.9244384765625,
                                     :y2 731.2109375,
                                     :width 935.9999999999999,
                                     :height 1252.8},
                          :rects ({:x1 175.06063842773438,
                                   :y1 699.046875,
                                   :x2 413.9244384765625,
                                   :y2 714.546875,
                                   :width 935.9999999999999,
                                   :height 1252.8}
                                  {:x1 70.0078125,
                                   :y1 715.7109375,
                                   :x2 349.27484130859375,
                                   :y2 731.2109375,
                                   :width 935.9999999999999,
                                   :height 1252.8}),
                          :page 2},
               :content {:text "ntified more than 23 loci that result in an increased representation of mutant tissu"},
               :properties {:color "yellow"}}
              {:id #uuid "692cfa4b-de6e-456a-9026-871e8514684b",
               :page 1,
               :position {:bounding {:x1 780.7528076171875,
                                     :y1 342.7840881347656,
                                     :x2 1296.352294921875,
                                     :y2 415.29827880859375,
                                     :width 1404,
                                     :height 1879.1999999999998},
                          :rects ({:x1 855.736083984375,
                                   :y1 342.7840881347656,
                                   :x2 1296.352294921875,
                                   :y2 365.5113525390625,
                                   :width 1404,
                                   :height 1879.1999999999998}
                                  {:x1 780.7528076171875,
                                   :y1 367.585205078125,
                                   :x2 1296.3265380859375,
                                   :y2 390.3125,
                                   :width 1404,
                                   :height 1879.1999999999998}
                                  {:x1 780.7528076171875,
                                   :y1 392.5710144042969,
                                   :x2 967.3760986328125,
                                   :y2 415.29827880859375,
                                   :width 1404,
                                   :height 1879.1999999999998}),
                          :page 1},
               :content {:text "amartin and tuberin proteins have been shown to interact physically with each other and appear to exist as a complex in viv"},
               :properties {:color "yellow"}}
              {:id #uuid "692cfa7c-4e9b-4e28-a9d9-e6fa68a87990",
               :page 1,
               :position {:bounding {:x1 780.7528076171875,
                                     :y1 989.3465576171875,
                                     :x2 1190.975830078125,
                                     :y2 1012.0738220214844,
                                     :width 1404,
                                     :height 1879.1999999999998},
                          :rects ({:x1 780.7528076171875,
                                   :y1 989.3465576171875,
                                   :x2 1190.975830078125,
                                   :y2 1012.0738220214844,
                                   :width 1404,
                                   :height 1879.1999999999998}),
                          :page 1},
               :content {:text "tuberin negatively regulates the G1/S transiti"},
               :properties {:color "yellow"}}
              {:id #uuid "692cfa8b-9e0e-4a15-abbc-488500655f68",
               :page 1,
               :position {:bounding {:x1 780.7528076171875,
                                     :y1 1186.4488525390625,
                                     :x2 1296.5042724609375,
                                     :y2 1258.4090576171875,
                                     :width 1404,
                                     :height 1879.1999999999998},
                          :rects ({:x1 938.1475219726562,
                                   :y1 1186.4488525390625,
                                   :x2 1296.448974609375,
                                   :y2 1209.1761169433594,
                                   :width 1404,
                                   :height 1879.1999999999998}
                                  {:x1 780.7528076171875,
                                   :y1 1211.0653076171875,
                                   :x2 1296.5042724609375,
                                   :y2 1233.7926025390625,
                                   :width 1404,
                                   :height 1879.1999999999998}
                                  {:x1 780.7528076171875,
                                   :y1 1235.6818237304688,
                                   :x2 860.6964111328125,
                                   :y2 1258.4090576171875,
                                   :width 1404,
                                   :height 1879.1999999999998}),
                          :page 1},
               :content {:text "as in the human disease, loss of TSC1 or TSC2 can promote cell proliferation in a variety of situation"},
               :properties {:color "yellow"}}
              {:id #uuid "692cfaa5-455e-4f71-bd1d-77bc6c60f177",
               :page 1,
               :position {:bounding {:x1 819.4373168945312,
                                     :y1 1407.98291015625,
                                     :x2 1277.7713623046875,
                                     :y2 1430.710205078125,
                                     :width 1404,
                                     :height 1879.1999999999998},
                          :rects ({:x1 819.4373168945312,
                                   :y1 1407.98291015625,
                                   :x2 1277.7713623046875,
                                   :y2 1430.710205078125,
                                   :width 1404,
                                   :height 1879.1999999999998}),
                          :page 1},
               :content {:text "ploid with approximately ten times the DNA conte"},
               :properties {:color "yellow"}}
              {:id #uuid "692cfad2-aac6-4d8e-93cf-0c1f75e34826",
               :page 2,
               :position {:bounding {:x1 105.01419830322266,
                                     :y1 192.65625,
                                     :x2 620.7507781982422,
                                     :y2 240.36929321289062,
                                     :width 1404,
                                     :height 1879.1999999999998},
                          :rects ({:x1 134.97557067871094,
                                   :y1 192.65625,
                                   :x2 620.7507781982422,
                                   :y2 215.38351440429688,
                                   :width 1404,
                                   :height 1879.1999999999998}
                                  {:x1 105.01419830322266,
                                   :y1 217.64202880859375,
                                   :x2 454.20890045166016,
                                   :y2 240.36929321289062,
                                   :width 1404,
                                   :height 1879.1999999999998}),
                          :page 2},
               :content {:text "tant cells display no block in mitosis but spend less time in the G1 phase of the cell cycl"},
               :properties {:color "green"}}
              {:id #uuid "692cfae1-d3e2-4bd6-81e9-2ebaa08becae",
               :page 2,
               :position {:bounding {:x1 105.01419639587402,
                                     :y1 520.7244110107422,
                                     :x2 620.9373531341553,
                                     :y2 593.6221466064453,
                                     :width 1404,
                                     :height 1879.1999999999998},
                          :rects ({:x1 223.89752006530762,
                                   :y1 520.7244110107422,
                                   :x2 620.7142314910889,
                                   :y2 543.4516754150391,
                                   :width 1404,
                                   :height 1879.1999999999998}
                                  {:x1 105.01419639587402,
                                   :y1 545.7102203369141,
                                   :x2 620.9373531341553,
                                   :y2 568.4374847412109,
                                   :width 1404,
                                   :height 1879.1999999999998}
                                  {:x1 105.01419639587402,
                                   :y1 570.8948516845703,
                                   :x2 282.7388973236084,
                                   :y2 593.6221466064453,
                                   :width 1404,
                                   :height 1879.1999999999998}),
                          :page 2},
               :content {:text "creened for mutations that result in an increased representation of mutant tissue at the expense of wild-type tissue"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
