{:highlights [{:id #uuid "69248006-528d-4bd3-96c6-d977bd74ffa9",
               :page 2,
               :position {:bounding {:x1 70.0078125,
                                     :y1 548.3125,
                                     :x2 413.7987060546875,
                                     :y2 580.6015625,
                                     :width 935.9999999999999,
                                     :height 1252.8},
                          :rects ({:x1 121.70706176757812,
                                   :y1 548.3125,
                                   :x2 413.7987060546875,
                                   :y2 563.8125,
                                   :width 935.9999999999999,
                                   :height 1252.8}
                                  {:x1 70.0078125,
                                   :y1 565.1015625,
                                   :x2 320.24029541015625,
                                   :y2 580.6015625,
                                   :width 935.9999999999999,
                                   :height 1252.8}),
                          :page 2},
               :content {:text "yFLP-induced mitotic recombination was so efficient that very little heterozygous tissu"},
               :properties {:color "yellow"}}
              {:id #uuid "69248012-85b4-48e0-91d6-61c983852b1a",
               :page 2,
               :position {:bounding {:x1 70.0078125,
                                     :y1 632.015625,
                                     :x2 413.87530517578125,
                                     :y2 681.09375,
                                     :width 935.9999999999999,
                                     :height 1252.8},
                          :rects ({:x1 176.70980834960938,
                                   :y1 632.015625,
                                   :x2 413.87530517578125,
                                   :y2 647.515625,
                                   :width 935.9999999999999,
                                   :height 1252.8}
                                  {:x1 70.0078125,
                                   :y1 648.8046875,
                                   :x2 413.7945861816406,
                                   :y2 664.3046875,
                                   :width 935.9999999999999,
                                   :height 1252.8}
                                  {:x1 70.0078125,
                                   :y1 665.59375,
                                   :x2 152.6542510986328,
                                   :y2 681.09375,
                                   :width 935.9999999999999,
                                   :height 1252.8}),
                          :page 2},
               :content {:text "e kept flies (z1% of those screened) where the representation of mutant over wild-type tissue was increase"},
               :properties {:color "yellow"}}
              {:id #uuid "6924801a-1887-4b08-8cdf-e339b2a58efb",
               :page 2,
               :position {:bounding {:x1 70.0078125,
                                     :y1 699.046875,
                                     :x2 413.9244384765625,
                                     :y2 731.2109375,
                                     :width 935.9999999999999,
                                     :height 1252.8},
                          :rects ({:x1 175.06063842773438,
                                   :y1 699.046875,
                                   :x2 413.9244384765625,
                                   :y2 714.546875,
                                   :width 935.9999999999999,
                                   :height 1252.8}
                                  {:x1 70.0078125,
                                   :y1 715.7109375,
                                   :x2 349.27484130859375,
                                   :y2 731.2109375,
                                   :width 935.9999999999999,
                                   :height 1252.8}),
                          :page 2},
               :content {:text "ntified more than 23 loci that result in an increased representation of mutant tissu"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
