{:highlights [{:id #uuid "68dd7e2d-681e-4daa-87c6-682c068cbd2f",
               :page 1,
               :position {:bounding {:x1 87.6015625,
                                     :y1 934.15625,
                                     :x2 438.2662811279297,
                                     :y2 963.6171875,
                                     :width 884.3794666666668,
                                     :height 1148.3794666666668},
                          :rects ({:x1 121.30546569824219,
                                   :y1 934.15625,
                                   :x2 438.2662811279297,
                                   :y2 947.65625,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 87.6015625,
                                   :y1 950.1171875,
                                   :x2 390.42425537109375,
                                   :y2 963.6171875,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}),
                          :page 1},
               :content {:text " it is challenging to disentangle how information ﬂows through such networks to encode precise responses"},
               :properties {:color "yellow"}}
              {:id #uuid "68dd7e49-556e-484e-b7b1-e92dbfce8e8b",
               :page 1,
               :position {:bounding {:x1 455.6953125,
                                     :y1 564.5,
                                     :x2 806.4254150390625,
                                     :y2 610.2578125,
                                     :width 884.3794666666668,
                                     :height 1148.3794666666668},
                          :rects ({:x1 602.0707397460938,
                                   :y1 564.5,
                                   :x2 806.3226318359375,
                                   :y2 578,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 455.6953125,
                                   :y1 580.5703125,
                                   :x2 806.4254150390625,
                                   :y2 594.0703125,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 455.6953125,
                                   :y1 596.7578125,
                                   :x2 489.84881591796875,
                                   :y2 610.2578125,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}),
                          :page 1},
               :content {:text ". Our approach harnesses the phytochrome B (Phy)-PIF light-gated protein interaction system from plants"},
               :properties {:color "red"}}
              {:id #uuid "68dd7f05-b65d-47c7-aab5-abf4c7524edc",
               :page 1,
               :position {:bounding {:x1 455.6953125,
                                     :y1 918.0859375,
                                     :x2 806.3313598632812,
                                     :y2 995.875,
                                     :width 884.3794666666668,
                                     :height 1148.3794666666668},
                          :rects ({:x1 722.6640625,
                                   :y1 918.0859375,
                                   :x2 806.1282958984375,
                                   :y2 931.5859375,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 455.6953125,
                                   :y1 934.15625,
                                   :x2 806.318359375,
                                   :y2 947.65625,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 455.6953125,
                                   :y1 950.1171875,
                                   :x2 806.3313598632812,
                                   :y2 963.6171875,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 455.6953125,
                                   :y1 966.3046875,
                                   :x2 806.319091796875,
                                   :y2 979.8046875,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 455.6953125,
                                   :y1 982.375,
                                   :x2 633.7567138671875,
                                   :y2 995.875,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}),
                          :page 1},
               :content {:text "combinatorially encoded: two different external stimuli that activate the same internal signaling pathway may also induce other stimulusspeciﬁc pathways, and these distinct combinations may encode a speciﬁc downstream response"},
               :properties {:color "yellow"}}
              {:id #uuid "68dd7f0f-62ec-4e08-9413-ee7e611ce993",
               :page 1,
               :position {:bounding {:x1 455.6953125,
                                     :y1 1014.515625,
                                     :x2 806.301513671875,
                                     :y2 1076.234375,
                                     :width 884.3794666666668,
                                     :height 1148.3794666666668},
                          :rects ({:x1 539.9453125,
                                   :y1 1014.515625,
                                   :x2 806.1776733398438,
                                   :y2 1028.015625,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 455.6953125,
                                   :y1 1030.4765625,
                                   :x2 806.301513671875,
                                   :y2 1043.9765625,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 455.6953125,
                                   :y1 1046.546875,
                                   :x2 806.2554931640625,
                                   :y2 1060.046875,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 455.6953125,
                                   :y1 1062.734375,
                                   :x2 799.8857421875,
                                   :y2 1076.234375,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}),
                          :page 1},
               :content {:text "dynamically encoded: two different extracellular stimuli might lead to activation of the same internal node, but with different temporal patterns of activation, and these differences in dynamics could be decoded by downstream module"},
               :properties {:color "yellow"}}
              {:id #uuid "68dd7f8f-209c-48a0-ae5e-17255ee3a0ea",
               :page 2,
               :position {:bounding {:x1 80.71604919433594,
                                     :y1 805.578125,
                                     :x2 417.7866668701172,
                                     :y2 819.078125,
                                     :width 884.3794666666668,
                                     :height 1148.3794666666668},
                          :rects ({:x1 80.71604919433594,
                                   :y1 805.578125,
                                   :x2 417.7866668701172,
                                   :y2 819.078125,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}),
                          :page 2},
               :content {:text "ntrinsic signal-transmission properties of the Ras/Erk modul"},
               :properties {:color "yellow"}}
              {:id #uuid "68dd7f93-8cd4-4fc2-86bd-10be4fd832f5",
               :page 2,
               :position {:bounding {:x1 77.875,
                                     :y1 773.4375,
                                     :x2 428.5023193359375,
                                     :y2 803.0078125,
                                     :width 884.3794666666668,
                                     :height 1148.3794666666668},
                          :rects ({:x1 300.590087890625,
                                   :y1 773.4375,
                                   :x2 428.5023193359375,
                                   :y2 786.9375,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 77.875,
                                   :y1 789.5078125,
                                   :x2 210.75253295898438,
                                   :y2 803.0078125,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}),
                          :page 2},
               :content {:text "ive-cell reporter of the downstream MAPK Er"},
               :properties {:color "red"}}
              {:id #uuid "68dd7fb0-cf7e-41f3-9f02-3efe33b332ac",
               :page 2,
               :position {:bounding {:x1 77.875,
                                     :y1 885.9375,
                                     :x2 428.49598693847656,
                                     :y2 931.5859375,
                                     :width 884.3794666666668,
                                     :height 1148.3794666666668},
                          :rects ({:x1 156.2663116455078,
                                   :y1 885.9375,
                                   :x2 428.49598693847656,
                                   :y2 899.4375,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 77.875,
                                   :y1 902.015625,
                                   :x2 428.4950866699219,
                                   :y2 915.515625,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}
                                  {:x1 77.875,
                                   :y1 918.0859375,
                                   :x2 396.1808166503906,
                                   :y2 931.5859375,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}),
                          :page 2},
               :content {:text "although it rejects transient input ﬂuctuations of less than 4 min, it efﬁciently transmits input signals across the broad range of timescales from 4 min to multiple hours"},
               :properties {:color "green"}}
              {:id #uuid "68dd7fe9-4400-42e1-9f15-5cfc0c252ebb",
               :page 2,
               :position {:bounding {:x1 445.8828125,
                                     :y1 419.96875,
                                     :x2 692.6875,
                                     :y2 433.46875,
                                     :width 884.3794666666668,
                                     :height 1148.3794666666668},
                          :rects ({:x1 445.8828125,
                                   :y1 419.96875,
                                   :x2 692.6875,
                                   :y2 433.46875,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}),
                          :page 2},
               :content {:text "Engineering Optogenetic Control of Ras"},
               :properties {:color "purple"}}
              {:id #uuid "68dd7ff3-d0b0-45fd-8114-5cc25aba22aa",
               :page 1,
               :position {:bounding {:x1 87.6015625,
                                     :y1 869.8671875,
                                     :x2 186.1119384765625,
                                     :y2 883.3671875,
                                     :width 884.3794666666668,
                                     :height 1148.3794666666668},
                          :rects ({:x1 87.6015625,
                                   :y1 869.8671875,
                                   :x2 186.1119384765625,
                                   :y2 883.3671875,
                                   :width 884.3794666666668,
                                   :height 1148.3794666666668}),
                          :page 1},
               :content {:text "INTRODUCTION"},
               :properties {:color "purple"}}],
 :extra {:page 11}}
