{:highlights [{:id #uuid "691d3ea0-9d40-42a2-944a-687c2a8ab056",
               :page 1,
               :position {:bounding {:x1 159.34658813476562,
                                     :y1 1874.2470703125,
                                     :x2 796.9296417236328,
                                     :y2 1928.0112915039062,
                                     :width 1607.9626666666666,
                                     :height 2087.9626666666663},
                          :rects ({:x1 436.2505340576172,
                                   :y1 1874.2470703125,
                                   :x2 796.9296417236328,
                                   :y2 1898.7925415039062,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 159.34658813476562,
                                   :y1 1903.4658203125,
                                   :x2 778.8061218261719,
                                   :y2 1928.0112915039062,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}),
                          :page 1},
               :content {:text "utations are introduced through homologous recombination in mouse embryonic stem (ES) cell"},
               :properties {:color "yellow"}}
              {:id #uuid "691d3ebd-852a-4047-989b-d561487dc531",
               :page 1,
               :position {:bounding {:x1 159.34658813476562,
                                     :y1 1669.8295288085938,
                                     :x2 338.4563446044922,
                                     :y2 1694.3749389648438,
                                     :width 1607.9626666666666,
                                     :height 2087.9626666666663},
                          :rects ({:x1 159.34658813476562,
                                   :y1 1669.8295288085938,
                                   :x2 338.4563446044922,
                                   :y2 1694.3749389648438,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}),
                          :page 1},
               :content {:text "INTRODUCTION"},
               :properties {:color "purple"}}
              {:id #uuid "691d3f09-5e77-4cbf-8ea5-ab483f0546bb",
               :page 1,
               :position {:bounding {:x1 828.9204254150391,
                                     :y1 1348.2670288085938,
                                     :x2 1466.3711700439453,
                                     :y2 1460.5113525390625,
                                     :width 1607.9626666666666,
                                     :height 2087.9626666666663},
                          :rects ({:x1 1366.4184112548828,
                                   :y1 1348.2670288085938,
                                   :x2 1465.9884796142578,
                                   :y2 1372.8125,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 828.9204254150391,
                                   :y1 1377.5,
                                   :x2 1466.3711700439453,
                                   :y2 1402.04541015625,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 828.9204254150391,
                                   :y1 1406.73291015625,
                                   :x2 1466.3424835205078,
                                   :y2 1431.2783813476562,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 828.9204254150391,
                                   :y1 1435.9658813476562,
                                   :x2 1179.5631866455078,
                                   :y2 1460.5113525390625,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}),
                          :page 1},
               :content {:text "If a donor plasmid with homology to the ends ﬂanking the DSB is coinjected, high-ﬁdelity homologous recombination can produce animals with targeted integration"},
               :properties {:color "yellow"}}
              {:id #uuid "691d414b-6e7f-4895-a29a-86b36fc6e641",
               :page 2,
               :position {:bounding {:x1 141.66192626953125,
                                     :y1 500.75284576416016,
                                     :x2 777.9598388671875,
                                     :y2 612.9971084594727,
                                     :width 1607.9626666666666,
                                     :height 2087.9626666666663},
                          :rects ({:x1 648.8481597900391,
                                   :y1 500.75284576416016,
                                   :x2 776.5930938720703,
                                   :y2 525.2982559204102,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 141.66192626953125,
                                   :y1 529.9857559204102,
                                   :x2 777.7529907226562,
                                   :y2 554.5312271118164,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 141.66192626953125,
                                   :y1 559.2187271118164,
                                   :x2 777.9598388671875,
                                   :y2 583.7641983032227,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 141.66192626953125,
                                   :y1 588.4516983032227,
                                   :x2 258.4407043457031,
                                   :y2 612.9971084594727,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}),
                          :page 2},
               :content {:text "More intriguingly, Cas9 and sgRNA are the only components necessary and sufﬁcient for induction of targeted DNA cleavage in cultured human cells"},
               :properties {:color "yellow"}}
              {:id #uuid "691d41e5-aaf6-43d7-bce4-8dedd50412fd",
               :page 2,
               :position {:bounding {:x1 141.66192626953125,
                                     :y1 1611.3635864257812,
                                     :x2 779.220703125,
                                     :y2 1723.60791015625,
                                     :width 1607.9626666666666,
                                     :height 2087.9626666666663},
                          :rects ({:x1 574.3220977783203,
                                   :y1 1611.3635864257812,
                                   :x2 779.1896514892578,
                                   :y2 1635.9090576171875,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 141.66192626953125,
                                   :y1 1640.5965576171875,
                                   :x2 779.220703125,
                                   :y2 1665.1419677734375,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 141.66192626953125,
                                   :y1 1669.8294677734375,
                                   :x2 778.9702301025391,
                                   :y2 1694.3749389648438,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 141.66192626953125,
                                   :y1 1699.0624389648438,
                                   :x2 760.3952026367188,
                                   :y2 1723.60791015625,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}),
                          :page 2},
               :content {:text "Because each target locus contains a restriction enzyme recognition site (Figure 1A), we PCR ampliﬁed an 500 bp fragment around each target site and digested the PCR products with the respective enzym"},
               :properties {:color "red"}}
              {:id #uuid "691d41ec-443f-4a47-bf78-39bafae1b58b",
               :page 2,
               :position {:bounding {:x1 141.66192626953125,
                                     :y1 1786.5482177734375,
                                     :x2 779.1274566650391,
                                     :y2 1869.7584228515625,
                                     :width 1607.9626666666666,
                                     :height 2087.9626666666663},
                          :rects ({:x1 207.1885528564453,
                                   :y1 1786.5482177734375,
                                   :x2 779.1274566650391,
                                   :y2 1811.0936889648438,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 141.66192626953125,
                                   :y1 1815.7811889648438,
                                   :x2 779.0136108398438,
                                   :y2 1840.32666015625,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 141.66192626953125,
                                   :y1 1845.2130126953125,
                                   :x2 190.68275451660156,
                                   :y2 1869.7584228515625,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}),
                          :page 2},
               :content {:text "striction fragment length polymorphism (RFLP) assay, we screened 48 ES cell clones from each single-targeting experimen"},
               :properties {:color "red"}}],
 :extra {:page 2}}
