{:highlights [{:id #uuid "691d3ea0-9d40-42a2-944a-687c2a8ab056",
               :page 1,
               :position {:bounding {:x1 159.34658813476562,
                                     :y1 1874.2470703125,
                                     :x2 796.9296417236328,
                                     :y2 1928.0112915039062,
                                     :width 1607.9626666666666,
                                     :height 2087.9626666666663},
                          :rects ({:x1 436.2505340576172,
                                   :y1 1874.2470703125,
                                   :x2 796.9296417236328,
                                   :y2 1898.7925415039062,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 159.34658813476562,
                                   :y1 1903.4658203125,
                                   :x2 778.8061218261719,
                                   :y2 1928.0112915039062,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}),
                          :page 1},
               :content {:text "utations are introduced through homologous recombination in mouse embryonic stem (ES) cell"},
               :properties {:color "yellow"}}
              {:id #uuid "691d3ebd-852a-4047-989b-d561487dc531",
               :page 1,
               :position {:bounding {:x1 159.34658813476562,
                                     :y1 1669.8295288085938,
                                     :x2 338.4563446044922,
                                     :y2 1694.3749389648438,
                                     :width 1607.9626666666666,
                                     :height 2087.9626666666663},
                          :rects ({:x1 159.34658813476562,
                                   :y1 1669.8295288085938,
                                   :x2 338.4563446044922,
                                   :y2 1694.3749389648438,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}),
                          :page 1},
               :content {:text "INTRODUCTION"},
               :properties {:color "purple"}}
              {:id #uuid "691d3f09-5e77-4cbf-8ea5-ab483f0546bb",
               :page 1,
               :position {:bounding {:x1 828.9204254150391,
                                     :y1 1348.2670288085938,
                                     :x2 1466.3711700439453,
                                     :y2 1460.5113525390625,
                                     :width 1607.9626666666666,
                                     :height 2087.9626666666663},
                          :rects ({:x1 1366.4184112548828,
                                   :y1 1348.2670288085938,
                                   :x2 1465.9884796142578,
                                   :y2 1372.8125,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 828.9204254150391,
                                   :y1 1377.5,
                                   :x2 1466.3711700439453,
                                   :y2 1402.04541015625,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 828.9204254150391,
                                   :y1 1406.73291015625,
                                   :x2 1466.3424835205078,
                                   :y2 1431.2783813476562,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}
                                  {:x1 828.9204254150391,
                                   :y1 1435.9658813476562,
                                   :x2 1179.5631866455078,
                                   :y2 1460.5113525390625,
                                   :width 1607.9626666666666,
                                   :height 2087.9626666666663}),
                          :page 1},
               :content {:text "If a donor plasmid with homology to the ends ﬂanking the DSB is coinjected, high-ﬁdelity homologous recombination can produce animals with targeted integration"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
