{:highlights [{:id #uuid "69d7da8d-1991-471f-b7d1-2c5e7aee5cf3",
               :page 1,
               :position {:bounding {:x1 93.3021240234375,
                                     :y1 809.6666870117188,
                                     :x2 509.467529296875,
                                     :y2 939.75,
                                     :width 1504.7290666666665,
                                     :height 1915.1999999999998},
                          :rects ({:x1 333.30535888671875,
                                   :y1 809.6666870117188,
                                   :x2 509.20068359375,
                                   :y2 833.6666870117188,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 93.3021240234375,
                                   :y1 836.09375,
                                   :x2 509.2225341796875,
                                   :y2 860.09375,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 93.3021240234375,
                                   :y1 862.5208435058594,
                                   :x2 509.467529296875,
                                   :y2 886.5208435058594,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 93.3021240234375,
                                   :y1 889.1354370117188,
                                   :x2 509.281005859375,
                                   :y2 913.1354370117188,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 93.3021240234375,
                                   :y1 915.75,
                                   :x2 196.4974365234375,
                                   :y2 939.75,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}),
                          :page 1},
               :content {:text "he embryonic bipotential gonad differentiates into an ovary at31°C [the female-producing temperature (FPT)] but into a testis at 26°C [the male-producing temperatur"},
               :properties {:color "yellow"}}
              {:id #uuid "69d7dad0-ce32-4a82-9c32-d20ba821912a",
               :page 1,
               :position {:bounding {:x1 93.3021240234375,
                                     :y1 1419.0208740234375,
                                     :x2 509.3814697265625,
                                     :y2 1549.1041870117188,
                                     :width 1504.7290666666665,
                                     :height 1915.1999999999998},
                          :rects ({:x1 285.493896484375,
                                   :y1 1419.0208740234375,
                                   :x2 509.3814697265625,
                                   :y2 1443.0208740234375,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 93.3021240234375,
                                   :y1 1445.6354370117188,
                                   :x2 509.1641845703125,
                                   :y2 1469.6354370117188,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 93.3021240234375,
                                   :y1 1472.0625,
                                   :x2 509.331787109375,
                                   :y2 1496.0625,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 93.3021240234375,
                                   :y1 1498.6771240234375,
                                   :x2 509.2117919921875,
                                   :y2 1522.6771240234375,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 93.3021240234375,
                                   :y1 1525.1041870117188,
                                   :x2 420.15478515625,
                                   :y2 1549.1041870117188,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}),
                          :page 1},
               :content {:text "merization and translocation of STAT3 to the nucleus are dependent on phosphorylation, which can occur through several signaling pathways in response to environmental or physiological stim"},
               :properties {:color "yellow"}}
              {:id #uuid "69d7daef-9186-490d-b1a1-ce6795f6c612",
               :page 1,
               :position {:bounding {:x1 544.5,
                                     :y1 756.6145935058594,
                                     :x2 960.5926513671875,
                                     :y2 833.6666870117188,
                                     :width 1504.7290666666665,
                                     :height 1915.1999999999998},
                          :rects ({:x1 702.8955078125,
                                   :y1 756.6145935058594,
                                   :x2 960.5926513671875,
                                   :y2 780.6145935058594,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 544.5,
                                   :y1 783.2395935058594,
                                   :x2 960.4124755859375,
                                   :y2 807.2395935058594,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 544.5,
                                   :y1 809.6666870117188,
                                   :x2 665.4495849609375,
                                   :y2 833.6666870117188,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}),
                          :page 1},
               :content {:text "ated levels of phosphorylated STAT3 (pSTAT3) at 31°C throughout the embryonic gona"},
               :properties {:color "green"}}
              {:id #uuid "69d7db56-d45d-45e5-964a-e54c32aba1fd",
               :page 1,
               :position {:bounding {:x1 995.854248046875,
                                     :y1 438.72918701171875,
                                     :x2 1411.8046875,
                                     :y2 542.1979370117188,
                                     :width 1504.7290666666665,
                                     :height 1915.1999999999998},
                          :rects ({:x1 1098.2236328125,
                                   :y1 438.72918701171875,
                                   :x2 1411.70751953125,
                                   :y2 462.72918701171875,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 995.854248046875,
                                   :y1 465.15625,
                                   :x2 1411.73828125,
                                   :y2 489.15625,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 995.854248046875,
                                   :y1 491.7708435058594,
                                   :x2 1411.8046875,
                                   :y2 515.7708435058594,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 995.854248046875,
                                   :y1 518.1979370117188,
                                   :x2 1256.219970703125,
                                   :y2 542.1979370117188,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}),
                          :page 1},
               :content {:text "one of two pSTAT3 inhibitors with different mechanisms of action, HO-3867 or NSC 74859 (S31-201, inhibitor of STAT3 phosphorylation and dimerizatio"},
               :properties {:color "red"}}
              {:id #uuid "69d7db61-327b-46ff-ba1b-c446b91038a4",
               :page 1,
               :position {:bounding {:x1 995.854248046875,
                                     :y1 703.7604370117188,
                                     :x2 1411.728759765625,
                                     :y2 780.8125,
                                     :width 1504.7290666666665,
                                     :height 1915.1999999999998},
                          :rects ({:x1 1230.5048828125,
                                   :y1 703.7604370117188,
                                   :x2 1411.728759765625,
                                   :y2 727.7604370117188,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 995.854248046875,
                                   :y1 730.1875,
                                   :x2 1411.553466796875,
                                   :y2 754.1875,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 995.854248046875,
                                   :y1 756.8125,
                                   :x2 1272.321044921875,
                                   :y2 780.8125,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}),
                          :page 1},
               :content {:text "stream target Dmrt1 was up-regulated at 31°C after exposure to either inhibitor of STAT3 phosphoryl"},
               :properties {:color "yellow"}}
              {:id #uuid "69d7db88-e022-421a-9c12-8b7224af8165",
               :page 2,
               :position {:bounding {:x1 93.3021240234375,
                                     :y1 1419.2083740234375,
                                     :x2 509.409912109375,
                                     :y2 1496.25,
                                     :width 1504.7290666666665,
                                     :height 1915.1999999999998},
                          :rects ({:x1 129.552490234375,
                                   :y1 1419.2083740234375,
                                   :x2 509.409912109375,
                                   :y2 1443.2083740234375,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 93.3021240234375,
                                   :y1 1445.6354370117188,
                                   :x2 509.3035888671875,
                                   :y2 1469.6354370117188,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 93.3021240234375,
                                   :y1 1472.25,
                                   :x2 376.6219482421875,
                                   :y2 1496.25,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}),
                          :page 2},
               :content {:text "vary-to-testis shift in sexual trajectory (table S1), as determined by the ectopic expression of SOX9 protein in gonads at stag"},
               :properties {:color "yellow"}}
              {:id #uuid "69d7dbb3-867c-4098-97f7-cae017a20791",
               :page 2,
               :position {:bounding {:x1 544.5,
                                     :y1 1684.2396240234375,
                                     :x2 960.450439453125,
                                     :y2 1761.09375,
                                     :width 1504.7290666666665,
                                     :height 1915.1999999999998},
                          :rects ({:x1 672.74951171875,
                                   :y1 1684.2396240234375,
                                   :x2 960.450439453125,
                                   :y2 1708.2396240234375,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 544.5,
                                   :y1 1710.6666870117188,
                                   :x2 960.426025390625,
                                   :y2 1734.6666870117188,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 641.729248046875,
                                   :y1 1733.4583740234375,
                                   :x2 663,
                                   :y2 1750.125,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 544.5,
                                   :y1 1737.09375,
                                   :x2 642.005126953125,
                                   :y2 1761.09375,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 663.25,
                                   :y1 1737.09375,
                                   :x2 798.41796875,
                                   :y2 1761.09375,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}),
                          :page 2},
               :content {:text "lls grown at 31°C showed more fluorescent activity than cells at 26°C, suggesting that Ca2+ influx is elevate"},
               :properties {:color "yellow"}}
              {:id #uuid "69d7dc76-3350-4b45-9f7f-0831cd481749",
               :page 3,
               :position {:bounding {:x1 93.3021240234375,
                                     :y1 1419.2083740234375,
                                     :x2 509.354736328125,
                                     :y2 1496.25,
                                     :width 1504.7290666666665,
                                     :height 1915.1999999999998},
                          :rects ({:x1 196.71600341796875,
                                   :y1 1419.2083740234375,
                                   :x2 509.1741943359375,
                                   :y2 1443.2083740234375,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 93.3021240234375,
                                   :y1 1445.6354370117188,
                                   :x2 509.354736328125,
                                   :y2 1469.6354370117188,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 93.3021240234375,
                                   :y1 1472.25,
                                   :x2 408.802978515625,
                                   :y2 1496.25,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}),
                          :page 3},
               :content {:text "otes phosphorylation of STAT3 and repression of Kdm6b, a required activator of the testis-determining pathway"},
               :properties {:color "yellow"}}
              {:id #uuid "69d7dc8d-8e03-4818-bf3c-dfbc53823036",
               :page 3,
               :position {:bounding {:x1 544.5,
                                     :y1 1260.2604370117188,
                                     :x2 960.419921875,
                                     :y2 1337.3125,
                                     :width 1504.7290666666665,
                                     :height 1915.1999999999998},
                          :rects ({:x1 666.5111083984375,
                                   :y1 1260.2604370117188,
                                   :x2 960.419921875,
                                   :y2 1284.2604370117188,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 544.5,
                                   :y1 1286.6875,
                                   :x2 960.1414794921875,
                                   :y2 1310.6875,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 838.885498046875,
                                   :y1 1309.4791870117188,
                                   :x2 859.854248046875,
                                   :y2 1326.1458740234375,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 544.5,
                                   :y1 1313.3125,
                                   :x2 839.7479248046875,
                                   :y2 1337.3125,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 862.9583740234375,
                                   :y1 1313.3125,
                                   :x2 887.019287109375,
                                   :y2 1337.3125,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}),
                          :page 3},
               :content {:text "emperature-sensitive period at31°C (15), including TRPV4, and this may contribute to additional biases in Ca2+ flu"},
               :properties {:color "blue"}}
              {:id #uuid "69d7dcd5-0720-4e9b-90ee-7b8ca71c1fca",
               :page 3,
               :position {:bounding {:x1 995.854248046875,
                                     :y1 385.6875,
                                     :x2 1411.736328125,
                                     :y2 515.7708740234375,
                                     :width 1504.7290666666665,
                                     :height 1915.1999999999998},
                          :rects ({:x1 1209.21826171875,
                                   :y1 385.6875,
                                   :x2 1411.6839599609375,
                                   :y2 409.6875,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 995.854248046875,
                                   :y1 412.3020935058594,
                                   :x2 1411.724365234375,
                                   :y2 436.3020935058594,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 995.854248046875,
                                   :y1 438.72918701171875,
                                   :x2 1411.736328125,
                                   :y2 462.72918701171875,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 995.854248046875,
                                   :y1 465.15625,
                                   :x2 1411.720458984375,
                                   :y2 489.15625,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}
                                  {:x1 995.854248046875,
                                   :y1 491.7708740234375,
                                   :x2 1405.046142578125,
                                   :y2 515.7708740234375,
                                   :width 1504.7290666666665,
                                   :height 1915.1999999999998}),
                          :page 3},
               :content {:text "ad temperature fluctuations are sufficient to feminize developing turtle embryos, indicating that regular exposures to warmer temperatures are sufficient to initiate and maintain female developmen"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
