{:highlights [{:id #uuid "69968a1e-b653-4b45-8a66-b4cc05186075",
               :page 1,
               :position {:bounding {:x1 114.92423248291016,
                                     :y1 1485.9089660644531,
                                     :x2 627.1831130981445,
                                     :y2 1534.2613220214844,
                                     :width 1306.2037333333333,
                                     :height 1693.2288},
                          :rects ({:x1 126.65375518798828,
                                   :y1 1485.9089660644531,
                                   :x2 627.1831130981445,
                                   :y2 1509.5453796386719,
                                   :width 1306.2037333333333,
                                   :height 1693.2288}
                                  {:x1 114.92423248291016,
                                   :y1 1510.6249084472656,
                                   :x2 440.3073501586914,
                                   :y2 1534.2613220214844,
                                   :width 1306.2037333333333,
                                   :height 1693.2288}),
                          :page 1},
               :content {:text "osterior mesenchyme and the apical ectodermal ridge(AER) at the distal tip of the limb b"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
