{:highlights [{:id #uuid "68dee45e-276e-4d65-a004-e0126cec1f0e",
               :page 2,
               :position {:bounding {:x1 103.5546875,
                                     :y1 933.015625,
                                     :x2 518.0506591796875,
                                     :y2 1006.515625,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 478.80377197265625,
                                   :y1 933.015625,
                                   :x2 517.50341796875,
                                   :y2 949.515625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 103.5546875,
                                   :y1 952.015625,
                                   :x2 518.0506591796875,
                                   :y2 968.515625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 103.5546875,
                                   :y1 971.015625,
                                   :x2 517.9833374023438,
                                   :y2 987.515625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 103.5546875,
                                   :y1 990.015625,
                                   :x2 353.32965087890625,
                                   :y2 1006.515625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 2},
               :content {:text "It proposes that self-organizing excitable signal transduction activities at the cell cortex provide global control of actomyosin-based protrusions that underlie cell dynamic"},
               :properties {:color "yellow"}}
              {:id #uuid "68dee465-c39c-482e-b139-f1df7f300b89",
               :page 2,
               :position {:bounding {:x1 538.6953125,
                                     :y1 1160.9921875,
                                     :x2 953.19287109375,
                                     :y2 1253.3515625,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 644.269775390625,
                                   :y1 1160.9921875,
                                   :x2 952.9215698242188,
                                   :y2 1177.4921875,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 538.6953125,
                                   :y1 1179.859375,
                                   :x2 953.19287109375,
                                   :y2 1196.359375,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 538.6953125,
                                   :y1 1198.9921875,
                                   :x2 953.1785888671875,
                                   :y2 1215.4921875,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 538.6953125,
                                   :y1 1217.9921875,
                                   :x2 953.0270385742188,
                                   :y2 1234.4921875,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 538.6953125,
                                   :y1 1236.8515625,
                                   :x2 590.0202026367188,
                                   :y2 1253.3515625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 2},
               :content {:text "owever, the extent to which the excitability of signaling transduction network controls cytoskeletal activities in mammalian cells and whether the molecular interactions in these networks are conserved throughout evolution is unknow"},
               :properties {:color "blue"}}
              {:id #uuid "68dee46f-a5b6-465f-896c-5d462fd9dc3f",
               :page 4,
               :position {:bounding {:x1 103.5546875,
                                     :y1 937.90625,
                                     :x2 518.1340942382812,
                                     :y2 973.40625,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 363.9749450683594,
                                   :y1 937.90625,
                                   :x2 518.1340942382812,
                                   :y2 954.40625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 103.5546875,
                                   :y1 956.90625,
                                   :x2 368.8099365234375,
                                   :y2 973.40625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 4},
               :content {:text "e co-expressed biosensors for F-actin (LifeAct) and PIP3 (PH-AKT"},
               :properties {:color "red"}}
              {:id #uuid "68dee477-c554-4faa-a747-aab52c2e5df1",
               :page 4,
               :position {:bounding {:x1 538.6953125,
                                     :y1 344.625,
                                     :x2 953.40478515625,
                                     :y2 399.1171875,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 871.6651611328125,
                                   :y1 344.625,
                                   :x2 952.8272705078125,
                                   :y2 361.125,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 538.6953125,
                                   :y1 363.625,
                                   :x2 953.40478515625,
                                   :y2 380.125,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 538.6953125,
                                   :y1 382.6171875,
                                   :x2 654.918701171875,
                                   :y2 399.1171875,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 4},
               :content {:text "his suggests that protrusions in epithelial cells are driven by coordinated PIP3 and F-actin waves"},
               :properties {:color "green"}}
              {:id #uuid "68dee4e2-34fb-4db6-bee9-c6550e86a30a",
               :page 4,
               :position {:bounding {:x1 538.6953125,
                                     :y1 672.0703125,
                                     :x2 953.20751953125,
                                     :y2 707.4296875,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 613.9805297851562,
                                   :y1 672.0703125,
                                   :x2 953.20751953125,
                                   :y2 688.5703125,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 538.6953125,
                                   :y1 690.9296875,
                                   :x2 862.2520751953125,
                                   :y2 707.4296875,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 4},
               :content {:text "sults indicate that an excitable system underlies the signaling and cytoskeletal waves in MDA-MB-23"},
               :properties {:color "yellow"}}
              {:id #uuid "68dee4f1-e6f9-47a5-9594-b94064720352",
               :page 4,
               :position {:bounding {:x1 538.6953125,
                                     :y1 843.046875,
                                     :x2 953.3525390625,
                                     :y2 878.4140625,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 770.0614624023438,
                                   :y1 843.046875,
                                   :x2 953.3525390625,
                                   :y2 859.546875,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 538.6953125,
                                   :y1 861.9140625,
                                   :x2 808.6064453125,
                                   :y2 878.4140625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 4},
               :content {:text "detected ERK activation by the nuclear exit of its biosensor ERK-KTR"},
               :properties {:color "red"}}
              {:id #uuid "68dee560-ebdc-4c56-ba9f-0d4f022609bc",
               :page 6,
               :position {:bounding {:x1 103.5546875,
                                     :y1 249.6328125,
                                     :x2 518.09716796875,
                                     :y2 285.1328125,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 395.09674072265625,
                                   :y1 249.6328125,
                                   :x2 518.09716796875,
                                   :y2 266.1328125,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 103.5546875,
                                   :y1 268.6328125,
                                   :x2 267.95428466796875,
                                   :y2 285.1328125,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 6},
               :content {:text "uggesting the existence of a refractory perio"},
               :properties {:color "yellow"}}
              {:id #uuid "68dee670-a6ab-401c-bb6d-128af38a93cb",
               :page 6,
               :position {:bounding {:x1 103.5546875,
                                     :y1 496.609375,
                                     :x2 518.17041015625,
                                     :y2 551.1015625,
                                     :width 1045.1757333333333,
                                     :height 1357.1757333333333},
                          :rects ({:x1 221.76025390625,
                                   :y1 496.609375,
                                   :x2 518.15380859375,
                                   :y2 513.109375,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 103.5546875,
                                   :y1 515.46875,
                                   :x2 518.17041015625,
                                   :y2 531.96875,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}
                                  {:x1 103.5546875,
                                   :y1 534.6015625,
                                   :x2 188.81161499023438,
                                   :y2 551.1015625,
                                   :width 1045.1757333333333,
                                   :height 1357.1757333333333}),
                          :page 6},
               :content {:text "coupled F-actin and PIP3 waves initially disappeared and were replaced by a bright ring of signal around the cell perimete"},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
